[2018-02-22 22:08] roshandash411 commented on #665
Thanks. I'm onto adding it.

[2018-02-23 12:35] amitdo commented on #929
https://github.com/DanBloomberg/leptonica/search?quant

[2018-02-23 19:33] cfsmp3 commented on #929
@adarshshukla19 that link is not public

[2018-02-23 22:46] amitdo opened #935 "[PROPOSAL] Add 'Topics' to this repo"
https://help.github.com/articles/classifying-your-repository-with-topics/

Suggested topics:
* closed-captions
* ocr
* tesseract-ocr

[2018-02-23 22:59] cfsmp3 commented on #935
Good idea; done.

[2018-02-23 22:59] #935 closed

[2018-02-24 01:31] cfsmp3 opened #936 "[Feature] Display versions of libraries used"
When using -version we should display the version number of all our libraries.
For tesseract and leptonica we should query their APIs for it.
For the ones we have just incorporated into our code, using whatever #defines they have would be OK.

**This is a GSOC 2018 qualification task.**

[2018-02-25 00:40] mkver opened #937 "[BUG] Code page problems"
CCExtractor version (using the --version parameter preferably) : **0.87** (it is actually cfsmp3's build from #926)

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have

[2018-02-25 02:04] sjtsnix commented on #806
I am new to CCExtractor (attempted to use it as a part of MCEBuddy on a WTV file that resulted in Garbled random text), so I find my way here, which lead me to install the Windows GUI version of CCExtractor, on my first attempt, I am seeing this same error:

"Not Enough memory to initialize Tesseract!"

This is in the GUI, on a WTV file, Windows 10, 16 GB RAM,

I changed a few settings from the de

[2018-02-25 02:46] sjtsnix opened #938 "[BUG] SRT from WTV file results in garbled random unreadable text"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUT

[2018-02-26 05:38] adarshshukla19 commented on #929
So are you guys working further on the project or not and are all the
issues resolved?

Regards.
Adarsh

On Sat, Feb 24, 2018 at 1:03 AM, Carlos Fernandez Sanz <
notifications@github.com> wrote:

[2018-02-26 06:23] thealphadollar commented on #929
I'll be working on adding one more quantisation option, probably from the
leptonica library since we already use it.

One small addition was done a while back which reduces the number of
colours in the colour palette and improves the output slightly.

On 26-Feb-2018 11:08 AM, "Adarsh SHUKLA" <notifications@github.com> wrote:

[2018-02-26 13:37] saurabhshah0410 commented on #726
@cfsmp3 After running ccextractor once on files like these, and having extracted the closed captions as well as hard subtitles, can you clarify if the result should be a single file with both closed captions and hard subtitles, or two separate files which contain the closed captions and hard subtitles respectively?

[2018-02-26 16:55] DenverJoe opened #942 "[BUG] CC extractor not reading captions on HEVC transport stream"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-02-26 19:19] cfsmp3 commented on #936
Done.

[2018-02-26 19:19] #936 closed

[2018-02-26 19:20] cfsmp3 commented on #726
The result needs to be a single file that contains both kind of subtitles.

On Mon, Feb 26, 2018 at 5:37 AM, Saurabh Shah <notifications@github.com>
wrote:

[2018-02-26 19:22] cfsmp3 commented on #942
We cannot do anything here - please submit some samples for us to look at.

[2018-02-26 19:22] #942 closed

[2018-02-26 19:25] cfsmp3 commented on #929
@adarshshukla19 Issues are not yet solved, so yes, we're definitely going to continue working on this unless we get really reliable results.

[2018-02-26 19:25] DenverJoe commented on #942
Sure, where do you want some samples uploaded?

From: Carlos Fernandez Sanz [mailto:notifications@github.com]
Sent: Monday, February 26, 2018 12:23 PM
To: CCExtractor/ccextractor <ccextractor@noreply.github.com>
Cc: Joe Johnson <j.johnson@ateme.com>; Author <author@noreply.github.com>
Subject: Re: [CCExtractor/ccextractor] [BUG] CC extractor not reading captions on HEVC transport stream (#942)

We

[2018-02-26 19:30] canihavesomecoffee commented on #942
@DenverJoe Ideally you can upload them on the sample platform (https://sampleplatform.ccextractor.org) so that we can add it to the regression tests once we add support/fix it.

[2018-02-26 19:32] cfsmp3 commented on #942
Usually dropbox or google drive, but anywhere you want - just send us the
links so we can download them.
Please don't use any place that requires us to create an account, or pay to
download a decent speeds, etc.

On Mon, Feb 26, 2018 at 11:25 AM, DenverJoe <notifications@github.com>
wrote:

[2018-02-26 19:34] cfsmp3 commented on #938
GSoC qualification: 7 points

[2018-02-26 19:36] cfsmp3 commented on #937
GSOC qualification: 5 points

[2018-02-26 19:36] DenverJoe commented on #942
ftp://sam.ateme.com/JoeJohnson/Encompass/EDM-ANTI/CC%20TEST/ESPNCaribbean.TS

ftp://support@sam.ateme.com/JoeJohnson/Encompass/EDM-ANTI/CC%20TEST/history.ts

ftp://sam.ateme.com/JoeJohnson/Encompass/EDM-ANTI/CC%20TEST/NBCOlympicsClose.ts

[2018-02-26 19:39] DenverJoe commented on #942
I added some FTP download locations.  Let me know what you think.

Thanks
Joe

From: Willem [mailto:notifications@github.com]
Sent: Monday, February 26, 2018 12:31 PM
To: CCExtractor/ccextractor <ccextractor@noreply.github.com>
Cc: Joe Johnson <j.johnson@ateme.com>; Mention <mention@noreply.github.com>
Subject: Re: [CCExtractor/ccextractor] [BUG] CC extractor not reading captions on HEVC transport

[2018-02-26 20:25] saurabhshah0410 commented on #726
Thanks for clarifying this @cfsmp3 . :-)

[2018-02-26 23:28] cfsmp3 commented on #942
Can we make a copy of these files and post them on our website so
developers can use them?

On Mon, Feb 26, 2018 at 11:41 AM, DenverJoe <notifications@github.com>
wrote:

[2018-02-27 01:18] DenverJoe commented on #942
Sure but for development only. Not for public consumption.

On Feb 26, 2018, 4:28 PM -0700, Carlos Fernandez Sanz <notifications@github.com>, wrote:
Can we make a copy of these files and post them on our website so
developers can use them?

On Mon, Feb 26, 2018 at 11:41 AM, DenverJoe <notifications@github.com>
wrote:

—
You are receiving this because you were mentioned.
Reply to this email directl

[2018-02-27 01:38] cfsmp3 commented on #942
We would post them here:

https://ccextractor.org/public:general:tvsamples

Otherwise you can just leave them in your FTP server so people following
the ticket can download them from there. But if you prefer this please
don't delete them. It can takes us a while to get to this ticket, and it
happens very often than when someone volunteers to look into a ticket the
relevant files are gone.

On Mon,

[2018-02-27 01:40] DenverJoe commented on #942
Ok

On Feb 26, 2018, 6:38 PM -0700, Carlos Fernandez Sanz <notifications@github.com>, wrote:
We would post them here:

https://ccextractor.org/public:general:tvsamples

Otherwise you can just leave them in your FTP server so people following
the ticket can download them from there. But if you prefer this please
don't delete them. It can takes us a while to get to this ticket, and it
happens very o

[2018-02-27 06:47] saurabhshah0410 commented on #726
I think we should add a new option, something like `hcc` (hard and closed captions) or whatever name you suggest, which when given would process hard subs and closed captions in one pass. What do you think?

[2018-02-27 07:07] cfsmp3 commented on #726
Yes, it's a good idea - we need the user to specify that he wants to
process both things, we cannot be looking for hard subs by default.

On Mon, Feb 26, 2018 at 10:47 PM, Saurabh Shah <notifications@github.com>
wrote:

[2018-02-27 07:20] saurabhshah0410 commented on #726
Thanks, just wanted to be sure about it. Just to play the devil's advocate: If a user gives both the switches: `-hardsubx` and `-hcc`, should we process both hard subs and closed captions? Basically, does `-hcc` takes precedence over anything else(like `-hardsubx`)?

[2018-02-27 15:42] cfsmp3 commented on #726
If -hcc means both then do both :-)
I don't think -hardsubx and -hcc would be mutually exclusive since they're
not incompatible in their meaning.

On Mon, Feb 26, 2018 at 11:20 PM, Saurabh Shah <notifications@github.com>
wrote:

[2018-02-27 17:13] thealphadollar opened #945 "[GSoC 2018][PROPOSAL] Project Nephos Discussion"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-02-27 17:17] saurabhshah0410 commented on #726
Yeah okay. That makes sense, thanks!

[2018-02-27 19:43] cfsmp3 commented on #933
Did this myself (lousy hack but worked for what I needed).

[2018-02-27 19:43] #933 closed

[2018-02-27 19:43] cfsmp3 commented on #919
This task qualifies for GSoC (assuming the proposal is good).

[2018-03-01 00:03] cfsmp3 commented on #879
Closing, reopen if needed @MatejMecka

[2018-03-01 00:03] #879 closed

[2018-03-01 05:01] cfsmp3 commented on #933
GSoC students: By all means come up with a decent solution that works for all kind of files, uses parameters and so on. My hack is terrible and in no way intended to be the final implementation.

[2018-03-01 13:20] gnathion commented on #933
Hi @cfsmp3,
This feature seems really interesting and would be of great use when implemented. I think it would be apt to keep it open.
And, if it is possible, could you push your implementation of it onto another branch so that I can work on it from there-on? Or would you prefer me working on this from scratch?

Awaiting your reply and looking forward to contribute!

[2018-03-01 16:50] cfsmp3 commented on #933
My "implementation" is already on the code, just between #ifdef.

It's a 6 line hack in ts_functions.c that for each TS packet opens the
output file, writes the packet, and closes it. Hardcoded path, too. So
well, it couldn't be lousier, but it allowed me to save a problematic
network stream I was dealing with.

But my no means should this code be used as a reference.

On Thu, Mar 1, 2018 at 5:20

[2018-03-01 20:30] gnathion commented on #933
I made changes to the current code to write the packets to a specified output file (You can find it on my fork [here](https://github.com/gnathion/ccextractor/commit/d919f526bd072b37e80b9b6293501119cbb3d15b), please have a look at it.

This is just the basic outlook of this feature after I spent some time understanding the code-base. It would be very helpful if you could review the code and put thi

[2018-03-02 01:49] cfsmp3 commented on #933
Problem with this code is that it sucks. Big time.

1) Only works with TS
2) Opens and closes the output file for each packet
3) Write operation is in the middle of the decoder instead of in the
read/seek functions

About your PR I don't understand this part:
if (opt->write_format==CCX_OF_RCWT

How is the write format related to this? We can be processing a network
stream, generating a .srt file (

[2018-03-02 10:22] tsmarinov opened #949 "No result from french channels with dvb subtitles"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-03-02 10:28] tsmarinov commented on #929
After the last commit results at my side are good but still have this french channel with terrible output:

`./ccextractor -nofc -in=ts -datapid 0x8c3 -out=srt -stdout -nobom -trim -noteletext -codec dvbsub -dvblang fra -ocrlang fra ./merged/franceo.ts`

[code]

here are the matterials: https://goo.gl/kncQUn

[2018-03-04 11:39] krushanbauva opened #951 "[QUESTION] warning : cast from pointer to integer of different size"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-03-04 12:01] saurabhshah0410 commented on #726
@cfsmp3 What should be written to the output file if in a particular interval of time from t1 to t2, the video contains both hard subtitles and closed captions?

Although such a scenario would be very rare, as you wouldn't normally have closed captions as well as hard subs having overlapping time intervals, but if it happens, what should be done in case of an overlap between the burned in and clos

[2018-03-05 10:40] thealphadollar commented on #945
@cfsmp3 I would like to get an idea regarding how the input will be provided to the folder which has to be moved to cloud. This will help me design the method of implementation of content indexing; say Spanish shows are provided in a separate folder, so I can associate a tag with them which will trigger selecting all of them when we require to share all Spanish shows. We can also try (if feasible)

[2018-03-05 17:18] cfsmp3 commented on #726
Maybe check if they are the same (likely) and then display it just once.
If they're different display in any order, not really important.

[2018-03-06 00:11] cfsmp3 commented on #951
Well, GPAC_HAS_SSE2 seems to be defined
1) For Windows if the compiler is not GNU
2) Otherwise if __SSE2_ is defined

__SSE2_ is defined by the compiler automatically:
https://stackoverflow.com/questions/28939652/how-to-detect-sse-avx-avx2-avx-512-availability-at-compile-time

So that's where the condition is - compilation option.

[2018-03-06 06:02] AlexandrGraschenkov opened #952 "[BUG] Reading mp4 file switch to next idx before finish processing"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **from master**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CON

[2018-03-06 06:11] thealphadollar opened #953 "[PROPOSAL] Show quantisation mode used"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-03-06 13:08] tsmarinov opened #955 "[BUG][QUESTION] does '-nofc' option (no font color) work"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-03-06 13:27] tsmarinov opened #956 "[BUG] Duplicating subtitles with & without font color tags, a lot of warnings and errors, empty images with spupng."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-03-06 18:44] workflowsguy opened #957 "[BUG] Options "-out=report" and "-out=null" cause Segmentation fault 11"
CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or t

[2018-03-06 19:35] cfsmp3 commented on #957
Should be trivial: GSoC points: 3

[2018-03-06 19:36] #953 closed

[2018-03-06 19:53] thealphadollar commented on #955
I could reproduce the error after installing tesseract "bul" language pack.

The error was caused since there was no check for "nofontcolor" parameter (stored in tlt_config) in the color detection function present in the OCR mode (ocr.c)

https://github.com/CCExtractor/ccextractor/blob/587f0b86098eae3b6c90356389f1e7f08f065deb/src/lib_ccx/ocr.c#L290

File: /src/lib_ccx/ocr.c

Adding a check for the

[2018-03-06 20:29] MatejMecka commented on #957
Based on Homebrew the version it uses is 0.85 instead of 0.86 I will try do some additional research about the problem.

[2018-03-06 20:52] thealphadollar commented on #945
Work till now uploaded:

[2018-03-06 20:52] thealphadollar commented on #945
Work until this point:

https://github.com/CCExtractor/ProjectNephos

[2018-03-06 20:55] thealphadollar commented on #956
I would like to look into this bug in sometime but before me if someone wants to try, the below link could be a good starting point.

https://github.com/tesseract-ocr/tesseract/issues/427

[2018-03-06 21:16] #955 closed

[2018-03-06 21:30] thealphadollar commented on #956
The same issue can be reproduced in this [sample ](https://drive.google.com/file/d/1Qm6F0z8r3K2DliICep9Dw7cfiaklZ_2T/view?usp=sharing).

The issue is, most probably, concerned with Tesseract.

[2018-03-07 17:57] krushanbauva commented on #929
The salt noise present in the images can be removed by the method of erosion and dilation.
You can refer to [this link](https://en.wikipedia.org/wiki/Mathematical_morphology#Erosion) for more clarity (Sorry for it being highly mathematical in nature:disappointed_relieved: ).
You can see the images to get a clear picture of what happens when you apply a proper combination of these filters.

Origina

[2018-03-07 18:06] thealphadollar commented on #929
@krushanbauva I thought of implementing this but there are certain issues I was facing and hence, will be taking this up when I've a little time in hand.

- It's mathematically heavy and hence requires a lot of homework to be done and later a lot of testing so nothing breaks.

- I need to analyze in depth how we are reading the images. It makes a lot of difference how the images are read and proba

[2018-03-07 19:22] krushanbauva commented on #929
@thealphadollar
- The implementation code for erosion and dilation was just meant to serve as a reference and to highlight the fact that it's not really difficult/mathematical as it seems to be.
- Neither am I wanting to include openCV library(there's no need actually). It can be solved with tesseract itself(hopefully :smile:)
- I'm currently going through the codebase and the API, and working on

[2018-03-07 19:24] thealphadollar commented on #929
Sounds amazing :) @krushanbauva

[2018-03-08 01:42] cfsmp3 commented on #952
That index is increased only when a file has been processed completely. I cannot reproduce any problem here, small.mp4 was processed correctly.

Please reopen the ticket with the exact parameters you're using (if processing more than one file, then the list of all of them).

[2018-03-08 01:42] #952 closed

[2018-03-08 01:50] cfsmp3 commented on #929
Good luck @krushanbauva :-)

[2018-03-08 03:58] thealphadollar commented on #956
@cfsmp3 I tried it on my system (Linux) and the issue is for real I would say. I used the latest commit, fetched just now :)

![screenshot from 2018-03-08 09-15-48](https://user-images.githubusercontent.com/32812320/37132045-a32263f0-22b1-11e8-943d-84f26ab256cd.png)

The git log for the version used:

![screenshot from 2018-03-08 09-18-00](https://user-images.githubusercontent.com/32812320/3713209

[2018-03-08 04:34] cfsmp3 commented on #929
You're more than welcome :-)

On Wed, Mar 7, 2018 at 7:17 PM, Dipti Kulkarni <notifications@github.com>
wrote:

[2018-03-08 04:36] cfsmp3 commented on #956
I do see those messages Pix... as well, but not a segfault.
Does it segfault for you too?

On Wed, Mar 7, 2018 at 7:58 PM, Shivam Kumar Jha <notifications@github.com>
wrote:

[2018-03-08 04:55] krushanbauva commented on #929
@cyberdrk You can go through the articles on the official CCExtractor's page which will get you started with the codebase and also going through the recent PR's give you a lot of intuition as to where things are.  :smile:
Also, there has been some activity on this part of the code in recent times, so that might help you big time!

P.S.: You are always welcomed to collaborate!! :yum:

[2018-03-08 07:24] thealphadollar commented on #956
With the `--nofontcolor` parameter it works fine but when I don't use the parameter, it gives me a `core dumped` error.

![screenshot from 2018-03-08 12-50-51](https://user-images.githubusercontent.com/32812320/37138372-dc41a43e-22cf-11e8-885b-5554527b76b7.png)

[2018-03-08 08:45] tsmarinov commented on #949
Yes. Sorry. there was some problem while uploading the files. Now it is OK

[2018-03-08 09:36] tsmarinov commented on #949
I've included tracesports.ts which has 6 languages and cannot get the the Romanian language but it is there however I can get the pngs. Similar result with Chinese language also in tracesports.ts

[2018-03-08 10:21] amitdo commented on #929
Tesseract uses Leptonica for image IO and image processing.

* http://www.leptonica.org/local-sources.html
* http://www.leptonica.org/binary-morphology.html
* https://github.com/DanBloomberg/leptonica/search?q=pixerode
* https://github.com/DanBloomberg/leptonica/issues/311

[2018-03-09 01:23] cfsmp3 opened #961 "Request: Add support to extract telemetry data (stored as subtitles) from recordings"
[This file](https://drive.google.com/file/d/1MyABc8cByEWcW9wQkl_Y_JIUYGC-Kd_5/view?usp=sharing) is a MP4 recorded from a drone (specifically: "Zenmuse camera on a DJI Inspire 2 Drone"). The telemetry data is saved as subtitles and in fact VLC can display it.

CCExtractor doesn't find it - possible it's stored in a MP4 box we still don't handle, or something like that. We do show a number of "unkno

[2018-03-09 08:05] thealphadollar commented on #949
The issue does happen but something weird I noticed about the subtitles is that they appear with a lot of noise and three instances appear on the screen at the same time. This could mean there might be some issues with the bundled closed captions of these transport streams.

![screenshot from 2018-03-09 13-26-39](https://user-images.githubusercontent.com/32812320/37196932-b7273aa4-239e-11e8-8a27-a

[2018-03-09 09:18] tsmarinov commented on #949
With VLC and Media Player Classic there is no problem (Windows) and in tracesports there is no problem extracting spanish language

![vlcsnap-2018-03-09-11h09m57s217](https://user-images.githubusercontent.com/3245642/37199777-520b6afe-238b-11e8-9237-bd980175987e.jpg)

![vlcsnap-2018-03-09-11h12m14s262](https://user-images.githubusercontent.com/3245642/37199771-4c2b6030-238b-11e8-9dda-20e6208a098c.

[2018-03-09 20:22] cfsmp3 commented on #657
Closing since @sidgairo18 is gone...

[2018-03-09 20:22] #657 closed

[2018-03-09 20:24] cfsmp3 commented on #256
Closing, I think this is done already completely.

[2018-03-09 20:24] #256 closed

[2018-03-12 20:34] thealphadollar opened #964 "[BUG] No option to compile with HARDSUBX using cmake"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-03-12 23:14] cfsmp3 commented on #961
After some digging - this is just EXIF data. Not sure CCExtractor is the right tool to actually extract it (since it has nothing to do with subtitles after all), since exiftool does it perfectly already. We could however detect its presence and display some notification.

Anyway this tool processes the sample file just fine and reports everything:
https://www.sno.phy.queensu.ca/~phil/exiftool/

[2018-03-13 00:33] boldmss opened #965 "Option -unixts isn't working on vtt/smptett/ttxt output"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-03-13 07:24] thetransformerr commented on #961
This was the dump I got from atom "moov/udta" present in above said file where the data was  stored,

[code]

[2018-03-13 07:32] thetransformerr commented on #961
They might be the lines where we can make some changes:

https://github.com/CCExtractor/ccextractor/blob/39b96cc54493d7462702b31195be84c1936551f2/src/gpacmp4/mp4.c#L631

or

https://github.com/CCExtractor/ccextractor/blob/39b96cc54493d7462702b31195be84c1936551f2/src/gpacmp4/mp4.c#L420

[2018-03-13 19:40] #964 closed

[2018-03-14 21:27] thealphadollar commented on #945
For the recording part, we can use [tvstreamrecord](http://pavion.github.io/tvstreamrecord/) as inspiration and also freely use parts of their code (giving adequate credits to the developer).

We've got explicit permission from the developer of the project.

[2018-03-15 03:10] pujanm commented on #937
How to work on this issue like what is the exact issue?

[2018-03-15 08:57] thetransformerr commented on #938
hi @sjtsnix , I had been working on this issue, and wanted to ask if any more such videos are available with you , where srt generated is garble , or this is the only one you are facing prob??

Also if possible please share a video of small  size.
Thanks

[2018-03-15 09:54] sr6033 commented on #466
I am kind of confused. Have you modified the code as mentioned in last line or suggesting such an edit?

[2018-03-16 18:22] #928 closed

[2018-03-17 19:45] mahalwal opened #967 "[BUG] Cannot extract teletext in Russian from NTV video"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.86**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-03-17 20:09] mahalwal opened #968 "[BUG] Buffer overflow with -hardsubx"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-03-18 06:49] AlexandrGraschenkov commented on #952
Yes, subtitles is generated, but program fail with error. If you can run program in debug mode, you probably immediately find the problem.
For test you can try comment this [line](https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/file_functions.c#L432), and see the log after execution. The log for me is different(more complete).

[2018-03-19 04:36] thealphadollar commented on #961
@cfsmp3 What changes are we looking forward to? I might be able to finish this with some lead and more information.

[2018-03-19 05:06] thealphadollar commented on #968
@mahalwal Hey mate, can you please confirm the arguments you used? I don't think we have black as an option for "-subcolor" and hence the arguments you specified aren't working.

![screenshot from 2018-03-19 10-24-30](https://user-images.githubusercontent.com/32812320/37578656-4dcf76c4-2b60-11e8-8735-6b68dd91891f.png)

Below is the code that concerns color setting for "-subcolor".

https://github.

[2018-03-19 05:06] cfsmp3 commented on #961
I'd start with detecting the presence of EXIF data, which shouldn't be too
hard.

On Sun, Mar 18, 2018 at 9:36 PM, Shivam Kumar Jha <notifications@github.com>
wrote:

[2018-03-19 11:05] thetransformerr commented on #938
hi @cfsmp3 , @sjtsnix , I did some tweak in cc functions for wtv but still was unable to resolve this issue, may be it would have been much more helpful if I had some more videos for testing. With currently given video,I am unable to play it in VLC with subtitles, and even windows media player can't play it.

[2018-03-19 22:53] cfsmp3 commented on #968
@mahalwal Please run the debug version instead :-)

[2018-03-20 05:41] thealphadollar commented on #961
@cfsmp3  When ccextractor is installed with -FFMPEG, MP4 files are also processed in general mode. Is that desirable? Or it shoudl go with GPAC only?

This
https://github.com/CCExtractor/ccextractor/blob/d23cb8571d87f912393de8b2f8ff4a3f04404233/src/ccextractor.c#L202
comes before
https://github.com/CCExtractor/ccextractor/blob/d23cb8571d87f912393de8b2f8ff4a3f04404233/src/ccextractor.c#L228
which l

[2018-03-20 07:43] thealphadollar commented on #961
@cfsmp3  What I think we can do is when we detect the first error, we stop the loop and tell the user that the file doesn't contain subtitles but EXIF data and point it to some tool that can extract it.

What do you say?

[2018-03-20 19:11] cfsmp3 commented on #961
Well, EXIF data being present is not an error :-)
What if the file contains both EXIF and subtitles? Why would you stop?

On Tue, Mar 20, 2018 at 12:43 AM, Shivam Kumar Jha <notifications@github.com

[2018-03-23 17:38] boldmss commented on #965
Hi, any news?

[2018-03-23 21:10] vardhanshah opened #969 "[BUG] It does not work for mp4 and mpv format videoes, It creates an srt file, but file is completely empty."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-03-23 23:11] cfsmp3 commented on #969
There doesn't seem to be subtitles here.
In any case wthout access to the file there's nothing we can do.

[2018-03-23 23:11] #969 closed

[2018-03-27 13:17] Saiteja31597 commented on #929
i would like to work on this

[2018-03-28 18:23] cfsmp3 commented on #929
No need to ask, just go for it :-)

On Tue, Mar 27, 2018 at 6:17 AM, Saiteja31597 <notifications@github.com>
wrote:

[2018-03-28 19:39] AlexandrGraschenkov opened #970 "[QUESTION] How can I compile extractor for iOS usage?"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
-

[2018-03-28 22:27] cfsmp3 commented on #970
It should compile fine using the standard build tools, with make.
It can fails, paste the compile build sequence.

[2018-03-28 22:27] #970 closed

[2018-03-29 15:33] rboy1 commented on #481
Does ccextractor support Teletext in a WTV file? How does one find the page number?

[2018-03-29 15:34] rboy1 commented on #481
@cfsmp3 Does ccextractor support Teletext in a WTV file? How does one find the page number?

[2018-03-30 08:00] l3ob commented on #938
same issue here
got two video recordings in wtv: https://1drv.ms/f/s!Avg7I-USP1V9bP_RmWhFddC3aI4
see if it can help @thetransformerr

[2018-03-30 11:55] thetransformerr commented on #938
hi @l3ob , I will surely start again with new videos and get back to you , thanks for new titles

[2018-04-01 06:35] thealphadollar commented on #929
@cyberdrk @krushanbauva Any leads you guys would like to share? I'm starting back my work on this.

[2018-04-06 11:27] thealphadollar commented on #945
Closed since GSoC submission period is over.

[2018-04-06 11:27] #945 closed

[2018-04-07 17:34] thealphadollar commented on #929
@cfsmp3 For the past few days I have tried implementing some more libraries (including leptonica) but could not be successful; the problem mostly faced is the incorporation of the libraries without changing the structure of the png file we currently use.

Doing that will be, I believe, inefficient since we are already having three methods which work pretty much perfectly for most of the types of v

[2018-04-08 19:55] thealphadollar commented on #961
Digging a little deeper into the problem, I found that using the latest gpac's MP4Box, I'm unable to extract the information from the mp4 file and it is throwing the same errors as CCExtractor.

![screenshot from 2018-04-09 01-19-34](https://user-images.githubusercontent.com/32812320/38471837-84d7bcc8-3b94-11e8-9cd9-b2b04b22ffac.png)

This could mean than the issue lies with GPAC and not our progr

[2018-04-09 22:35] cfsmp3 commented on #956
This trace gives a clue:

=================================================================
==323==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x610000003bf4 at pc 0x7fbda8ecb904 bp 0x7ffcae4e6ec0 sp 0x7ffcae4e6668
WRITE of size 65 at 0x610000003bf4 thread T0
    #0 0x7fbda8ecb903 in __asan_memcpy (/usr/lib/x86_64-linux-gnu/libasan.so.2+0x8c903)
    #1 0x42b7a3 in memcpy /usr/include/

[2018-04-09 22:38] cfsmp3 commented on #961
Feel free to get in touch with them...

On Sun, Apr 8, 2018 at 12:55 PM, Shivam Kumar Jha <notifications@github.com>
wrote:

[2018-04-09 22:39] cfsmp3 commented on #481
Most likely not - only TS streams, I don't think anyone has hooked up the
teletext code with the WTV code. I didn't know WTV was still around to be
honest.

On Thu, Mar 29, 2018 at 8:34 AM, rboy1 <notifications@github.com> wrote:

[2018-04-09 22:40] cfsmp3 commented on #956
valgrind output:

==791== Invalid write of size 1
==791==    at 0x4C3275B: memcpy@@GLIBC_2.14 (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==791==    by 0x41C95A: ocr_bitmap (ocr.c:571)
==791==    by 0x41D4BF: ocr_rect (ocr.c:815)
==791==    by 0x43DE06: write_dvb_sub (dvb_subtitle_decoder.c:1664)
==791==    by 0x43E104: dvbsub_handle_display_segment (dvb_subtitle_decoder.c:1713)
==791

[2018-04-10 19:45] thetransformerr commented on #938
hey @l3ob from the files you provided , you were getting right subtitles , but the problem was , it was randomly sprayed with this
`B"`

and I was able to get perfect sub with using flag -wtvmpeg2 with ccextractor

ccextractor -wtvmpeg2 Arrow_WDCW_2018_03_29_21_00_01.wtv

also I am attaching both files here

[Arrow_WDCW_2018_03_29_21_00_01.srt.txt](https://github.com/CCExtractor/ccextractor/files/

[2018-04-10 20:18] cfsmp3 commented on #938
If -wtvmpeg2 solves the problem then there's no bug here, just use it. -wtvmpeg2 means "use the CC from the MPEG streams instead of the separate WTV caption data".

WTV is a closed format, we don't have official specs.

As long as we have an usable solution (adding a specific parameter definitely is usable) I'm happy here.

Closing this.

[2018-04-10 20:18] #938 closed

[2018-04-10 23:43] rudolphos commented on #806
I'm having the same problem.
![image](https://user-images.githubusercontent.com/4366810/38589166-22a24f38-3d32-11e8-8191-17572372d0b0.png)

[2018-04-11 18:33] cfsmp3 commented on #929
@thealphadollar png here is an output format, but this is totally unrelated with the OCR, which just takes a bitmap.

[2018-04-11 18:39] cfsmp3 commented on #918
Assigned to @Abhinav95 which in turn will assign it to the GSoC student(s) he sees fit.

[2018-04-11 23:04] rudolphos commented on #806
I compiled it, have all the necessary components, but hardsubx still not recognized.

[code]
[code]

[code]

[2018-04-12 00:45] rudolphos commented on #806
I fixed it. But there is another problem:

Can it detect subtitles properly like these by using OCR?

![image](https://user-images.githubusercontent.com/4366810/38650333-ed5c4eb4-3e03-11e8-9836-af2c1a4da6fc.png)
![image](https://user-images.githubusercontent.com/4366810/38650346-fe4640c2-3e03-11e8-9b39-f36d27bbf59f.png)

[code]

[2018-04-12 04:03] thealphadollar commented on #726
@cfsmp3 I would request you to provide another sample for the same since the sample provided gives error, log report [here](https://justpaste.it/1jiab).

I'll look into the error by myself and, if needed, file an issue for the same.

[2018-04-13 11:12] jakubvojacek opened #972 "[QUESTION] how is extracting subtitles from mkv or mp4 supported?"
CCExtractor version: _CCExtractor 0.87, Carlos Fernandez Sanz, Volker Quetschke_

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting

[2018-04-16 05:14] thealphadollar commented on #972
Hey @jakubvojacek, thanks for reporting.

I would like to request you to *please provide the part of the video which has some subtitles* being displayed as sample. The current sample displays no subtitles in VLC (too short and no sound part came) though it shows the presence of Czech and English subtitles.

[2018-04-16 05:43] jakubvojacek commented on #972
Hello @thealphadollar, please check https://motv.eu/sample.mkv

Thank you for support

[2018-04-16 18:10] thealphadollar commented on #961
@cfsmp3 libGPAC has been updated to handle the above file (thanks to @jeanlf), and I think we should update our version also in order to correct the issue with this sample. Can you please guide me how we update the entire library? I can change the files manually but if there's a better way I would like to learn :)

[2018-04-16 18:27] cfsmp3 commented on #961
I didn't do the migration last time, but basically you have two options -
compare the changes they made in libGPAC and apply then to our code base,
or just copy the changed files. I mean, assuming you're OK with a "blind"
migration. You could also dig into their code but it's probably unneeded
here.

If overwriting files make sure however we didn't make any change though.I
believe few made some re

[2018-04-17 03:19] unicode45 opened #973 "[BUG] Error: Parameter -o1/o2 not understood."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0,85b

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.

[2018-04-18 22:09] cfsmp3 commented on #726
Those are just harmless warnings.
If you can play the file in VLC then assume the file is correct (which it
is) and that it's us who may have a problem.

On Wed, Apr 11, 2018 at 9:03 PM, Shivam Kumar Jha <notifications@github.com>
wrote:

[2018-04-20 18:01] jakubvojacek opened #975 "[QUESTION] set subtitle timing from live stream timestamp"
CCExtractor version (using the --version parameter preferably) : 0.87

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't alrea

[2018-04-21 10:01] jakubvojacek commented on #975
I read in the documentation about `-gt` option but that does not seem to be working for me. In the documentation, it states, that its only available for mpeg2 streams but what I got is h264, see ffprobe below
[code]

Any idea?

[2018-05-01 20:01] canihavesomecoffee opened #977 "Test"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-05-01 20:09] #977 closed

[2018-05-01 20:09] canihavesomecoffee opened #978 "Test"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-05-01 20:16] #978 closed

[2018-05-04 00:24] cfsmp3 opened #979 "Missing options in Windows GUI"
Missing stuff in CCExtractorGUI:

(hopefully some GSoC student will continue where I left it)

Output 3:
[code]

DVB (in output):
[code]

Input:
[code]

Don't know where to add it
[code]

DVB (in input):
[code]

OCR:
[code]

[2018-05-06 08:36] thealphadollar commented on #973
@unicode45, can you please detail the issue a bit more? I'm unable to see what video file was used and what *exactly* were the passed commands.

That'll help us solve the issue faster :)

[2018-05-06 13:38] thealphadollar commented on #972
@cfsmp3 Any idea? I've been on this for few hours but I'm unable to step even a bit further. Something just seems out of place, the subtitles are in "spu" codec.

One weird thing though is that the subtitles and the audio are not in sync; any chance that it might be causing the problem? cc @jakubvojacek

[2018-05-06 14:01] thealphadollar commented on #968
@mahalwal  Any updates?

[2018-05-06 14:51] thealphadollar commented on #973
@unicode45  Getting a little deeper into the issue, we never had an option like that. I've removed the instance of it in the help, I apologize for the misleading :D

[2018-05-07 17:10] leocsantiago opened #981 "[QUESTION] - I'm not able to extract CEA-708 CC from a MXF file"
CCExtractor version (using the --version parameter preferably) : 0.85

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting isn't alrea

[2018-05-09 04:02] unicode45 commented on #973
Thanks for the explanation. : )

[2018-05-09 17:53] cfsmp3 commented on #973
Well, o1 and o2 were valid options. Don't remember what we replaced them
with though.

On Sun, May 6, 2018, 07:51 Shivam Kumar Jha <notifications@github.com>
wrote:

[2018-05-11 00:34] richcakes opened #982 "Where is 0.86 (or even 0.87) windows version? only 0.85 is in the download link"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-05-12 06:59] unicode45 commented on #973
Here's a sample Korean ts file that I used.
https://drive.google.com/file/d/0B8AjqtxcLQDxeW5qT0RGSzQzZm8/view

I tried -o1 and -o2 option becuase *.p1.svc01.srt always containts the right Korean subtitle contents while .srt is empty.

[2018-05-12 15:44] thealphadollar commented on #973
@unicode45  Are you sure this is the right file? I'm doubtful since ffprobe shows no subtitle stream and even vlc is not able to detect/play any CC.

![screenshot from 2018-05-12 21-12-19](https://user-images.githubusercontent.com/32812320/39959036-6023c9f8-5629-11e8-8482-64691c191b31.png)

[2018-05-12 17:00] unicode45 commented on #973
Sorry. this might be a better sample.
https://doc-00-2s-docs.googleusercontent.com/docs/securesc/dhkuk4q9mgunis2fm53qs8dpimqu3un0/49e70t76sald3e3on3027l7sotjdn2va/1526140800000/12314372573940017857/04182627330199378501/1dQGwjRP49mBU1FkrNrJEdIgkTrrQomNG?e=download

I've checked with MediaInfo and EIA-708 stream found.

[2018-05-12 17:16] thealphadollar commented on #973
@unicode45 Ahh, maybe a problem at my side but the link is not working.

[2018-05-12 17:28] unicode45 commented on #973
How about this one?
https://drive.google.com/file/d/1OTLS_8SaKco_ZHXATz3p6Z-2H_WB-8dc/view?usp=drivesdk

[2018-05-12 18:12] thealphadollar commented on #973
Hey @unicode45, please have a look at the [issue](https://github.com/CCExtractor/ccextractor/issues/374#issuecomment-222220372) that was created two years back regarding the same.

For eg.
To extract data from channel 2 of the stream, you can give a command like,
[code]
The `-o [output_filename]` can be omitted if you want to stick to default naming.

[2018-05-13 01:16] unicode45 commented on #973
Thanks for the information.
As you mentioned, it was duplicated report.

[2018-05-13 01:16] #973 closed

[2018-05-15 13:32] thealphadollar opened #983 "[BUG] Hardsubx extraction from the sample stops at 11%"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-05-18 03:58] saurabhshri commented on #983
It's probably due to memory constraint, did you try it in an environment with more memory (it executes fine on my machine)?

[2018-05-18 04:01] thealphadollar commented on #983
I'll try it and report back.

Though that makes me wonder, are there rooms to improve the efficiency
there?

I'm kind of naive at image processing but I think it is strange that one
gigabyte couldn't suffice.

On Fri 18 May, 2018, 09:28 Saurabh Shrivastava, <notifications@github.com>
wrote:

[2018-05-20 16:49] thealphadollar commented on #983
@saurabhshri  I'm closing this since  it's resource-related but, nevertheless, it would be amazing to see if we could make this feature less straining :smiley:

[2018-05-20 16:49] #983 closed

[2018-05-29 10:19] krushanbauva opened #985 "[PROPOSAL] Unable to extract subtitles from DVB video samples when build using cmake by passing -DWITH_FFMPEG=ON flag"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-05-30 17:32] atrottmann opened #986 "[BUG] dvb subtitles with depth 2 get wrong colors"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.87
        Git commit: 52707267fc15c47282848976be93d1b00b4b906e

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.c

[2018-05-30 17:38] thealphadollar commented on #986
Hey @atrottmann, it's amazing that you have found the solution to your
problem. That's a hacker spirit there :D

You can anytime send a PR with the required changes, and it'll be reviewed
and merged if need be.

Maybe it's time to tick another option from next time ;)

On Wed, May 30, 2018 at 11:02 PM, atrottmann <notifications@github.com>
wrote:

[2018-05-31 07:51] atrottmann commented on #986
Ok, that's now done as pull request #987 - thank you very much!

[2018-06-11 07:10] TeeJiiAl commented on #752
I have this same issue with large gaps in certain files. Unfortunately I cannot give samples, but here is the output.
Tried versions: 0.85 (windows 10) and 0.86 (ubuntu).

Is there any fix on this? It does indeed work in some of the files, although there is similar timestamp issues.

CCExtractor 0.85, Carlos Fernandez Sanz, Volker Quetschke.
Teletext portions taken from Petr Kutalek's telxcc
-----

[2018-06-18 16:20] cstadler18 opened #988 "[BUG] Notice: Missing PES header"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**
CCExtractor 0.85

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.g

[2018-06-19 05:01] cfsmp3 commented on #988
This is not a bug in CCExtractor, it's a problem with the source stream. Nothing we can do here.

[2018-06-19 05:01] #988 closed

[2018-07-09 09:54] thetransformerr commented on #641
Hi all and @cfsmp3 ,
After searching and working for a long time , I have few reasons that might be responsible for this timing issues, although the current base for 708 is already following up to 90-95% standards laid down by CEA-708 specifications, problems mostly arise due to lack on video part , like missing PMT, incorrect packet encoding , there are few scopes in code where we can handle them

[2018-07-09 10:19] thetransformerr commented on #641
after this modification there is one similar message when I use following command on video ande.ts from folder https://drive.google.com/drive/folders/0B_61ywKPmI0Ta2diT3l0eTlHc2c

`ccextractor ande.ts -svc all`

__dtvcc_handle_G0: Window has to be defined first_

this happens from here:
https://github.com/thetransformerr/ccextractor/blob/ae73f147a545003ea58c94925cf14891ad43d8dc/src/lib_ccx/ccx_dec

[2018-07-09 10:33] thetransformerr commented on #646
@cfsmp3

hi all,
I worked on this issue and found that this issue can be solved with modifications in decoder output methods but would like to say that such situation is not a bug , as it only happens in streams that are clipped and packet data is incomplete acc to standard size of ts packet parsing is 188 byte

and error originates from here:

https://github.com/thetransformerr/ccextractor/blob/a

[2018-07-09 10:50] thetransformerr commented on #690
Hi all ,@unicode45 , @cfsmp3

as I have tested with -svc all it was working fine but as per suggestion above

You can find which encoding is used by checking Caption Service Descriptor in PMT.
If language field contains 'kor' or 'KOR' and korean_code field is 0, it's unicode(while 1 is EUC-KR).

I cannot find any entry or reference towards such an field in PMT , either in code or standard for PMT

[2018-07-09 13:57] unicode45 commented on #690
Hi, @thetransformerr

I've found a information but I'm sorry it's written in Korean (Google translation will be helpful).
http://www.nl.go.kr/app/nl/search/common/download.jsp?file_id=FILE-00008442489

Here's summary related PMT.

- Page No.25, Chapter B.1
"PMT is an optional value."
(I think that's the reason you could not find PMT.)

- Page No.25, Chapter B.2 to Page No.28
Described caption serv

[2018-07-09 14:04] thetransformerr commented on #690
hey @unicode45 ,

Thanks very much for your reply and help , so given that with svc we are able to extract Korean , Wouldn't it be useful if we make svc 1 , EUC-KR as default ?
In case of failure , user can provide unicode manually.

[2018-07-09 14:47] unicode45 commented on #690
Hi, @thetransformerr

Yes, I think so because all broadcasts were svc 1, EUC-KR in my several years experience.

Thanks,

[2018-07-12 20:09] thetransformerr opened #992 "CEA-708 timing issue"

[2018-07-12 20:16] thetransformerr commented on #992
@cfsmp3 @canihavesomecoffee @Izaron @anshul1912 @alexbrt @MatejMecka

Please provide your valuable suggestions

[2018-07-29 02:41] chopchipper443 opened #995 "[BUG] SDL: failed to load image: ../icon/home.png"
CCExtractor version: 0.85 (git commit d5f522c8c5edd0bf3e70edd6ce26f634320e4a4c)

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting i

[2018-08-23 07:10] jakubvojacek opened #998 "[QUESTION] Support of ISDBT subtitles in ffmpeg"
CCExtractor version (using the --version parameter preferably) :e9d2a89768f10e6d269dcd0b9245895f3899a72d

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am re

[2018-08-23 15:40] cfsmp3 commented on #998
Last time we tried to merge something into FFMpeg (specifically, SCTE-35) it was a nightmare due to "political" issues inside FFMpeg, and we only managed to get that partially merged.

If you don't need this to be merged with the official FFMpeg we can look into it. Just send me an email (address is somewhere on our website) ad we can discuss it.

[2018-08-23 15:40] #998 closed

[2018-08-23 17:38] starlord1311 commented on #995
@chopchipper443 can i take up this issue?

[2018-08-23 17:40] starlord1311 commented on #992
@thetransformerr can i take up this issue?

[2018-08-23 18:00] saurabhshri commented on #995
@starlord1311 Of course, you're more than welcome to! No need to ask! :)

[2018-08-23 18:53] MatejMecka commented on #992
Feel free to send a PR no need to notify us :)

[2018-08-24 03:11] thetransformerr commented on #992
Yes , Of course you can , and I would recommend you to discuss it with @Carlos and other related members of group, and you might need to read cea-708 manual before or while working on this issue. Wish you a good luck.

[2018-08-26 14:11] jakubvojacek opened #999 "[BUG] ISDB subtitles issues with encoding of special characters"
CCExtractor version (using the --version parameter preferably) : e9d2a89768f10e6d269dcd0b9245895f3899a72d

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am r

[2018-08-27 10:59] agrafiodata opened #1000 "[Feature] Unable to properly extract (ocr) dvb_subtitles from .mkv container"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-08-27 11:14] agrafiodata commented on #1000
Posting detailed version parameters that I forgot to post above

CCExtractor detailed version info
	Version: 0.87
	Git commit: 45ed8456eea9b30745ac71aca0a14cbb44f4d811
	Compilation date: 2018-08-27
	File SHA256: 56628a1805a3f2d0925f1055905b649c3899c08e9051b1805eb13da1df88b695
Libraries used by CCExtractor
	Tesseract Version: 3.04.01
	Leptonica Version: leptonica-1.74.1
	libGPAC Version: 0.7.2-DEV

[2018-08-29 05:01] anshul1912 commented on #1000
Yes your guess is correct, its a feature, matroska does not support DVB subtitle yet.

[2018-08-29 05:54] anshul1912 commented on #999
I checked srt file of same video in vim editor, I was able to see the letters corrcetly.

[2018-08-29 05:57] anshul1912 commented on #999
In notepad++ if you select encode in ANSI, you can see those character correctly

[2018-08-29 11:56] jakubvojacek commented on #999
@anshul1912 ccextractor should be using utf8 by default, therefore no encoding change should be required I believe. Also, extracting these special characters from other subtitles sources such as dvb subtitles or CEA608 is working perfectly, the issue is only with ISDBT source.

I only have access to linux (we're using debian) and mac so I cannot try notepad++, anyway, I tried using vim and some ot

[2018-08-29 17:15] anshul1912 commented on #999
Hi

I was using vim on Ubuntu and notepad++ on windows.

Problem is from source, ISDB expect utf-8 in its data. But actually ANSI is
present.
Because of which editor do not interpret character well.

You can also use iconv to convert the file encoding.

Thanks
Anshul

On Wed, 29 Aug 2018, 5:26 pm jakubvojacek, <notifications@github.com> wrote:

[2018-08-29 19:19] jakubvojacek commented on #999
Thank you, using the iconv I was able to fix the encodings.

[2018-08-29 19:19] #999 closed

[2018-08-31 08:26] agrafiodata commented on #1000
Is there a plan to add support for it in the foreseeable future?

[2018-08-31 21:58] cfsmp3 commented on #1000
No. But no plans doesn't mean it won't ever be added. If some
developer comes along and does it we'll be happy to integrate, or if
someone pays us to do it.

But if no one in the core team needs it for himself then it's not
going to happen.
On Fri, Aug 31, 2018 at 1:29 AM agrafiodata <notifications@github.com> wrote:

[2018-09-11 15:22] bubbaprog opened #1001 "[BUG] Error: Syntax problem: Final 0xFF marker missing."
CCExtractor version 0.87

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting isn't already reported.
- [X] I have checked that the is

[2018-09-19 20:11] davidsbaldwin opened #1002 "[BUG] Hulu subtitles no longer being downloaded"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.86

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.m

[2018-09-20 16:58] cfsmp3 commented on #1002
What tool are you using, what parameters are you passing...? Is there an error message?

[2018-09-20 17:12] cfsmp3 commented on #992
Closing, since there's no description at all to the actual issue.

[2018-09-20 17:12] #992 closed

[2018-09-20 17:13] cfsmp3 commented on #986
Closing since it was fixed ages ago. Thanks @atrottmann !

[2018-09-20 17:13] #986 closed

[2018-09-20 17:15] cfsmp3 commented on #985
Those are FFmpeg's errors apparently, not sure it's something for us to fix, but I'm assigning it to @anshul1912 since he did that bit.

[2018-09-20 17:16] cfsmp3 commented on #982
Not a bug. We haven't released it for Windows yet, but we'll do it when there's a new release.

[2018-09-20 17:16] #982 closed

[2018-09-20 17:43] thealphadollar commented on #972
@jakubvojacek Ping.

[2018-09-24 00:50] davidsbaldwin commented on #1002
Sure, here are the parameters:

[after running SubtitleExtractor.pyy file]
Paste the link here: https://www.hulu.com/watch/10882b07-2f4b-4f6a-b39b-fe1751e6302b
[it doesn't matter which hulu.com link you input--any of them will output the following]
hulu
Detected Hulu
Processing....

C:\Users\Mulder\AppData\Local\Programs\Python\Python37-32\lib\site-packages\bs4\__init__.py:179: UserWarning: You pr

[2018-09-25 13:02] thealphadollar commented on #995
@T1duS I think you there must be some error related to the importing of the image; I feel the path has been set relative to the call directory (most probably dependent on the terminal) and not system static. Try to look for the code which loads the icon image and feel free to ping again if you don't understand something.

[2018-09-26 09:15] T1duS commented on #995
How do we know in which folder the main ccextractor folder will be? Or do we just assume it will be in home folder or something?

[2018-09-27 18:20] T1duS commented on #995
https://github.com/CCExtractor/ccextractor/pull/1005

[2018-09-29 09:01] sudz123 commented on #1001
Hi I am new to ccextractor, but I'd like to understand it better. I'd like to help solve this issue, is it up for grabs? How can I go about it? I am working on an OSX machine.

[2018-09-29 16:48] cfsmp3 commented on #1001
Yes, go for it!
On Sat, Sep 29, 2018 at 2:01 AM Sudarshan Kamath
<notifications@github.com> wrote:

[2018-10-15 21:40] cfsmp3 commented on #436
Closing this - not sure if it's active or if the original report is still accurate (maybe something was fixed).
@mackworth if this is still causing you problems could you open a new ticket with current details? We'll add it a a GCI task.

[2018-10-15 21:40] #436 closed

[2018-10-15 21:53] cfsmp3 commented on #659
Closing due to inactivity

[2018-10-15 21:53] #659 closed

[2018-10-15 22:09] #678 closed

[2018-10-17 22:23] lmwOnGitHub opened #1006 "BUG 0.85b GUI About and Save tab missing"
Please prefix your issue with one of the following: BUG 0.85b GUI About and Save tab missing.

CCExtractor version (using the --version parameter preferably) : 0.85b windows install GUI latest

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I a

[2018-10-17 23:33] lmwOnGitHub commented on #1006
Reinstall seems to have fixed the problem.

[2018-10-17 23:33] #1006 closed

[2018-10-21 23:00] mackworth opened #1007 "[Bug] Random failures with buffered input on stdin with certain files"
Per @cfsmp3 request on Issue #436, I am opening a new issue on this bug. I have confirmed it is still a problem.

Just updated my copy to the latest master from github, recompiled on my Mac and have the exact same symptoms.

To be specific, when run through stdin pipe, the sample file [available here](https://www.dropbox.com/s/zo6ta9d8ppl093p/RobotChicken-RandomFailuresBI.mpg?dl=0), has a high pro

[2018-10-22 15:04] Aradmey opened #1008 "[BUG] Not enough memory to initialize Tesseract"
CCExtractor version (using the --version parameter preferably) : 0.85

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that

[2018-10-22 18:03] Animesh-Chouhan commented on #995
It will be in the folder where you cloned the repository and built the code.

[2018-10-22 20:03] MatejMecka commented on #1008
It seems your computer doesn't have the power to run Tesseract. Therefore there isn't any issue with CCExtractor but with your computer running it.

[2018-10-22 20:20] saurabhshri commented on #1008
Could you please post complete logs along with procedure you followed to
compile CCExtractor?

On Mon, Oct 22, 2018 at 8:34 PM Aradmey <notifications@github.com> wrote:

--
-
Saurabh Shrivastava

[2018-10-22 22:35] Aradmey commented on #1008
I doubt it, as my PC has 16GB.

I did not compile CCExtractor, I downloaded the binaries (GUI and command line programs) and later the installer itself. None of them worked..
All I did is open CCExtractor, selected my file, selected "With OCR" below, ticked "Perform burned-in subtitle extraction", started and received the mentioned error.

[2018-10-23 06:19] jakubvojacek opened #1010 "[BUG] Failing to extract DVB subtitles from live stream (Failed to perform OCR)"
CCExtractor version (using the --version parameter preferably) : **0.87**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't a

[2018-10-23 18:29] flabbet opened #1011 "[BUG]"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-10-23 18:51] saurabhshri commented on #1011
This is most probably an error with you Visual Studio set-up. Quick googling shows a bunch of results, so looks like it quite common. Did you try any of those solutions?

[2018-10-24 07:43] newbluemoon opened #1013 "[QUESTION] Which license in terms of SPDX is used?"
Hi!

I’d like to update the ccextractor package for Void Linux. Void strongly encourages the use of [SPDX](https://spdx.org/) license strings. However, I wasn’t able to determine if ccextractor is GPL-2.0-only or GPL-2.0-or-later. I checked the source code files and other documentation, but always found only GPL-2.0 mentioned. I’d be very happy if you could help me out on this. Thanks. :)

[2018-10-24 14:46] MatejMecka commented on #730
The file doesn't exist anymore!

It leads to a error 404 page.

No Sample I cannot reproduce :/

[2018-10-24 14:54] cfsmp3 commented on #730
@HaneolLee Do you still have the file? If yes please post a new link and we'll reopen the ticket.
Closing for now.

[2018-10-24 14:54] #730 closed

[2018-10-24 18:28] cfsmp3 commented on #1013
Assume it's  GPL-2.0-only, that's what we started with and there's too many contributors now to bother changing it to anything else.

[2018-10-24 18:28] #1013 closed

[2018-10-24 18:32] newbluemoon commented on #1013
Ok, thank you! :)

[2018-10-27 15:38] diksha90 opened #1020 "Issue with timing (diagnosed, but not fixed)"
It is known that timing in our CEA-708 is different from the timing of CEA-708 in video player with a difference of a second or so and in general it's not critical error.
 But sometimes the timing differs a lot - end of the time goes ahead ~10 seconds or so in different examples. This always happens due to this bug where window is undefined (decoder->current_window == -1) and it's col_count too: l

[2018-10-27 16:39] anshul1912 commented on #1020
Hi Diksha,

It would be helpful for someone to take your diagnosis and fixed issue.
If you provide video link with and ccextractor command you used to reproduce issue.

Thanks
Anshul Maheshwari

[2018-10-29 17:17] MatejMecka commented on #1001
I Commented out the line causing the error and the output is terrible.

The subtitle begins 10 seconds later and i miss a lot of subtitled commentary.  Even with the 10 second delay the subtitles are never matched with the Commentators.

Also for some reason the last line in the subtitle block is repeated on the next beginning block.

You can also notice that the last part is cutout.

I've attache

[2018-11-01 15:27] workflowsguy opened #1034 "[QUESTION]How to get Teletext pages with possible subtitles without actual extraction"
CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following:**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
-

[2018-11-02 00:08] cfsmp3 commented on #1001
Fixed in master

[2018-11-02 00:08] #1001 closed

[2018-11-03 18:46] cfsmp3 commented on #900
@kshepherd2013 video no longer available, please open a new ticket if you still have issues.

[2018-11-03 18:46] #900 closed

[2018-11-03 18:47] cfsmp3 commented on #874
Closing, link not working.

[2018-11-03 18:57] peterhaldbaek commented on #874
I can upload the file again if necessary? @cfsmp3

[2018-11-03 21:35] saurabhshri commented on #874
@peterhaldbaek Yes, please do and re-open the issue. :) Thank you!

[2018-11-04 06:12] peterhaldbaek commented on #874
Sweet! File available again at http://www.filedropper.com/dr3clip1. I do not seem to be able to re-open the issue so I guess you need to do this @saurabhshri

[2018-11-07 10:09] T1duS commented on #646
So, basically we need to add a parameter like --croppedts which when called replaces all 188 to 168. Am I right?

[2018-11-07 15:49] cfsmp3 commented on #646
No, this has nothing to do with packet size, that's always 188. It's about
the command to display the last subtitle frame not being there (since the
stream is incomplete).

What we need is a way to dump the contents of the 708 decoder once we reach
the end of the stream.

On Wed, Nov 7, 2018, 02:09 Udit Sanghi <notifications@github.com wrote:

[2018-11-15 17:44] saurabhshri commented on #874
@cfsmp3 Please re-open this. :)

[2018-11-15 17:48] saurabhshri commented on #874
Uploaded the same on Sample Platform (in case the link goes dead again) : https://sampleplatform.ccextractor.org/sample/154

[2018-11-17 02:39] AntonOfTheWoods commented on #806
Does anyone have any more info on this? @rudolphos can you give some details on "I fixed it" please? Thanks!

[2018-11-17 02:50] AntonOfTheWoods commented on #1008
This is also happening on Ubuntu 18.04 with ccextractor compiled from master using the tesseract from the normal repos. If I manually extract images using ffmpeg and run tesseract then there is no complaining about memory on by 8GB Dell XPS laptop.

[2018-11-18 07:47] Liontooth opened #1039 "[BUG] French DVB subtitles stopped working"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : ccextractor-0.87

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/C

[2018-11-18 19:58] Liontooth opened #1040 "[BUG] French DVB subtitles need deduplication"
CCExtractor version: 0.85

**In raising this issue, I confirm the following:**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting is

[2018-11-19 01:31] anshul1912 commented on #1039
I did not understand why you cross referenced, do you want to say that only problem you have is duplication?

[2018-11-20 22:40] cfsmp3 commented on #136
This has been open for a really long time. Closing. If someone posts fresh samples we'll revisit, but I guess there's no point otherwise. Don't know if people still use Tivo and if the problem still exists?

[2018-11-20 22:40] #136 closed

[2018-11-22 14:31] saurabhshri commented on #1039
@anshul1912 No, the duplication problem is reported through **0.85** since @Liontooth were not able to extract French DVB in 0.86 and 0.87. 🙂 He has mentioned this in additional information and hence cross referenced this issue.

From #1040 :

[2018-11-25 16:15] sunnyevw opened #1044 "[QUESTION] CCExtractor 0.87 Help on cascading duplicate lines"
- [x ] I have read and understood the [contributors guide]
- [x ] I have used the latest available version of CCExtractor to verify this issue exists.
- [x ] I absolutely love CCExtractor, but have not contributed previously.
- What platform did you use? [x ] Windows - [ ] Linux - [ ] Mac

https://drive.google.com/drive/folders/1x6cXmWL_P74qCsLolXmuwRq_0GW4nZx8?usp=sharing

The first time I had th

[2018-11-25 16:51] saurabhshri commented on #1044
Hi @sunnyevw ! These type of captions are called roll-up captions. You may use `-noru` parameter to fix duplications.

Without `-noru` :

[code]

With `-noru` :

[code]

[2018-11-25 17:49] sunnyevw commented on #1044
Oh!  Thank you.  This is certainly what I was looking for.

[2018-11-26 10:59] AntonOfTheWoods commented on #1008
@saurabhshri , do you have any ideas about this? Am I completely wrong in my interpretation of the code?

[2018-11-26 11:02] saurabhshri commented on #1008
@AntonOfTheWoods No, you're not. It's not your machine. It has been reported previously, but they were able to solve it. Happy debugging :)

[2018-11-26 16:18] cfsmp3 commented on #1008
OK let's try to figure this one out... @Aradmey first, does it happen with all files or just some, or a specific hone? Can you share one?

Have you tried in 0.87?

[2018-11-26 16:30] #1044 closed

[2018-11-29 00:50] Liontooth commented on #1039
Hi -- sorry to be slow. Anshul, your attempt to extract the text demonstrates the regression. Version 0.85 does a great job -- close to perfect (Chrome no longer lets you set the character set and gets this one wrong; in fact it's UTF-8):

`20170714180000.000|20170714180002.080|fra|DVB|cette route.
20170714180002.080|20170714180002.320|fra|DVB|Tout se joue à la seconde près.
20170714180019.560|201

[2018-11-30 04:35] AntonOfTheWoods commented on #1008
@Aradmey , was it you that was able to solve it or did you abandon CCExtractor?

[2018-11-30 10:41] rhertzog opened #1046 "[BUG] segfault with empty file and -out=report option"
This issue is easy to reproduce (at least on Linux):
[code]

Here is the version information:
[code]

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have checked that the issue I'm posting isn't already reported.
- [X] I have checked that the issue I'm porting isn't already solved and no duplicates exist in [closed issues](http

[2018-11-30 10:43] rhertzog commented on #1046
FWIW, this was initially reported in Debian: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=908914

[2018-11-30 14:30] AntonOfTheWoods commented on #1008
@cfsmp3 , I am using master rather than an official release version (like 0.8.7) so I can get support for tesseract 4 (the version available on Ubuntu 18.04). The git log suggests I need the HEAD of origin/master for that. Could this be simply a matter of tesseract 4 not being fully supported yet? Is it worth trying to get tesseract 3 installed and using 0.8.7? Thanks.

[2018-12-01 14:38] AntonOfTheWoods commented on #1008
@Aradmey and @cfsmp3 , I can confirm that manually compiling tesseract 3.05 on Ubuntu 18.04 and compiling ccextractor at master and pointing to the tesseract 3 gets rid of the error. I definitely think the error message could do with some improvement though!

[2018-12-02 07:52] saurabhshri commented on #260
Hi @workflowsguy ! The sample link is dead, could you please update it? We have some GCI students who want to work on this issue. Thanks!

[2018-12-02 13:56] saurabhshri commented on #260
@workflowsguy We knew that appearance of incorrect frames and FPS was resolved [ `"Total frames time: 00:00:00:000 (0 frames at 29.97fps)"`], but we weren't sure if the timecodes were fine too. Since, we were unable to re-produce that with any of our samples, I requested for the original sample to see if the problem  still exists.

Thanks for letting us know that it's resolved.

Regarding `--noemp

[2018-12-02 18:33] cfsmp3 commented on #260
@workflowsguy so can this specific github issue be closed?

[2018-12-02 20:50] cfsmp3 commented on #1046
Fixed in master.

[2018-12-02 20:50] #1046 closed

[2018-12-05 16:41] workflowsguy commented on #260
@cfsmp3,

yes, thank you. I will close it.

[2018-12-05 16:41] #260 closed

[2018-12-06 15:06] xvkdev commented on #757
From Ivan at GCI:

************
After some work on ccextractor code I found out that the error comes from general_loop.c
I dowloaded file with 0 stream size from issue in task and found out that ccextractor doesn't extract subtitles from problem file because in this particular file pid != datalist->stream_pid. So the obvious solution is to change:
* Error: int pid = get_best_stream(ctx->demux_ctx)

[2018-12-06 15:06] MakarovGCI2018 commented on #757
After some work on ccextractor code I found out that the error comes from general_loop.c
I dowloaded file with 0 stream size from issue in task and found out that ccextractor doesn't extract subtitles from problem file because in this particular file pid != datalist->stream_pid. So the obvious solution is to change:
* Error: int pid = get_best_stream(ctx->demux_ctx);
* Right output: int pid = data

[2018-12-06 15:07] cfsmp3 commented on #757
@anshul1912 I think this was your code, can you take a look?

[2018-12-09 11:10] anshul1912 commented on #1039
Hi David,

I see there is problem with quantization, I see output is fine if quantization is disabled.
[code]

I ran ccextractor like following
`/ccextractor ~/Videos/Samples/DVB/2017-07-24_1800_FR_FR2_Journal_20h00.mpg -quant 0 -pn 257 -tpage 888 -datets -ttxt -UCLA -noru -utf8 -parsepat -parsepmt -o a.txt
`
can you confirm that -quant0 work perfectly for you in 0.87

[2018-12-09 13:50] anshul1912 commented on #1039
Only starting output is fine only in start, complete output is still bad, looks like latest fra trained data is bad compared to older one

[2018-12-09 14:12] anshul1912 commented on #1039
when I tried to compare with 0.85, my output file was completely empty.
[code]

[2018-12-10 06:29] Pennyliu999 opened #1053 "Bug: Can't open huge .mp4 files"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-12-10 06:52] thealphadollar commented on #1053
@Pennyliu999 Can you please attach the mentioned file? Maybe upload it to GDrive and give us a link so that we can analyze the issue better :)

[2018-12-10 06:58] Pennyliu999 commented on #1053
@thealphadollar Thanks for the reply, but the file is literarily too huge to upload (over 4GB), I will try but I'll be appreciated if you may test 0.87 with some huge .mp4 files in your hand.

I've tried some small files which is less than 100 MB and 0.87 works perfectly.

I will keep you updated if I can successfully upload a huge file, thanks.

[2018-12-10 07:39] thealphadollar commented on #1053
Sure. I've tested it with huge files (around 2GBs) and it works fine for me. It could be issue with the specific file.

[2018-12-10 16:14] Pennyliu999 commented on #1053
@thealphadollar Yes, I think it's not about the size but some kind of coding problem. I tested with a .mp4 which is less than 2 GB and 0.87 still doesn't work (while 0.85 works)

For your information, I downloaded the video files from Apple and removed the drm, 0.87 works with none of them. I will try to upload the file which is smaller than 2 GB for you to test and keep you informed.

[2018-12-10 16:17] thealphadollar commented on #1053
Thank you, I'll test them out once you've provided them.

*Shivam Kumar Jha*

*Department Of Computer Science And Engineering*
*Indian Institute of Technology Kharagpur*

*Web <https://thealphadollar.github.io> || Github
<https://github.com/thealphadollar/> || LinkedIn
<https://www.linkedin.com/in/thealphadollar/>
<https://thealphadollar.github.io/>*

On Mon, Dec 10, 2018 at 9:44 PM Pennyliu999 <n

[2018-12-10 19:06] Pennyliu999 commented on #1053
@thealphadollar Please check this file, thanks for your time.
https://s3-ap-southeast-1.amazonaws.com/tortoise/test2.mp4

[2018-12-11 07:17] thealphadollar commented on #1053
@Pennyliu999 I'm unable to download the video file from Amazon AWS with the link provided.

[2018-12-11 13:14] Pennyliu999 commented on #1053
@thealphadollar Sorry I forgot to make the file "public", now it should be OK, please try again.

[2018-12-11 17:16] thealphadollar commented on #1053
@cfsmp3 I can confirm this is one of the issues for which I updated GPAC before GSoC 2018 but wasn't fixed. This is some issue on the end of GPAC in handling these type of MP4 files. I don't think we can do much in this regard. I'm attaching the error log of the file by running on latest version of CCExtractor (0.87).

[Error Log](http://txt.do/diiya)

At the same time, **CCextractor is able to ge

[2018-12-11 17:40] Pennyliu999 commented on #1053
@thealphadollar I didn't build the video, I downloaded it from Apple, so I guess it's encoded by some software based on Mac OS, I've no idea how they did that though.

Glad to know the problem will be fixed, and I think I can only wait for the latest version of CCExtractor?

[2018-12-11 17:41] thealphadollar commented on #1053
What is the problem? I'm unable to get you; subtitles from the video file
you provided me are extracted perfectly.

On Tue 11 Dec, 2018, 23:10 Pennyliu999 <notifications@github.com wrote:

[2018-12-11 17:48] Pennyliu999 commented on #1053
@thealphadollar Sorry, I can't extract subtitles from the .mp4 I uploaded to aws, the .exe stopped and I got a pop-up window with error message and that's all. If it works for you, maybe it's some problem with my windows system.

Could you please upload the subtitles and share them with me? That's the main purpose I used CCExtractor, anyway.

[2018-12-11 17:51] thealphadollar commented on #1053
Here are the files: https://drive.google.com/open?id=14KQozOPN-V1NcTyU5Y-eV-hO_4WEElTB

I used CCExtractor on Linux; the windows version is not that stable (or up to date).

[2018-12-11 17:53] Pennyliu999 commented on #1053
@thealphadollar Thank you very much! Maybe I will try the linux version someday.

[2018-12-11 21:52] MakarovGCI2018 commented on #677
The problem was that when we tried to process this file we got error "Window has to be defined" because decoder->current_window == -1;
https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_decoders_708.c#L1375
So I found out that in ccx_decoders_708.c we had a condition which wasn't impossible according to authors comment but here that condition returned true which crashed ccextra

[2018-12-11 22:49] MakarovGCI2018 commented on #1053
The error comes from this line of code:
https://github.com/CCExtractor/ccextractor/blob/master/src/gpacmp4/box_code_3gpp.c#L339

We get an exception
![image](https://user-images.githubusercontent.com/44312997/49835351-94a4e380-fda7-11e8-8daa-1fc6b565951d.png)

If we just comment this line ccextractor works well and detects those subtitles but doesn't extract them to file. By the way I'm working on

[2018-12-11 22:56] MakarovGCI2018 commented on #1053
[log_with_error.txt](https://github.com/CCExtractor/ccextractor/files/2669766/log_with_error.txt)
[log_without_error.txt](https://github.com/CCExtractor/ccextractor/files/2669768/log_without_error.txt)

[2018-12-11 23:29] cfsmp3 commented on #677
OK so it's good research here... but let's not be happy with that, we need to find out what's actually going on.

if (dtvcc->current_packet_length != len) // Is this possible?

So there dtvcc->current_packet_length is how much data we have for that packet.
len is the size length according to the packet header.

So we have 3 possibilities:
a) We have more data than the declared packet length. If ye

[2018-12-11 23:32] cfsmp3 commented on #1053
Take a look at that file in the current GPAC source code. Maybe it's a bug they fixed already. Or maybe we introduced a bug when we last backported GPAC.

[2018-12-12 03:03] Pennyliu999 commented on #1053
Thanks for all your efforts, and I confirm this bug only happens or exists in windows version, I tried to run 0.87 in Mac OS via homebrew and it works perfectly just like in Linux.

[2018-12-12 07:30] RobJacobson commented on #806
Ditto to Anton's request.  I'm having exactly the same problem in both Windows and Ubuntu.   @rudolphos, could you please explain how you fixed this?

[2018-12-12 20:39] cfsmp3 commented on #677
That line:

int len = dtvcc->current_packet[0] & 0x3F; // 6 least significants bits

is correct. The packet header has 6 bits for the packet length and that mask gives you those 6 bits.

You may need to go over the actual specs to understand that code.

[2018-12-13 18:29] MakarovGCI2018 opened #1055 "[Bug] xFF marker after each line in output and incorrect font detected(CEA-708)"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2018-12-13 18:40] MakarovGCI2018 commented on #1055
* Note:
It detects subtitles with changes that were described here https://github.com/CCExtractor/ccextractor/issues/677#issuecomment-446376128
Without those changes it doesn't extract subtitles, so this issue is same to https://github.com/CCExtractor/ccextractor/issues/677 that's why I close it

[2018-12-13 18:40] #1055 closed

[2018-12-14 18:03] #793 closed

[2018-12-14 19:04] MakarovGCI2018 commented on #1034
@workflowsguy you can easily extract captions to console only with -stdout parameter.
Note that ccextractor will ignore -o, -o1 and -o2 in this case.
So the most simple way to use this parameter is:
`input_file -stdout`
You can read more about this option(and other ccextractor available parameters) here:
https://ccextractor.org/public:general:command_line_usage

[2018-12-15 19:47] MakarovGCI2018 commented on #757
@cfsmp3 please note that we use get_best_stream function only in the place I described above. So if @anshul1912 verify this changes we can simple delete this function from ccextractor code completely. By the way, my PR is ready and I'm waiting for changes verification.

[2018-12-15 20:14] cfsmp3 commented on #757
@MakarovGCI2018 if we deleted that function then most streams wouldn't work. A requirement of FIXES is not to break more than your fix :-)

[2018-12-15 20:43] anshul1912 commented on #757
Let me explain that function.
Get_best_stream keeps the  priority of subtitle when multiple subtitles are present, so removing it will work for you but then you mess with priority, you will always select whichever is on top. So I would say no to remove that function, I would suggest you to find why that function is not working. If some subtitle are wrongly reported then we always have option to pa

[2018-12-15 20:49] MakarovGCI2018 commented on #757
@anshul1912 thank you for the explanation. I will try to find out why this function doesn't work correct :-)

[2018-12-18 17:01] workflowsguy commented on #1034
@MakarovGCI2018 sorry, but I do not understand how your answer relates to my question.
Using `-stdout` still causes `ccextractor` to parse the video file completely which is not what I want.

[2018-12-23 19:30] cfsmp3 commented on #951
Closing, not an issue and it's answered.

[2018-12-23 19:30] #951 closed

[2018-12-23 20:01] rboy1 commented on #757
Thanks. As a user how do I know which PID? Isn’t there a way for ccextractor to pick it up automatically like you said if the preferred doesn’t exist but it found another one?

[2018-12-24 08:35] MakarovGCI2018 commented on #757
@rboy as for now we don't support skipping fake pid. By the way, adding this function will increase get_best_stream method time .
You can get best stream pid with external programs(Take a look on mediaInfo where right pid is ID/String, VLC detected streams where pid is Original ID or ffprobe tool). Also you can get info about possible pids using -parsePMT parameter in ccextractor.

[2018-12-24 08:46] xvkdev commented on #757
Parsepmt lists all pids.
A possible solution could be to delay selecting the stream until data has
been found.

On Mon, Dec 24, 2018, 09:35 MakarovGCI2018 <notifications@github.com wrote:

[2019-01-01 20:45] DHLgh opened #1061 "[BUG] VLC displays captions, ccextractorwin not finding captions"
CCExtractor version (using the --version parameter preferably) : **0.87**

- [ X] I have used the latest available version of CCExtractor to verify this issue exists.
- [X ] I absolutely love CCExtractor, but have not contributed previously.

**Necessary information**
- Is this a regression (did it work before)? [X ] NO | [ ] YES - *please specify the last known working version*
- What platform di

[2019-01-01 21:33] MakarovGCI2018 commented on #1061
I'm on it

[2019-01-12 09:54] RobJacobson commented on #806
Thanks for the info!  Really appreciate it.

[2019-01-13 12:32] tomas-kuchta opened #1064 "[BUG] rpm build errors - missing freetype sources in tar.gz and configure mismatches between src and rpm"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.87

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.m

[2019-01-13 13:18] unicode45 opened #1065 "[QUESTION] Could not extract subtitle from Korean cable TV program."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2019-01-14 10:19] #668 closed

[2019-01-14 22:12] djotaku commented on #1064
I also got hit with the spec file issue.

Also the tarball is missing iso639.h, but that's in the git repo

[2019-01-15 04:50] tomas-kuchta commented on #1064
Missing iso639.h can also be resolved by changing ./configure command to: ./configure --enable-ocr in package_creators/tarball.sh

This is because both ./configure commands in tatrball.sh and rpm.sh needs to be the same <== tarball.sh creates ccextractor-version.tar.gz which is then used as source for rpm.sh <== thus using rpm.sh to verify the content of ccextractor-version.tar.gz which is used to

[2019-01-15 14:18] anonynamja commented on #1008
Same issue as above, is there any solution yet? Run with different options? Many thanks.

[2019-01-16 14:53] anonynamja commented on #806
@cfsmp3 @RobJacobson  @AntonOfTheWoods

I first followed the instructions here: https://github.com/CCExtractor/ccextractor/blob/master/docs/COMPILATION.MD)

Skipping lines with tesseract-ocr and tesseract-ocr-dev since above commenters explained that Tesseract 4 is unsupported, so I used Tesseract 3.05.02 from here: https://github.com/tesseract-ocr/tesseract/archive/3.05.02.tar.gz

Then I followed

[2019-01-20 18:42] MatejMecka commented on #1065
VLC seems to find 4 Closed Captions but I wasn't able to play them

[2019-01-20 18:48] MatejMecka commented on #1065
From a Quick run in debug mode CCExtractor reports unrecognized user data on all caption blocks i've seen so far:

[code]

[2019-01-20 19:00] MatejMecka commented on #1002
This is the Wrong Repository. Suggestion to close it?

[2019-01-20 22:18] nikop opened #1067 "[BUG] OCR works only for first DVB subtitle stream (OCR context is not shared)"
CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or t

[2019-01-21 20:10] animesh-chouhan commented on #961
I want to work on this issue,
Can you brief me about the current state of this issue as I can see there have been few merges in past

[2019-01-22 13:49] #1002 closed

[2019-01-22 14:59] Pi7on commented on #1008
Same issue here

[2019-01-23 17:13] thealphadollar commented on #961
@cfsmp3 I think we should close this as we had concluded these are not subtitles and information is provided by GPAC.

[2019-01-24 00:10] thunderbolt-tom commented on #1039
I've experienced a very similar issue to this with DVB subtitles from British TV. Using v0.87 newly built on Ubuntu with tesseract 4.0.0 I get the `No captions were found in input.` error. Previously using v0.84 built against an older version of tesseract the subtitles were converted to srt almost perfectly.

What I discovered through trial and error is this seems to be an issue with the newer ver

[2019-01-29 10:42] cfsmp3 opened #1068 "[REQUEST] Add support for 608 tracks inside MKV files"
CCExtractor supports MKV files, and it obviously supports EIA-608.

However for MKV it only supports .srt, while EIA-608 must come for example from TS files or other kind of MPEG files.

So while we have support for both MKV and EIA-608, we can't extract subtitles in EIA-608 inside MKV files. This would be really nice to have now since there's some files around that contain them.

Two such example

[2019-01-31 16:02] jakubvojacek opened #1069 "[BUG] extracting dvb subs from udp doesnt work while extracting from same file works"
CCExtractor version: **0.87**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x] I have checked that t

[2019-02-01 15:31] saurabh18213 commented on #1061
I am also unable to extract captions in Ubuntu 18.04.
The command which I used from ccextractor/linux directory.
`./ccextractor FS2_sample.ts -2 -out=ttxt`

[2019-02-04 12:59] ReportX opened #1070 "[REQUEST] Support EAI-608 closed captions on MP4 video contained in a MKV file"
I just get a MKV file which contains a MP4/h264 track with interlaced closed captions. I was not able to extract them using CCExtractor 0.87 (Windows) even trying with multiple settings.

Refer to the magnet link I have given below in order to download a sample (4.29GB) using any compatible BitTorrent client (like Transmission, uTorrent,...):

magnet:?xt=urn:btih:BDE889FBD51470BFD4DB9D01A7802C1809

[2019-02-04 22:51] cfsmp3 commented on #1069
if tsplay if converting a TS into a mp4 then most likely captions are just lost in the conversion and there's no captions there at all to begin with.

Also, mp4 probably won't work at all via network because we use GPAC which expects a file if I remember correctly.

[2019-02-05 07:05] jakubvojacek commented on #1069
@cfsmp3 Hello,

it's not an mp4. it is actually a TS file but I had to change extension since the webserver only allows downloading mp4. The tsplay preserves subtitles, just tried to run ffprobe on it

[code]

The actual problem is not with the TS file but with the multicast that I recorded the file from. Ccextractor fails to read the captions from the multicast and succeeds from the recorded file

[2019-02-05 18:19] arianaa30 opened #1071 "XDS data parsing"
We have used CCExtractor for parsing Vchip information. It looks like for `vchipflags`, some processing is done. What I see on my end looks processed. For instance for TV-PG `D` I don't simply get `D`!
I get `Sexually Suggestive Dialog`! And similarly, I see `Adult Language` for `L`.

Is CCExctractor adding these descriptive texts? Where can I get those mappings?

[2019-02-05 19:19] aadibajpai commented on #1071
https://github.com/CCExtractor/ccextractor/blob/7b4bf0b15a01cc5e58fd8bc375359b89430660eb/src/lib_ccx/ccx_decoders_xds.c

[2019-02-05 19:22] arianaa30 commented on #1071
Yes found it. Thanks!

[2019-02-05 19:22] #1071 closed

[2019-02-08 13:31] poeeast opened #1072 "No subtitles with ccextractor - but with TS-Doctor"
[QUESTION].

CCExtractor version : 0.87

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting

[2019-02-09 05:29] Adityak9 commented on #805
@cfsmp3 i am able to extract subtitles from the dracula.ts and stanley.ts file linked above. Haven't tried with football.ts.
Builded using cmake with ocr, hardsubx and ffmpeg on.
![screenshot from 2019-02-09 10-57-03](https://user-images.githubusercontent.com/40245144/52516980-b1e81800-2c59-11e9-937a-5e22969d1f67.png)

[2019-02-11 05:59] cfsmp3 commented on #805
What about without ffmpeg?

On Fri, Feb 8, 2019 at 9:29 PM Aditya Kumar Singh
<notifications@github.com> wrote:

[2019-02-12 05:52] Adityak9 commented on #805
Not working without ffmpeg. No captions found in input.

[2019-02-12 17:22] cfsmp3 commented on #805
OK, so the job is clear :-)

On Mon, Feb 11, 2019 at 9:52 PM Aditya Kumar Singh <notifications@github.com>
wrote:

[2019-02-19 09:11] workflowsguy commented on #1034
@navimakarov, sorry for the long delay in replying.
Yes, I need some way to get information if the video file contains teletext pages with possible subtitles without actually starting the extraction process.

[2019-02-22 11:26] ggnull35 opened #1074 "[BUG] Windows Compile Error - Fix for OCR lib"
I am using the latest git version. When I try to build Debug-Full on Windows VS2017 gives out cannot find capi.h error.

I fixed to lines to:

ocr.c Line 4: #include "capi.h"
params.c Line 19: #include "capi.h"

Before they were: #include "tesseract/capi.h"

[2019-02-22 11:59] ggnull35 opened #1075 "[BUG] Windows Compile Error for FFmpeg Integration"
I use latest git version.

If I enable FFmpeg integration as mentioned in FFmpeg integration document for Windows compile, Windows 2017 gives error ar:

ffmpeg_intgr.c
Line 5:  #include <libavfilter/avfiltergraph.h>

as file not found.

Afaik, there is no avfiltergraph.h in current FFmpeg git master. I removed the line and compile is completed.

[2019-02-22 12:57] Adityak9 commented on #1075
I read in ffmpeg's github repo that avfiltergraph.h is integrated with avfilter.h, so change avfiltergraph.h with avfilter.h. I don't if it is a correct solution but that is one which i figured out.

[2019-02-22 15:39] ggnull35 commented on #1075
I will give a try.

[2019-02-22 15:43] ggnull35 commented on #1075
It compiles, but in both methods FFmpeg integrated version always fails to probe input.
So, I disabled FFmpeg. There can be need to do more updates.

[2019-02-22 16:06] ggnull35 opened #1076 "[BUG] Output Type webvtt prints styling"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : git master

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBU

[2019-02-25 23:33] thelastpolaris commented on #1068
I would like to work on this issue.

[2019-02-26 00:04] cfsmp3 commented on #1068
@thelastpolaris go for it, it's probably a good issue to get started with CCExtractor's codebase. Not trivial, but not too hard.

Good luck!

[2019-02-26 09:04] ggnull35 commented on #1039
Actually ccextractor v0.87 can compile with tesseract 4.0 & leptonica 1.77.0
Just use libpng 1.6.34 for compile.

[2019-02-26 16:50] thelastpolaris commented on #1068
@cfsmp3 thank you!

So I dived into Matroska related code and found out that it  simply doesn't "see" the track with EIA-608 subtitles. Seems that `MATROSKA_SEGMENT_TRACK_ENTRY`, which is equal to `0xAE` doesn't work for EIA-608 subtitles track.

Meanwhile, I just opened your sample through VLC and it works pretty well. VLC is able to display this and I am looking at VLC code now.

![screenshot fr

[2019-02-26 17:13] cfsmp3 commented on #1068
Seems easy enough - if the EIA-608 data is in stream 2 then find out why
CCExtractor is skipping that stream. What value is it looking for and what
value is it there?

On Tue, Feb 26, 2019 at 8:50 AM Artyom Fedoskin <notifications@github.com>
wrote:

[2019-02-26 17:15] thelastpolaris commented on #1068
That is exactly what I am thinking about. Thank you, working on it.

[2019-02-26 18:49] thelastpolaris commented on #1068
Just a small notification:

I looked up EBML specification for Matroska, played with different ids but it didn't work out because EIA-608 subtitles are really part of the video stream and VLC is simply representing them as a separate stream while they are actually muxed in the video track. See FFMPEG screenshot attached.

![screenshot from 2019-02-26 19-28-08](https://user-images.githubusercontent

[2019-02-26 19:29] cfsmp3 commented on #1068
You are going to have lots of fun there :-)
In theory it shouldn't be too hard (but probably harder than the case
in which the captions where in their own track). But well, we do have
a H264 decoder in place so you might be able to just feed it the data
from the video stream. It _could_ just work :-)

On Tue, Feb 26, 2019 at 10:49 AM Artyom Fedoskin
<notifications@github.com> wrote:

[2019-02-27 22:03] thelastpolaris commented on #1068
@cfsmp3 Yeah, this is a puzzle that is interesting to solve :)

I'm just curious, maybe you could help me:
in `matroska.c`, I understood that we use `parse_segment` functions to walk through Matroska's EBML structure but I would really like to understand where in this code I can pick up the video stream and use H264 decoder with it. I will try to study EBML but any suggestions are welcome :)

[2019-02-27 22:29] cfsmp3 commented on #1068
@thelastpolaris for Matroska's stuff the person you want to talk to is @Izaron  , he implemented that part.

If he's too busy ping me in a couple days and I'll work with you.

[2019-02-27 22:40] thelastpolaris commented on #1068
@cfsmp3 ok, thank you. Seems that I know this guy in person and he also speaks Russian :)

[2019-02-27 22:42] cfsmp3 commented on #1068
He does and you're in good hands for sure, he's a genius!

[2019-03-03 00:03] thelastpolaris commented on #1068
@cfsmp3 just a small update on the issue.
@Izaron greatly helped me. He suggested me several tools for Matroska debugging (MKVToolNix, mkvextract) and now I much better understand how Matroska is structured. He also gave me a few very useful advises and I asked him a few more questions today.

Current state of the issue - I figured out how Matroska is structured and the code in matroska.c makes it

[2019-03-03 20:22] cfsmp3 commented on #1068
@thelastpolaris Sounds good. Should be "easy" to do if @Izaron lends a hand. In any case I'm around in slack if you need my help. I didn't do the MKV part but I did (most of) the 608 code so probably can help you get there.

[2019-03-08 06:16] gigatesseract opened #1077 "[BUG] Empty srt file being generated for a ts file linux"
Please prefix your issue with one of the following: [BUG]

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have chec

[2019-03-08 09:59] thelastpolaris commented on #1070
I am already working on this request. You can track the progress here https://github.com/CCExtractor/ccextractor/issues/1068

[2019-03-08 11:26] thelastpolaris commented on #1077
Seems that the problem is with .ts decoding stuff in ccextractor, as I converted your .ts file to mp4 and ccextractor extracted subtitles.

[2019-03-08 12:11] gigatesseract commented on #1077
@thelastpolaris  Ah yeah, The srt file is generated properly for .mp4. There is some problem with the .ts decoder :+1: :flushed:

[2019-03-08 12:54] thelastpolaris commented on #1077
Ok, so if you try to to convert .mp4 file back to ts without reconverting the video (`ffmpeg -i 1077.mp4 -codec copy 1077.ts`) it extracts subtitles. Also, if you check with your original file with `ffmpeg -i orig_1077.ts` you fill find that there are a lot of kinda empty tracks.

[2019-03-08 16:42] benninkcorien commented on #1008
Same issue.
Windows 10, Tesseract3 is installed and in my System PATH.

[2019-03-08 18:16] thelastpolaris commented on #1077
So depending on the definition, the problem is either in your sample or in ccextractor way of handling .ts files with strange programs :)
This is `ffmpeg -i` output for your original sample https://pastebin.com/mW6EhPkC, from which ccextractor can't extract subtitles even if I pass `-pn 358` as a parameter (program number for real stream).
https://pastebin.com/MdXAnduG this is description of the f

[2019-03-08 18:50] cfsmp3 commented on #1077
@thelastpolaris in general if there's a way to get the subtitles (ffmpeg can do it, VLC can do it, any player can do it, etc) but we are unable to get them, assume it's a problem in CCExtractor.

Saying that the sample doesn't have programs doesn't help the user :-) He just has a sample that contains subtitles and wants CCExtractor to extract them for him.

[2019-03-09 19:04] #1077 closed

[2019-03-11 15:53] gigatesseract commented on #1077
@thelastpolaris @cfsmp3 Thank you for looking into the issue. :smile:

[2019-03-18 19:57] MaximVol opened #1081 "[BUG] Stream mode does not work for in-progress TS file"
CCExtractor version: 0.84

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already pr

[2019-03-21 04:11] negative0 commented on #1076
How can I replicate this issue?

[2019-03-22 15:26] ashutoshmishraji commented on #1000
HI @cfsmp3
I am a gsoc 2019 participant  and  can u give me some guidance

[2019-03-22 15:32] cfsmp3 commented on #1000
Sure, please don't use a github issue to ask unrelated things, please check
out our website and join our slack.

On Fri, Mar 22, 2019, 08:26 ASHUTOSH MISHRA <notifications@github.com>
wrote:

[2019-03-22 15:35] thelastpolaris commented on #1000
Hey @ashutoshmishraji . I've almost finished adding this feature and will make a push request soon. Sorry for not stating that earlier.

[2019-03-22 15:38] ashutoshmishraji commented on #1000
ok @cfsmp3 @thelastpolaris

[2019-03-22 17:40] MatejMecka commented on #1076
Please Provide a Sample in order to reproduce it.

[2019-03-23 15:28] cfsmp3 commented on #1070
@ReportX code for this has been merged - please test and let us know how it works for you.

[2019-03-23 15:28] #1070 closed

[2019-03-23 15:33] #1068 closed

[2019-03-23 15:33] #1000 closed

[2019-04-11 19:36] thelastpolaris commented on #1072
First of all - do you want to extract Teletext subtitles or DVB ones? If you want to extract DVB subs then you have the following issues:

1. According to your logs, you don't have Danish language data for Tesseract. You can download it here https://github.com/tesseract-ocr/tessdata_best (dan.traineddata). In Ubuntu I put this file here /usr/share/tesseract-ocr/4.00/tessdata/. This file is needed

[2019-04-11 21:51] thelastpolaris commented on #1081
For how much time should I run CCExtractor with the stream you provided to get an error? I'm running CCExtractor 0.87 for 2 hours and it works pretty well (extracts subtitles).

[2019-04-11 21:54] DaniGTA commented on #1008
Is this already fixed ?

[2019-04-12 14:23] thelastpolaris commented on #1008
@DaniGTA I guess that this problem was already fixed by #1083 that changed the way Tesseract is initialized. Previously if for some reason Tesseract was not initialized, you were getting a memory error. #1083 updated the way Tesseract is initialized to be more stable. Anybody who had this error - kindly ask you to check it again with CCExtractor's master.

[2019-04-13 16:08] MaximVol commented on #1081
I built latest version of CCExtractor from GitHub sources and it works correctly with such streams.
It seems that this issue is fixed in latest version.
Thanks a lot for investigation.

[2019-04-13 16:08] #1081 closed

[2019-04-25 08:35] thelastpolaris commented on #1061
@saurabh18213 I also tried it with -2 flag but for some reason, it doesn't work, though CCExtractors seems to be extracting the second CC type.

`Total frames time:	  00:00:45:945  (1377 frames at 29,97fps)
CC type 0: 0 (NTSC line 21 field 1 closed captions)
CC type 1: 1360 (NTSC line 21 field 2 closed captions)
CC type 2: 0 (DTVCC Channel Packet Data)
CC type 3: 0 (DTVCC Channel Packet Start)`

I

[2019-04-27 15:21] poeeast commented on #1072
Thank you for the answer.
The fault is probably mine. I used ccextractor without having installed Tesseract. I have no previous knowledge with manipulating video files. So thank you for the help.

[2019-04-28 02:14] bcb2000 opened #1084 "[BUG] Segmentation Fault part way through extracting from DVB"
CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or t

[2019-04-28 14:39] thelastpolaris commented on #1084
I can confirm this issue and will look at it in more details soon.

[2019-04-28 21:00] thelastpolaris commented on #1061
So for some reason CCExtractor treats Program name, which is given by XDS, as subtitles track. If you convert the given sample to .mp4 or even .mkv CCExtractor extracts subtitles without any problem. I will dive deeper into write_cc_buffer function to solve this problem.

[2019-04-28 21:46] thelastpolaris commented on #1084
The issue at 11:44 is due to the absence of check whether `last_font_tag_end` in ocr.c:662 actually contains text or not. However, I get another SEGFAULT with your file in the middle of processing. Will look at it and commit the changes.

[2019-04-28 21:50] bcb2000 commented on #1084
Thanks for your swift analysis and investigation!

For background, the sample .ts file is the output from Plex, whose source is a HDHomeRun network tuner.  I initially thought the issue was related to HD streams (the sample I provided is HD) but I have also seen the same issue with SD streams.  From a small sample, it seems that at least half of the .ts files I've grabbed can demonstrate this beha

[2019-04-30 22:22] thelastpolaris commented on #1084
Ok, so I made a pull request with changes that solve the bug you filed, but it doesn't solve all the problems that we have in DVB module. I'm getting a segfault at 33:53 with `free(): invalid next size (normal)` description. Kindly ask you to test extensively CCExtractor on your files with DVB. The problem, which you described, should be solved by this commit, but there can be other problems with

[2019-05-01 00:45] #1084 closed

[2019-05-01 06:27] bcb2000 commented on #1084
Thanks again.

My testing is continuing.  I have set master and issue_1084 branches away on my full set of 220 .ts files, most (if not all?) seem to have dvb subtitles.

So far, master has processed 190, and had 110 segfaults
issue_1084 has processed 125, and had 1 segfault.

The single segfault for issue_1084 branch is on this file:
http://213.229.121.188/2.ts [836M]

I will post final test resul

[2019-05-01 09:54] thelastpolaris commented on #1084
@bcb2000 Thx for testing! It looks like this patch solved most of the issues but let's wait for the end results of your testing. Patch is available in master now.

Also I processed 2.ts file that you provided and got no segfault. Some issues with DVB module look pretty random.

[2019-05-02 04:19] bcb2000 commented on #1084
All of my ts files have now been processed by the issue_1084 branch of ccextractor.
**master**: 129 Segfaults from 220 .ts files.  5 ended abruptly with "Aborted"
**fix**: 1 Segfault (as previously reported - I tried again and still get a Segfault) 17 "Aborted"

The fix seems very good to me.

On a point of order, would you like me to raise a new bug for the 17 "Aborted" scenarios?  There's someth

[2019-05-02 09:02] thelastpolaris commented on #1084
@bcb2000 I'm happy to hear that it helped :)

Sure. Please, add sample files with which you get "aborted" scenario to the issue.

[2019-05-09 05:45] jakubvojacek commented on #1069
Resolved by converting MPTS to SPTS, closing, thank you

[2019-05-09 05:45] #1069 closed

[2019-05-09 20:25] drodz11 commented on #1008
Hello,

I was having the same problem (error message while running 0.87 GUI - "Not enough memory to initialize Tesseract") so I cloned the master and compiled on Windows 10 using Visual Studio 2019 (Community) and the instructions given [here](https://github.com/CCExtractor/ccextractor/blob/master/docs/COMPILATION.MD). However, now when I launch the GUI I am seeing the following message:

![ccext]

[2019-05-13 19:12] cfsmp3 opened #1086 "Issue with Russian recordings"
This came from our friends at Red Hen:

You may remember that there is a set of Russian recordings that are broadcast with some sort of non-Cyrillic characters, for instance 2017-07-17_1158_RU_Первый_Новости_с_субтитрами.txt.

**************************************

AP has been so kind as to provide a mapping table for these broken Russian files, and I was able to run it on our existing dataset. H

[2019-05-15 07:40] thelastpolaris commented on #1086
@cfsmp3 Could you please provide one of the video files from this set? I would like to take a look at it to be sure that this mapping will cover all possible variants.

[2019-05-18 17:41] #1086 closed

[2019-05-25 08:48] thealphadollar opened #1090 "[TEST] Testing Latest SamplePlatform Changes"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.88**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2019-05-25 10:31] aadibajpai commented on #1090
didn't get email

[2019-05-25 10:32] thealphadollar commented on #1090
Same here. @canihavesomecoffee

On Sat 25 May, 2019, 16:01 Aadi Bajpai, <notifications@github.com> wrote:

[2019-05-25 19:21] thealphadollar opened #1091 "[TEST] Testing Latest SamplePlatform Changes"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.88**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2019-05-25 19:23] thealphadollar commented on #1091
Test successful :sparkles:

[2019-05-25 19:23] #1091 closed

[2019-05-25 19:23] aadibajpai commented on #1091
Empty checkboxes work but filled checkboxes don't

[2019-05-25 19:23] #1090 closed

[2019-06-02 16:26] MatejMecka commented on #1076
Can the issue be closed due to the Author not providing a sample to test the bug report?

[2019-06-02 16:28] MatejMecka commented on #1072
Can this issue be closed as it seems that it's fixed?

[2019-06-02 17:16] #1072 closed

[2019-06-04 23:44] rayfoss commented on #973
These docs are really misleading... `-2` seems to be broken badly with multi track MP4's.

[code]

[2019-06-04 23:47] cfsmp3 commented on #973
Yes. -o1 and -o2 were probably one of the first supported parameters and
they came from the 608-only days, where you could have 2 languages only.

If multilanguage doesn't work in .mp4 it's not really an issue with -o2
(which it's likely to just be implemented in 608).

On Tue, Jun 4, 2019 at 4:44 PM Ray Foss <notifications@github.com> wrote:

[2019-06-05 17:46] rayfoss commented on #1076
I was able to reproduce the bug with `ccextractor -out=webvtt full.mp4` on 0.88. Should be noted that `-o full.vtt` fixes the issue, but that's not an option when you have multiple sub tracks.

http://samples.ffmpeg.org/ffmpeg-bugs/trac/ticket4616/Full%20Episode.mp4

Please reopen.

On a somewhat separate matter, webvtt-full output causes gnome editor to interpret as GBK?
![Screenshot from 2019-06

[2019-06-05 19:05] rayfoss commented on #1076
There appears to be no guard for writing the header
https://github.com/CCExtractor/ccextractor/blob/414a57d97e5f2b5cc91516d83da678ad505804f7/src/lib_ccx/ccx_encoders_common.c#L445

using `-o out.vtt` will output srt.

[2019-06-05 20:52] rayfoss commented on #1076
Separate bug...

Our x-timestamp-map is way down. this breaks ffmpeg!

[2019-06-06 00:02] cfsmp3 commented on #1074
This was solved already. Note that your change made it compile on Windows but broke it on linux.

[2019-06-06 00:02] #1074 closed

[2019-06-06 22:47] rayfoss opened #1093 "[BUG] Multi-track webvtt subtitles come out decapitated"
**Description**
The WEBVTT header is missing from all but one of the output subtitles. Is this intended behaviour? FFMpeg refuses to process these, for good reason.

**Video links (replace text below with your links)**

[tripple.zip](https://github.com/CCExtractor/ccextractor/files/3263768/tripple.zip)

**Necessary information**
- CCExtractor version (using the --version parameter preferably) : ta

[2019-06-12 21:45] rayfoss opened #1095 "[BUG] Apple ProRes MOV with CEA-608 track has wrong offset"
- [x] I am an active contributor to CCExtractor.

**Necessary information**
- What platform did you use? - [x] Linux

https://storage.googleapis.com/learn-video/Testing/Teeny%20Test.zip
[raw eic track dump.zip](https://github.com/CCExtractor/ccextractor/files/3283236/raw.eic.track.dump.zip)

===============================================

This has stumped me. Decoding Final Cut CEA-608 from Maste

[2019-06-22 05:46] atulpatildbz commented on #806
I get the same error. Couldn't find a solution yet.

[2019-06-24 21:43] rboy1 opened #1096 "[QUESTION] Instructions for using ccextractor with Tesseract 4"
Please prefix your issue with one of the following: [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.88**

**My familiarity with the project is as follows (check one, eg [X] - and delete unchecked ones):**

- [ ] I have never used CCExtractor.
- [ ] I have used CCExtractor just a couple of times.
- [X] I absolutely love CCExtractor, but have not contributed previou

[2019-06-25 10:21] soulspark666 commented on #1096
According to https://github.com/UB-Mannheim/tesseract/wiki Tesseract 5.0 exists. I think updating the ccextractor to 5.0 build and then updating the OCR.md will be a better option.

[2019-06-26 18:47] rboy1 commented on #1096
In the meanwhile can someone confirm if 0.88 works with Tesseract v3 or only v4 or both and/or if there's any difference in the stability/quality between the two.

[2019-07-26 07:06] windyboy1704 commented on #102
This issue still happens on 0.88, other formats work normally. I also tried using SCC_RIP and it gives `no caption found` when the caption stream is CEA-608.
[Sample iTunes preview video](https://github.com/CCExtractor/ccextractor/files/3434596/mzvf_1402545844578339563.640x480.h264lc.U.p.zip)

[2019-08-06 06:48] #1076 closed

[2019-08-29 12:37] Murmur opened #1103 "Param "-delay" does not work in out=webvtt but works in out=srt output"
(ccextractor version 0.88 from github)

Using `out=webvtt` does not add 4sec delay to text timings but `out=srt` from the same input oboyes a delay parameter fine.
[code]
Is it a problem here in webvtt.c file, see srt vs webvtt variable handling `ms_start,ms_end,subs_delay` values?
https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_encoders_webvtt.c#L399
https://github.com/CCEx

[2019-09-03 08:35] jakubvojacek opened #1104 "[BUG] DVB subtitles timing issue"
CCExtractor version (using the --version parameter preferably) : **0.88** (724d756aa6b90daf83e7a652f956ce29c20ac210)

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug

[2019-09-09 23:39] djotaku commented on #1064
I know it's been 9 months, but when I change the config argument in the tarball.sh, it still says it doesn't have that file.

[2019-09-10 00:00] djotaku commented on #1064
I'm making some potential headway changing the linux/Makefile.am. If I can get it to go all the way, will make a PR

[2019-09-15 14:01] djaydev opened #1107 "[QUESTION] -o [filename] ignored?"
Ccextractor ran with following command:
ccextractor /watch/The\ Boondocks/Season\ 4/The\ Boondocks\ -\ S04E01\ -\ Pretty\ Boy\ Flizzy.mkv -o /watch/test.srt

No matter what filename I specify after "-o" it uses what seems to be the default filename.

It detects, extractors subs, and everything else correctly.  Filename is the only issue.

Resulting output from Ccextractor after above command:

CCE

[2019-09-16 15:08] thealphadollar commented on #1107
@djaydev Thank you for the report, I'll try to look into this around 20th and get back to you with more details or a fix.

[2019-09-17 18:20] thealphadollar commented on #1107
@djaydev Can you please provide the video file as well if it is not under any license?

[2019-09-17 20:50] cfsmp3 commented on #1107
I haven't look into this but my (uneducated) guess would be that this only
affects .mkv files (but probably all of them).

On Tue, Sep 17, 2019 at 11:20 AM Shivam Kumar Jha <notifications@github.com>
wrote:

[2019-09-17 21:23] djaydev commented on #1107
@thealphadollar I don't have a sample file I can upload but it happens on every MKV file I have,  .TS or .MP4 containers all work fine with "-o" and the codec doesn't seem to make a difference.

[2019-09-18 03:09] cgarz opened #1108 "[QUESTION] How do you save DVD closed captions with position data?"
OS: Linux (Archlinux)
Version: 0.88 (git bc3d729e30a751feb9b854a54c085f0e81a99134)

When extracting closed captions (EIA-608) from a DVD everything works fine but they do not display in the correct positions like they do when played from the DVD.

I have tried with ASS and SSA which should have the ability to position the subtitles but they are just placed at the bottom like SRT.

Does anyone know

[2019-09-18 13:39] jamesbigler opened #1109 "[BUG] Garbled SRT from over air transport stream (TS) encoded from HDHomerun Extend"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.88 (compiled on OSX with brew)

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/m

[2019-09-18 13:43] cfsmp3 commented on #1108
The format g608 accurately shows the screen positioning. May or may not be useful to you though.

[2019-09-18 19:43] cgarz commented on #1108
Thanks I've tried that now and looking at it in a text editor it definietly works to preserve the position data.
However I am unable to use it as a subtitle in mpv.
I am also unable to find any information about it via Google. Let alone a player or tool that can read or convert it.

Is there any way to convert this to SSA or some other position capable format?

[2019-09-21 03:01] cfsmp3 commented on #1108
You could create a quick converter - text file to text file is quite
easy. This is a format we invented for a specific user that needed to
have access to the 608 grid, which is what g608 gives you, but
definitely unsupported by any other tool or player, so if it contains
what you need it's up to you to take it to the next step I'm afraid.

On Wed, Sep 18, 2019 at 12:43 PM cgarz <notifications@gith

[2019-09-21 21:28] cgarz commented on #1108
I was considering writing a quick python script but after a lot of searching I was able to find a solution with ffmpeg.
Looking at the ASS file it spits out It would have taken me quite a while to get it working nicely.

If anyone is interested the command was as follows:
`[...] | ffmpeg -f lavfi -i 'movie=pipe\\:0[out0+subcc]' -map s subs.ass`
stdin is from [dvd_copy](https://github.com/beandog/d

[2019-09-26 22:31] rboy1 commented on #1096
Anyone thoughts?

[2019-09-28 02:34] thealphadollar commented on #1109
This issue is definitely reproducible though I have not been able to figure out what could be actually causing the issue at first place. @cfsmp3 Any leads?

[2019-09-28 02:58] thealphadollar commented on #1107
@djaydev Hey, I cannot reproduce the error since for me it is respecting the `-o` parameter given and producing the output of the file in the desired filename in the specified folder. Below is the argument I used exactly after compiling the latest version of CCExtractor with commit hash 0f2a5b3

`../ccextractor ./Discovery\ Channel\ -\ Worlds\ Best\ Beaches\ HD\ 720p.mkv -o subs.srt`

I built this

[2019-09-28 03:05] djaydev commented on #1107
Since it's working for you it has to be something I'm doing on my system.  Thanks for looking into it.

I compiled from master branch on Sept 10, 2019

[2019-09-28 03:05] #1107 closed

[2019-09-28 03:24] cfsmp3 commented on #1109
Do the files play correctly in VLC? The subtitles I mean.

If yes, we have a bug. Otherwise I'd say it's a problem with the input.

On Fri, Sep 27, 2019, 19:34 Shivam Kumar Jha <notifications@github.com>
wrote:

[2019-09-28 03:33] jamesbigler commented on #1109
They seem to play fine for me with Windows VLC 3.0.8.

They also played fine with EyeTV as mentioned in the original report.

[2019-09-28 12:58] thealphadollar commented on #1109
The test.ts file you've provided isn't working in either of my video
players. Can you please provide another file?

On Sat, Sep 28, 2019 at 9:03 AM jamesbigler <notifications@github.com>
wrote:

[2019-09-28 13:45] jamesbigler commented on #1109
What video player are you using?

I’m not sure I can provide a different kind of file since the source is
over the air transport streams.

What versions of VLC have you tried if you tried VLC?

On Sat, Sep 28, 2019 at 6:58 AM Shivam Kumar Jha <notifications@github.com>
wrote:

[2019-09-28 13:49] thealphadollar commented on #1109
[code]

On Sat, Sep 28, 2019 at 7:15 PM jamesbigler <notifications@github.com>
wrote:

[2019-09-29 04:30] jamesbigler commented on #1109
That’s the same version (at least by number) I used on Windows. I’m not
sure what the differences are between the same version in different
systems.

What error do you see?

On Sat, Sep 28, 2019 at 7:49 AM Shivam Kumar Jha <notifications@github.com>
wrote:

[2019-09-29 11:01] thealphadollar commented on #1109
It's just not playing.

On Sun, Sep 29, 2019 at 10:00 AM jamesbigler <notifications@github.com>
wrote:

[2019-09-29 13:46] cfsmp3 commented on #1109
It plays for me, but the captions in VLC also appear totally garbled.

[2019-09-30 04:11] jamesbigler commented on #1109
OK, I was able to reproduce the (no) playback issue on OSX.  VLC said it
was getting end of file.  Not sure why, because it is a transport stream
and doesn't need an EOF.

I was able to get it to play back by
1. opening up VLC first with no file.
2. File->Advanced Open File.
3. Click "Browse".
4. Select test.ts.
5. make sure to select "Treat as pipe rather than as file".

Because TS is a stream fo

[2019-09-30 04:53] cfsmp3 commented on #1109
It plays in VLC for me but the closed captions VLC displays are garbled.

On Sun, Sep 29, 2019 at 9:11 PM jamesbigler <notifications@github.com> wrote:

[2019-09-30 05:15] jamesbigler commented on #1109
Oh, I missed your second email about being able to play the file.

I'm not sure why the same file using the same version of VLC would have
different behavior.  That's frustrating.

Which stream are you using?  I'm using "Closed captions 1"

Do you absolutely need to see VLC play the CC back correctly?  I can
provide more screen shots if needed.

[image: vlcsnap-2019-09-29-23h13m01s365.png]

Captur

[2019-09-30 15:49] madnesofjuice opened #1111 "[BUG] Burned-in extraction not working"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : CCExtractor detailed version info
        Version: 0.88

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ X] I have read and understood the [contributors guide](https://github.com/CCExtr

[2019-09-30 16:53] fredsky2003 opened #1112 "[first use] issues"
using CC extractor GUI in Windows

1) i got some NUL characters when extracting to SRT or TTML. i've to use notepad++ to get rid of those "\0".  please remove them all

2) make Encoding : UTF8 the default option. in the Preview screen, please display correctly those UTF8 characters (instead of a diamond with "?")

3) please add a SCC output option, that will be "as in the source". that means that

[2019-10-01 15:42] cfsmp3 commented on #1109
Using "closed captions 1" in VLC I get lots of garbled text.

It's not that we need it to play well in VLC. But if CCExtractor shows it garbled, and VLC shows it garbled, most likely the problem is with the input data and not with the software.

This is VLC for me:

![image](https://user-images.githubusercontent.com/5949913/65977800-69b77900-e427-11e9-8250-a088b3b45ca9.png)

[2019-10-01 15:44] cfsmp3 commented on #1112
Each of these things need to go in its own ticket.

Samples are needed.

[2019-10-01 20:27] jamesbigler commented on #1109
Buddy at work tried on Linux with version VLC v 3.0.7 Vetinari, and it showed the captions correctly.

Would there be an issue with localization or some other aspect of VLC that would treat the data differently between our systems?

[2019-10-02 05:00] cfsmp3 commented on #1109
Plays OK for me in 3.0.8. Garbled in 2.2.3.

My first idea (haven't verified it) is that HDHomeRun is storing the captions in display order instead of decoding order along the frames and it's actually us garbling them while sorting. But this is just a theory.

In any case I guess a reasonable approach is go over the change file in the VLC and find where they fixed it, then look at the actual sourc

[2019-10-08 02:10] anthonyeden opened #1113 "[BUG] eng.traineddate not found! No Switching Possible"
CCExtractor version (using the --version parameter preferably) : **0.88**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't a

[2019-10-14 14:02] navimakarov opened #1114 "[PROPOSAL] Add kid-friendly(-kf) parameter"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2019-10-17 00:01] rboy1 opened #1115 "[BUG] Using -sc option crashes ccextractor"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.88**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUT

[2019-10-18 14:52] cfsmp3 commented on #1112
closing, see previous comment

[2019-10-18 14:52] #1112 closed

[2019-10-29 05:51] ahmedtds opened #1116 "Windows build of 0.88 never works"
It just crashes every time, you probably never tested it on a 32bit system so that's why nobody still noticed it, I'm waiting for months maybe you will notice and fix it but nope

Please fix it, thanks

This is the build I'm talking about: https://github.com/CCExtractor/ccextractor/releases/download/v0.88/ccextractor.0.88-windows.binaries.zip

0.85 works without an issue

OS: Windows 7 32bit

[2019-10-29 07:56] MatejMecka commented on #1116
Hey there! Can you leave us any stacktrace or a way how to reproduce it? We know the environment you are running but can we achieve the crash?

[2019-11-02 04:35] ahmedtds commented on #1116
Hi, just try to use it on 32bit Windows 7 you'll see it will always crash. Open the GUI, drag and drop a mp4 file and Press start and it will crash. Like I said it just never works since 0.88 came out.

[2019-11-03 13:24] sp2703 commented on #1115
I'm wanting to work on this. Any leads where to start off?

[2019-11-03 18:27] cfsmp3 commented on #1115
Start by reproducing the issue locally.

On Sun, Nov 3, 2019 at 5:24 AM sp2703 <notifications@github.com> wrote:

[2019-11-05 06:01] HaveAGitGat opened #1117 "[QUESTION] Quick way to check for Closed Captions"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**My familiarity with the project is as follows (check one, eg [X] - and delete unchecked ones):**

- [ X] I have used CCExtractor just a couple of times.

**Necessary information**
- Is this a regression (did it work before)? [X] NO | [ ] YE

[2019-11-05 06:15] HaveAGitGat commented on #1117
I've started using `-endat 01:00 --screenfuls 1` so it stops after the first minute which is a lot quicker but still takes a couple of seconds to process and there's the possibility that a file will have closed captions after the first minute.

[2019-11-07 04:54] cfsmp3 commented on #1117
There's no way to be sure that there's no captions without processing the whole file.

[2019-11-07 04:54] #1117 closed

[2019-11-07 18:27] vikramcs commented on #1117
I've started using -endat 01:00 --screenfuls 1 so it stops after the couples of minute which is a lot quicker but still takes a couple of seconds to process and there's the possibility that a file will have closed captions after the first minute.
</head>
  <body>
    <par>
      <video region="videoregion" src="Movie_Sample.mov"/>
      <textstream region="textregion" src="Movie_Caption.qt.txt"/>

[2019-11-07 18:30] vikramcs commented on #1115
I keep encountering an error message, randomly, when using the following options:

ccextractorwin "" -ttxt -nofc -noru -trim -customtxt 1110110 -o CCtemp.txt

It is the customtxt option that is causing the error - without it, the error does not occur. I would love to supply you with one of the files that is causing the error, however, they are very large in size - they range from 19 to 30 GB. I tr

[2019-11-07 18:31] vikramcs commented on #1114
The first time you load a shared parameter (as part of a family) into a project, the definition of the parameter is stored in the project. If you change the group for the parameter in the family, and reload the family into the project, it does not override the project definition because that would affect other families that use this shared parameter. However, the definition of a non-shared family

[2019-11-07 18:33] mackworth commented on #1007
So the good news is this looks like this bug was patched over in 0.88.
 (From Release notes: `- Fix: Warn instead of fatal when a 0xFF marker is missing`' )

However, the log still reports random failures (11/20 on my last run). It still says `TS continuity counter not incremented prev/curr 4/15.`(and depending on the run, I've seen 2, 9, or 15 for the "curr" number, but always 4 for the `prev`).

[2019-11-07 18:34] vikramcs commented on #1116
configuration.yaml entries and (fill out even if it seems unimportant):

homekit:
port: 51827
ip_address: 192.168.1.116
filter:
include_domains:
- alarm_control_panel
- light
- switch
- fan
- climate
- media_player
- lock
- sensor

Traceback (if applicable):

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/homeassistant/setup.py", line 151, in _async_setup_compone

[2019-11-07 18:37] HaveAGitGat commented on #1117
@vikramcs  ?

[2019-11-07 18:37] vikramcs opened #1118 "Polylang issue"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2019-11-07 18:38] MatejMecka commented on #1116
Hey @vikramcs this is not the correct repository you are filling an issue. Since the error appears there file it there :)

Thanks

[2019-11-07 18:39] vikramcs commented on #1111
I changed a few settings from the default initially. then after this error, changed back to defaults on the "About & Save" TAB.

I'll be opening separate issue for the garbled text in MCEBuddy

Command line per GUI for modified settings:
C:\Program Files (x86)\CCExtractor\ccextractorwinfull.exe --gui_mode_reports -in=wtv -autoprogram -out=srt -bom -cf C:\Users\sj\Desktop\CCExtractor_Elementary_Str

[2019-11-07 18:41] vikramcs commented on #1109
What video player are you using?

I’m not sure I can provide a different kind of file since the source is over the air transport streams.

What versions of VLC have you tried if you tried VLC?

On Sat, Sep 28, 2019 at 6:58 AM Shivam Kumar Jha <notifications@github.com

wrote:

The test.ts file you've provided isn't working in either of my video players. Can you please provide another file?

[2019-11-07 18:44] vikramcs commented on #1108
Install DVDDecrypter
Install CCExtractor
Extract the data from the DVD using DVDDecrypter
File selection
Extract the transcript with CCExtractor
That is, during a live broadcast of a special event or of a news program, captions appear just a few seconds behind the action to show what is being said. A stenographer listens to the broadcast and types the words into a special computer program that add

[2019-11-07 18:45] vikramcs commented on #1104
The other issue I'm finding when editing files that have run through OCR is that the outputted .srt file doesn't provide any gaps on screen when there's no talking.

What I mean is this.
I've just been editing a documentary series.

Firstly, no matter when the talking actually first occurs, the first line of dialogue is shown right at the start of the .srt.

Also, when the title music plays and th

[2019-11-07 18:47] vikramcs commented on #1103
When you are ready to export, select your timeline and SOMETHING else in the Project Window. Then when you export and go to the Captioning window- the export sidecar option will magically work.

Hope this saved you hours of frustration.
This works for closed captions- in other words, captions created with a separate captions layer. When that layer is on your timeline above the video and your expor

[2019-11-07 18:48] vikramcs commented on #1096
CCExtractor is a tool used to produce subtitles for TV recordings from almost anywhere in the world. We intend to keep up with all sources and formats.

Subtitles are important for many people. If you're learning a new language, subtitles are a great way to learn it from movies or TV shows. If you are hard of hearing, subtitles can help you better understand what's happening on the screen. We aim

[2019-11-07 18:49] vikramcs commented on #1095
There are many high-end hardware and software solutions for encoding closed captions for broadcast purposes, but if you are using a file-based workflow Apple Compressor is an easy and cost-effective option.
This tutorial describes how to add CEA-608/708 closed captions to video using Compressor and an SCC output file from CaptionSync.
https://youtu.be/-r59sSiDBKU

[2019-11-07 18:50] canihavesomecoffee commented on #1118
This seems unrelated to us. Closing.

[2019-11-07 18:50] #1118 closed

[2019-11-07 18:50] vikramcs commented on #1093
Web Video Text Tracks Format (WebVTT) is a format for displaying timed text tracks (such as subtitles or captions) using the <track> element. The primary purpose of WebVTT files is to add text overlays to a <video>. WebVTT is a text based format, which must be encoded using UTF-8. Where you can use spaces you can also use tabs. There is also a small API available to represent and manage these trac

[2019-11-07 18:52] vikramcs commented on #1076
The WebVTT (Web Video Text Tracks) format is intended for marking up external text track resources in connection with the HTML <track> element.

WebVTT files provide captions or subtitles for video content, and also text video descriptions [MAUR], chapters for content navigation, and more generally any form of metadata that is time-aligned with audio or video content.

The majority of the current

[2019-11-07 18:53] vikramcs commented on #1075
Hi,
I was talking about ffmpeg dlls, not the ffmpeginterop project. The dlls created as part the of compilation process described at https://trac.ffmpeg.org/wiki/CompilationGuide/WinRT are required by the ffmpeginterop project. The later will not build without these (it must be why VS says the project is outdated, it was never built).

Check that "make" an "make install" created dlls, check the pa

[2019-11-07 19:01] canihavesomecoffee commented on #1117
@HaveAGitGat It's some sort of spam bot...

[2019-11-08 19:06] cfsmp3 commented on #1093
@rayfoss could you confirm if this is still the case? (there was some webvtt related work some time ago, so this might or might not be fixed). Thanks.

[2019-11-08 19:08] cfsmp3 commented on #1095
@rayfoss does this happen with all files, or just a specific one?
Of all of them, is it all of them in general or all of them only if they come from Final Cut?
Do the subs play in sync when played with VLC or ffplay?

[2019-11-08 19:30] rayfoss commented on #1095
Happened with all of them... They all come from final cut. We needed to use
that format for DVD authoring :/

On Fri., Nov. 8, 2019, 13:08 Carlos Fernandez Sanz, <
notifications@github.com> wrote:

[2019-11-08 21:17] cfsmp3 commented on #1095
But is this problem specific to CCExtractor or also common to VLC, etc?
Maybe final pro is just breaking the 608 data?

On Fri, Nov 8, 2019 at 11:30 AM Ray Foss <notifications@github.com> wrote:

[2019-11-09 01:02] rayfoss commented on #1095
Quicktime is the only player I know who can read it... aside from compressor/final cut. Which is extra lame. When it does, it is accurate.

[2019-11-09 07:11] rayfoss commented on #1095
I would agree... if Quicktime and every Apple product that supports it didn't work seamlessly :/

[2019-11-10 01:45] HaveAGitGat opened #1119 "[QUESTION] Detect 'empty' closed captions with CCExtractor?"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.88

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [ x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.

[2019-11-10 08:28] The-Bart-The opened #1120 "[PROPOSAL] Add an option to output Scenarist Closed Caption format (*.SCC) and/or McPoodle's Disassembly format (*.CCD)"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : THIS WOULD APPLY TO VERSIONS AFTER **0.88**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextra

[2019-11-10 20:11] mackworth opened #1121 "[BUG] Hang while processing video"
CCExtractor version : 0.88
The video linked below causes ccextractor to go into an infinite loop (100% CPU). it won't even terminate from a SIGTERM (although it says `received SIGTERM, terminating as soon as possible`).

The file is playable in VLC and Quicktime with no visible issues. It is convertible in ffmpeg with significant reported problems (as reported by both ccextractor and ffmpeg).

For

[2019-11-11 20:48] rboy1 commented on #1115
Patched here:
https://github.com/CCExtractor/ccextractor/pull/1122

[2019-11-12 02:02] #1115 closed

[2019-11-15 03:48] rboy1 commented on #757
Just checking in if this would be something that would be addressed in .89?

[2019-11-15 06:51] #1119 closed

[2019-11-16 23:24] RogerVFbr opened #1124 "[QUESTION] Can't PIP3 INSTALL python modules under OSX High Sierra (Python 3.7)"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : current on Github.

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/

[2019-11-17 02:46] cfsmp3 commented on #1124
This is a python question actually...

Probably replacing that line with
[code]

Will fix the problem.

@thealphadollar can you take a look at our general Python3 support?

[2019-11-17 04:18] thealphadollar commented on #1124
Sure, would love to. I'll patch this up soon as well.

On Sun, 17 Nov, 2019, 8:17 AM Carlos Fernandez Sanz, <
notifications@github.com> wrote:

[2019-11-17 05:43] thealphadollar commented on #1124
Hey @RogerVFbr what you are actually installing are the extension modules for CCExtractor available [here](https://github.com/Diptanshu8/CCExtractor-extension-module). @cfsmp3 Are these modules officially supported? If yes, can we bring them under our organisation so that better support can be provided?

[2019-11-17 17:04] cfsmp3 commented on #1124
@thealphadollar I'm unsure of the status of these modules (I don't have high hopes for them to be honest) but I've forked that repo into our org and given you write permissions.

Feel free to take over its maintenance.

[2019-11-19 17:46] RaXorX commented on #1113
Apparently you can fix this by putting the eng.traineddata (by downloading it through the GitHub repo or copying it from the tessdata directory from the installation folder.

Nonetheless, all you have to do is create a folder named tessdata inside CCextractor folder where the "ccextractorwinfull.exe" is and it'll detect the eng.traineddata as usual.

Although, this only works for the English langu

[2019-11-19 18:16] RaXorX commented on #224
@Abhinav95 What is the correct location to have the traineddata files in? I am running tesseract v4.1.0 (5.0.0 was in alpha stage so didn't know if it was a good idea or not to have that one).
Anyways, I am on windows 10 x64, I have the Tesseract installation folder in path variable. I have the required traineddata files downloaded in tessdata folder inside the installation path.

I'm not sure wha

[2019-11-20 01:26] ahmedtds commented on #1116
any progress?

[2019-11-20 05:09] cfsmp3 commented on #1120
Send a pull request? :-)

[2019-11-21 19:39] tozawa-xumo commented on #1076
There is a small error in the X-TIMESTAMP-MAP.
X-TIMESTAMP-MAP=MPEGTS:65442, LOCAL 00:00:00.000
should be corrected to
X-TIMESTAMP-MAP=MPEGTS:65442,LOCAL:00:00:00.000
(no space before "LOCAL" and a colon needed between "LOCAL" and "00:00:00.000"

It's a simple fix on line 217 of ccx_encoders_webvtt.c

[2019-11-21 19:47] aadibajpai commented on #1076
Start a pull request? 😄

[2019-11-21 19:57] tozawa-xumo commented on #1076
If that makes things easier for you, I would.

[2019-11-21 20:12] tozawa-xumo opened #1125 "[BUG] X-TIMESTAMP-MAP formatting error"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**
latest stable building GitHub

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/b

[2019-11-22 15:38] prs-prabodh commented on #1125
Can I work on this one?

[2019-11-22 17:09] tozawa-xumo commented on #1125
Sure.  I don’t heave time to make a pull request.  If you could work on it, I would appreciate it.

Thanks

From: Prabodh Ranjan Swain <notifications@github.com>
Reply-To: CCExtractor/ccextractor <reply@reply.github.com>
Date: Friday, November 22, 2019 at 9:06 AM
To: CCExtractor/ccextractor <ccextractor@noreply.github.com>
Cc: Toshiro Ozawa <tozawa@xumo.com>, Author <author@noreply.github.com>
Sub

[2019-11-22 18:22] ozt860071 opened #1127 "[Proposal] Adding an option to enable/disable X-TIMESTAMP-MAP in WebVTT"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2019-11-26 05:30] #1125 closed

[2019-11-28 02:21] boog opened #1128 "[BUG] Segmentation fault on VOB"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) :
CCExtractor 0.88, Carlos Fernandez Sanz, Volker Quetschke.
Teletext portions taken from Petr Kutalek's telxcc
--------------------------------------------------------------------------
CCExtractor detailed version info
	Version: 0.88
	Git commit: 280b

[2019-11-30 15:24] cfsmp3 commented on #1116
@ahmedtds we have a task for this during GCI, hopefully someone will give it a try.

[2019-12-03 11:30] nyuszika7h opened #1131 "[BUG] SIGABRT with multiple input files"
CCExtractor version (using the --version parameter preferably) : **0.88**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or t

[2019-12-04 23:34] NilsIrl commented on #1127
What happens if `X-TIMESTAMP-MAP` is disabled and the WebVTT cue time 0 *doesn't* map to an MPEG-2 timestamp of 0?

[2019-12-04 23:35] NilsIrl commented on #1127
What would be the reason to not have the `X-TIMESTAMP-MAP`?

[2019-12-04 23:40] NilsIrl commented on #1127
Wouldn't it be better to have the `X-TIMESTAMP-MAP` header present all the time?

[2019-12-05 00:34] ozt860071 commented on #1127
You’ll lose caption, and in worst case, video freeze.

[2019-12-05 00:36] ozt860071 commented on #1127
Since it is HLS requirement, this may affect negatively in non-HLS use cases.  I hope not.
I don’t mind having it all the time, though.

[2019-12-05 00:38] ozt860071 commented on #1127
I am fine with this.  But I don’t know how it affects in other use cases where this is not required.

Thanks

[2019-12-05 10:53] NilsIrl commented on #1127
@cfsmp3 What should I do? I feel like the best here is to always use `X-TIMESTAMP-MAP`.

[2019-12-05 20:09] NilsIrl commented on #1127
There is also the general problem that `ccextractor` creates files even when it can't find anything making this problem more general and not limited to `.vtt`. @cfsmp3

[2019-12-05 20:27] ozt860071 commented on #1127
But for HLS at least, I need an output even if no caption text is contained in the .vtt file.  The client needs the get the timing info from X-TIMESTAMP-MAP for synchronization.

Thanks

[2019-12-05 21:02] NilsIrl commented on #1127
@ozt860071 why would you need to synchronize if you don't have subtitles?

[2019-12-05 21:24] NilsIrl commented on #1128
Somehow, I suddenly can't reproduce it

[2019-12-05 23:38] Sudoxo commented on #1128
I've compiled with flag -g, runned valgrind with `--leak-check=full --show-leak-kinds=all` and it made big log file, still I don't know in which file of code ccextractor crashes.
Full log: [log2.txt](https://github.com/CCExtractor/ccextractor/files/3929583/log2.txt)
Last lines of log file:

`==18757== 18,635,728 bytes in 1 blocks are still reachable in loss record 396 of 397
==18757==    at 0x4C2D

[2019-12-05 23:48] cfsmp3 commented on #1128
I'd say that's not compiled with -g or you'd have line numbers.

But nevertheless that output looks HORRIBLE. For example:
[code]

That's of course asking for trouble. What value is that?
[code]
We should be using memmove() in this case, IF (that's a big if) we're actually trying to move inside the buffer.

The actual crash:
[code]

We're calling memset over a NULL pointer. Of course it's going to

[2019-12-06 00:35] cfsmp3 commented on #1127
It's part of the HLS specification. If there are subtitles in WebVTT:

Subtitles

5. Subtitle requirements
5.1. Subtitles MAY be provided.
5.2. Subtitles MUST be WebVTT (according to the HLS specification) or IMSC1 in fMP4.
5.3. WebVTT subtitles MUST be in text files, with an X-TIMESTAMP-MAP according to the HLS specification.

References:
https://developer.apple.com/documentation/http_live_stream

[2019-12-06 01:33] Sudoxo commented on #1128
Okay I've run this correctly and now I see that issue is in **dvd_subtitle_decoder.c:99**

[code]

So I think that I have to change memset to memmove now, is that right?

[code]

[2019-12-06 06:19] cfsmp3 commented on #1128
No, you can see there that the error is that we're memset()ing on a NULL pointer. The pointer comes from that malloc(), and the reason you're getting a NULL pointer is that you are asking for a negative amount of memory (since we knew that we had a negative height).

So there's two options for now
1) Figure out why we are getting a negative height. Is it corrupt data, or is our parser broken?
2) I

[2019-12-06 10:56] NilsIrl commented on #1127
The thing is that you can't synchronize between 2 things when you're missing 1 of the 2, in this case subtitles.

[2019-12-06 18:41] cfsmp3 commented on #1127
An empty subtitle file is not the same as no subtitle file. If there's a subtitle file even if it has no actual subtitles inside you need to be able to know where it starts relative to the video.

In any case if the specs say that's the way it is then that's what we have to implement, unless you want to get in touch (you can) with the RFC8216 writers and discuss :-)

Otherwise we're just not stand

[2019-12-06 21:35] flabbet commented on #1116
[Release.zip](https://github.com/CCExtractor/ccextractor/files/3934088/Release.zip) I succesfully built it, included zip with binary. You can check it out.

[2019-12-06 22:06] ahmedtds commented on #1116
your zip only has ccextractorgui.exe, it's useless without command line program (ccextractorwin.exe), and ccextractorwin.exe is the one which crashes after pressing start button in gui.

[2019-12-07 11:54] flabbet commented on #1116
Edited commend with updated files

[2019-12-07 19:35] cfsmp3 commented on #1116
Here's the 4 binaries I manage to build with VS2019. In theory one of the profiles is WinXP compatible, but I don't know. The old XP profiles (v120 and v110) just don't produce any binary due to dependency link errors. Rebuilding tesseract for WinXP compatibility is definitely something I really don't want to do.

Anyway @ahmedtds let us know if this solves the problem (and if yes, which of the bi

[2019-12-08 19:58] Sudoxo commented on #1128
When I've added checking if pointer is NULL:
[code]
There is no longer signal 11, but it is still crashing.
Valgrind log after that change:
[code]
How to skip some block completely if the error occurs in **dvd_subtitle_decoder.c** but the loop's in the **general_loop.c**?

[2019-12-08 20:44] cfsmp3 commented on #1128
valgrind is giving you a lot of clues

==6893== Conditional jump or move depends on uninitialised value(s)
==6893==    at 0x40F693: process_data (general_loop.c:664)

What variable is used at that line and why isn't it initialized?

==6893== Source and destination overlap in memcpy(0x98681e9, 0x9868040, 2019)
==6893==    at 0x4C32513: memcpy@@GLIBC_2.14 (in
/usr/lib/valgrind/vgpreload_memcheck-amd

[2019-12-09 00:02] NilsIrl commented on #1120
I will try to have a look at this tomorrow

[2019-12-09 13:36] NilsIrl commented on #1120
Best reference I could find: http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/SCC_FORMAT.HTML

A nice summary: https://resolver.tools/kb/scc-sonic-scenarist/

[2019-12-10 21:46] boog commented on #1128
Thanks for your work on this guys - just pulled from master and rebuilt on Mac with,
./build.command OCR

Then run against test file above and still getting,
`read_pic_data: reached end of bitstream.
PACK header
Subtitle found Stream id:29
PES data read: 912
!strcmp(locale, "C"):Error:Assert failed:in file baseapi.cpp, line 209
Illegal instruction: 4`

[2019-12-14 18:59] NilsIrl commented on #1120
**real** reference: https://www.govinfo.gov/app/details/CFR-2011-title47-vol1/CFR-2011-title47-vol1-sec15-119/

[2019-12-14 19:00] NilsIrl commented on #1120
other tutorial/information:

https://labs.inqscribe.com/exporter/scc/
http://docs.inqscribe.com/2.2/format_scc.html

[2019-12-14 19:16] NilsIrl commented on #1120
For disassembly:

http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/SCC_TOOLS.HTML#ccd
http://docs.inqscribe.com/2.2/format_scc.html#iccd

[2019-12-14 19:21] NilsIrl commented on #1120
This is the extended standard: https://www.techstreet.com/standards/cta-608-e-r2014?product_id=1815447

[2019-12-15 17:25] NilsIrl commented on #1120
@The-Bart-The do you have any files that I can test it on and verify if my output is correct?

[2019-12-15 20:06] eshandhawan51 commented on #1131
@nyuszika7h  Can you please also add the drive link of the videos.

[2019-12-15 20:09] nyuszika7h commented on #1131
I shared it with the email mentioned in the docs, didn’t want to make it public since it’s copyrighted content.

[2019-12-15 20:52] eshandhawan51 commented on #1131
@nyuszika7h the link to the second video "05 I am Fearless and Therefore Powerful (HD).mp4" isn't working can you  please send that again

[2019-12-15 22:48] The-Bart-The commented on #1120
Here you go: https://www.dropbox.com/s/x7cpz57rw5kz2tw/Broadcast%20Source.zip?dl=1 direct from The Sears Tower or wherever my local Fox affiliate broadcasts.

The video file should produce the included SCC & Disassembly files (which I use to generate the included subtitle file).

[2019-12-16 18:04] eshandhawan51 commented on #1131
@nyuszika7h Can you please help reproduce the error ??
I am not able to reproduce it.

[2019-12-17 06:57] The-Bart-The commented on #1120
The rest of the Disassembly standard is linked from the main McPoodle page here http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/CC_CHARS.HTML for character codes and here http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/CC_CODES.HTML for control codes.

[2019-12-22 04:02] cfsmp3 commented on #1116
Closing due to user not responding.

[2019-12-22 04:02] #1116 closed

[2019-12-22 12:17] NilsIrl commented on #1120
Is there a way I could have more examples?

It would be nice especially if I can have some with colours.

[2019-12-22 17:54] NilsIrl commented on #1104
Investigating

[2019-12-22 18:40] NilsIrl commented on #1104
None of the arguments are relevant to the problem.

[2019-12-22 18:50] NilsIrl commented on #1104
mpv gives the same output as ccextractor. (There aren't any pause between the subtitles)

I couldn't test on vlc as vlc doesn't want to open the file

[2019-12-22 19:08] NilsIrl commented on #1104
There are 2 subtitle stream in the file. Stream 2 seems to correspond with the output given by CCExtractor and has no pauses between the subtitles.

[2019-12-22 19:08] NilsIrl commented on #1104
To me, there is no bug here

[2019-12-22 19:20] NilsIrl commented on #1104
If the timestamps are supposed to be in sync with the video, the timestamps aren't in sync with the ones given by mpv.

The problem is not only that there are gaps between the timestamps but that the timestamps are wrong

[2019-12-22 19:33] NilsIrl commented on #1104
This line seems to be the origin of the problem:

https://github.com/CCExtractor/ccextractor/blob/c1c0627dab772c3626b913ac9113f7a16c2e0773/src/lib_ccx/dvb_subtitle_decoder.c#L1689

[2019-12-22 21:01] The-Bart-The commented on #1120
Answering your second question first:

You can generate examples by using older versions of CCExtractor to convert to McPoodle's RAW format and then using raw2scc.exe and ccasdi.exe from SCC_TOOLS to create the *.scc and *.ccd files, respectively.

I use CCExtractor 0.69 to generate the RAW files because it's the last version that [both worked for me **AND** outputted only caption data in the RAW

[2019-12-22 21:04] NilsIrl commented on #1120
It should be okay now that you've told me how to do it myself.

[2019-12-22 22:04] The-Bart-The commented on #1120
https://www.dropbox.com/s/kko531yt37qq5n7/further%20examples.zip?dl=1

[2019-12-23 15:20] NilsIrl commented on #1104
@cfsmp3 is there any possibility this could be a regression?

[2019-12-23 16:40] NilsIrl commented on #1104
May or may not be the function that collects the timings

https://github.com/CCExtractor/ccextractor/blob/c1c0627dab772c3626b913ac9113f7a16c2e0773/src/lib_ccx/ts_functions.c#L741

[2019-12-23 17:17] NilsIrl commented on #1103
Was no able to reproduce, could you give your input file? As different input files use different functions

[2019-12-23 17:20] NilsIrl commented on #1103
I think I know the problem but I would greatly prefer if I had files to test it with

Also @cfsmp3 this seems to be another example where something I feel like should be done earlier in the pipeline rather than be dealt by the encoders.

If I get files to test it with, I will try to make it happen earlier rather than just fixing it for webvtt

[2019-12-23 17:25] NilsIrl commented on #1113
I don't know how relevant it is to your problem, especially because it seems to be a permission issue rather than anything else, but you can use the `TESSDATA_PREFIX` environment variable to show where the data is located

[2019-12-23 18:35] jakubvojacek commented on #1104
Hello @NilsIrl , thank you for looking into this.

I tested the file on VLC again, selected the first track (`DVB Subtitles - [Portuguese]`) and it was showing pauses in between subtitles, unlike the generated srt file by ccextractor. I can provide a recorded video of the VLC player if necessary.

Please let me know if you need any further clarification/

Once again, thank you
Jakub

[2019-12-23 19:01] NilsIrl commented on #1104
No, don't worry, as you can see, I have striked-through my comments, I accidentally used ccextractor's output as subtitles for mpv which is why I was confused.

[2019-12-23 20:53] wmstack commented on #1103
Delay works fine with `webvtt` for me. Also did you mean `... -codec dvbsub -utf8...`? can you provide the `test.ts`

[2019-12-23 20:59] NilsIrl commented on #1103
Looking at the source code, the problem does indeed exist

[2019-12-27 11:36] christina-tzogka opened #1159 "Tickertext skips frames through video"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2019-12-27 16:31] cfsmp3 commented on #1104
Very likely.

[2019-12-27 16:33] cfsmp3 commented on #1113
It would be useful to display a detailed error message that is actually helpful (for example, write which specific directories were checked for the train files, and what actions the user can take to fix the problem - maybe set the env variable, or actually download the required files and where from).

[2019-12-29 17:00] hamelg opened #1161 "[BUG] dvblang option doesn't work"
CCExtractor detailed version info
        Version: 0.88
        Git commit: bc3d729e30a751feb9b854a54c085f0e81a99134
        Compilation date: 2019-12-25
        File SHA256: Could not open file
Libraries used by CCExtractor
        Tesseract Version: 4.1.1
        Leptonica Version: leptonica-1.78.0
        libGPAC Version: 0.7.2-DEV
        zlib: 1.2.11
        utf8proc Version: 2.2.0
        pr

[2019-12-29 22:24] NilsIrl opened #1162 "[BUG] TESSDATA_PREFIX requires path separator at its end"
**Necessary information**
* arguments: just the filename (including location):
[code]

* platform: NixOS (Linux)
* regression: I don't know

**Video links (replace text below with your links)**

I **hope** that it works with any file that uses tesseract (files that store subtitles as images). Because if it isn't then it means that the location of the tesseract data is dealt in a separate way for d

[2019-12-29 22:28] cfsmp3 commented on #1162
Feel free to fix :-)

[code]
in ocr.c

[2019-12-29 22:35] NilsIrl commented on #1162
This environment variable isn't documented so I discovered about it by looking at ocr.c.

[Documentating](https://www.urbandictionary.com/define.php?term=documentating) it should also be fixed.

[2019-12-30 02:07] NilsIrl commented on #3
Doesn't CEA-608 case?

[2019-12-30 07:03] cfsmp3 commented on #3
In theory yes (check the character set here: https://en.wikipedia.org/wiki/EIA-608#Characters )

But if I recall correctly the very first decoders were uppercase only (I can't find the technical reference to support this claim though) but:

https://audio-accessibility.com/news/2018/10/all-caps-vs-mixed-case-type-for-captions/

 Also, this:

https://www.vitac.com/all-caps-captioning/

[2019-12-30 07:41] cfsmp3 commented on #1162
TESSDATA_PREFIX is a tesseract environment variable, not ours (even though we use it).

[2019-12-30 08:31] Murmur commented on #1103
I made a small TS test file  and a text file with detailed debug information. This file has two problems `a) delay not working` and  `b) text extract not working for all tracks (I create a separate ticket for this one)`.
http://akini.mbnet.fi/videos/test1_dvbsub.ts
http://akini.mbnet.fi/videos/test1_readme.txt

File has two dvbsub streams (0xc37 works for srt,vtt,png extract. 0xc4f works only for

[2019-12-30 08:41] Murmur opened #1163 "CCExtractor fails to extract srt,webvtt but spupng is ok from the same track"
I made a small TS test file  and a text file with detailed debug information.
http://akini.mbnet.fi/videos/test1_dvbsub.ts
http://akini.mbnet.fi/videos/test1_readme.txt

File has two dvbsub streams (0xc37 works for srt,vtt,png extract. 0xc4f works only for png extract):
[code]

CCExtractor test commands:
[code]

**Results for text extract**
out=srt+webvtt works fine for 0xc37 track but empty on 0x

[2019-12-30 08:57] Murmur commented on #1067
@nikop Do we have the same issue? This is my ticket for not able to extract second dvbsub text but png image extract works fine for all tracks. https://github.com/CCExtractor/ccextractor/issues/1163

[2019-12-30 13:55] NilsIrl commented on #1162
Yes but how is a user supposed to know, they can use it? In the end, ccextractor, implements it so I believe it should be documented.

[2019-12-31 09:05] cfsmp3 commented on #1162
Go ahead :-)

[2020-01-01 02:42] NilsIrl opened #1166 "[BUG] X-TIMESTAMP-MAP doesn't show up with DVB subs"
CCExtractor version: 0.88

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting isn't already reported.
- [X] I have checked that the i

[2020-01-01 02:45] NilsIrl commented on #1166
Info for some who wants to fix it:

This is the line that calls the function that adds the header (as well as the subtitles) when the input file isn't dvb:

https://github.com/CCExtractor/ccextractor/blob/3a1815163fed76683d7c92b0e7aaf32772e9e074/src/lib_ccx/ccx_encoders_common.c#L1160

This is the line that calls the function that doesn't do that:

https://github.com/CCExtractor/ccextractor/blob/3

[2020-01-01 02:46] NilsIrl commented on #1166
This is the line in `write_cc_buffer_as_webvtt` that adds the header:

https://github.com/CCExtractor/ccextractor/blob/3a1815163fed76683d7c92b0e7aaf32772e9e074/src/lib_ccx/ccx_encoders_webvtt.c#L281

You want this line to be called in `write_cc_bitmap_as_webvtt`

[2020-01-02 16:01] NilsIrl commented on #1096
I can confirm it works with both v3 and v4.

However I've had terrible results with v4

[2020-01-02 16:11] NilsIrl commented on #1096
For me what I did is I just installed tesseract4 instead of tesseract3 and then built it

[2020-01-02 17:31] NilsIrl commented on #1162
This is a regression from this line:

https://github.com/CCExtractor/ccextractor/commit/5dbbe654f05f1b3e5fcdfd6633e6258bed216345#diff-06df1969161cf1684b04764b42380ce6R52

[2020-01-02 17:40] cfsmp3 commented on #1162
I'll let @anshul1912 comment and decide since it's his code and he knows what he's doing :-)

[2020-01-03 20:58] nikop commented on #1067
@Murmur Yes, this seems to be same issue.

[2020-01-05 20:12] nikop commented on #1067
@Murmur

If you want to try and compile yourself:

[ts_tables.diff.txt](https://github.com/CCExtractor/ccextractor/files/4023959/ts_tables.diff.txt)

[2020-01-06 05:36] cfsmp3 commented on #1121
Closing since this seems fixed - @mackworth feel free to reopen if still not working properly.

[2020-01-08 03:03] vr8hub commented on #1111
Is there any update on this? I just encountered this error as well with the `brew` version on Mac, and then re-compiled from source to make sure it wasn't a `brew` issue.

[2020-01-08 07:28] karansdoshi commented on #1166
Hello I am a newbie and I'm interested in solving this issue.Both the functions have the line write_webvtt_header(context) with the same context.What exactly is the issue?Can you elaborate about buffer and bitmap at bit.
[tess.log](https://github.com/CCExtractor/ccextractor/files/4034006/tess.log)

[test1_dvbsub.zip](https://github.com/CCExtractor/ccextractor/files/4034012/test1_dvbsub.zip)
This T

[2020-01-08 08:01] canihavesomecoffee commented on #1111
Well, you'd have to make sure that you compiled the program to enable that feature, as (if I'm recalling it correctly), it's not enabled by default.

[2020-01-08 14:38] vr8hub commented on #1111
Yes, thanks, I discovered that after a lot more time spelunking. The compile guide doesn't mention it at all, the build.command in the Mac directory doesn't mention it, so there's no obvious way for a newbie to know that. I tried using the autotools configure/make in the Mac directory and then took a look at the configure output to discover that it wasn't enabled by default. But enabling it causes

[2020-01-08 15:34] vr8hub opened #1173 "[BUG] Error in ./configure enabling hardsubx on Mac"
CCExtractor version (using the --version parameter preferably) : **0.88 (I cloned the repository immediately before attempting this)**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have ch

[2020-01-10 01:35] #1103 closed

[2020-01-10 01:41] cfsmp3 commented on #1162
@NilsIrl did you test with both tesseract 3 and 4?

[2020-01-10 07:44] NilsIrl commented on #1162
yes

[2020-01-10 18:07] NilsIrl commented on #1131
Should probably closed

[2020-01-10 18:18] NilsIrl commented on #1114
Fixed by #1139

This can probably be closed

[2020-01-10 20:47] NilsIrl commented on #1104
After bisecting I found the commit that made timing *look* sensible for the first time:

016674b0eb4ef09466f9f70575805567fd406bac

This is what it looked like before:

[code]

[2020-01-11 00:13] NilsIrl commented on #1104
a5dcf9242d59b30ae78118a96e914d2adbab04a7 is the commit that made all subtitles one next to the other.

[2020-01-11 00:17] cfsmp3 commented on #1104
I think that was Anshul's original work on DVB, but that specific issue (as
well was many related to times) were fixed in 2017.
So there must be another commit that reintroduced the problem.

On Fri, Jan 10, 2020 at 4:13 PM Nils ANDRÉ-CHANG <notifications@github.com>
wrote:

[2020-01-11 00:18] NilsIrl commented on #1104
So it's a double regression?

[2020-01-11 00:35] cfsmp3 commented on #1104
I'd call it a regression :-) The first implementation did DVB but
timing was broken (completely).
Then it was fixed, by a GCI winner by the way I think in 2016, and
clearly seems to be broken again.
I haven't looked at the code at all but if you're looking into this
some background:

In DVB subtitles are replaced by subtitles- they don't have a
duration, and there isn't a clear screen command. Thi

[2020-01-11 00:52] #1114 closed

[2020-01-11 00:52] #1131 closed

[2020-01-11 03:29] mackworth commented on #1121
Looks good, and it even recovers after the bad part of the file.  Thank you!

[2020-01-11 03:29] #1121 closed

[2020-01-11 03:36] mackworth commented on #780
Just as an update, here's the 3,400 lines of compilation warnings on the current master branch when built on the Mac...
[ccextractorWarnings.txt](https://github.com/CCExtractor/ccextractor/files/4048936/ccextractorWarnings.txt)

[2020-01-11 20:00] NilsIrl commented on #1104
Please keep in mind that it isn't the only problem. The other one is that **all** the subtitles are at the wrong "offset".

For the given input file (telecine.ts), it is exactly (at least what my eyes would qualify as such), 6600 millisecond early.

[2020-01-12 07:59] eshandhawan51 commented on #1128
@cfsmp3  Is this issue still active ?

[2020-01-12 17:25] cfsmp3 commented on #1128
@eshandhawan51 I'd say it is if we have a failing assert :-)

[2020-01-12 17:33] cfsmp3 commented on #1104
@NilsIrl compare it with

0.85 (2017-01-23)
 Fix: DVB timing is finally good.

Let's use 0.85 as the "known good version" for DVB timing reference.

How are the results on that one?

[2020-01-12 20:24] NilsIrl commented on #1104
0.85 doesn't compile on my computer :smile:

[2020-01-12 20:24] NilsIrl commented on #1104
It doesn't work with cmake or the linux build script

[2020-01-12 20:47] NilsIrl commented on #1104
0.85 doesn't look good to me

[2020-01-12 20:55] cfsmp3 commented on #1104
Try a different input file. Maybe that telecine.ts is not great.

https://drive.google.com/drive/folders/0B_61ywKPmI0TUUk5LXJPeG1feFE

I remember I used EastEnders to test and the sync for absolutely perfect.

Remember that you need to compare with the output of the subtitles as
displayed for example with VLC, *not* the audio. The DVB subtitles
might be off-sync with the audio and that's not our p

[2020-01-12 21:11] NilsIrl commented on #1104
The results with EastEnders are **perfect** on master.

So the problem is specific to telecine.ts

[2020-01-12 21:16] NilsIrl commented on #1127
As in where the subtitles are located in the video file in bytes.

Or as in the timestamp at which the subtitles start in seconds (or the duration unit that is used).

[2020-01-12 21:18] cfsmp3 commented on #1104
Play telecine.is in VLC as well, and enable DVB subtitles. Do they look as
bad as in CCExtractor, or are they in sync? If VLC and CCExtractor do the
same thing I'd say it's safe to say the problem is with that file.

If VLC plays it correctly and we don't, then we have a job to do :-)

On Sun, Jan 12, 2020 at 1:11 PM Nils ANDRÉ-CHANG <notifications@github.com>
wrote:

[2020-01-12 21:24] cfsmp3 commented on #1127
You want to sync using time, not bytes. There's some reasons for this, one of them being that you might be starting the stream in the middle and not have access to anything before you started playing - for example, when you turn on your TV your TV needs to start playing the stream from the point you turn it on, Also, the stream never ends...

Second, even if we were talking about actual files with

[2020-01-12 21:28] NilsIrl commented on #1127
In case 1, the value would just be metadata that would kinda be useless without the exact same video file.

For example in the East Enders file here is the header:
[code]

MPEGTS is the duration since the start of the stream (before the start of the video file).

[2020-01-12 21:33] NilsIrl commented on #1104
What I do to debug is:

1. generate subtitles with ccextractor
2. Play 1 mpv instance with the subtitles from ccextractor and 1 instance with the subtitles directly from the file.
3. I have a command that makes sure the 2 instances are in sync.

End result:

* The results with east enders on master are in sync.
* The results with telecine.ts are too early and stay up until the next subtitle compai

[2020-01-12 21:40] cfsmp3 commented on #1127
Not exactly. The MPEGTS is a clock that runs at 90,000 Hz and that rolls
over roughly every 26 hours. Forget about the "start of the stream", for
all purposes assume the stream doesn't have a beginning or an end, it's
24x7 (assuming we're talking about a TV channel). You need to sync the
audio, video and packets. Of course packets interleaved in a way that they
are playable without having a huge b

[2020-01-12 21:43] cfsmp3 commented on #1104
OK but what about the output of mpv relative to audio? Is it in sync, or a
disaster?

If there isn't any player that can play that file correctly, we can forget
about that file, even if the output is different to CCExtractor's (because
we don't know which one is correct). However if mpv plays it correctly
(subtitles and audio are in sync) then we have a problem.

On Sun, Jan 12, 2020 at 1:33 PM Ni

[2020-01-12 21:45] NilsIrl commented on #1104
Yeah MPV (like VLC I assume) gives subtitles that are in sync with the audio (for east enders + telecine).

So the problem is with ccextractor in this specific case.

[2020-01-12 23:06] cfsmp3 commented on #1104
Can you fix it? :-)

On Sun, Jan 12, 2020 at 1:45 PM Nils ANDRÉ-CHANG
<notifications@github.com> wrote:

[2020-01-13 00:48] Sudoxo commented on #1128
My commit've fixed this asset - I've successfully built on Linux. @boog said that there is an error on Mac, I don't own any Mac device so It's hard for me to make further changes.

[2020-01-13 10:07] gauravahlawat81 commented on #1161
Can you please give me some video samples regarding this issue ?

[2020-01-13 12:46] gauravahlawat81 commented on #1159
Hey, I was not able to reproduce this error, can you please provide the exact command you ran which gave the mentioned error ?

[2020-01-13 12:55] gauravahlawat81 commented on #1111
Hey,I have been getting the same error. Even though I ran the command
`make ENABLE_HARDSUBX=yes`
Still whenever I am giving it the `-hardsubx` argument, It says

[2020-01-13 15:22] NilsIrl commented on #447
I was unable to see the german subtitles in VLC.

[2020-01-13 15:27] NilsIrl commented on #1104
I wish. It doesn't look straightforward at all.

[2020-01-13 15:42] NilsIrl commented on #780
I don't think this is specific to Mac.

On linux I get thousands of lines as well.

[2020-01-13 16:58] gauravahlawat81 commented on #1111
Okay now for me it's working. As I ran command
`make ENABLE_HARDSUBX=yes` a file name

was created under linux directory and after that I ran the command
`./build_hardsubx` . And after that I was able to use hardsubx as an arguement. All these things were done in `linux` directory and I am now able to use hardsubx with no issue at all.

[2020-01-13 17:42] hamelg commented on #1161
The link is valid 30 days.
http://dl.free.fr/k2j8OpZJF

[2020-01-13 20:33] NilsIrl commented on #780
A good proportion of the warnings have to do with ignoring the return value of `write`.

[2020-01-14 23:17] NilsIrl commented on #1161
Only `-dvblang` is relevant to the problem

[2020-01-15 03:42] anshul1912 commented on #1162
I think you will break ubuntu version 4 with it, I think it may work on nixOS but break Ubuntu.
what is location of tessdata in your nixOS installation. If you are using only enviorment variable TESSDATA_PREFIX then as you see in function first priority is given to environment variable.
if there is default location in nixOS tessdata but enviorment variable is not set. Then you must add that locati

[2020-01-16 20:03] #1161 closed

[2020-01-16 20:04] cfsmp3 commented on #780
Maybe we should just disable that specific warning and move on. I don't want to fill the code casts to void or replace calls to write to a function that does the cast, etc.

[2020-01-16 20:31] hamelg commented on #1161
The fix doesn't work.
Now, the -ocrlang option has no effect ...

[code]

it doesn't select fra.traineddata file despite "-ocrlang fra".

[2020-01-16 20:58] NilsIrl commented on #1161
Let me test it again. It worked perfectly for me.

[2020-01-16 21:03] NilsIrl commented on #1161
Tested and it worked.

Have you done everything so that ccextractor detects the tesseract data?

You can set the `TESSDATA_PREFIX` environment variable to select another place.

for example here is the command I run:

[code]

[2020-01-16 21:34] hamelg commented on #1161
I tested again, but definitively it doesn't work. The file is at the right place and the TESSDATA_PREFIX makes no difference.
[code]

[2020-01-16 21:39] NilsIrl commented on #1161
It seems indeed that something is broken as there is no reason ccextractor isn't able to find the file by itself.

But anyway this isn't supposed to work. `TESSDATA_PREFIX` should be set to the directory above `tessdata`.

try like this:

[code]

[2020-01-16 21:40] cfsmp3 commented on #1161
Why is it trying to read eng.traineddata of you specified fra? That's
definitely broken...

On Thu, Jan 16, 2020 at 1:34 PM hamelg <notifications@github.com> wrote:

[2020-01-16 21:41] cfsmp3 commented on #1161
@NilsIrl try deleting your file eng.traineddata (or rename it to fra.traineddata) and see if it still works for you.

[2020-01-16 21:45] NilsIrl commented on #1161
I've tested that `ccextractor` is using `fra.tessdata`. but let me check again.

[2020-01-16 21:46] hamelg commented on #1161
ditto, same result

[2020-01-16 22:06] NilsIrl commented on #1161
It seems to have been broken before.

[2020-01-16 22:09] cfsmp3 commented on #1161
Well, since both you guys @NilsIrl and @hamelg are around right now seems like it can be solved once and for all really quickly.

By the way @hamelg maybe running ccextractor with strace and looking for open() calls will tell us exactly where tesseract is actually looking for the file (as opposed of what we think it's doing).

[2020-01-16 22:12] NilsIrl commented on #1161
280b4308f7f7ff769fd9c3fe2b03a7259644bfdb is broken for me as well.

[2020-01-16 22:13] hamelg commented on #1161
[code]

[2020-01-16 22:20] NilsIrl commented on #1161
I will not have enough time to fix it today. Could you try on 0.88 to confirm that `-ocrlang` doesn't work there as well?

[2020-01-16 22:24] cfsmp3 commented on #1161
What I see (just visually inspecting the source code) is that we attempt to switch to english if we can't find the selected language:

https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ocr.c (line 169)

That function char* probe_tessdata_location(int lang_index)

expects an integer which is used to look up in an array... probably that's one of the problems to begin with.

[2020-01-16 22:25] NilsIrl commented on #1161
Changing probe_tessdata_location to take a `const char *` and removing probe_tessdata_location_string I think is a good thing.

[2020-01-16 22:38] cfsmp3 commented on #1161
Well, get it working for everybody and then I'll be OK with your solution whatever it is :-) As you soon as yourself, @anshul1912 and @hamelg all agree that it's working I'll merge (well, after testing on Windows myself)

[2020-01-18 14:11] jshin313 commented on #757
Is this still an issue? When I run `windows\Debug\ccextractorwin.exe "..\Closed Caption EIA.ts"` I get the following:

[code]

[2020-01-18 14:20] NilsIrl commented on #757
works for me

[2020-01-18 15:50] eshandhawan51 opened #1188 "[bug] warning in build function in linux"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTIN

[2020-01-18 15:55] eshandhawan51 commented on #1188
./ build error displayed :

./src/lib_ccx/params.c:77:8: warning: implicit declaration of function 'add_word' [-Wimplicit-function-declaration]
    if (add_word(list, line) == -1)

[2020-01-18 15:57] canihavesomecoffee commented on #1188
A warning is not an error?

[2020-01-18 16:00] eshandhawan51 commented on #1188
I don't know the program is still showing compilation successful, but the message  it wasn't there earlier

[2020-01-18 16:04] canihavesomecoffee commented on #1188
If it's compiling, it's not an error. An error would prevent compilation.

[2020-01-18 16:08] cfsmp3 commented on #1188
@NilsIrl I suspect this is yours :-)

[2020-01-18 16:11] NilsIrl commented on #1188
yep, seems to be mine

[2020-01-18 16:13] rboy1 commented on #757
Not working with the latest release
[code]

[2020-01-18 16:14] NilsIrl commented on #757
The output you gave seems to work. It doesn't say "No captions were found in input."

[2020-01-18 16:16] rboy1 commented on #757
Yes it appears to be working with the latest release, closing the ticket. Any idea when the next release 0.89 is due?

[2020-01-18 16:16] #757 closed

[2020-01-18 16:17] cfsmp3 commented on #757
Wondering why each of those runs have different values for CC type 0

CC type 0: 413 (NTSC line 21 field 1 closed captions)
That's definitely data :-)
Just to confirm, is there an output .srt file that contains something?

On Sat, Jan 18, 2020 at 8:14 AM Nils ANDRÉ-CHANG
<notifications@github.com> wrote:

[2020-01-18 16:17] NilsIrl commented on #757
@cfsmp3 was planning to do it during the Christmas break but apparently it didn't happen.

[2020-01-18 16:17] NilsIrl commented on #757
yes, It has captions

[2020-01-18 16:18] cfsmp3 commented on #757
Yes, 0.89 was due two weeks ago :-) I guess we'll do it after GCI is over,
so possibly next weekend.

On Sat, Jan 18, 2020 at 8:16 AM rboy1 <notifications@github.com> wrote:

[2020-01-18 16:31] #1188 closed

[2020-01-18 16:52] #1120 closed

[2020-01-18 17:23] NilsIrl opened #1191 "[BUG/PROPOSAL] SSC and CCD feature implementation"
Follow up to #1154

Features that are unimplemented:

- [ ] Preamble codes that set the row and font at the same time
- [ ] Colors
- [ ] Allow the user to select the type of line ending they want ("\n" vs "\r\n")
- [ ] The different timing types

[2020-01-18 19:44] NilsIrl commented on #1104
Is there a tool I can use so that I can visualise the difference in program flow between two runs (in this case, compare eastenders and telecine)?

[2020-01-18 23:22] NilsIrl commented on #780
I thing it's a good thing that we try to fix compilation warnings because if there are too many warnings (like it is currently), then we just ignore the warnings which can sometimes help

[2020-01-18 23:42] cfsmp3 commented on #780
Yes but some warnings are just overkill. Ignoring the return of a function when you're only interested in its secondary effect is totally normal.

[2020-01-19 00:59] dhrumilp15 commented on #979
Were you thinking of making new tabs for these options or adding them as tiles of the output and input tabs?

[2020-01-19 01:06] cfsmp3 commented on #979
I'm open to everything including a complete rewrite of the GUI.

[2020-01-19 01:46] dhrumilp15 commented on #979
I'm also interested in something along those lines - I've been using WSL, but it would be nice to have a modern GUI. How did you get started with building the current one?

[2020-01-19 14:03] Sudoxo commented on #662
I would like to work on it, but I have never run ccextractor with file which uses OCR. Could someone tell me what commands/options need to be used?

[2020-01-19 14:04] NilsIrl commented on #662
Nothing specific has to be done

[2020-01-19 14:15] Sudoxo commented on #662
Building with `./build`, and running with `./ccextractor /home/BBC1.mp4` gives me empty .srt file and it says:  _no captions were found in input_
Are you sure that nothing specific has to be done?

link to folder with that BBC1.mp4: https://drive.google.com/drive/folders/0B_61ywKPmI0TYk9vMzhHU2QtdVk

[2020-01-19 14:19] NilsIrl commented on #662
try with https://drive.google.com/drive/folders/0B_61ywKPmI0TUUk5LXJPeG1feFE

[2020-01-19 15:01] Sudoxo commented on #662
Running valgrind with that file which @NilsIrl mentioned, gives me a lot of info, but I don't have this specific one: https://github.com/CCExtractor/ccextractor/issues/662#issue-202700471

The only one with uninitalised value(s) I have is:

[code]

[2020-01-19 15:02] NilsIrl commented on #662
You can fix this one if you want

[2020-01-19 20:59] dhrumilp15 commented on #466
For clarification,

- Do the timestamps of the retimed files correspond to the teletext subtitles in the sample video?

OR

- Do the timestamps of the retimed files correspond to the points at which a character begins speaking (with lead-in and lead-out) instead of the teletext subtitles.

I'm really just trying to isolate the issue - are the produced subtitles are late (first question) or should

[2020-01-19 21:00] dhrumilp15 commented on #466
For clarification,

- Do the timestamps of the retimed files correspond to the Teletext subtitles in the sample video?

OR

- Do the timestamps of the retimed files correspond to the points at which a character begins speaking (with lead-in and lead-out) instead of the Teletext subtitles.

I'm just trying to isolate the issue - are the produced subtitles are late (first question) or should a more

[2020-01-19 21:01] dhrumilp15 commented on #466
For clarification,

- Do the timestamps of the retimed files correspond to the Teletext subtitles in the sample video?

OR

- Do the timestamps of the retimed files correspond to the points at which a character begins speaking (with lead-in and lead-out) instead of the Teletext subtitles.

I'm just trying to isolate the issue - are the produced subtitles are late (first question) or should a more

[2020-01-19 21:01] dhrumilp15 commented on #466
For clarification,

- Do the timestamps of the retimed files correspond to the Teletext subtitles in the sample video?

OR

- Do the timestamps of the retimed files correspond to the points at which a character begins speaking (with lead-in and lead-out) instead of the Teletext subtitles.

I'm just trying to isolate the issue - are the produced subtitles are late (first question) or should a more

[2020-01-19 21:50] NilsIrl commented on #1104
For those who want to analyze the flow here is the callgrind output for the command:

[code]

and

[code]
[callgrind.zip](https://github.com/CCExtractor/ccextractor/files/4083669/callgrind.zip)

[2020-01-19 23:01] NilsIrl commented on #1161
@hamelg with the latest PR does it work?

[2020-01-20 17:49] hamelg commented on #1161
Yes, it works fine now.
I just have the wrong message at exit :
_No captions were found in input._
but it found all the subtitles.
Thanks !

[2020-01-20 17:52] NilsIrl commented on #1161
Okay I will look into that

[2020-01-21 04:22] kdrag0n commented on #1127
Shouldn't this issue be closed since #1176 has been merged?

[2020-01-21 06:30] kdrag0n commented on #662
I believe this issue has already been fixed by some commit after the issue was opened, since I can't reproduce it either.

I'm only getting uninitialized jump/move messages from internal Tesseract code (allocated *inside* Tesseract), which is out of the scope of this project:

[code]

[2020-01-21 11:10] NilsIrl commented on #1127
Well the underlying issue is still present so it doesn't solve the original problem

[2020-01-21 11:11] NilsIrl commented on #1127
Well the underlying issue is still present so it doesn't solve the original problem

[2020-01-21 22:31] NilsIrl commented on #1128
@boog could you provide a backtrace?

The failing assert is in tesseract code btw, so we are calling tesseract stuff wrong somewhere.

[2020-01-22 00:56] NilsIrl commented on #1053
Has someone got the file?

[2020-01-22 02:05] kdrag0n commented on #1128
I tried it on macOS 10.14.5 (Tesseract 4.1.1 installed from Homebrew) with the example.vob file linked above and it worked fine, so I don't think this is an issue anymore.

[2020-01-22 02:14] Pennyliu999 commented on #1053
The problem is fixed so I delete the file

[2020-01-22 03:04] #1053 closed

[2020-01-22 10:56] NilsIrl commented on #1128
@boog can you confirm it is fixed?

[2020-01-22 18:28] NilsIrl commented on #1127
Is there a file I can test it with? (a file without subtitles).

[2020-01-22 18:59] NilsIrl commented on #1166
Looking back at the code, I think this might be solved by #1137 (if it ever gets merged).

[2020-01-22 21:12] Sudoxo commented on #967
When I try to open that link, it says: **"404 Not Found"**.

[2020-01-22 21:16] Sudoxo commented on #923
It seems like this file is no longer available. **"404 Not Found"**

[2020-01-23 21:29] NilsIrl opened #1217 "[BUG] Capitalization doesn't work with tags"
CCExtractor version: 1764aa1f92a2c3c201d7f37b67ee18b551b982ef

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feat

[2020-01-23 22:12] KashParty commented on #1217
I don't think this is platform-specific because the same behaviour is observed on windows. The issue _may_ be due to clever_capitalize:
https://github.com/CCExtractor/ccextractor/blob/7b038ab64905750b7da5320b599504b1ca890aab/src/lib_ccx/ccx_encoders_helpers.c#L183

I haven't contributed before but I'd be willing to try and fix this if someone could point me in the right direction.

[2020-01-23 22:17] NilsIrl commented on #1217
I am of the same opinion.

Don't hesitate to ask questions. If you need additinal help you can join the ccextractor slack as well.

[2020-01-24 03:03] cfsmp3 commented on #1217
@KashParty clever_capitalize() just uses the character matrix, it doesn't know anything about fonts.

But a quick way to test what's going to would be to add this line (just typing here, so it might need fixing):

[code]
And see what it's doing.

[2020-01-24 18:03] KashParty commented on #1217
Thank you for the help. I can confirm that the problem arises from `clever_capitalize`. I used the following code:

[code]

When I ran this, it produced:
[code]

So it is obvious that clever_capitalize is causing the issue. After investigating a little more, I don't think that this has anything to do with tags at all. The value of `context->new_sentence` persists across lines, so if a previous lin

[2020-01-24 18:10] KashParty commented on #1217
I could potentially try and change `clever_capitalize` so that after a closing bracket, it checks whether that is the last character in the line, and sets `context->new_sentence` according to that. That way it would only capitalize the word after the brackets if the word is on the next line. Obviously we don't want it to _always_ capitalize after brackets `(because it) Would cause behaviour like t

[2020-01-24 18:54] KashParty commented on #1217
I tried implementing the change I described in my previous comment:
[code]

_This seems to work_. I haven't tested it fully but it works with the video provided by @NilsIrl in the issue description:
[code]

This is a rough first attempt just to ensure that this approach would theoretically work. I used `<ctype.h>` but I probably don't really need it, and I'm not sure if `data->characters[line_num]

[2020-01-25 07:43] cfsmp3 commented on #1217
Most likely it won't work for many other samples. I don't think it's possible to come up with a reasonably naive algorithms (I mean, just looking at the previous character and/or lines) that works well for all cases.

It might be just simpler to have a post-processing program that uses a proper NLP library to correct capitalization.