[2020-01-25 07:57] cfsmp3 commented on #1127
You can use any file - just manually select --datapid pointing to a PID that is not present in the stream.

[2020-01-25 21:33] cfsmp3 commented on #1191
Closing since this has already been done and merged.

[2020-01-25 21:54] cfsmp3 commented on #1217
I'm closing this since I really think it's not something we can solve inside CCExtractor, but if someone proves me wrong and sends a cool PR I'll merge :-)

[2020-01-25 21:54] #1217 closed

[2020-01-25 22:03] kdrag0n commented on #1191
There are still parts of this that are unimplemented.

[2020-01-25 22:26] cfsmp3 commented on #662
@kdrag0n but are you sure it's not because _we_ are passing uninitialized values to tesseract?

[2020-01-25 22:34] cfsmp3 commented on #684
@CTayl0r Is this still a problem in the current CCExtractor?

[2020-01-25 22:35] cfsmp3 commented on #733
Closing since this was already merged

[2020-01-25 22:35] #733 closed

[2020-01-25 22:37] cfsmp3 commented on #806
@atulpatildbz @anonynamja @RobJacobson Is this still a problem in the current master?

[2020-01-25 22:38] cfsmp3 commented on #810
Closing due to inactivity.

[2020-01-25 22:38] #810 closed

[2020-01-25 22:39] cfsmp3 commented on #874
@peterhaldbaek Is this still an issue in current master?

[2020-01-25 22:43] cfsmp3 commented on #892
Closing since it's in theory fixed. @harrynull can you confirm and reopen if needed?

[2020-01-25 22:43] #892 closed

[2020-01-25 22:46] cfsmp3 commented on #919
Not easy at all because we use GPAC which seems to want a path, not a file handle or descriptor.

[2020-01-25 22:47] cfsmp3 commented on #1173
@vr8hub Seems fixed in current master, feel free to reopen if you still have problems.

[2020-01-25 22:48] cfsmp3 commented on #923
Closing due to 1) No sample, 2) This was at least partially implemented in a past GSoC

[2020-01-25 22:48] #923 closed

[2020-01-25 22:50] cfsmp3 commented on #931
Closing, since Youtube now support most of the formats we export.

[2020-01-25 22:50] #931 closed

[2020-01-25 22:51] cfsmp3 commented on #937
@mkver Is this still an issue in the current master?

[2020-01-25 22:52] cfsmp3 commented on #949
@tsmarinov We believe this is fixed in the current master. Let us know if you still have problems (feel free to reopen).

[2020-01-25 22:52] #949 closed

[2020-01-25 22:53] cfsmp3 commented on #956
@tsmarinov Is this still happening?

[2020-01-25 22:53] cfsmp3 commented on #961
Closing - not our business.

[2020-01-25 22:53] #961 closed

[2020-01-25 22:55] cfsmp3 commented on #965
@boldmss It might be fixed already in current master, can you confirm?

[2020-01-25 22:56] cfsmp3 commented on #967
@mahalwal Closing because we can't access the file anymore, but feel free to reopen if you still have the problem and can update the link to the video.

[2020-01-25 22:56] #967 closed

[2020-01-25 22:57] cfsmp3 commented on #968
Closing due to inactivity and no reply to last question

[2020-01-25 22:57] #968 closed

[2020-01-25 22:58] cfsmp3 commented on #981
@leocsantiago is this still happening in current master?

[2020-01-25 22:59] cfsmp3 commented on #1007
@mackworth is this still happening with current master?

[2020-01-25 23:02] cfsmp3 commented on #1010
@jakubvojacek Is this still a problem in current master?

[2020-01-25 23:06] cfsmp3 commented on #1061
@DHLgh Is this still happening in current master?

[2020-01-25 23:07] cfsmp3 commented on #1064
Closing this this was merged. @tomas-kuchta feel free to reopen if it still doesn't work for you.

[2020-01-25 23:07] #1064 closed

[2020-01-25 23:08] cfsmp3 commented on #1067
@nikop is it still happening in current master? We've done a lot of work in the past weeks and I'm going over all the issues - cleaning up. Thanks.

[2020-01-25 23:10] cfsmp3 commented on #1075
@ggnull35 Is this still happening?

[2020-01-25 23:10] cfsmp3 commented on #1093
Closing due to OP @rayfoss not replying.

[2020-01-25 23:10] #1093 closed

[2020-01-25 23:11] #1096 closed

[2020-01-25 23:19] cfsmp3 commented on #1111
Closing since sounds fixed - but @vr8hub feel free to reopen if you are still having problems

[2020-01-25 23:19] #1111 closed

[2020-01-25 23:20] cfsmp3 commented on #1113
@anthonyeden I'm closing this because there's been work about it in the past few weeks - feel free to reopen if you are still having problems.

[2020-01-25 23:20] #1113 closed

[2020-01-25 23:22] cfsmp3 commented on #1128
Closing. @boog Feel free to reopen if you are still having problems

[2020-01-25 23:22] #1128 closed

[2020-01-25 23:25] mackworth commented on #1007
so, the literal answer to your question is yes, I'm seeing exactly the same results as in Nov, but I'm also still seeing version 0.88 in master (with a reference in changes.txt to a version 0.99 TBD).  Is there a different branch I should use?

[2020-01-25 23:26] mackworth commented on #1007
Sorry. 0.89, not 0.99 in changes.txt

[2020-01-26 00:17] cfsmp3 commented on #1007
No, current master. We still haven't bumped the version number, even though it has a significant amount of changes.

[2020-01-26 00:56] mackworth commented on #1007
Okay, then, yes, I did a git pull and rebuilt prior to running the test again, but got almost the exact same results. Still seeing about 5-9 "good" runs out of twenty tries.  The bad runs still drop exactly the same characters.

Comparing the "good runs" logs to an old good log with debug off, I see  "Filter profanity: No" and dozens of "WARNING:get_decoder_line_encoded:Invalid Color index Selecte

[2020-01-26 02:11] kdrag0n commented on #662
According to the stack trace, Tesseract allocated the uninitialized memory during initialization, not us. Valgrind doesn't complain when I add code right above the call to Tesseract to dump all of the values being passed to it, so it shouldn't be caused by the inputs.

[2020-01-26 03:34] #662 closed

[2020-01-26 10:21] jakubvojacek commented on #1010
Hello @cfsmp3

I just tested with the current master (5f61fae0c7dacb05e2f42d5647aafc59d3cd2ef6) and it's still happening, it's reproducible on a static file now too. If you download https://goo.gl/r4WXto and try to play in VLC and enable Portugesse DVB subtitles, there will be subtitles visible. While trying with ccextractor (plain `ccextractor tnt.ts`), it will throw the same errors as described

[2020-01-26 13:09] mfarberbrodsky commented on #1067
Hi, I just checked it with the current master, still same result (no captions produced with -datapid 0xCE0).

[2020-01-26 14:26] mfarberbrodsky commented on #1067
It still does work by commenting the two lines nikop suggested:
[code]
What's their purpose? Everything seems to be working without them.

[2020-01-26 15:19] boldmss commented on #965
Ok, let me check.

Thanks,

M

Enviado desde mi iPhone

[2020-01-26 18:12] cfsmp3 commented on #1067
@mfarberbrodsky It declares the OCR "initialized" if it wasn't. I don't think however that the problem is there but rather that some other place must be checking that variable and only do something is the ocr is not initialized.

Once you've gotten that far I'd say it can't be too hard to fix.

[2020-01-27 23:19] Sudoxo commented on #981
Everything seems to be working (I've tested on linux)

[2020-01-28 01:31] cfsmp3 commented on #981
Closing. @leocsantiago feel free to reopen if needed

[2020-01-28 01:31] #981 closed

[2020-01-29 18:02] mfarberbrodsky commented on #1067
@cfsmp3 I investigated this problem a bit more, and I think I found the root of the issue. It starts [here](https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ts_tables.c#L357). On line 357, ocr_ctx is initiated only once, when pinfo->initialized_ocr is still 0. It is then stored in the returned ptr. That ptr is written to ctx in update_capinfo, and then it is actually stored as co

[2020-01-29 18:29] cfsmp3 commented on #1067
@mfarberbrodsky That's a good investigation, good job :-)

[2020-01-30 03:29] kdrag0n opened #1221 "[BUG] SCC caption loading times are inaccurate"
**In raising this issue, I confirm the following:**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x]

[2020-01-31 05:45] cfsmp3 opened #1223 "MP4 (from itunes) files not being processed (no subs)"
This comes from an email:

[code]

The file is available [here](https://drive.google.com/open?id=19cVFdWwhY9stTNIay6xXepWA5524uuR8).

[2020-01-31 12:01] eshandhawan51 commented on #1223
CCExtractor 0.88, Carlos Fernandez Sanz, Volker Quetschke.
Teletext portions taken from Petr Kutalek's telxcc
--------------------------------------------------------------------------
Input: /home/eshan/Downloads/Adam's Rib.mp4
[Extract: 1] [Stream mode: Autodetect]
[Program : Auto ] [Hauppage mode: No] [Use MythTV code: Auto]
[Timing mode: Auto] [Debug: No] [Buffer input: No]
[Use pic_order_cnt_

[2020-02-01 15:13] djlaporte2001 commented on #1223
Thanks for figuring this out. I downloaded your file above and it worked. I'm using CCextractor GUI 0.88 for Windows and have not been able to replicate your settings above. I'm having issues figuring out what you did to get these three output files:

The only differences that I could find from your log was:
The Buffer Input was set to No (i don't know how you did that)
Encoding was UTF-8 (i figur

[2020-02-01 18:45] eshandhawan51 commented on #1223
@djlaporte2001 you can use -nobi or --nobufferinput  to change buffer input to no
but that's not really  the matter

[2020-02-01 20:06] djlaporte2001 commented on #1223
So what did you do differently in the settings to process the video file and return three files? My default settings using CCExtractor GUI 0.88 for Windows is only producing 1 file with 0kb and the program hangs at the section where it says that it is opening the file?

Are you using the same default settings that I used above or did you change some settings in the tabs below to produce those thre

[2020-02-01 20:25] eshandhawan51 commented on #1223
I am seeing to it that the issue gets resolved as soon as possible :)

[2020-02-01 20:30] djlaporte2001 commented on #1223
I'm sorry, I thought you already found a solution because you were able to produce those three files where the second one worked perfectly. I tested it with my video and it worked. I thought I just needed to figure out how you did it. I'll wait and see what your team finds out. Thanks.

[2020-02-01 22:44] logic opened #1225 "[BUG] GCC 10 defaults to -fno-common"
CCExtractor version (using the --version parameter preferably) : **0.88**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or t

[2020-02-01 23:08] logic commented on #1225
#1226 is the pull request.

[2020-02-02 05:56] kdrag0n commented on #1191
The different SCC timing types (dropframe and non-dropframe) are actually unrelated to #1221, which is about accounting for over-the-wire transmission time to make players like YouTube happy with the output.

[2020-02-02 06:26] #1225 closed

[2020-02-02 06:28] cfsmp3 commented on #1223
Seems to work OK with the current version (as in the open we have on
github, which is pre-0.89, not 0.88 even though there's a number of
warnings about "text" not being supported).

On Sat, Feb 1, 2020 at 12:30 PM djlaporte2001 <notifications@github.com> wrote:

[2020-02-02 12:33] djlaporte2001 commented on #1223
And that's using the default settings? Could you send me a link to the version you are using and I will test it and provide feedback?

Get Outlook for Android

On Sun, Feb 2, 2020 at 1:28 AM -0500, "Carlos Fernandez Sanz" <notifications@github.com> wrote:

Seems to work OK with the current version (as in the open we have on

github, which is pre-0.89, not 0.88 even though there's a number of

warn

[2020-02-02 14:07] djlaporte2001 commented on #1223
And that's using the default settings? Could you send me a link to the version you are using and I will test it and provide feedback?

I can't seem to find a download link for CCextractor pre-0.89 GUI for Windows anywhere.

[2020-02-02 17:13] cfsmp3 commented on #1223
On Sun, Feb 2, 2020 at 6:07 AM djlaporte2001 <notifications@github.com>
wrote:

There's one here:

https://github.com/CCExtractor/ccextractor/issues/1116

Not totally up to date but you can give it a try.

[2020-02-02 17:45] djlaporte2001 commented on #1223
I downloaded the file on the link you sent. Gave it a try using the default settings, again still seeing the same issue. Producing only 1 file at 0kb and hanging at the same spot. Unable to produce the three files that "eshandhawan51" did. Would really like to know how he produced what he did but until its figured out I will wait patiently for instructions.

[2020-02-03 00:04] djlaporte2001 commented on #1223
Just an FYI: I tried using an older version of CCextractor 0.85GUI for Windows and it worked flawlessly.

[2020-02-03 00:12] cfsmp3 commented on #1223
Labeling easy since it's seems a regression.

[2020-02-03 00:16] djlaporte2001 commented on #1223
Yeah, I'm not sure why the latest version was having difficulty. I'm sure someone will figure that out. Anyways, your team has a great product, i'm enjoying it immensely.

[2020-02-03 18:22] pavanjoshi914 commented on #965
you are using a version of 0.87 have a try with 0.88 if any issue found feel free to discuss.

[2020-02-03 20:20] wojtekw commented on #1104
I have similiar problem with ts file.Trying output to spupng but always start of the subtitles is:
<spu start="0.000" end="4.239"

The very weird for me is that ccx shows in output:
Min PTS:				00:00:38:220
Max PTS:				01:53:39:940

So why the first subtitle is 00:00:00 not 00:00:38 ?

Can anyone help? Lost few days for this issue :(

[2020-02-03 20:57] NilsIrl commented on #1104
Could you make the `.ts` file accessible? That would help a lot.

[2020-02-03 21:00] wojtekw commented on #1104
Unfortunately can't upload this file anywhere. It's movie from one of the majors.

[2020-02-03 21:13] cfsmp3 commented on #1104
We can't help without access to the file.

You can just share a link with us privately by email - of course we deal
with this kind of content all the time.

If that's not an option we really can't help you.

On Mon, Feb 3, 2020 at 1:00 PM wojtekw <notifications@github.com> wrote:

[2020-02-04 07:36] wojtekw commented on #1104
@cfsmp3 I understand but really can't share this movie.
First what I see in this file is that it can't play in VLC but plays in QuickTime

Is that normal when Min PTS:	00:00:38:220 and first line of subtitles is  <spu start="0.000" end="4.239" ?
I expected <spu start="0.000" end="38.220...

[2020-02-04 13:23] wojtekw commented on #442
I get the same error "OCR subsystem not present" on MacOS but leptonic and tesseract are installed on system. CCX -v shows:
	Version: 0.88
	Git commit: Unknown
	Compilation date: 2020-02-04
	File SHA256: fa4b6f64af9f923a0fca842ae017a189740de63916188b8afa43e6c00acb07b5
Libraries used by CCExtractor
	libGPAC Version: 0.7.2-DEV
	zlib: 1.2.11
	utf8proc Version: 2.4.0
	protobuf-c Version: 1.3.1
	libpng

[2020-02-04 14:42] grial1 commented on #442
Hello, I get the same issue on Ubuntu 16.04 using Tesseract 4.1.1, even after following @ghost compilation guide. Below I describe some system information.

Linux desktop 4.15.0-76-generic #86~16.04.1-Ubuntu SMP Mon Jan 20 11:02:50 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

**CCExtractor detailed version info
	Version: 0.88
	Git commit: 6697ed34967343830178f8452e276ab0d94f08e0
	Compilation date: 202

[2020-02-04 17:46] pavanjoshi914 opened #1227 "[BUG] BROKEN ASF SAMPLE.(SHOWS INCOREECT FORMATTING IN GENERATED SRT FILE)."
CCExtractor version 0.88

In raising this issue, I confirm the following:

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting isn't a

[2020-02-05 16:49] wojtekw commented on #442
@cfsmp3 Can You reopen issue ?

[2020-02-06 03:27] pavanjoshi914 commented on #1227
someone who wants to fix it out can figure out these lines of code which are creating warnings in asf check:

https://github.com/CCExtractor/ccextractor/blob/6697ed34967343830178f8452e276ab0d94f08e0/src/lib_ccx/ccx_encoders_helpers.c#L286-L317

[2020-02-07 09:12] peterhaldbaek commented on #874
I have not tested it out but I can give it a go.

[2020-02-07 18:16] OsamaNabih commented on #929
What happened to the suggestion of implementing dilation and erosion?

[2020-02-07 19:21] cfsmp3 commented on #929
If it's not done no one has sent a PR yet.
Go for it.

On Fri, Feb 7, 2020, 10:16 Osama Nabih <notifications@github.com> wrote:

[2020-02-08 10:36] hv7214 commented on #780
@cfsmp3 i don't see any warnings when built on linux. Is this solved for Linux systems ?

[2020-02-08 12:39] canihavesomecoffee commented on #780
It's heavily dependent on your used compiler version and other parameters, but they're for sure not all fixed yet.

[2020-02-08 15:52] hv7214 commented on #780
oh i see! yeah i'm using C++14.

[2020-02-09 02:45] cfsmp3 commented on #1227
Seems like a regression so fixing it is a matter of spending some time looking for the responsibly commit.

[2020-02-09 03:02] pavanjoshi914 commented on #1227
@cfsmp3 i am already working on it soon i will genereate a PR..:smile:

[2020-02-13 01:32] cfsmp3 commented on #1227
@NilsIrl did your last PR fix this as well? I assume so but want to confirm before closing.

[2020-02-15 00:20] NilsIrl commented on #1127
This shouldn't affect the header right?

[2020-02-15 00:35] NilsIrl commented on #1127
https://github.com/NilsIrl/ccextractor/blob/db646f50ac14a772de9f374b2b40e05dbc6c0da9/src/lib_ccx/general_loop.c#L991-L1006

If you look at the above snippet, `data_node == NULL` when a wrong `-datapid` is set. The thing is that in order to get the value for `X-TIMESTAMP-MAP`, `data_node` needs to be used. I don't know if the problem has to do with the fact `-datapid` is used. From what I understan

[2020-02-15 20:43] vr8hub opened #1230 "[BUG] Error in autogen on Mac"
- Is this a regression (i.e. did it work before)? {YES/NO} Yes
- What platform did you use? {Window/Linux/Mac} Mac
- What were the used arguments? `{replace with the arguments}` build error, not runtime error

There is an error when running autogen.sh in the Mac subdirectory.
[code]

This is actually an error in pre-build.sh, which autogen.sh calls. Line 24 of the pre-build script is
[code]

But t

[2020-02-15 20:51] vr8hub commented on #1173
Sorry, I've just now been able to get back to this.

I did a `git pull` and tried it again and received the exact same error. I then completely deleted the local repository, did a `git clone` to start over, and tried it again, with the same result.

[code]

The error is on the same line as before, and that line is the same in the configure script as before. So not sure what changed in master, but

[2020-02-15 21:09] cfsmp3 commented on #1127
OK so cheating with datapid is not an an option :-(

Check out our list of samples.
https://drive.google.com/drive/folders/0B_61ywKPmI0TUUk5LXJPeG1feFE?usp=sharing

Specifically the UK TV one has one that says "no subs"

[2020-02-15 21:33] canihavesomecoffee commented on #1230
Traces back to https://github.com/CCExtractor/ccextractor/commit/b36429879dd0136fce519c0c67aedab5f85739c6.

If we don't care about reproducible builds on Mac, we can just revert that part of the change...

[2020-02-15 21:34] NilsIrl commented on #1230
Probably best to have both scripts (linux + mac) do the same thing.

[2020-02-15 21:40] canihavesomecoffee commented on #1230
Removing the reproducible build for Linux is not an option here. It was specifically requested by guys at the Debian project.

For Mac we either need to find other parameters, or we could revert it.

[2020-02-15 21:49] NilsIrl commented on #1230
https://github.com/CCExtractor/ccextractor/commit/b36429879dd0136fce519c0c67aedab5f85739c6#r37313277

CC @lamby (in case the ping in a review for a closed PR doesn't go through)

[2020-02-15 21:52] NilsIrl commented on #1230
Also for that PR, is `--utc` needed since a format is provided and the source of the date is the `--date` argument

[2020-02-15 23:14] cfsmp3 commented on #1230
@vr8hub can you send us the correct syntax for Mac? Seems trivial to change but I can't test:

https://ss64.com/osx/date.html

[2020-02-15 23:19] canihavesomecoffee commented on #1230
@cfsmp3 There's no option for inputting a specific date in there it seems. We can replace the `--utc` with `-u` most likely without any problems, but that won't fix the remainder of the command.

We should perhaps see if @lamby has a suggestion for reproducible builds on Mac, or if we can revert that for Mac only.

[2020-02-15 23:19] vr8hub commented on #1230
Possibly. I don't have a Linux box handy, so I don't know what the existing command is trying to do.

[2020-02-15 23:21] canihavesomecoffee commented on #1230
@vr8hub The current command is adding the date to the build, in a reproducible manner.

This means that it either takes the time from an environment variable, or picks the current date if that is missing.

[2020-02-15 23:27] vr8hub commented on #1230
From a little searching, it seems the SOURCE_DATE_EPOCH is formatted as number of seconds since epoch. Which would agree with the `+%s` format on the current date/time.

So, take # of seconds, either from SOURCE_DATE_EPOCH or the current datetime, and output in the indicated format.

I think that might be possible (the ss64 page is incorrect or outdated; there are quite a few other options availab

[2020-02-15 23:27] lamby commented on #1230
Just a drive-by comment please check out https://reproducible-builds.org/docs/source-date-epoch/#bash--posix-shell

[2020-02-15 23:35] vr8hub commented on #1230
Excellent, thanks Chris. And that does work; I tried it first with SOURCE_DATE_EPOCH set to current date, then set it back a couple of months, and BUILD_DATE ended up with the correct value both times.

I suspect this could be shortened, but since it works and I have other things to do, let's just go with this for now. :)

DATE_FMT="+%Y-%m-%d"
SOURCE_DATE_EPOCH="${SOURCE_DATE_EPOCH:-$(date +%s)}"

[2020-02-15 23:41] lamby commented on #1230
I keep forgetting that Mac has the BSD `date`, apologies for the ~noise.

[2020-02-15 23:41] canihavesomecoffee commented on #1230
If https://travis-ci.org/CCExtractor/ccextractor/builds/650958611 passes I'll merge that (which is basically the thing mentioned here).

[2020-02-15 23:45] vr8hub commented on #1230
Actually, I don't think that first command is needed, and doesn't do what they think it does, at least on a Mac. The `-d` option is to "Set the kernel's value for daylight saving time."

Also, the date command should probably include `-j` to prevent it from trying to set the date.

I think those three lines can be shortened to the equivalent one-liner for what's there now:
[code]

That works for m

[2020-02-15 23:46] lamby commented on #1230
This will not work under GNU date as `-j` is not an option there.

[2020-02-15 23:47] vr8hub commented on #1230
We're not worried about GNU date, are we? This is Mac-specific file.

[2020-02-15 23:48] lamby commented on #1230
Ah, did not realise that...!  I should go to bed, really. :)

[2020-02-16 00:08] #1230 closed

[2020-02-16 00:25] vr8hub commented on #1173
I don't have a Linux VM handy, so I don't know what the above `pkg-config` command returns there. But in playing with this on the Mac, it appears that the leading dash on the return (`-ltesseract -lcurl`, see above) is the problem, and that's a problem because it isn't quoted and so looks like an option.

So it _looks_ like just quoting the output will work:
[code]

I tried this manually, and it r

[2020-02-16 00:57] vr8hub commented on #1173
As near as I can tell, this works from a compile perspective. I ran
[code]
The Makefile includes the references to the hardsubx modules. Then a subsequent
[code]
generates several hardsubx `.o` files in src/lib_ccx, so it looked like the make worked as well. So I thought the ccextractor would work.

But, a subsequent invocation still says that `-hardsubx` is not understood.

I first tried somethin

[2020-02-16 01:18] cfsmp3 commented on #1173
Just edit src/lib_ccx/parms.c and add

#define ENABLE_HARDSUBX
near the top of the file (before the first #ifdef ENABLE_HARDSUBX )

That will force ccextractor to accept the parameter and/or give us an idea about what's going on there.

[2020-02-16 02:14] vr8hub commented on #1173
That worked. So I went looking at Makefile and discovered that `am__append_4` had a `#` in front of the enable. I then ran another `configure`, which got rid of the comment. Ergo, I ran `make clean`, but apparently did not precede it with another `./configure`. My apologies for the noise.

That leaves us with the above quoting works, at least for the Mac. Since I don't know what the return from th

[2020-02-16 14:44] wojtekw commented on #1104
Still have this problem, I see that CCX uses FTS timing instead PTS and I can't find which param can change it.
-gt doesn't work

[2020-02-16 15:05] NilsIrl commented on #1227
Yes it seems fine for me.

[2020-02-16 15:36] #1227 closed

[2020-02-17 13:46] wojtekw commented on #1104
@NilsIrl Can You help without TS file ? I'm afraid that there is some parameter that can fix this problem.

[2020-02-17 14:16] NilsIrl commented on #1104
As far as I'm aware, this is a bug and there aren't any ways to fix it apart from actually fixing it.

I'd love to fix it unfortunately I've only worked on the encoders (and this involves decoders) and I'm really lost as to what could fix the problem.

[2020-02-17 17:17] cfsmp3 commented on #1104
If you can't trust us with your file then there's nothing we can do for you I'm afraid.
Well, unless you actually sponsor the research and then we can spend time trying to blindly solve your problem.
But being blunt, we're not going to do it on our own free time. Sorry.

[2020-02-19 13:00] jamoore5 opened #1234 "[BUG] Segmentation fault when extracting ts file"
CCExtractor version: 0.88

# Necessary information

- Is this a regression (i.e. did it work before)? NO, First time using the software
- What platform did you use? Linux
- What were the used arguments? `-out=spupng -quiet`

# Video links

https://drive.google.com/open?id=1xs7GyYPR-DPd75CP3XJLj7CPPdVJHAVp

# Additional information

!strcmp(locale, "C"):Error:Assert failed:in file baseapi.cpp, line

[2020-02-19 13:44] NilsIrl commented on #1234
I can't reproduce the issue.

[2020-02-19 13:48] jamoore5 commented on #1234
I am on a raspberry pi 4 is that helps troubleshoot why I am getting this error.

[2020-02-19 13:51] NilsIrl commented on #1234
How did you install ccextractor?
Did you build it yourself or is it included in the repos or something else?

[2020-02-19 13:54] jamoore5 commented on #1234
I followed this tutorial https://magpi.raspberrypi.org/articles/make-comics-from-tv-recordings
[code]

[2020-02-19 13:56] NilsIrl commented on #1234
Why?

[2020-02-19 13:58] jamoore5 commented on #1234
[code]

[2020-02-19 14:00] NilsIrl commented on #1234
Could you try with the `libtesseract-dev` package instead? (They changed the name of the package)

[2020-02-19 14:00] jamoore5 commented on #1234
installed it but still getting the same error

[2020-02-19 14:01] NilsIrl commented on #1234
segfault? Also from what I can tell, the `.ts` file you're using doesn't have any subtitles.

[2020-02-19 14:14] MatejMecka commented on #1234
[code]

Both VLC and ffmpeg detect there is a subtitle stream but when playing through VLC no subtitles were shown.

[2020-02-19 14:15] jamoore5 commented on #1234
Thanks, I will investigate what went wrong in the convert. But the last one I had with burned-in subtitles it did not error, just no output. In VLC, I see the subtitle file but it does not show up when played. I will investigate what went wrong with the convert.

just thought the error was strange, but my file is definitely bad.

[2020-02-19 14:19] NilsIrl commented on #1234
I don't have an error though. It shouldn't seg fault.

[2020-02-19 14:40] canihavesomecoffee commented on #1234
But why is that assert being triggered? I think that might be the cause of that segfault :)

[2020-02-19 16:57] cfsmp3 commented on #1234
I can't reproduce on a Raspberry either.

[code]

[code]

[code]

[2020-02-20 23:53] jamoore5 commented on #1234
[code]

[2020-02-21 00:22] NilsIrl commented on #1234
Seems to segfault inside of tesseract

[2020-02-21 01:34] cfsmp3 commented on #1234
@jamoore5 Run it with valgrind, maybe it will give info some clue. Also note that you are using tesseract 4, not tesseract 3 which is really like to be the reason we're seeing different things.
[code]
Would tell us more.

@NilsIrl Yes, but let's assume it's our code causing that segfault somehow :-)

[2020-02-21 01:44] NilsIrl commented on #1234
Yes, I was mentioning that so that someone didn't went looking for `baseapi.cpp` without ever finding it.

[2020-02-21 01:48] jamoore5 commented on #1234
@cfsmp3  I got the following output then it hang without exiting

[code]

[2020-02-21 02:07] NilsIrl commented on #1234
I can't reproduce on x86 (NixOS) with tesseract 4.1.0. I'd expect valgrind to give a backtrace. Can you try to compile with `linux/builddebug` instead of `linux/build`?

[2020-02-21 08:11] canihavesomecoffee commented on #1234
@jamoore5 The triggered assert looks similar to https://github.com/tesseract-ocr/tesseract/issues/1670.

Can you try to explicitely set the LANG variable to "C" before running CCExtractor?

[2020-02-21 12:33] jamoore5 commented on #1234
I installed my packages for tesseract, and installed the binaries which seemed to have fixed the issue.

however I got the latest version
[code]

and ccextractor still sees it as 4.0.0
[code]

[2020-02-21 22:23] jamoore5 opened #1235 "[PROPOSAL] Valid xml document"
Should the XML generator be updated to guarantee that it is generating valid XML?

Example output from one of my video that I exacted subtitles from
[code]

I was getting an invalid token error from 3 different parsers that I tried to read it with. When I validated the XML in a validator I found

`1030: | 25 | The string "--" is not permitted within comments.`

Is this a possible issue in the code

[2020-02-21 22:43] cfsmp3 commented on #1235
Yes, I don't think we're escaping anything - just happily concatenating strings without a care in the world :-)

[2020-02-21 22:49] jamoore5 commented on #1235
Is there a reason that the subtitles are a comments instead of text within the <spu> element?

Sorry, I do not know much about subtitles and formats.

[2020-02-21 22:54] cfsmp3 commented on #1235
If you mean when writing spupng, because they're not supposed there at all - the XML is just an index to the image files that contain the subtitles. We do add them to the XML for debugging purposes, and only if the OCR subsystem is present. spupng doesn't need a text representation of the subtitles.

[2020-02-21 23:09] jamoore5 commented on #1235
@cfsmp3 thanks that was a helpful explanation.

I got introduced to this library and the concept of spupng when following this raspberry pi tutorial. https://magpi.raspberrypi.org/articles/make-comics-from-tv-recordings

The funny thing is that the content in the XML is a lot cleaner then what I exact out of my pngs using the above tutorial. On my raspberry pi, I get boxes instead of text in the p

[2020-02-22 00:16] NilsIrl commented on #1234
Could it be that you have both versions installed?

[2020-02-22 21:25] PulkitMishra commented on #1235
hey @cfsmp3 do we need the -- in the xml file . I mean clearly -- is not allowed in XML files. So do we remove it or add a space between the  two hyphens?

[2020-02-22 23:05] cfsmp3 commented on #1235
@PulkitMishra if we're doing any work on this it should be to generate proper XML. But honestly I don't think this is high priority (based on number of users), but it's low hanging fruit so if you want to do it to get started by all means go ahead.

Just remember that the goal is always to improve quality of output -just removing things we don't like is not a good idea :-)

[2020-02-22 23:06] cfsmp3 commented on #1234
Labeling as medium because we can't reproduce.

[2020-02-23 17:35] fleshripper opened #1238 "[BUG] Adding multiples create one srt instead of multiple"
When I add multiple video files in the drop box and click start, it only produces one srt files for all the files, so I get one srt with the subtitles of all the videos.

[2020-02-23 17:39] fleshripper commented on #1238
Sorry, found the option to specify split type.

[2020-02-23 17:39] #1238 closed

[2020-02-27 07:10] shikharmn commented on #1234
Hey!
I would like to contribute to this issue. Can someone give me a direction as to where to start?

[2020-02-28 12:22] ShraxO1 opened #1239 "No captions found (default settings)"
Please prefix your issue with one of the following: [BUG],[QUESTION].
CCExtractor version: {Windows GUI 0.88}

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am su

[2020-02-28 15:50] NilsIrl commented on #1239
The captions in this file aren't actually captions but are just an image on a video (AFAICT).

[2020-02-28 16:06] cfsmp3 commented on #1239
These are burned-in subtitles. You can try with the hardsubs options, it _could_ work.

[2020-02-28 17:14] ShraxO1 commented on #1239
I tried that but I am getting an error.
Error: Parameter -hardsubx not understood

[2020-02-28 18:44] MatejMecka commented on #1239
Did you compile with `--enable-hardsubx`?

[2020-02-28 18:56] ShraxO1 commented on #1239
C:\Users\Shray Tyagi\Downloads\ccextractor.0.88-windows.binaries\ccextractorwin.exe  --gui_mode_reports  -out=srt -bom -latin1 -hardsubx -subcolor white -conf_thresh 60 [+input files]

This is the command.

[2020-03-01 05:04] The-Bart-The opened #1240 "[PROPOSAL] When converting roll-up captions using "don't duplicate lines…", add an option to start a new caption when the speaker changes."
CCExtractor version: this would affect versions after 0.88

# Necessary information

- Is this a regression (i.e. did it work before)? NO
- What platform did you use?  Windows
- What were the used arguments? --norollup

Basically the title.

Simple (?): Look for signs the speaker has changed; like ">" or ">>>" or "Narrator:" or "Oprah:" any of which preceded by a new line, and start the next capti

[2020-03-02 03:53] cfsmp3 commented on #1240
That's probably best done by a post-processing program to be honest. There's no need to add those kind of features directly into the main program.

After all, C is not really a convenient language for string manipulation.

However in Python that would take just a few lines of code.

[2020-03-03 13:49] vishwesh-D-kumar opened #1241 "[BUG] Autogen Compilation terminates at make"
CCExtractor version: 0.88

# In raising this issue, I confirm the following:

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting isn'

[2020-03-03 14:14] canihavesomecoffee commented on #1241
`libpng` was more recently moved into the `thirdparty` folder, and the include in `orc.h` might not have been updated correctly.

It was moved in https://github.com/CCExtractor/ccextractor/commit/af6d8282cb53ff84c17b0ea44288e97943dbcc98, so maybe @NilsIrl can help out.

[2020-03-03 15:45] NilsIrl commented on #1241
The issue is that autogen wasn't updated for the movement of libraries to the `thirdparty` directory (unlike the other build systems).

Why do we ship libpng when we could use the system package?

[2020-03-03 15:55] cfsmp3 commented on #1241
In general we vendor libraries (except tesseract) to guarantee portability and availability. Remember that we also support Windows (in fact, like it or not, most of our users run Windows). Requiring external libraries in Windows is frowned upon.

[2020-03-03 18:47] vishwesh-D-kumar commented on #1241
@NilsIrl

It seems like the third party support has been configured into,as the makefile gcc command I quoted has all the thirdparty directories included via the -I option.

@cfsmp3 I totally missed that point, I can how see that the problems it would cause for windows!
I looked at the gcc command , and It seems that the command doesnt have the correct file path for libpng included.
I've figured t

[2020-03-03 19:28] NilsIrl commented on #1241
Just to make sure, did you uninstall `libpng-dev`?

[2020-03-03 19:32] vishwesh-D-kumar commented on #1241
Yeah.
I double checked it by running ```apt-get remove libpng-dev``` gave the output :
[code]

[2020-03-03 19:50] #1241 closed

[2020-03-03 20:17] NilsIrl commented on #1241
The autoconf scripts worked in the first place, they didn't catch the regression so...

It may be interesting to remove the packages that can hide regressions from the workflows.

[2020-03-12 11:56] Cryosim commented on #1239
Hello. Same issue. Closed captions not found. No captions were found in input.
This captions detect only in VLC as track № 3 EIA 608 (C608)
I try extract with mkvtoolnix or ffmpeg, but doesn't detect subtitle tracks EIA 608

[2020-03-12 12:39] MatejMecka commented on #1239
Can you give us a sample to try and reproduce it? It'll be easier for us to
debug :)

On Thu, Mar 12, 2020, 12:56 PM Cryosim <notifications@github.com> wrote:

[2020-03-12 12:48] ShraxO1 commented on #1239
I have given the video link + command above.

[2020-03-12 12:56] Cryosim commented on #1239
@MatejMecka Sample. https://drive.google.com/open?id=1WrIXlN4l_oVaRJWwoi8Xxp5h7G37IwPs

[2020-03-18 15:26] catcatmeowcat123 opened #1243 "[BUG] 40 ended prematurely 0 < 30720, please send bug report"
CCExtractor version: 0.88

# In raising this issue, I confirm the following:

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [don't know what I would even look for] I have che

[2020-03-20 12:58] catcatmeowcat123 commented on #1243
When I added the links my account got suspended and I had to email github to get the post back (you might want to reconsider the advice about adding video links, or move to a different website), I don't know if it updates you when a post is censored or when it comes back so I thought I should add a comment

[2020-03-21 18:56] ahmedtds commented on #1116
@cfsmp3 can you re-open this please? sorry for late respond, I had lost the file accidentally before so couldn't test it again. But now I have tested with all the 4 executables you provided and all of them crashes as well.

Command line:
`ccextractorwin.exe  --gui_mode_reports  -out=srt -bom -utf8 --nofontcolor -trim [+input files]`

Result:
[code]

And then crash, same with the files you provided

[2020-03-21 19:02] ahmedtds commented on #1116
Btw, I'm using Windows 7 32-bit OS, if you don't see the bug, maybe install Win7 32-bit to a VM and try to test it on it. I have a feeling this bug may only occur on 32-bit OSes.

[2020-03-22 22:43] The-Bart-The commented on #1221
I made a thing.

I've been using [a Windows batch file](https://www.dropbox.com/s/memujuoq3wj8e7d/sccIntegrityTester.bat?dl=1) I wrote.  Just place it with the tools in your SCC_TOOLS folder, (I assume you have one) and drag & drop a *.scc or a *.ccd file onto it.  It'll make a copy of your file and use ccasdi.exe on it to convert to the other format to determine if it's valid.  And back again. An

[2020-03-30 17:05] #1104 closed

[2020-04-01 17:07] cfsmp3 commented on #1243
@catcatmeowcat123 This is a new thing  to be honest.
Anyway if this happens again just make the content a bit more obscure, or send me an email with a private link and I'll copy the data to our developer repo.
Sorry this happened, though! First time ever.

[2020-04-02 16:51] ahmedtds commented on #1223
@cfsmp3 re-open my relevant issue please: https://github.com/CCExtractor/ccextractor/issues/1116

I tried all of your new builds and they still crash. I can send sample if you want.

[2020-04-02 23:34] ahmedtds commented on #1223
@cfsmp3 sorry I'm not hijacking I thought they were relevant because both are occuring on itunes files. I think they are related, why do you think they are not?

[2020-04-03 16:52] NilsIrl opened #1248 "[BUG] DVB subtitles at wrong offset"
CCExtractor version: 8e729cc

# In raising this issue, I confirm the following:

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting i

[2020-04-03 17:39] cfsmp3 commented on #1248
Can you try 0.85?
For DVB timing that was our reference "everything seems great" version.

On Fri, Apr 3, 2020 at 9:52 AM Nils <notifications@github.com> wrote:

[2020-04-03 19:53] NilsIrl commented on #1248
I double checked (as I had already bisected the whole history in #1104), and can confirm that v0.85 has the same beginning timing/offsets as master, for the 10 first subtitle screens. After that, 0.85 and master are at different offsets.

[2020-04-04 01:07] cfsmp3 commented on #1248
How different? milliseconds can be OK, but if they diverge to the point of
losing lip sync then well, no...

On Fri, Apr 3, 2020 at 12:53 PM Nils <notifications@github.com> wrote:

[2020-04-05 01:30] artivision opened #1249 "OCR mp4 hardsub problem."
Good day, cannot OCR mp4 hardsub, also need EL not ENG:

HardsubX (Hard Subtitle Extractor) - Burned-in subtitle extraction subsystem
eng.traineddata not found! No Switching Possible

[2020-04-05 03:19] cfsmp3 commented on #1249
This is not a bug. You're just missing files.

[2020-04-05 03:19] #1249 closed

[2020-04-05 22:15] artivision commented on #1249
Sir i have from AUR CCExtractor, Tesseract and Tesseract-data-ell. The problem is that google doesn't find any relevant results of an example command line that i choose language. Can you post one please?

[2020-04-05 22:42] artivision opened #1250 "Major memory leak on Manjaro Linux (kernel 5.6)."
Good day i try to **ocr** a hardsub **mp4** and after 100sec my memory is full. This is as far as i can get.

https://ibb.co/1X5GT8t

[2020-04-06 08:44] NilsIrl commented on #1250
could you provide the file?

[2020-04-06 08:54] NilsIrl commented on #1248
[As mentioned](https://github.com/CCExtractor/ccextractor/issues/1248#issue-593513739), 6600ms (more or less).

[2020-04-06 17:39] artivision commented on #1250
Nope don't have the rights. But its an SD 250MB mp4 file. Also there is no documentation as of how to change **"OCR Mode"** and **"OCR Confidence Threshold"** for better results.

[2020-04-06 17:47] dcjm opened #1251 "[BUG] ocr.c writing outside allocated memory"
I am raising this as an issue but I do have a fix for the problem so it could be a pull request.  However, this is a full explanation of the problem in case you want to try a different approach.

When running ccextractor on some ts files I found two cases where malloc was reporting memory corruption.  This was tested first with the 0.88 release and then with git master.  I ran valgrind and got the

[2020-04-06 19:47] cfsmp3 commented on #1251
@NilsIrl want to look into this?

[2020-04-06 21:23] ahmedtds opened #1252 "[BUG] 0.88 crash on Windows"
CCExtractor version: **0.88**

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting

[2020-04-06 21:27] ahmedtds commented on #1252
All 4 binaries here gives same result as well: https://github.com/CCExtractor/ccextractor/files/3935480/CCExtractor_release_binary_test.zip

This bug might have relevance to this issue: https://github.com/CCExtractor/ccextractor/issues/1223

[2020-04-06 22:37] artivision commented on #1250
Officially memory leak for all media, OCR dead. Another mistake also when the created .srt contains one line of wrong subs and bellow it the same line of correct ones with the same time stamp, so very great.

[2020-04-07 04:27] cfsmp3 commented on #1250
Closing because there's no sample.

[2020-04-07 04:27] cfsmp3 commented on #1252
Closing because there's no sample.

[2020-04-07 04:29] cfsmp3 commented on #1240
Closing because: won't-fix (just feel like CCExtractor itself is not the right place).

[2020-04-07 04:29] #1240 closed

[2020-04-07 05:23] ahmedtds commented on #1252
@cfsmp3 Why are you so rude and what is this hostility? I said I can provide it.

[2020-04-07 05:26] ahmedtds commented on #1252
"If it is not possible to make it available publicly, send us a private invitation (both Dropbox and Google Drive allow that). In this case we will download the file and upload it to the private developer repository."

That's in your issue template but it doesn't say where to send it.

[2020-04-07 05:27] ahmedtds commented on #1252
I'm now contacting CCExtractor via other means about your abusive behaviour.

[2020-04-07 06:22] canihavesomecoffee commented on #1252
@ahmedtds You can either:
- join us on Slack (refer to https://ccextractor.org/public:general:support for how to do that) and then send it in a DM to Carlos there
- send carlos an email (refer to page above) with the link to the sample
- upload the sample to the sample platform (again, refer tot he page above)

[2020-04-07 06:47] cfsmp3 commented on #1252
I'm trying to keep our issue list clean (for a change) with only issues we can actually do something about, that's all. Not trying to be rude. Sorry it it came out that way.

About the sample, yes what @canihavesomecoffee said. If public is not an option send us a link privately (I believe the email still appears when you run the program) and we'll transfer it to our private repo.

[2020-04-07 10:21] NilsIrl commented on #1251
That would be very helpful.

[2020-04-07 12:19] dcjm commented on #1251
The streams are [here](https://www.polyml.org/download/).  These streams contain only the subtitles.  The video and audio have been stripped with ffmpeg.

Ccextractor was built on a Debian Buster (amd64) machine.
uname -a
Linux athena 4.19.0-8-amd64 #1 SMP Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux

The current version, including my fix and the added assertions is:
CCExtractor detailed version

[2020-04-07 12:40] NilsIrl commented on #1250
We can't do anything without the file. As mentioned by @cfsmp3 . However you can share the samples privately by emailing https://ccextractor.org/public:general:support#email.

[2020-04-07 20:48] artivision commented on #1250
Good day. As i said before it happens on all mp4 with Greek hardsubs. Its not just one so there is no need for sample, also i cannot send a big email like that. You can download similar mp4 yourselves. Please don't close this.

[2020-04-07 20:52] cfsmp3 commented on #1250
Then provide one.
Please don't expect to find a file somewhere to troubleshoot a problem that you are having. That's not reasonable.

Would you like it we told you that you can also fix the problem yourself since CCExtractor is open source?

[2020-04-08 02:31] ahmedtds commented on #1252
@cfsmp3 ok sorry for overracting, thanks for re-opening

I sent sample link to your email, sorry it took a while to upload, file was big.

[2020-04-08 18:51] NilsIrl commented on #1251
If you have already written the code needed, there's no reason to not send a pull request even if we find a better solution.

[2020-04-08 20:10] NilsIrl commented on #1251
I was not able to reproduce this on master or v0.88.

[2020-04-09 14:10] xvkdev commented on #1252
I made a copy of the file - anyone wanting to work on this ping me on slack for a link to the file.

[2020-04-09 14:10] cfsmp3 commented on #1252
I made a copy of the file - anyone wanting to work on this ping me on slack for a link to the file.

[2020-04-09 15:31] NilsIrl commented on #1252
What do you mean by "crash". On my side, it doesn't crash although there are many warning and error messages.

[2020-04-09 16:34] dcjm commented on #1251
Did you try stream2.ts?  This seems to show the problem quite quickly.  As a further check I installed Debian Buster in a new virtual machine with the minimum necessary to build ccextractor.  It processed stream1.ts without a problem.  I have a feeling that only failed when I added explicit bounds checking assertions.  The output for stream2.ts was:
[code]
Stream3.ts produced
[code]

[2020-04-09 18:24] cfsmp3 commented on #1252
I suspect this is a Windows only issue. @canihavesomecoffee can you try this in the SP? We'd need to test it in a clean Windows install. Most likely mine has too many things to be reliable.

[2020-04-09 19:07] artivision commented on #1250
OK then, how do i send the sample? Is there a need to fill a request to participate in the team?

[2020-04-09 19:23] NilsIrl commented on #1250
Just upload to a file sharing service (e.g. firefox send, dropbox or google drive) and then send an email with a link to the file at the address available here https://ccextractor.org/public:general:support#email. Alternatively, if you can share the file publically just post a link here.

But if it happens on all mp4 with Greek hardsubs then you can just find 1 and link it to us.

[2020-04-09 20:16] artivision commented on #1250
Random link:

tainio-mania.co/load/seir/roswell_new_mexico_2019/21-1-0-20259
Can be downloaded from Chrome's Network/Media function.

Also i solved the problem for now by compressing videos at 320p fast decode. Then the OCR finishes just before my memory gets to 90% on just 2 minutes.

There is another problem tho. How do i set **Confidence threshold** and **Similarity threshold** from command lin

[2020-04-09 20:22] NilsIrl commented on #1250
Unfortunately, it turns out I can't read greek. I have no idea where I am supposed to download the file.

[2020-04-09 20:56] artivision commented on #1250
No need, inside **Player 2 (HTML 5)** just press **Season 2** and then **Episode 1**, will start play.
Then **right click on Chrome/Chromium->Control**, when the **inspection page** shows up you choose **Network** and then **Media**. That way you can discover videos on many webpages. Then **right click above the newfound** and **open in new tab**, will start download. You can also finish with **co

[2020-04-12 21:03] NilsIrl commented on #1251
Well, I've tried with `stream2.ts` and `stream3.ts` but to no avail, nothing wrong on my side.

Could you send a diff/patch/branch of the checks you added?

[2020-04-12 21:23] cfsmp3 commented on #1251
@dcjm what exact command line did you use?

[2020-04-12 21:27] cfsmp3 commented on #1239
@Cryosim Your sample is totally different (a Mastroka file with several subtitle tracks). You should open your open issue.

[2020-04-12 21:58] cfsmp3 commented on #1239
I'm closing this because the fundamental error is that @ShraxO1 doesn't have the OCR enabled version of CCExtractor - HOWEVER I will be opening a new ticket with more details of what I'm seeing myself while testing this.

[2020-04-12 21:58] #1239 closed

[2020-04-12 21:59] cfsmp3 opened #1254 "Sad situation with Windows + OCR"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

To get the version of CCExtractor, you can use `--version`.

Please check all that apply and **remove the ones that do not**.

In the necessary information section, if this is a regression (something that used to work does not work anymore), make sure to specify the last known working version.

Only specify the min

[2020-04-12 22:22] NilsIrl commented on #1254
#1170

[2020-04-12 22:26] NilsIrl commented on #1254
Jokes aside, try PR #1170 on windows, might solve the problem. Also play around with deleting the data directory. You might fall on a message by tesseract that says where it looked for the data and didn't find it. If this message is not to your liking, it can be modified/suppressed using the `dup2` syscall.

[2020-04-13 15:47] dcjm commented on #1251
The commit with both the assertions and the fix is [here](https://github.com/dcjm/ccextractor/commit/6b6f548531b7b681d5bd99a563077e6fd80a8ba9).  The fix is the addition of lines 660 and 661 so that needs to be removed or commented out to trigger the assertions.

The command line was simply:
`ccextractor/linux/ccextractor stream2.ts`

Which Linux platform do you use for testing?  I may be able to r

[2020-04-16 19:05] artivision commented on #1250
This page works for download better: https://oipeirates.tv/roswell-new-mexico-2019/tainies-online

[2020-04-16 20:31] NilsIrl commented on #1250
I've managed do download the other one (was a real pain, but managed to do it nonetheless). So this can be reopened.

[2020-04-17 14:05] zephyrxx opened #1255 "[PROPOSAL] Support for new services"
CCExtractor version: X.X

# In raising this issue, I confirm the following:

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm porting isn't

[2020-04-18 14:18] hamelg opened #1257 "[BUG] subtitles with alpha channel are badly detected"
CCExtractor version: 0.88
tesseract version: 4.1.1
leptonica version: 1.79.0

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Linux

# Video links
https://app.box.com/s/mhu17q37hc4ofprneydfailktp70pi4l

# Additional information
Take the sample.

`$ ccextractor -o sbt -out=spupng -dvblang fra -ocrlang fra -oem 0 sample.ts`

The result is very bad : 50% of subtitles

[2020-04-18 20:06] hamelg commented on #1067
Hi, I have the same issue. I tried the workaround :
 https://github.com/CCExtractor/ccextractor/issues/1067#issuecomment-578506743
Unfortunately, it causes an other issue : the subtitle timestamps are wrong, the first offset is null.

[2020-04-19 14:21] #1255 closed

[2020-04-23 01:34] Linus789 opened #1258 "[BUG] Memory access error (memory dumped)"
CCExtractor version:
[code]

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting is

[2020-04-23 04:41] cfsmp3 commented on #1258
Not a lot of info there. I'd try compiling it with debug info and running it with valgrind. Hopefully the stacktrace will be helpful.

Also, try writing to a different format - with a with of luck, .srt will work on the same input. Fixing output is always easier.

[2020-04-23 09:37] apovalyaev opened #1259 "[BUG] After ccextractor compiled within VS2019, hardsubx option does not work"
Compilation steps (Win10):
1) https://github.com/CCExtractor/ccextractor
   1.1) git clone https://github.com/CCExtractor/ccextractor
   1.2) git checkout tags/v0.88 -b master
2) Definitions ENABLE_HARDSUBX and ENABLE_OCR is added
   Change Build Environment (Project settings) to VS2019, SDK 103) Deliver thirdparty dependencies:
   Setup Vcpkg the Visual C++ Package Manager.
   3.1) git clone http

[2020-04-23 13:43] Linus789 commented on #1258
[cmake_debug.txt](https://github.com/CCExtractor/ccextractor/files/4522823/cmake_debug.txt)
[make_debug.txt](https://github.com/CCExtractor/ccextractor/files/4522824/make_debug.txt)
[valgrind_debug.txt](https://github.com/CCExtractor/ccextractor/files/4522826/valgrind_debug.txt)

[2020-04-23 19:59] apovalyaev commented on #1254
Issue might be the result of not-properly builded solution. The  issue should not appear if the solution is built properly. I checked it within VS2015 and VS2019 (default SDKs are used) and have not faced out such kind of issue.

[2020-04-23 20:29] cfsmp3 commented on #1259
This should be a PR so the VS solution is correct, not instructions on building. If something is missing in definitions, those go in the VS settings for the project.

[2020-04-24 08:45] apovalyaev commented on #1259
I think that such kind of issues (this one and #1254 also) might be due to the project is not built correctly. In such cases assert happens without any visible reason, and codecid can get "wrong" (out of enum rang) values.
I have tried right the same build schema, EXPECT ffpmeg library is taken not though vcpkg, but project own libs (windows\libs\lib\ffmpeg-lib) is used. And if already build .lib

[2020-04-24 10:16] sdelafond opened #1260 "[BUG] Does not build with gcc-10 and -Werror"
CCExtractor version: 0.88

# Necessary information

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Linux

# Additional information

0.88 fails to build when using gcc-10 with -Werror (while it goes fine with gcc-9); most of the errors are redefinitions of `ccx_dtvcc_default_pen_color`, `ccx_dtvcc_default_pen_color`, and `signal_ctx`.

The full log can be found at

[2020-04-25 11:46] apovalyaev commented on #1254
#1261

[2020-04-26 07:57] apovalyaev commented on #1254
Now after "Update VS project build settings" we can use the following steps (which automatically takes the last version of tesseract, as for now it is tesseract-4.1.1)

Build steps which use last version of Tesseract:
1) Clone repository https://github.com/CCExtractor/ccextractor
2) Setting up vcpkg:
   2.1) git clone https://github.com/Microsoft/vcpkg.git

        PS> .\bootstrap-vcpkg.bat
   2.2

[2020-04-26 17:14] cfsmp3 commented on #1254
I'd say there's something missing here. I followed your instructions, no errors (good), but the binary is still using tessearct-4.00dev, which makes sense - why would it pick any other version if that's the one we have inside the project?

[2020-04-26 18:40] apovalyaev commented on #1254
Let's check if we are on the same page:
1) Per my understanding, we have only got ffmpeg libraries precompiled inside project (directory windows/libs/lib/); So, when just being cloned, ccextractor should not be built unless there is already some other "copy" of tesseract library which is installed not through vcpkg.
If the project compiled fine before you issued "vcpkg install tesseract:x86-window

[2020-04-26 18:56] canihavesomecoffee commented on #1254
@apovalyaev Tesseract is included in those "cppan" dependencies; refer to https://github.com/CCExtractor/ccextractor/tree/master/windows/libs/lib/release-lib

[2020-04-26 19:34] apovalyaev commented on #1254
I've taken a look #592 to see that tesseract was manually compiled.
1) #592 was closed at the beginning of 2017, so it might be outdated a little bit;
2) From the other hand, it looks like there is a bug in copal dependencies (which was discovered while  running with "-hardsubx" option;

I can see two ways:
1) Remove "ccpan" dependencies to see how it will work within vcpkg;
2) Rebuild "ccpan" lib

[2020-04-26 23:55] cfsmp3 commented on #1254
Both solutions are OK. Personally I favor "the least required steps when starting from scratch".

As a developer, I prefer not having to install a lot of things to build something for the first time. That makes me more likely to contribute to a project than if I have to install a whole toolchain to get to a binary.

As a end-user, we should strive to provide a self-contained .msi that includes any

[2020-04-27 08:58] NilsIrl commented on #1260
This has been fixed on master

[2020-04-27 08:58] NilsIrl commented on #1260
Duplicate of #1225

[2020-04-27 12:20] apovalyaev commented on #1254
To make things work automatically, it should provide both tesseract-ocr libraries and tess-data compatible (this is what this issue is about). Hence, when building solution/package, it needs to
(A) Replace outdated "ccpan" libraries within a newly rebuilt versions;
(B) Add tessdata directory to git clone https://github.com/ccextractor repository;

As for Step (A)...
Below are the steps to make the

[2020-04-28 16:53] #1260 closed

[2020-04-28 20:39] hamelg commented on #1257
I did the modification, but the result is still so bad.
I found out the -oem option doesn't work : if tesseract v4 is installed, ccextract force oem parameter to 1.
Why ?
I fixed that to set tesseract oem with the option -oem passed on cli (ccx_options.ocr_oem) and now with oem=0 the result is near perfect. On my subs, oem=0 gives the best results, oem=1 or 2 are useless.

[code]

[2020-04-29 19:11] hamelg commented on #1067
No, the workaround works fine. My timestamp issue was related to my ts file.

[2020-04-29 19:25] hamelg commented on #1257
I close my issue because the option -oem 0 with -quant 2 gives a very good result. I'll open another about the -oem option.

[2020-04-29 19:25] #1257 closed

[2020-04-29 19:38] hamelg opened #1264 "[BUG] -oem option has no effect with tesseract v4"
CCExtractor version: 0.88
tesseract version: 4.1.1
leptonica version: 1.79.0

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Linux

### Video links

https://app.box.com/s/mhu17q37hc4ofprneydfailktp70pi4l

### Additional information

I found out the -oem option doesn't work : if tesseract v4 is installed, ccextract force silently oem parameter to 1.

https://githu

[2020-05-02 14:12] muzena commented on #1258
@cfsmp3
I have the same problem on Linux Mint 19.
I have mkv PVR records, recorded in [Tvheadend](https://github.com/tvheadend/tvheadend), with [Happuage WinTV-HVR-2205](https://www.hauppauge.co.uk/site/products/data_hvr2205board.html)
I tried to extract from mkv file subtitles it gives me Segmentation fault and Memory write error
I compile with these flags:
`     ./configure --enable-hardsubx --e

[2020-05-05 15:22] MaximVol opened #1266 "[BUG] CCExtractor crashes with error "Error: Broken AVC stream - forbidden_zero_bit not zero""
CCExtractor version: 0.87

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posting isn't already reported.
- [X] I have checked that the i

[2020-05-07 11:41] cfsmp3 commented on #1264
@hamelg this seems trivial do fix, send a PR? :-)

[2020-05-09 17:11] #1264 closed

[2020-05-26 10:49] mridullpandey commented on #1163
hi can i take this up

[2020-05-26 21:17] cfsmp3 commented on #1163
No need to ask - you can work on anything that is open :-)

On Tue, May 26, 2020 at 3:49 AM mridulpandey <notifications@github.com> wrote:

[2020-06-12 12:29] manybuddies commented on #1266
CCExtractor version: 0.88

**Necessary Information**
Is this a regression (i.e. did it work before)? no
What platform did you use? Windows
What were the used arguments?
ccextractorwinfull  "Born.Again.E05-E06.200427.1080i.IPTV.H264-WiND.ts" --service 1[EUC-KR]

**Video Link:**
https://drive.google.com/file/d/1Cwhqfv2RVDvyHCkZzCy5TGCzVKyl9vX4/view?usp=sharing

**Error Log**
Extracting closed captio

[2020-06-29 19:17] slifty opened #1272 "[QUESTION] Is the ttxt format specification documented anywhere?"
CCExtractor version: 0.88

# Necessary information
N/A

# Additional information

I'm writing a parser for ccextractor output as part of [a video processing pipeline project](https://tv.kitchen), and was wondering if there is a specification for the `ttxt` otput format.  I know there are other formats linked to pretty robust specs (e.g. `smptett`) but the `ttxt` seems very concise so I would prefe

[2020-06-30 00:35] NilsIrl commented on #1272
From `--help`:

[code]

[2020-06-30 12:36] NilsIrl commented on #1272
Also just to make it clear, `ttxt` isn't a formally specified format, unlike many of the formats supported by `ccextractor`. So you may prefer to use one of those instead.

[2020-06-30 17:21] #1272 closed

[2020-07-02 07:55] dvdlvr opened #1273 "[BUG] startat / endat doesn't work"
CCExtractor version: 0.88

# Necessary information
- Is this a regression (i.e. did it work before)? Don't know. First time I tried
- What platform did you use? Linux - Ubuntu
- What were the used arguments? `-startat 06:00 UK_ITV3.ts -o ITV.srt`
(Did both with and without -ve)

# Video links{replace with the arguments}
https://drive.google.com/file/d/0B_61ywKPmI0TcnJDVlRXcDZIek0/view?usp=sharing

[2020-07-06 10:13] hlabor opened #1274 "[BUG] DVB Subtitles - output xml data not in correlation with png files"
CCExtractor version: {replace with the version}

# In raising this issue, I confirm the following:

I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue

[2020-07-12 18:37] ryanchild commented on #1252
I see the same output as posted in the reporter's "Additional Information" when opening an mp4 with the 0.88 gui in windows 10 home and the .srt file is 0 bytes.  No segfault.

If I copy the command line and run it in power shell, I get:
[code]

I don't see previous versions on the download page but I happen to have a copy of 0.79 and it works fine.  Let me know if I can help by providing my input

[2020-07-17 19:53] rboy1 commented on #1115
@cfsmp3 Carlos any chance of getting a new build? It's been a while and many fixes have gone in since the last release

[2020-07-20 18:02] johan456789 commented on #1173
I'm also having this problem on mac. So I first run `./autogen.sh` and then [quote](https://github.com/CCExtractor/ccextractor/issues/1173#issuecomment-586655026) the part in line 6768 of `configure`.

Then run
[code]

This runs with no error.

But `./ccextractor --hardsubx` still doesn't recognize `--hardsubx`.

[code]

What can I do now?

[2020-07-20 21:34] cfsmp3 commented on #1173
After running configure did you actually run make && make install ?

[2020-07-20 22:07] cfsmp3 commented on #1115
I'll bundle a new version after GSoC (in one month or so). These days I really don't have a lot of time on my hands I'm afraid.

[2020-07-21 04:18] johan456789 commented on #1173
No I only ran `make ENABLE_HARDSUBX=yes ENABLE_OCR=yes`.

So if I run

[code]

I would get this error in the end:
[code]

[2020-07-21 15:06] cfsmp3 commented on #1173
configure by itself is not enough.
Anyway it seems like make itself was successful, so probably you have a working binary in the build directory, even if install failed for some reason.

[2020-07-21 16:26] johan456789 commented on #1173
Thanks for the help, but no, the output binary still doesn't recognize `--hardsubx`.

The same error

[code]

[2020-07-21 16:29] vr8hub commented on #1173
No idea what the install problem is—that’s a separate issue.

But you have to run both configure and make with the ENABLEs. You’ve only done one or the other.

[2020-07-21 16:35] johan456789 commented on #1173
What are the commands you run?

I tried this and it still doesn't work. I suppose I'm running both here?

[code]

[2020-07-21 16:44] vr8hub commented on #1173
Yes, you are in that instance, your earlier one didn’t.
Did you look at the config log to confirm it really was enabled?
Did you look at the make log and ensure everything was linked in correctly?
Did you ensure you’re running the right executable?
(Sorry to ask obvious questions, but the obvious ones are usually my problem.)

I’m not at the computer where I got this working, and it’s been several

[2020-07-21 17:26] johan456789 commented on #1173
Looks like they are not enabled as in `configure.log`:

[code]

`make` outputs no error, some warnings though.

Yes, I gave the full path.

No worries. It'd be great to pinpoint the problem.

[2020-07-21 17:40] vr8hub commented on #1173
Unfortunately, you're the only one with your files, so you're going to have to follow the chain all the way through. I had to do the same thing; it's how I found the issue to start with.

Does your config.log show the right flags passed to it at the top?
Does your config.out show the two libraries that are required? (One of them is tesseract something, which I only remember because Marvel; I don't

[2020-08-06 08:58] larxxor opened #1275 "[QUESTION] "No captions were found in input." when input is dvr recordings."
VERSION
CCExtractor 0.88, Carlos Fernandez Sanz, Volker Quetschke.

COMMAND LINE
ccextractor video.mkv

I use CCExtractor on mkv files. There are different subtitle encodings. I see S_DVBSUB, S_VOBSUB, S_HDMV.

When I use CCExtractor on titles that are recorded on my DVR, I get "No captions were found in input." And zero length srt files.
There is clearly subtitles though, they appear in VLC and a

[2020-08-06 13:38] #1275 closed

[2020-08-06 13:39] larxxor commented on #1275
I think the problem is over reaching here. I need to read up on ccextractor with ocr parsing first.

[2020-08-10 18:03] BATMANTDK opened #1276 "No captions found in input"
BUG CCExtractorGIU v. 0.85

CCExtractor 0.85, Carlos Fernandez Sanz, Volker Quetschke.
Teletext portions taken from Petr Kutalek's telxcc
--------------------------------------------------------------------------
Input: X:\Batman.Media\Batman TV New\Backyard Envy (2019) S02\Backyard.Envy.S02E01 Business Is Blooming.mkv
[Extract: 1] [Stream mode: Autodetect]
[Program : Auto ] [Hauppage mode: No] [U

[2020-08-18 17:41] P1YU5H-50N1 commented on #102
Can I take this up?

[2020-08-18 22:04] cfsmp3 commented on #102
Sure

On Tue, Aug 18, 2020, 10:41 P1YU5H-50N1 <notifications@github.com> wrote:

[2020-08-20 10:22] P1YU5H-50N1 commented on #102
I am on it! Should I start somewhere in particular?

[2020-08-20 21:06] cfsmp3 commented on #102
Start by reproducing the problem :-)

On Thu, Aug 20, 2020 at 3:22 AM P1YU5H-50N1 <notifications@github.com>
wrote:

[2020-08-23 03:35] madzarevic opened #1277 "BUG - not all closed captions are found"
CCExtractor version: 0.85 - 0.88 (I checked 0.85, 0.85b, 0.87, 0.88)

# In raising this issue, I confirm the following:

I've read all the stuff and did my best to check that this issue is not a duplicate

# Necessary information

I confirmed that this problem does not happen in version 0.84 and earlier (I checked 0.79, 0.80, 0.82)
I used Windows 10 64 bit.
I used the following arguments:
--gui_mo

[2020-08-24 05:56] akkermansadriaan opened #1278 "[BUG] SMPTE Timed Text contains unclosed p-sections with teletext input"
CCExtractor version: CCExtractor 0.88

# Necessary information

- What platform did you use? Mac
- What were the used arguments? `-out=smptett`

# Video links

I've sent a private invitation containing the original transport stream that I used. It includes the result .srt and .ttml files too.

# Additional information

Converting teletext to smptett results an addition unclosed p-section for every

[2020-09-02 21:00] voss-m opened #1279 "[QUESTION] Cannot find the correct teletext page from TV file"
#514 In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x

[2020-09-03 16:19] magauthority commented on #1223
I encountered this same issue on Ubuntu 20.04.1 using the apt-get available build (which was 87 I believe) so then I downloaded the .88 source and compiled, and encountered the same issue when trying to extract subtitles from an .mp4 file, although it worked perfectly with the same file only in an .mkv container. Strange. Reverting back to 0.85b worked flawlessly.

Here's the specific error messag

[2020-09-13 01:52] MackeyStingray commented on #1249
You just need `-ocrlang ell`

[2020-09-13 02:28] MackeyStingray commented on #1258
Seeing the same issue in Debian Buster.  The issue is
[code]

Adding the line `char* probe_tessdata_location(const char *lang);` to src/lib_ccx/ocr.h resolves it.

[2020-10-24 19:57] LostDingo commented on #1223
Hello,

I am new to this program, and am having the same issue with .m4v files from iTunes. When I tried 0.88, it recognized that there was one CC track in the media file but had the "Unsupported Track Type" text appear and delivered an SRT file without anything inside it. I tried 0.85b as suggested above, but it doesn't recognize the presence of any CC tracks in the media file.

This is what the

[2020-11-02 10:51] utkarsh147-del commented on #1274
Please assign this issue to me.I want to do this

[2020-11-02 10:53] utkarsh147-del commented on #1278
Please assign this issue to me.I want to do this

[2020-11-02 13:34] canihavesomecoffee commented on #1278
We don't assign issues to someone, you can just start working on the issue if you want :)

[2020-11-02 15:33] utkarsh147-del commented on #1278
Ok thankyou sir for this reply

On Mon, Nov 2, 2020 at 7:04 PM Willem <notifications@github.com> wrote:

[2020-11-18 10:05] TahaRsystem opened #1281 "BUG : Error: Broken AVC stream"
I am using ccextractor version: 0.88 on linux ubuntu 18.04.

I am sending udp stream to ccextractor from ffmpeg with command:
ffmpeg -re -i HE-AAC-V1.ts -map i:0x3e8 -map i:0x44c -c copy -f mpegts udp://127.0.0.1:1235

I am receiving udp stream as input to ccextractor and taking dump from it as output.srt :
./ccextractor -in=ts  -udp 127.0.0.1:1235 -o output.srt

but after few seconds of running i

[2020-11-18 18:38] cfsmp3 commented on #1281
Have you tried writing the output of ffmpeg to a file and then feeding that file to CCExtractor?
This doesn't seem like a CCExtractor problem.

[2020-11-23 16:39] Rameishkumar123 opened #1282 "empty 608 cc3 caption generating with option -12"
I am using
cmd:  /usr/bin/ccextractor -nobom --service all[ISO88591] -nofc -ts   -12 -s 180 /home/dn/ramesh/191505_20201123020000.ts

its generating caption like

-rw------- 1 root root     205930 Nov 23 11:23 191505_20201123020000_1.srt
-rw------- 1 root root          0 Nov 23 11:04 191505_20201123020000_2.srt
-rw------- 1 root root     132090 Nov 23 11:04 191505_20201123020000.p1.svc01.srt
-rw--

[2020-11-23 17:14] Rameishkumar123 commented on #1282
/usr/bin/ccextractor -nobom --service all[ISO88591] -nofc -ts -1 -s 180 /home/dn/ramesh/191505_20201123020000.ts working
/usr/bin/ccextractor -nobom --service all[ISO88591] -nofc -ts -2 -s 180 /home/dn/ramesh/191505_20201123020000.ts  working

but -12 is not working

[2020-12-08 14:09] rboy1 commented on #1115
@cfsmp3 do you think it’s ready for a release?

[2020-12-08 20:17] xvkdev commented on #1115
Well, there's lots of bugs, but there's no one doing active work these days, so they're not going to go away magically.
I've set a bit of time this Sunday to do a release with what we currently have.

[2020-12-08 20:18] cfsmp3 commented on #1115
Well, there's lots of bugs, but there's no one doing active work these days, so they're not going to go away magically.
I've set a bit of time this Sunday to do a release with what we currently have.

[2020-12-15 14:53] rboy1 commented on #1115
@cfsmp3 were you able to get the new build released Carlos?

[2020-12-21 09:30] canihavesomecoffee opened #1284 "Build pipelines can use updated versions"
CCExtractor version: N/A

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't

[2020-12-25 16:19] kvshravan commented on #1284
Hello there, I wanna contribute to CCExtractor and I think it'd be better to start with this easy one.

[2020-12-26 12:59] kvshravan commented on #1284
@canihavesomecoffee  I have sent a PR , please check into it!

[2020-12-28 08:59] #1284 closed

[2021-01-06 10:29] neilmehta31 commented on #1034
Hey guys, I am new to open source. I would like to work on this issue if it is still open. Please guide me how to get started and work on this issue.

[2021-01-09 18:23] cfsmp3 commented on #1034
@neilmehta31 By all means go ahead.
Usually you want to start by reproducing it.

[2021-01-10 06:21] neilmehta31 commented on #1034
@cfsmp3 Hey, I got the following output while running against one of the sample recording files given on the website

[2021-01-10 06:24] neilmehta31 commented on #1034
Hey @cfsmp3 , I got the following output while running against one of the sample recording files given on the website
[code]
If its the wrong file could you please provide a link to that file to reproduce the issue. Thanks

[2021-01-15 10:21] siv2r commented on #646
Hey all,
I would like to take a shot at this issue :)

[2021-01-15 10:22] canihavesomecoffee commented on #646
Just go ahead :+1:

[2021-01-16 17:00] siv2r commented on #646
Just to confirm whether I am moving in the right direction.
The decoder CEA-708 misses writing (in the output file) the last subtitle information whereas the decoder of CEA-608 writes this information (in the output file) for cropped ts files.

I am able to reproduce this issue for the [USA.srt](https://drive.google.com/file/d/0B_61ywKPmI0TQ2VQRUNpdWFZNVE/view?usp=sharing) file using the command `

[2021-01-17 14:56] Kunal614 opened #1292 "I want to contribute in CCExtractor , please help me to getting things"

[2021-01-17 16:49] #1292 closed

[2021-01-24 20:03] bbgdzxng1 opened #1293 "[QUESTION] - Scenarist Closed Caption (SCC) Input support"
CCExtractor version: 0.88

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2021-01-24 21:12] bbgdzxng1 commented on #1293
Resolved by running SCCTOOL's perl script rather than the Windows binary.

[2021-01-24 23:11] bbgdzxng1 opened #1294 "[BUG] Segmentation Fault when converting from McPoodle raw to webVTT"
CCExtractor version: 0.88

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2021-01-24 23:47] cfsmp3 commented on #1293
Let's leave this open if there's a problem with it :-)

[2021-01-25 18:31] bbgdzxng1 commented on #1293
Worked perfectly for Raw > SRT.

[code]

This one should be ok to close, as the above flow worked for SCC > RAW> SRT.

There was an issue for SCC > RAW > VTT, which I have opened under its own ticket, because it is specific to VTT.  https://github.com/CCExtractor/ccextractor/issues/1294

Thanks!

[2021-01-26 00:26] rboy1 commented on #1115
@cfsmp3 bump on release

[2021-01-28 04:35] siv2r commented on #1034
@workflowsguy can you provide this video sample? I am unable to reproduce this.
@cfsmp3 this message should be independent of the container format, right? (since Teletext is a subtitle encoding)

I ran `ccextractor path_to_file` for the [video file](https://drive.google.com/drive/folders/0B_61ywKPmI0Tc1lTaWVBeHNLTTA) (provided in ccextractor's [tv samples page](https://www.ccextractor.org/public:g

[2021-02-02 12:01] NilsIrl commented on #1294
The problem is a null pointer de-reference. Timing is a null pointer so trying to get sync_pts2fts_set crashes.

https://github.com/CCExtractor/ccextractor/blob/b1c22e503412f455d3740d0ce5fe9cabc66fe701/src/lib_ccx/ccx_encoders_webvtt.c#L210

[2021-02-02 12:14] NilsIrl commented on #1294
If that `timing` is meant to be null and it isn't a problem with the parser, should we just set the values to 0? That seems to be what is recommended according to https://sdks.support.brightcove.com/features/synchronizing-webvtt-captions.html

[2021-02-07 04:15] siv2r commented on #1294
Here, by "values," do you mean the variables `context->timing->sync_pts2fts_pts`, `h1`, `m1`, `s1`, `ms1` (in the code below) should be set to `0`? This makes sense according to the recommended settings.

https://github.com/CCExtractor/ccextractor/blob/cf84757e02889ffa0231624fdf941eafded59906/src/lib_ccx/ccx_encoders_webvtt.c#L220-L222

If you don't mind, can I try to look into whether `context->t

[2021-02-07 16:42] NilsIrl commented on #1294
No, I meant we should write the header with as values 0 (instead of what would have been in `sync_pts2fts_fts`.

[2021-02-08 09:27] subodhk01 opened #1296 "[BUG] Errors while compiling - implicit declaration of function 'write_wrapped'"
CCExtractor version: Build failed ( last commit on master was: commit b1c22e503412f455d3740d0ce5fe9cabc66fe701 )

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am

[2021-02-08 16:36] NilsIrl commented on #1296
Which build system was used?

[2021-02-08 16:37] subodhk01 commented on #1296
Sorry I don't understand

[2021-02-08 17:42] #1296 closed

[2021-02-09 15:13] siv2r commented on #1294
I meant the same. I should not have used said "set" variables. Shouldn't we also need to write 0's (in the header) instead of `h1`, `m1`, `s1`, `ms1`? Since they are dependent on `sync_pts2fts_fts` (due to the function below)
https://github.com/CCExtractor/ccextractor/blob/cf84757e02889ffa0231624fdf941eafded59906/src/lib_ccx/ccx_encoders_webvtt.c#L215

[2021-02-09 17:02] siv2r commented on #1294
I compared the `webvtt` encoding for `cc_sample_dos2unix.bin` (given in this thread) and [UK_ITVBE.ts](https://drive.google.com/file/d/0B_61ywKPmI0TSGVpOXd4NjhuSU0/view?usp=sharing) (provided on ccextractor's [tv samples page](https://www.ccextractor.org/public:general:tvsamples)) and found something really weird :wozzy:

https://github.com/CCExtractor/ccextractor/blob/cf84757e02889ffa0231624fdf94

[2021-02-09 18:45] NilsIrl commented on #1294
`ctx->timing` is not null because timing information is included in the file. I assume this is not included in McPoodle raw (which just contains closed captions), or not in this specific mcpoodle raw file or ccextractor is not able to parse it correctly.

[2021-02-10 18:50] siv2r commented on #1294
By this, I meant that the value of `ctx->timing` just after the initialization of `ctx` (using `malloc`) was different in both cases. Shouldn't the `ctx->timing` value be the same in both cases since this is a simple initialization? (later on, it may change depending on the input)

I might have made a mistake somewhere (while debugging in vs code). I will check this again.

Will look into this.

[2021-02-18 04:03] bbgdzxng1 commented on #1294
I really appreciate you folks taking the time to look at this.  I still plan on using McPoodle > ccextractor as a means of converting SCC > McP Raw > webVTT and I am very grateful that you have even looked, whatever the outcome.  Thanks!

[2021-02-18 14:10] siv2r commented on #1294
Happy to help. Hope to fix this soon!

[2021-02-20 09:12] gagan-baghel commented on #893
hey i would like to work on this

[2021-02-20 09:13] gagan-baghel commented on #893
@cfsmp

[2021-02-20 09:16] gagan-baghel commented on #893
can you help me to understand this a little more

[2021-02-23 11:03] 85ayush commented on #1034
I would love to work on this issue, I am a beginner, can you please guide me.

[2021-02-23 11:05] 85ayush commented on #102
I would like to work on this issue, I am a beginner to open source contribution. Can you please guide me?

[2021-03-02 17:53] cfsmp3 commented on #646
Sorry for the late reply - just found this in a pile of emails.
I'd start by looking at the contents of the decode buffer at the very end
of the program. Does it contain the missing text? (and therefore it's just
that we're not writing it to file)

On Sat, Jan 16, 2021 at 9:01 AM Sivaram D <notifications@github.com> wrote:

[2021-03-02 22:09] canihavesomecoffee opened #1301 "BUG - Colombian (DVB) subtitles not extracted"
CCExtractor version: 0.85-0.88 & master

# Necessary information

- Is this a regression (i.e. did it work before)? No
- What platform did you use? Linux
- What were the used arguments? `-autoprogram` (originally as a stream, but mp4's from that stream don't work either)

# Video links

- https://sampleplatform.ccextractor.org/sample/163
- https://sampleplatform.ccextractor.org/sample/164
- https:

[2021-03-04 01:20] Ronstang opened #1302 "[QUESTION] How do I get CCExtractor to batch process my TS files?"
I just started using CCExtractor GUI 0.88 manually as MCEBuddy has been using it for me for quite some time in the background but the look of the subs is horrible compared to the file I ran manually the other day out of need.

It is probably a user error but I wanted to test running multiple files through CCExtractor so I added several to the "input window" dragging and dropping as the GUI says.

[2021-03-04 12:33] siv2r opened #1303 "[QUESTION] `get_video_min_pts` function not called anywhere"
CCExtractor version: master branch (4 Mar 2021)

# Necessary information

- Is this a regression (i.e. did it work before)? {NO}
- What platform did you use? {Linux}
- What were the used arguments? `No arguments used.`

# Additional information

I noticed that the `get_video_min_pts` function is not used anywhere.
https://github.com/CCExtractor/ccextractor/blob/cf84757e02889ffa0231624fdf941eafded5

[2021-03-04 23:05] NilsIrl commented on #1303
may be relevant, the commit where this got commented out: https://github.com/CCExtractor/ccextractor/commit/462f63a294313021706417b6c186a1c8d33c4a07#diff-8ea29240ddcd2096742634831a5e214ec954ed35d04dc554742d1e65592a026cR734-R735

[2021-03-05 09:36] fernaper commented on #1301
Can this issue be prioritized? We have no problem paying if necessary.
Is there any planning date to resolve this issue?
If not, is there any alternative to extract the subtitles?

Sorry to put pressure on you, but we are in a bit of a hurry.
Thank you for your hard work!

[2021-03-08 04:33] fewwwww commented on #918
Just browsing GSoC issues, looking to work on the flutter project but I think I can help out a little bit with this issue.

Here is the document for the global standard of DTMB (GB20600-2006), 130 pages all in Chinese:
     https://www.doc88.com/p-810688531386.html
Here is a patent of a hardware that is able to separate audio and video signals and display subtitles on DTMB equipment:
    https://n

[2021-03-11 06:19] PunitLodha commented on #677
What i found was that there is are extra 2 bytes (Both are always 0) after the stipulated len specified in the header

Example:-
Here in the header, len is specified as 22.
Number |  cc valid | cc type | cc data1 | cc data2
| --- | --- | --- | --- | --- |
.. | .. | .. | .. | ..
3 | 1 | 3 | pkt header | pkt data
4 | 1 | 2 | pkt data | pkt data
5 | 1 | 2 | pkt data | pkt data
6 | 1 | 2 | pkt data |

[2021-03-11 16:49] cfsmp3 commented on #677
@PunitLodha Good research.
Well, give it a go and see if it makes things better or worse.

[2021-03-11 20:07] denizdogan commented on #1111
This should be reopened. The issue is still as described in the original message and the workaround is not a solution.

[2021-03-18 13:41] fugueink opened #1305 "QUESTION: How do I keep subtitles at 24fps?"
CCExtractor version: 0.88

# In raising this issue, I DO NOT confirm the following:

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [ ] I have checked that the issue I'm posti

[2021-03-19 00:04] #1301 closed

[2021-03-19 13:39] PunitLodha commented on #646
@cfsmp3
I was not sure which decode buffer to look for. At the end of `general_loop()`, I looked at `dec_ctx->dtvcc->decoders[0]`, and it had cc_count = 245, but inside `tv->chars`, everything has sym = 0. There was also a window defined, but rows in it were empty.
So, I am not sure what to make of it, and how to proceed ahead

Also i looked at how 708 subtitles were extracted, and i guess the sto

[2021-03-19 18:03] cfsmp3 commented on #1305
CCExtractor doesn't do FPS - it just uses the the timing from the input video.
But if you think there's a bug somewhere with a specific video please share a link to it. We can't fix anything we can't reproduce.

[2021-03-21 05:42] dak-x commented on #1235
@PulkitMishra From your discussion I conclude that subtitle text is provided inside the spu-xml only for debugging purposes. I also assume that the source for invalid xml tokens is from the subtitle itself (implying this is not a decoding bug). I suggest the solutions:

1. Remove the subtitle text comments from the spu-xml for production. Only keep it for debug builds. We can display a warning mes

[2021-03-21 05:50] cottuli commented on #1173
@johan456789 the parameter you need to use is -hardsubx not --hardsubx.

[2021-03-21 06:15] cottuli opened #1306 "[PROPOSAL] Add instructions on how to compile with HARDSUBX (on macOS) to docs/HARDSUBX.txt"
Adding some instructions on how to compile with HARDSUBX, on macOS, to either COMPILATION.md or docs/HARDSUBX.txt, would be much appreciated.

When I installed I first tried `brew install ccextractor`, and `cd ccextractor/mac; ./build.command OCR`, as suggested in COMPILATION.md, but both of these methods don't provide hardsubx suport.

I then tried using cmake (`cd ccextractor/; mkdir build; cd b

[2021-03-21 19:54] cfsmp3 commented on #1306
We'll need a Mac user to send us a PR. I think none of the core team developers actually uses a Mac, so the reason it works is just portability, not that an actual effort was made here.

[2021-03-21 19:55] canihavesomecoffee commented on #1306
IIRC @MatejMecka is one of the persons who has a Mac. Maybe he can look at it (if he has time)

[2021-03-21 19:57] MatejMecka commented on #1306
Hey there! I'll happily take to solve the issue 🐱

[2021-03-21 19:58] cfsmp3 commented on #1235
The invalid XML is caused by our writer not escaping some characters at all to comply with XML specifications. It's not a problem with the subtitles (which don't care at all about XML) or the format itself.

It's our own code being very sloppy here.

Yes, this is the right approach.

[2021-03-21 20:05] cfsmp3 commented on #646
I wrote this so long ago I don't even remember the specifics. What you can do this set a breakpoint in the code where the 708 data starts being processed. That's in this file: ccx_decoders_common.c, function do_cb, look for case 3: //EIA-708

And well, follow the code to see what happens.

[2021-03-22 06:22] PunitLodha commented on #646
Tried that, after getting the message:- Premature end of file - Transport Stream packet is incomplete (expected 188 bytes, got 168),  we return from this line https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_decoders_common.c#L103-L106 and never reach case 3

[2021-03-22 13:17] cfsmp3 commented on #646
This suggests that the sample does not have CEA-708 subtitles but just 608 subtitles. You can find that out by playing the video with VLC and look at the media information or with ffprobe.

If it doesn't have 708 subtitles then the first problem would be on the title of this issue :-) It could be just 608, which would be handled by case 0.

And then the issue is actually the same - we're not proce

[2021-03-22 13:26] PunitLodha commented on #646
I didn't frame my comment correctly. It does reach case 3, just not after the message. So here is how it goes:-
- In general loop we get more data from the .ts file
- Then we reach case 3 and after which 708 subtitles are extracted
- This continues until the last subtitle
- Now when we try to get more data from .ts file, we get this message:-  Premature end of file - Transport Stream packet is inc

[2021-03-22 20:19] cfsmp3 commented on #646
Of course, when that message appears there's no more data.
So you'd need to check if there's anything on the 708 buffer and if yes, manually trigger a buffer flush.

In theory that should be happening already, but set a breakpoint on the function flush_cc_decode and see if it's called or not.

That's fine, that just means that the stream was abruptly cut. If you added 20 bytes to the end of the fi

[2021-03-23 06:57] PunitLodha commented on #646
flush_cc_decode is called, and that in turn calls, ccx_dtvcc_decoder_flush (i guess this is for 708). Here no decoder window is visible(All windows have `window->visible`==0), so nothing changes

[2021-03-23 10:47] fugueink commented on #1305
Well, I found a way to fix it quickly in Jubler, so I guess there's no need to tweak CCExtractor.

I am confused by your saying that it uses the input video for the timing. That's how I figured out what the problem was: CCExtractor said
`
Total frames time:	  00:34:47:085  (62550 frames at 29.97fps)`

I knew, however, that the file was 24fps.

CCE is also always saying  things like:
`Changed fps u

[2021-03-23 14:47] cfsmp3 commented on #1305
Sounds like a mp4

In any case if you want us to check it out we just need the file. Otherwise we can't even take a look.

Feel free to reopen this issue with a sample if needed.

[2021-03-23 14:47] #1305 closed

[2021-03-23 15:25] cfsmp3 commented on #646
OK let's close this then as a non-issue then.

[2021-03-23 15:25] #646 closed

[2021-03-26 14:08] samrat2825 commented on #726
Does a approach where in the background two .srt files, for both cc and burned-in, are independently generated and are combined in the end using timestamp, via a single command from terminal, is outputted as a single file qualify?

[2021-03-27 18:18] rlaPHOENiX opened #1308 "[PROPOSAL] Chocolatey package?"
# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x] I

[2021-03-28 22:46] cfsmp3 commented on #1308
A problem is that it doesn't support Windows XP. Which might seem not important in 2021, but it is: XP is the last DRM free Windows version, so some power users are sticking to it.

[2021-03-28 22:47] cfsmp3 commented on #1302
Closing as this was solved by email

[2021-03-28 22:47] #1302 closed

[2021-03-28 22:53] cfsmp3 commented on #1303
Well, the commit says "fixes DVB multiprogram" :-) It's from 4 years ago. @alexbrt did this during GCI. I'm not sure he's still alive? :-)
Alex?

But the commit description itself is a good clue to what to test next.

https://drive.google.com/drive/u/5/folders/0B_61ywKPmI0TQTZEMm5Tajd5RVU

(or other DVB samples, looking specifically for ones with more than one stream)

[2021-03-28 22:53] cfsmp3 commented on #1306
@MatejMecka ? Where's that PR?

[2021-03-28 22:56] cfsmp3 commented on #684
Closing as reporting user doesn't reply.

[2021-03-28 22:56] #684 closed

[2021-03-28 22:58] MatejMecka commented on #1306
Hey there! I'm getting some issues compiling Leptonica using the build script, working on fixing that :)

[2021-03-28 22:59] cfsmp3 commented on #726
No. That's the lazy approach :-)

[2021-03-28 23:00] cfsmp3 commented on #918
@fewwwww This is great, thanks!
Let's hope there's a brave student that knows C and feels like doing this with your help :-)

[2021-03-28 23:01] cfsmp3 commented on #979
I added them as they were being added to the command line program. And it shows.

[2021-03-29 01:52] rlaPHOENiX commented on #1308
And why would that prevent ccextractor from releasing on chocolatey?
Chocolatey can be automated based on how the packages are currently being released. So if the packagers release as they are now (including XP support) and chocolatey auto-updates on the repo, then all that's gained is easier installation and updating for Windows 7+.

[2021-03-29 13:04] NilsIrl opened #1309 "[BUG] CCX on apple silicon"
CCExtractor version: https://github.com/CCExtractor/ccextractor/commit/19da837232cd2ecf3b6c528a0100ad0a6d152abd

On apple silicon (M1), ccextractor doesn't compile.

[code]

[2021-03-30 13:16] NauSakaguchi commented on #1309
I added *-DPNG_ARM_NEON_OPT=0* flag to [build.command file](https://github.com/CCExtractor/ccextractor/blob/19da837232cd2ecf3b6c528a0100ad0a6d152abd/mac/build.command).
`BLD_FLAGS="-DPNG_ARM_NEON_OPT=0 -std=gnu99 -Wno-write-strings -Wno-pointer-sign -DGPAC_CONFIG_DARWIN -D_FILE_OFFSET_BITS=64 -DVERSION_FILE_PRESENT -Dfopen64=fopen -Dopen64=open -Dlseek64=lseek -DFT2_BUILD_LIBRARY -DGPAC_DISABLE_VT

[2021-04-02 15:58] schoeps commented on #1309
I think it would be generally great if ccextractor would rely on system libraries then this problem would disappear. There is some more discussion at homebrew on this: https://github.com/Homebrew/homebrew-core/pull/72218

[2021-04-02 17:07] cfsmp3 commented on #1309
The reason for having vendored stuff is pretty much Windows.

[2021-04-02 17:14] schoeps commented on #1309
I understand but for other OS (Mac, Linux) it would be great to supply an install script that tries to use the system libs. Homebrew seems willing to kick the formula because of this (by the way: sorry, for derailing the original post).

[2021-04-03 00:51] cfsmp3 commented on #1309
Why, what do we get for the effort at this point? The versions we're using are testing with our code, and being realistic we're not keeping up with changes on our dependencies.

We have to be pragmatic here (by that I mean who is going to do and maintain the changes)

[2021-04-03 07:08] schoeps commented on #1309
The Gentoo linux distribution has assembled a collection of arguments:
https://wiki.gentoo.org/wiki/Why_not_bundle_dependencies.

[2021-04-07 19:11] bbgdzxng1 commented on #1294
Many thanks for trying to fix.  I see that PR https://github.com/CCExtractor/ccextractor/pull/1298 has been closed.  Just wanted to say thanks for your efforts so far and although the PR itself was not suitable for prod, I do still hope to use ccextractor to convert SCC > McP Raw > WebVTT.  I'm currently going via SCC > McP Raw > SRT > WebVTT, but a conversion to WebVTT is hopefully a legitimate u

[2021-04-08 02:32] SuvigyaJain1 opened #1317 "[PROPOSAL] Add instructions for building on Arch linux variants"
CCExtractor version: 0.88

While trying to build ccextractor following the instructions,I found there were no specific instructions for installing the dependencies on Arch linux.
The dependencies on Arch linux are named differently as arch does not keep -dev/-devel variants separately. As such copying the same command as for debian or RHEL gives errors.

I ended up using the same dependencies list

[2021-04-08 13:45] DocJellyBean opened #1318 "[PROPOSAL] Make GUI window resizable"
It would be nice if the GUI window could be resizable. At the moment one loads the input files, and have to scroll all the way to the end to start the process.

If that is not possible, perhaps place the Start button in the main app window.

[2021-04-08 15:19] cfsmp3 commented on #1318
The GUI is going to be completely rewritten during GSoC.
Closing this issue because well, nothing about the old GUI is important :-)
But if you use it frequently you might want to come talk to us in slack and give ideas for the new GUI. There's already some prototypes @DocJellyBean

[2021-04-08 15:19] #1318 closed

[2021-04-11 17:42] PunitLodha commented on #646
So I found out what the issue is. None of the windows are visible, but one window is defined, and it has the last subtitle in it. So i changed the condition to check if window is defined or not. But now there's an issue that there is no show time for the subtitle. Hide time is update when flushed, but we are missing the show time. This leads to no subtitles being displayed.
How should we get the s

[2021-04-12 13:59] donmartin00 opened #1322 "[PROPOSAL] Validate TTML subtitles in an MPEG2-TS"
CCExtractor Version: 0.88

# Necessary information
- Is this a regression (i.e. did it work before)? {NO}
- What platform did you use? {Window/Mac}
- What were the used arguments? `{The first time testing our TTML in MPEG2-TS to validate the subtitles we used the windows gui, and the autodetect radio button; no subtitles were found. The second time we attempted to use the command line and tried al

[2021-04-12 14:53] donmartin00 opened #1323 "[PROPOSAL] Validate TTML subtitles in ISO-BMFF"
CCExtractor Version: 0.88

# Necessary information
- Is this a regression (i.e. did it work before)? {NO}
- What platform did you use? {Window}
- What were the used arguments? `{No arguments - we did not attempt to run this type of file through the gui because we did not see an option for the ISO-BMFF.}`

# Additional information
Add a feature to validate TTML subtitles in ISO-BMFF format per spec

[2021-04-12 15:03] donmartin00 opened #1324 "[PROPOSAL] Add support for TTML EBU-TT-D and IMSC1 profiles."
CCExtractor Version: 0.88
# Necessary information
- Is this a regression (i.e. did it work before)? {NO}
- What platform did you use? {Window}
- What were the used arguments? `{No arguments - we did not notice any options for TTML EBU-TT-D or IMSC1. We would like to have these types of files recognized through this program.}`

[2021-04-12 16:42] #641 closed

[2021-04-13 10:49] KW781 commented on #1303
I should preface by saying that I'm somewhat new to the CCExtractor codebase, especially compared to some of the major contributors to CCExtractor, but I decided to report my findings anyway.

I spent some time digging through all the files in lib_ccx, and that function wasn't called in any other C file either. So it's clear that the function was written to be used within ts_functions.c only. From

[2021-04-13 11:14] alexbrt commented on #1303
@cfsmp3 I am not dead (yet), haha, just very busy with work and university.

@KW781 @siv2r I do have some arcane findings though which could explain the confusion. Fixing overall DVB support was done in 2 stages, the first one being for single-program streams followed by the multi-program commit (462f63a) referenced in this issue.

Quoting from my GCI presentation, the reason I commented out that

[2021-04-13 11:32] KW781 commented on #1303
@alexbrt Ah I see, so that's why that member (get_important_streams_min_pts[VIDEO])for *ctx wasn't being used at all?

[2021-04-23 05:46] arlovande commented on #1281
I'm having the same problem for an RTMP stream I'm converting to UDP.  Don't know how to feed it to a file and not have the file get huge, though.

[2021-04-23 18:15] cfsmp3 commented on #1281
The file is going to be huge if the stream is huge.
I'm going to close this ticket because the OP hasn't replied and this just seems like a network problem, not a CCExtractor problem.

[2021-04-23 18:15] #1281 closed

[2021-04-24 03:59] slifty opened #1327 "[BUG] Timestamps occasionally zero out"
CCExtractor version: 0.88

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2021-04-26 11:26] SuvigyaJain1 commented on #1294
Is this issue still open? And is someone working on it?

[2021-04-26 15:49] canihavesomecoffee commented on #1294
Yes, still open, and no one's working on it AFAIK.

[2021-04-27 05:59] SuvigyaJain1 commented on #1294
So I had a look through the file and I think the source of the problem is that the scc file doesn't have the information required to build the ```X-TIMESTAMP-MAP=MPEGTS``` header?. Thus adding a check for ```context->timing != NULL``` before accessing ```context->timing->sync_pts2fts``` can avoid the segmentation fault in such cases. As far as I know its not a problem for a .vtt file to not contai

[2021-04-27 12:36] canihavesomecoffee commented on #1294
The sample platform isn't bug-free either ;)

I've looked at the actual results page, and there there's fewer tests broken :)

Since it's a Windows report, the failing test for the dictionary (using a unix path) is expected. The failing test in Broken category can be ignored. The 3 failing ones in DVB worry me a bit more, but might be present in the main repo already, and the same goes for the Tel

[2021-04-27 14:58] SuvigyaJain1 commented on #1294
I see! Thanks. makes more sense. I have reopened the PR as suggested. Ill look at the DVB tests in a bit more detail just to be on the safer side.

[2021-04-30 11:48] SuvigyaJain1 commented on #1278
I'd like to work on this
I had a quick look through the files and just have one question.
in the ccx_encoders_smtett.c file I follow the code perfectly until the closing </p> tag. But I cannot understand why the following code proceeds to open another tag with the "ending time" of the first tag as the "begin time" for this new tag. Is this a specification in smptett or probably just something caus

[2021-04-30 11:51] SuvigyaJain1 commented on #1278
P.S.S Or should I close the new opened ```<p >``` tag and leave the contents empty

[2021-04-30 16:18] cfsmp3 commented on #1278
@SuvigyaJain1

OK so you understand the code that works but don't understand the code that doesn't work :-)

I'd say - just fix the problem and have no mercy with buggy or unreadable code.

Take a look at the official specs:

https://www.w3.org/TR/ttml1/

(by the way the current version is newer than our code, so it's worth taking a read anyway).

Producing compliant output should be reasonable st

[2021-05-01 02:26] SuvigyaJain1 commented on #1248
I'll be taking up this issue

[2021-05-01 03:28] SuvigyaJain1 commented on #1248
VLC seems to detect 5 subs for the file - 4 CC and a DVB but only 2 work and both seem to in portuguese? How do I check the sync between portuguese subs and english audio? Sorry if its a dumb question

[2021-05-01 07:54] cfsmp3 commented on #1248
Manually. You course you won't be able to tell if the translation is correct, but you should easily see if the subtitles appear when the audio starts. (i.e. just load the .ts with your video player and then attach the generated subtitles to it).

[2021-05-02 17:51] cfsmp3 commented on #1303
Function removed

[2021-05-02 17:51] #1303 closed

[2021-05-02 17:57] cfsmp3 commented on #1258
Closing as a fix has already been merged - @Linus789 please reopen if it still segfaults for you

[2021-05-02 17:57] #1258 closed

[2021-05-02 18:00] cfsmp3 commented on #1259
@apovalyaev Is this problem fixed on master?

[2021-05-02 18:01] cfsmp3 commented on #1309
https://www.youtube.com/watch?v=Pzl1B7nB9Kc

[2021-05-03 06:16] schoeps commented on #1309
Interesting! I watched the video and I tend to agree (from the perspective of a proprietary software vendor). I am not sure if this should apply for software like ccextractor... but on the other hand, I am not with the dependency police.

Posting this video implicitly suggests that homebrew should remove ccextractor from its packaging, right? This is also what the homebrew maintainers suggested an

[2021-05-03 14:41] cfsmp3 commented on #1309
I don't use a Mac or homebrew so I don't know. But I think distributions enforcing compilation / linking options over the convenience of developers and users (and the maintainer themselves!) is a very bad idea. There's nothing wrong with a binary having small static libraries embedded if they do what they are supposed to do.

Let's not make our lives (and our users) lives harder for the sake of so

[2021-05-03 14:54] #677 closed

[2021-05-15 11:29] ValZapod commented on #286
Repoen please https://drive.google.com/drive/mobile/folders/0B_61ywKPmI0TZU00VjRYWENfYjg?usp=sharing

[2021-05-15 13:51] ValZapod commented on #1108
You can't. That is this bug.
https://trac.ffmpeg.org/ticket/5851

But since raw cc format is now supported: https://trac.ffmpeg.org/ticket/4767 you can try to use that, but CCextractor does not have support yet. That is bug #1293.

[2021-05-19 05:29] cgarz commented on #1108
I've had a chance to try that now. Playback of scc in mpv works and matches the embedded CC's style exactly which is fantastic! Many thanks!
Also thanks for linking up all these related issues, they were an interesting read.

[2021-05-19 11:41] ValZapod commented on #1305
There is 24.000 frame rate and 24/1.001. Just like for 60 and 60/1.001 and 120 and 120/1.001 Which one do you have? You cannot use one instead of the other.

[2021-05-19 11:47] ValZapod commented on #1120
Why you are pointing to those fakers? CTA made all its standards free of charge. Point to https://shop.cta.tech/products/line-21-data-services, please.

[2021-05-19 11:50] ValZapod commented on #1277
The file is gone.

[2021-05-19 16:02] cfsmp3 commented on #1277
Closing. @madzarevic feel free to ask the issue to be reopened once a working link is available.

[2021-05-19 16:12] cfsmp3 commented on #1120
@ValZapod they used to be non-free (I bought CEA-708 myself). But it's great to see them freely available. Thanks for pointing it out!

[2021-05-19 16:13] cfsmp3 commented on #3
Standard here: https://shop.cta.tech/products/line-21-data-services

I'm assigning this to @PunitLodha since he's going to be working on it during GSoC 2021.

[2021-05-19 17:51] cfsmp3 commented on #1252
@ahmedtds @ryanchild I'm closing this since a fix was merged (and we also updated GPAC).
Please feel free to reopen if you still experience problems with the current master.

[2021-05-19 17:51] #1252 closed

[2021-05-19 19:06] madzarevic commented on #1277
I ran out of google drive space, and I wasn't sure if anyone would ever investigate this issue after a few months.  I have updated the link in the original post.

[2021-05-19 19:23] cfsmp3 commented on #1277
Reopened.

Alternate download (on my Drive, but it should be stable): https://drive.google.com/drive/folders/1s38ZqpYdGcYUX6d0sBbyjs_EmXfzAu2f?usp=sharing

@PunitLodha I'm tentatively assigning this to you since you are digging into missing captions these days.

[2021-05-22 15:05] rboy1 commented on #1115
@cfsmp3 can we expect a new release anytime soon?

[2021-05-22 16:02] cfsmp3 commented on #1115
Around mid June

On Sat, May 22, 2021, 08:05 rboy1 ***@***.***> wrote:

[2021-05-24 10:25] miambe opened #1336 "[BUG] 0.88 is crashing and not detecting OP-47 on a belgian MXF file (track Text / ID : 5-888)"
# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x] I

[2021-05-26 15:41] canihavesomecoffee opened #1337 "[BUG] Regression for DVB sample using OCR"
CCExtractor version: current master (5b29ef281a02319e3597dc1bbe3f3ac18fbaa500)

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.

[2021-05-26 16:59] cfsmp3 commented on #1337
If it's a double free it definitely doesn't happen calling freep() twice (because freep() nulls the pointer so it's safe to call it twice).
valgrind should be able to solve the mystery.

[2021-05-26 22:19] #1337 closed

[2021-05-27 17:38] PunitLodha commented on #1327
@slifty File is missing. Can you reupload it?

[2021-05-31 02:23] shubham162019 opened #1339 "Specifying a given timeformat for output"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

To get the version of CCExtractor, you can use `--version`.

Please check all that apply and **remove the ones that do not**.

In the necessary information section, if this is a regression (something that used to work does not work anymore), make sure to specify the last known working version.

Only specify the min

[2021-05-31 02:40] cfsmp3 commented on #1339
No.

[2021-05-31 02:40] #1339 closed

[2021-05-31 04:09] shubham162019 opened #1340 "[BUG] Incorrect Time Code Computation"
CCExtractor version: 0.88

# In raising this issue, I confirm the following:

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [ ] I have checked that the issue I'm posting isn'

[2021-05-31 15:25] slifty commented on #1327
Oh nuts I didn't realize those timed out.  I'll generate another one and upload it to the internet archive.

[2021-05-31 15:51] canihavesomecoffee commented on #1327
@slifty I'll add it to the sample platform too, that's a guarantee it'll stay online for as long as our org exists :)

[2021-05-31 15:55] canihavesomecoffee commented on #1336
Can confirm this sample crashes on Linux:

[code]

[2021-05-31 16:11] canihavesomecoffee commented on #1327
This also happens when just passing the file to CCExtractor (omitting the `stream`parameter) on Linux. So it's not MacOS specific.

[2021-05-31 18:23] cfsmp3 commented on #1327
@PunitLodha see link above :-)

[2021-06-01 22:03] #1336 closed

[2021-06-01 22:06] cfsmp3 commented on #1279
Closing - video link doesn't exist.

[2021-06-01 22:17] cfsmp3 commented on #1340
@shubham162019 the provided link points to a .mp4 file,  not a .mxf

[2021-06-01 22:20] cfsmp3 commented on #1340
Likely fix (but didn't test, since I don't have the sample). In ../src/lib_ccx/ccx_encoders_scc.c

[code]

@NilsIrl thoughts? This was your code originally.

[2021-06-02 18:33] canihavesomecoffee commented on #1317
@SuvigyaJain1 Feel free to give adding it to the docs yourself a try, we welcome PR's :)

[2021-06-05 15:30] #1327 closed

[2021-06-08 08:31] shubham162019 commented on #1340
@cfsmp3 https://drive.google.com/file/d/0B83Wr3EZXIYnQWpVMEprM1dxUjQ/view

[2021-06-08 10:31] canihavesomecoffee commented on #1340
Sample here as well: https://sampleplatform.ccextractor.org/sample/171

[2021-06-08 15:32] #1340 closed

[2021-06-08 16:38] Hayholten opened #1343 "[BUG] Burned-in subtitles failed / killed when detect italics"
Hello everyone !

Hope you are wel ;)

CCExtractor version:

CCExtractor detailed version info
        Version: 0.87
        Git commit: Unknown
        Compilation date: 2018-11-30
        File SHA256: Could not open file
Libraries used by CCExtractor
        Tesseract Version: 4.1.1
        Leptonica Version: leptonica-1.79.0
        libGPAC Version: 0.7.2-DEV
        zlib: 1.2.11
        utf8pr

[2021-06-08 16:49] canihavesomecoffee commented on #1343
Have you tried with the latest version (0.88), or tried on the current master? The issue might be fixed on there already :)

[2021-06-08 17:55] cfsmp3 commented on #1343
This is fixed on master:

[code]

@Hayholten see result file (attached).

[Lifechanger-vtt.zip](https://github.com/CCExtractor/ccextractor/files/6618664/Lifechanger-vtt.zip)

[2021-06-08 17:55] #1343 closed

[2021-06-08 18:59] Hayholten commented on #1343
Hello again,

Many thnaks for your answers ;)

Unfortunately, I tried everything to install a more recent version using the 3 proposed solutions.

I'm having a lot of problems with permissions, etc. I specify that I use a VM on Amazon AWS3. Could you help me?

[2021-06-08 19:39] cfsmp3 commented on #1343
@Hayholten Did you just clone that repo from master on a directory or was it unzipped or something strange?
That error mensajes that pre-build.sh is not executable (but it would be if it was a git clone).

Probably
[code]
Will fix that specific problem.

[2021-06-08 20:44] Hayholten commented on #1343
@cfsmp3

Indeed, I had tried the installation by downloading the package and not by cloning the master.

Now, CCExtractor is installed ;)

But I still have a problem. When I run my command, I get the following message:

I tried to solve the problem by runing the command:

And here is the result. A problem of library it seems to me...

Running pre-build script...
Obtaining Git commit
Storing variab

[2021-06-09 01:46] Hayholten commented on #1343
@cfsmp3

It took me hours (I am far from being an expert) but I think I am close. I first reinstalled FFmpeg because I use it a lot for other tasks.

It is present:

ffmpeg version 4.4-1ubuntu0~20.04.sav0 Copyright (c) 2000-2021 the FFmpeg developers
  built with gcc 9 (Ubuntu 9.3.0-17ubuntu1~20.04)
  configuration: --prefix=/usr --extra-version='1ubuntu0~20.04.sav0' --toolchain=hardened --libdir=

[2021-06-09 02:54] bbgdzxng1 commented on #1324
Adding a link to the EBU-TT Toolkit in case a commercial sponsor is identified.  _"The kit is envisaged to contain a set of components for generating, testing and distributing subtitle documents in EBU-TT Part 3 format"_. It useful to have a test suite if and when the time comes - it looks like EBU-TT Team have put together an extensive test suite.

https://github.com/ebu/ebu-tt-live-toolkit
http:

[2021-06-09 03:01] cfsmp3 commented on #1343
Typically that means that the input file doesn't exist or is not readable.

[2021-06-09 09:47] Hayholten commented on #1343
Hi @cfsmp3,

Thanks for your feedback.

It is however exactly the same file that you tested :/ And I have the same problem when testing with others.

When I go back to the procedure, I think that the "./build_hardsubx" did not work properly:

Running pre-build script...
Obtaining Git commit
Storing variables in file
Commit: c09524d04384ec4337bbe876ac4f5a377bcc4440
Date: 2021-06-09
Stored all in co

[2021-06-09 19:36] Hayholten commented on #1343
Hi everyone ;)

Spend half a day to figure how to install CCExtractor.

Unfortunately, nothing...

I checked what I could and everything seems to be installed but whatever file I used, error :/

I use Ubuntu focal. Do you know if there is a method to install the software via another distribution?

Like tis one: [https://packages.ubuntu.com/groovy/ccextractor](https://packages.ubuntu.com/groovy/cce

[2021-06-11 18:29] cfsmp3 opened #1346 "OCR status summary - tests not passing, a fix broke something else"
Summarizing the situation here so we have all the information handy.

One of the tests have been failing for a while. Specifically, we're getting garbage in some of the subtitle frames (but not all) for one specific sample. The failing test is here:

https://sampleplatform.ccextractor.org/test/3308

We know that the guilty commit is this:

https://github.com/CCExtractor/ccextractor/commit/84a9ea55

[2021-06-11 18:31] cfsmp3 commented on #1346
I'm assigning this to @harrynull (don't know if around though - haven't seen him in a way) because he sent that commit, and to @PunitLodha since at some point this code will be rewritten to Rust anyway and Punit is working preparing things for the Rust work.

[2021-06-12 20:15] techno-disaster opened #1347 "ignoreptsjumps and fixptsjumps are the same thing"
ignoreptsjumps and fixptsjumps are the [same](https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/params.c#L2117) thing, remove one?

[2021-06-13 19:03] cfsmp3 opened #1348 "linux/build-static.sh is obsolete"
It builds CCExtractor 0.82...  we should either try to update it (best) or remove it.

[2021-06-13 19:05] canihavesomecoffee commented on #1348
It clones from master, so it will build the most recent... However the deps might not be up to date at all.

[2021-06-13 19:26] cfsmp3 commented on #1348
Ah yes. We just like to leave irrelevant comments around
[code]

[2021-06-17 18:55] rboy1 commented on #1115
@cfsmp3 Mid June is here, looking forward to it :)

[2021-06-17 19:03] canihavesomecoffee commented on #1115
https://github.com/CCExtractor/ccextractor/releases/tag/v0.89 :)

[2021-06-18 14:57] rboy1 commented on #1115
Thanks. When I try to run the GUI it gives me an error, "code execution cannot proceed because pthreadVSE2.dll was not found". Looks like one of the DLL's is missing.

[2021-06-18 15:16] rboy1 commented on #1115
Awesome thanks. I noticed that it says it's compiled against tessdata 4.0alpha. Does it mean it won't work with tessdata 3?

[2021-06-18 15:20] canihavesomecoffee commented on #1115
For Windows the libraries are embedded, so you're indeed stuck to that specific version.

I noticed you had another comment a couple of minutes ago, but it seems to have vanished.

Was that when trying the standalone binary too, or caused by the GUI exe itself?

Anyway, looks like we should add that dll to the generated artifacts too.

[2021-06-18 16:38] rboy1 commented on #1115
Hmm, I tried using tessdata 3.04 and it seemed to work fine converting dvbsub to srt

[2021-06-18 16:40] rboy1 opened #1349 "[BUG] Not extracting dvbsub from mp4"
CCExtractor version: 0.89
[code]

# In raising this issue, I confirm the following:

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [X] I have checked that the issue I'm posti

[2021-06-18 16:47] canihavesomecoffee commented on #1115
IIRC tessdata is not bound to the tesseract version, so that's indeed no problem :)

[2021-06-18 16:50] rboy1 commented on #1115
On a side note I have some files with multiple dvbsub tracks but when I run ccextractor it only extracts the first track. Is there a way to get it to extract *all* tracks or maybe specify the track number?

[2021-06-18 17:00] canihavesomecoffee commented on #1349
We don't seem to support this specific type of subs yet.

MediaInfo:

[2021-06-18 17:04] cfsmp3 commented on #1115
Maybe we should also figure out a way to build those libraries again from source :-) @Izaron did that work a few years ago and we haven't touched that ever since I think?

[2021-06-18 17:07] cfsmp3 commented on #1115
[code]
Since tesseract 3 is no longer maintained at all, I think we should stick to 4 (which as can be see, supports the pattern recognition mode from v3, so no need to actually use v3).

[2021-06-18 17:10] rboy1 commented on #1115
@cfsmp3 are you saying that we need to explicitly add --oem 0 to get it to work with Tesseract 3 because 0.89 is working (or am I missing something here).

For future ref, wouldn't be better if ccextractor automatically detects if it's using Tesseract 3 or 4 with an option to override using the --oem?

[2021-06-18 17:13] rboy1 commented on #1067
Has there been any workaround or solution for this, I'm seeing the same issue here:

[code]

[code]

[2021-06-18 17:14] cfsmp3 commented on #1115
What I pasted comes from tesseract's website. v4 supports v3's legacy engine, so there's not reason to actually have v3 around at all. If you want to use the old system, just use --oem (If I remember correctly we do expose that argument in CCExtractor).

I don't want to support legacy versions of libraries. If the tesseract maintainers have decided to stop development of v3, what's the reason for

[2021-06-18 17:16] cfsmp3 commented on #1067
You answered yourself :-)

[2021-06-21 14:56] bbgdzxng1 commented on #1309
Just tested on 0.89 using brew and looks like there are still some challenges, pretty much as expected.  But I thought I would give it a try with [homebrew 0.89](https://github.com/Homebrew/homebrew-core/commit/d0b00b51c70c9b46276db67cd20b23118f57fbad#diff-548b7d885b6d33672e123ebae0906b265cc2656297d2feb7db85828426a08993) anyway.

[code]
On the assumption that the issue is the aforementioned `-DPNG

[2021-06-21 16:11] bbgdzxng1 commented on #1294
Confirming that this is resolved in 0.89.  Thank-you...

[code]

[code]

[code]

Thank-you to all who contributed to the investigation, development, testing and release.

ccextractor can now successfully convert `scc-to-srt`, `scc-to-vtt` (and probably other outputs) with the interim step of going via McPoodle raw format.

[2021-06-21 16:11] #1294 closed

[2021-06-22 01:41] ozt860071 commented on #1127
Sorry not to see this in 0.89.
(from CHANGES.TXT)
- New: Added an option to disable timestamps for WebVTT (In response to issue #1127)
This is not implemented, either.

[2021-06-22 19:30] cfsmp3 commented on #1127
https://github.com/CCExtractor/ccextractor/pull/1176/files

[2021-06-22 20:20] canihavesomecoffee opened #1352 "[BUG] Windows - cmake build is failing"
CCExtractor version: master

# Necessary information

- Is this a regression (i.e. did it work before)? YES (probably)
- What platform did you use? Windows
- What were the used arguments? N/A

# Additional information

Building with cmake yields a "zlib.lib" missing fatal error (LNK1104) on Windows.

If we fix this, we should also extend our action workflow for windows to include cmake building.

[2021-07-13 12:17] alebcay commented on #1309
FYI @bbgdzxng1 `ccextractor` 0.89 is now available on Homebrew for Apple Silicon - just `brew install ccextractor`.

[2021-07-14 01:25] cfsmp3 commented on #1309
Closing since it seems to be done already

[2021-07-14 01:25] #1309 closed

[2021-07-20 08:59] jakubvojacek opened #1362 "[QUESTION] Support for extracting arib subs from bin_data pid"
CCExtractor version: 0.90

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2021-07-21 01:55] bbgdzxng1 commented on #1309
brew is working nicely on 0.90 for me now.  At release, 0.89 did not install through brew, but perhaps someone updated the brewfile.  Anyway, 0.90 is working really well on M1 Silicon.  Thankyou all, especially @alebcay.

[2021-07-22 06:02] #1362 closed

[2021-07-24 17:56] bubbaprog commented on #1323
Not sure what method they're using to do it, but I just uploaded a raw ATSC 3.0 broadcast to Twitter and the captions appeared in the tweet— so a method for extracting and converting them is already out there in something presumably avconv/ffmpeg-related, & could possibly be used to develop it here.

[2021-07-28 14:05] mass opened #1365 "[BUG] No output for mpegts to srt with negative -delay settings"
CCExtractor version: Latest master branch

[code]
# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the

[2021-07-28 16:22] Artturin opened #1366 "PROPOSAL: make it possible to build GUI with cmake"
Currently it is not possible

[2021-07-28 20:32] canihavesomecoffee commented on #1366
Which GUI do you refer to?

https://github.com/CCExtractor/ccextractorfluttergui?

[2021-07-29 09:52] Artturin commented on #1366
https://github.com/CCExtractor/ccextractor/blob/0bbdfc13eee68b39ed2196c05d87b87dd
https://github.com/CCExtractor/ccextractor/tree/master/src/GUI7a3eefc/linux/Makefile.am#L384

If that's going to be deprecated then I can package the fluttering instead

[2021-07-29 10:54] Slava46 opened #1367 "Missed dll"
For new version 0.91 wrote that missed url_launcher_windows_plugin.dll for windows .msi version.
For 0.90 all fine starting.

[2021-07-29 11:53] canihavesomecoffee commented on #1366
The one you link to is indeed planned to be replaced in favour of the flutter one.

We have multiple ones (a C# one, the one you linked, another one somewhere else) and @Techno-Disaster is creating the Flutter one to have a cross-platform, decent GUI.

[2021-07-29 12:00] canihavesomecoffee commented on #1367
It's an issue we're aware of.

Workaround is to download the windows.zip release for the GUI from here: https://github.com/CCExtractor/ccextractorfluttergui/releases/tag/v0.2.0

And then extract the DLL to your folder where CCExtractor was installed.

We'll fix it in the 0.92 release.

[2021-07-29 12:02] #1367 closed

[2021-07-29 16:05] #1366 closed

[2021-08-01 19:42] ozt860071 commented on #1127
As you mentioned,

But still, if we generate a .vtt file, even if it has no subtitles, it should have the required header. Otherwise players may refuse to play anything at all.

This needs to be resolved. I think the code is ready.

[2021-08-05 13:48] anemochore opened #1369 "[PROPOSAL] fresh GUI installation says 'url_launcher_windows_plugin.dll needed'"
I downloaded and installed v0.91 installer and it won't even launch. Please check and include your dependencies before release. :(

[2021-08-05 17:55] canihavesomecoffee commented on #1369
Duplicate of #1367.

See a temporary workaround until 0.92 is released.

[2021-08-05 17:55] #1369 closed

[2021-08-05 20:56] Techno-Disaster commented on #1369
@anemochore were you able to install the GUI? Do let me know if there's any further issue or you need help with anything else :D

Any suggestions/feat requests are also welcome :D

[2021-08-05 20:56] Techno-Disaster commented on #1367
@Slava46 were you able to install the GUI? Do let me know if there's any further issue or you need help with anything else :D

Any suggestions/feat requests are also welcome :D

[2021-08-06 11:14] Southpaw1496 opened #1371 "[BUG] Odd output when inputting an MKV file"
# CCExtractor version:
[code]

# Necessary information

- Is this a regression (i.e. did it work before)? No
- What platform did you use? Mac (with Homebrew)
- What were the used arguments? None

# Video links

* https://drive.google.com/file/d/1B9ZeUZ-Pv1dUeu0aJP5G1s_8-_SzA_xU/view?usp=sharing (ZIP encrypted, password shared with relevent people).

# Additional information

MKV was ripped from a

[2021-08-09 07:11] ValZapod commented on #466
There was a very important fix in ffmpeg for not standard containers' time_bases (besides 90k that is), https://github.com/FFmpeg/FFmpeg/commit/a27853a7300bb3c2752256b2fc02f2439619f6f8

It fixes this issue: https://trac.ffmpeg.org/ticket/7912

[2021-08-17 23:05] lucknaumann opened #1376 "[QUESTION] Will there be any further portable versions for Windows?"
CCExtractor version: last portable v88

I noticed that the latest versions are .msi installers. Is there a reason for discontinuing portable versions? I install as few programs as possible in Windows, especially since Windows 10 will take longer to upgrade.

[2021-08-21 15:46] techno-disaster opened #1377 "[BUG] double free or corruption (out)"
CCExtractor version: 0.93

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2021-08-21 17:34] cfsmp3 commented on #1377
[code]

There's a lot more.
Clearly when we do clean up we're deallocating stuff we later need (and keeping a pointer to it too).

[2021-08-23 02:27] ValZapod commented on #1340
Drop frame asset [should use](http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/SCC_FORMAT.HTML)  00:00:00;28, i.e. a simicolon. Are you sure it is drop?

[2021-08-23 19:47] delevinson opened #1378 "[QUESTION] warning with text extraction"
CCExtractor version: CCExtractor 0.92
# Necessary information

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Mac
- What were the used arguments? `{replace with the arguments}`ccextractor Symposium_\ Many\ Forms\ of\ Gender\ Discrimination\ I_default_c75bcc31-2.mp4 -txt

# Video links

https://mxlakeforest-my.sharepoint.com/:v:/g/personal/levinson_mx_lakeforest_e

[2021-08-25 09:05] sheharyaar commented on #1378
I could **not** reproduce the error in `5.13.11-1-MANJARO #1 SMP PREEMPT Sun Aug 15 13:15:18 UTC 2021 x86_64 GNU/Linux
`. It compiled fine for me.
[code]
Here is the srt contents (the first 10 lines):
[code]

[2021-08-25 09:21] sheharyaar commented on #1378
@delevinson Looks like an encoding issue. Try to encode in different format like Unicode, etc. using -unicode argument.
`./ccextractor -unicode Symposium_\ Many\ Forms\ of\ Gender\ Discrimination\ I_default_c75bcc31-2.mp4`

[2021-08-25 09:38] sheharyaar commented on #1378
Issue arises in the file: https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_encoders_common.c

Line : 301 onwards
[code]

[2021-09-13 07:16] lumibliss opened #1379 "Extract chinese hardsubs?"
Hello,
I managed with the windows gui software to extract english subs to .srt
But for chinese it doesnt work..
Is it possible to make it work?
on DVB lang its chs
and OCR LANG its chi_tra..
But when I run it, it says no caption found (EXT_NO CAPTIONONS) or something like that. what am i doing wrong?

[2021-09-13 18:13] madzarevic commented on #1277
The new versions of CCExtractor (I tested 0.90 and 0.93 with the same results), seem to find all the entries, but the timestamps are wrong compared with the output of the last known version that did not have this problem (0.84)
![diff_screenshot_0 93](https://user-images.githubusercontent.com/11251329/133135317-cee6c5b2-18df-4057-933d-9be45b661b94.jpg)

[2021-09-13 20:00] ValZapod commented on #1277
They are also different with what ffmpeg produces, and dofferent with what ffmpeg does after -c copy to ts.

[2021-09-15 22:39] ValZapod commented on #677
That is just a bug in Potplayer's locale stuff, since there is no problem when you actually extract the srt with `ccextractorwinfull.exe -svc 1[EUC-KR] Sample.ts
`
For posterity on latest 0.93:
[Sample.p401.svc01.srt.txt](https://github.com/CCExtractor/ccextractor/files/7173659/Sample.p401.svc01.srt.txt)

[2021-09-15 22:47] ValZapod commented on #1055
@cfsmp3 Looks like not the same.

[2021-09-17 12:58] PunitLodha commented on #1277
VOB files have multiple chapters. So when a new chapter starts, time resets to 0. Isn't that the correct behaviour?

[2021-09-17 17:12] xvkdev commented on #1277
No :-)

To elaborate a bit. Indeed VOBs may have chapters. They usually do. And they there's two major cases here:

1 - It's a collection of TV episodes or something like that, in which each chapter is one episode and then of course the subtitles are for that episode only. In this case the right way is to just extract that chapter (using whatever DVD decrypt tool we want) and then process that VOB

[2021-09-17 17:13] cfsmp3 commented on #1277
No :-)

To elaborate a bit. Indeed VOBs may have chapters. They usually do. And they there's two major cases here:

1 - It's a collection of TV episodes or something like that, in which each chapter is one episode and then of course the subtitles are for that episode only. In this case the right way is to just extract that chapter (using whatever DVD decrypt tool we want) and then process that VOB

[2021-09-18 17:00] PunitLodha commented on #1277
Oh, ok. I misunderstood that part. Will try to fix it

[2021-09-23 03:21] taozi1996 opened #1380 "Where is 708 decoder in V0.93?"
![屏幕截图 2021-09-23 110847](https://user-images.githubusercontent.com/31797996/134450188-a9e7ebf6-15da-4ac7-a9b0-0fabb58bc3dd.png)
![屏幕截图 2021-09-23 111030](https://user-images.githubusercontent.com/31797996/134450190-c5425050-ab40-4e85-ba7c-0b1300e386be.png)

[2021-09-23 21:47] cfsmp3 commented on #1380
@Techno-Disaster

[2021-09-29 19:54] Techno-Disaster commented on #1380
https://github.com/CCExtractor/ccextractorfluttergui/commit/0a283202ffb6c39434ad1fa42057eaee4029c03a done, should be up in the next release

[2021-09-29 19:55] Techno-Disaster commented on #1380
By the way @taozi1996  your settings will get reset automatically with the default ones if you install the new version. you can probably manually backup it though

[2021-09-30 00:26] taozi1996 commented on #1380
Thanks.But the option "enable 708 decoder" is missing,I can't use it yet
![屏幕截图 2021-09-30 082506](https://user-images.githubusercontent.com/31797996/135366205-14d45560-7ab8-4ae7-883a-8b7b9dcf7859.png)
.

[2021-09-30 02:51] cfsmp3 commented on #979
Closing, since there's a new GUI.

[2021-09-30 02:51] #979 closed

[2021-09-30 04:23] Techno-Disaster commented on #1380
@taozi1996 not sure why you need a enable switch explicitly? When the user enters the service number it's enabled anyway, and that's how it's shown in the current command box.

[2021-09-30 07:04] taozi1996 commented on #1380
I get it.I didn't enter to save it.Thank you!

[2021-09-30 07:05] #1380 closed

[2021-10-02 20:31] jma829 opened #1382 "[BUG] HardsubX not working on GUI 0.93 version?"
CCExtractor version: {0.93}

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting is

[2021-10-05 20:19] legettt commented on #981
Hi,
I'm using a mac and I'm unable to extract captions from an MXF file.  @cfsmp3, would you be able to look into this issue again?

[2021-10-05 21:51] cfsmp3 commented on #981
We'd need a sample file to test.

[2021-10-05 22:04] legettt commented on #981
@cfsmp3 Sure! https://app.shift.io/review/615ccb899b4ce36551d6f8fd

[2021-10-12 19:21] shas-hank7 commented on #1282
can you provide the video link?

[2021-10-18 18:15] Ranbato opened #1385 "[BUG] Unable to build ccextractor on linux"
CCExtractor version: master latest

# Necessary information

- Is this a regression (i.e. did it work before)? YES
- What platform did you use? Linux
- What were the used arguments?
[code]
also tried
[code]

# Additional information
autogen.sh and configure errors with the following (after I added cargo to my environment -- new dependency)

[code]

[2021-10-19 13:21] Ranbato commented on #1385
Version info
rustc 1.51.0

In the meantime, I can build by passing in `-without-rust`

[2021-10-20 14:22] sjmcguckin opened #1386 "No Captions Were Found on Input"
Question

CCExtractor version: 0.93

# In raising this issue, I confirm the following:

# Necessary information

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Window
- What were the used arguments? None

# Video links

https://www.dropbox.com/s/xhg6by2znt3bjn5/The%20North%20Water%20%282021%29%20-%20S01E04%20-%20The%20Devils%20of%20the%20Earth.ts?dl=0

# Addition

[2021-10-30 01:45] jaguar-kannan commented on #1282
Iam intrested in it can  i contribute to this?

[2021-10-30 02:56] cfsmp3 commented on #1282
Sure, just work on it and send a pull request

On Fri, Oct 29, 2021, 18:45 jaguar-kannan ***@***.***> wrote:

[2021-11-01 05:54] The-Bart-The commented on #1386
DV**_B_** subtitle, not DVD

[2021-11-07 16:06] muzicman0 opened #1389 "[BUG] Negative -delay values produce empty .srt output"
CCExtractor version: 0.93

# Necessary information

- Is this a regression (i.e. did it work before)? YES (worked 0.88, does not work on 0.93)
- What platform did you use? Windows
- What were the used arguments? `-delay -10000`

# Video links

https://1drv.ms/u/s!AmIBKnKiJ1bih7QqG_PJfxvirnnV5g?e=bXHJe2

link above, but any of my recorded TV files have the same issue.

# Additional information

Neg

[2021-11-10 16:48] rboy1 opened #1391 "[BUG] Not extracting Teletext stream"
CCExtractor version: 0.93

# In raising this issue, I confirm the following:

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [ X] I have checked that the issue I'm posting i

[2021-11-11 06:43] PunitLodha commented on #1385
You should try installing using rustup, https://www.rust-lang.org/tools/install. Ubuntu might not have the latest version

[2021-11-11 19:17] Ranbato commented on #1385
I've got the correct version of rust installing, now fighting through missing dependencies one by one.
Latest was adding libclang-dev to my build image, now i'm looking into a complaint about missing stddef.h from rust.
I'm already building ffmpeg, handbrake, ccextractor without Rust and 20+ libraries for the image so I know it is there...

[2021-11-11 20:50] Ranbato commented on #1385
Installing **rustup**, **clang** and **libclang-dev** seems to have resolved the build issues.

A quick execution has exposed no additional runtime dependencies

[2021-11-17 12:01] HLFCode opened #1395 "[QUESTION] Setting to translate Cyrillic to Latin"
CCExtractor version: 0.93

# In raising this issue, I confirm the following:

# Necessary information

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Window
- What were the used arguments? `--no_progress_bar`

# Video links
.ts and .srt file
https://drive.google.com/file/d/1rXUcAEY17d8bn96LrfnSEYYqS1E63-78/view?usp=sharing
# Additional information
When extracting

[2021-11-19 06:08] PunitLodha commented on #1389
This was fixed recently. You can try compiling the code from the master branch

[2021-11-19 06:21] PunitLodha commented on #1365
This was fixed recently. You can try compiling the code from the master branch

[2021-11-20 15:31] canihavesomecoffee commented on #1234
@cfsmp3 Closing this (reopen if you don't agree).

Original poster fixed the issue by installing tesseract 5.0 (this is also mentioned here: https://github.com/tesseract-ocr/tesseract/issues/1670#issuecomment-515324015).

I encountered this on the SP (Tesseract 4.0.0), and there it's fixed by exporting LC_ALL.

[code]

So either we can add this in our README/compilation guide somewhere, but there'

[2021-11-20 15:31] #1234 closed

[2021-11-20 15:41] mass commented on #1365
I can confirm this is fixed for me now when running the latest master branch version. Thanks!

[2021-11-20 15:41] #1365 closed

[2021-11-20 15:49] canihavesomecoffee commented on #1308
@rlaphoenix Is right, there's no reason why we couldn't also publish to Chocolatey. We just need someone to update the GH Actions workflows to do this in an automated way for us.

Relevant lecture: https://www.dolthub.com/blog/2021-10-13-how-to-publish-winget-chocolatey-packages-with-github-actions/

[2021-11-20 16:27] canihavesomecoffee commented on #1349
Sample available on https://sampleplatform.ccextractor.org/sample/172

[2021-11-20 16:37] #1389 closed

[2021-11-20 17:04] canihavesomecoffee commented on #1378
@delevinson is it possible to make the sample available again? The link expired

[2021-11-20 17:08] canihavesomecoffee commented on #1379
This seems related to https://github.com/CCExtractor/ccextractor/issues/224 (possibly duplicate).

@cfsmp3 Thoughts?

[2021-11-20 17:09] canihavesomecoffee commented on #1385
Closing as it seems the issue was resolved.

[2021-11-20 17:09] #1385 closed

[2021-11-20 17:30] cfsmp3 commented on #3
I'm closing this since 708 is now in reasonably good shape now that @PunitLodha killed the known bugs :-)

[2021-11-20 17:30] #3 closed

[2021-11-20 17:58] canihavesomecoffee commented on #1382
Sample also available here: https://sampleplatform.ccextractor.org/sample/173

[2021-11-20 19:09] canihavesomecoffee commented on #1386
https://sampleplatform.ccextractor.org/sample/174 if the link above goes down

[2021-11-20 19:12] canihavesomecoffee commented on #1391
https://sampleplatform.ccextractor.org/sample/175 if above link goes down

[2021-11-20 19:55] canihavesomecoffee commented on #1395
https://sampleplatform.ccextractor.org/sample/177 If the link above goes 404

[2021-11-21 15:13] #1273 closed

[2021-11-21 16:43] cfsmp3 commented on #1379
Maybe, but who knows :-)
We need a Chinese developer to help here.

[2021-11-21 18:19] cfsmp3 commented on #102
Closing due to no sample being available.

[2021-11-21 18:19] #102 closed

[2021-11-21 18:24] canihavesomecoffee commented on #102
@anshul1912 Do you still happen to have the original sample the original author sent you?

[2021-11-21 18:26] cfsmp3 commented on #286
@ValZapod Can you check if this is a problem with the current master?
Since it's a 708 thing, assigned to @PunitLodha so he can take a look

[2021-11-21 18:28] cfsmp3 commented on #442
Closing as we've made a lot of changes in build lately so I don't know if this is still an issue or not

@wojtekw @rialg
let me know if it's still a problem in master

[2021-11-21 18:28] #442 closed

[2021-11-21 18:33] cfsmp3 commented on #780
Closing as I don't see warnings on master now.

[2021-11-21 18:33] #780 closed

[2021-11-21 18:35] cfsmp3 commented on #937
Closing due to original poster not answering.

[2021-11-21 18:35] #937 closed

[2021-11-21 18:35] cfsmp3 commented on #956
Closing due to original poster not responding.

[2021-11-21 18:35] #956 closed

[2021-11-21 18:35] cfsmp3 commented on #965
Closing due to original poster not responding.

[2021-11-21 18:35] #965 closed

[2021-11-21 18:36] cfsmp3 commented on #1008
Closing - this seems fixed. Feel free to comment if anyone is having this problem in current master.

[2021-11-21 18:46] cfsmp3 commented on #1039
@Liontooth Can you provide updated samples? Can't download that one. We're cleaning up issues now (overdue, I know).

[2021-11-21 20:29] mackworth commented on #780
Just FYI, although they are much less problematic, I still see 397 errors during compilation on my Mac.
Almost all are `-Wpointer-sign` warnings with many different specific types, but a sample is:
[code]
There's also 8 `-Wself-assign` warnings such as
[code]

and a handful of others:
[code]

[2021-11-22 05:52] PunitLodha commented on #286
Using -svc all[EUC-KR] I can get all subtitles from this file.

We don't have access to the orignal video being discussed in this issue. We'll close this issue for now. If this issue persists in the original video, then feel free to reopen

[2021-11-22 06:55] ValZapod commented on #286
Yes, I also said that couple of months ago. I think auto select should be done still.

[2021-11-22 08:47] Sonosy commented on #1395
Thanks for uploading.
Did you get the same results (Cyrillic)?
Can I do anything to help?

[2021-11-24 06:17] PunitLodha commented on #286
We need to know what the language is before we can auto select. Language is present in the caption service descriptor, which is present in either PMT or EIT. But, I didn't find the caption service descriptor in any of the videos.

[2021-11-24 06:25] PunitLodha commented on #286
We need to know what the language is before we can auto select. Language is present in the caption service descriptor, which is present in either PMT or EIT. But, I didn't find the caption service descriptor in any of the videos.

The Korean standard states,

We cannot default to EUC-KR on all videos, which are in different languages, not just Korean.
I think the best solution here is to just manu

[2021-11-24 06:55] cfsmp3 commented on #286
Agreed. I don't think it's a good use of our time to try to detect heuristically.

But we'll accept PRs 😊

[2021-11-24 06:55] #286 closed

[2021-11-24 07:19] PunitLodha commented on #690
We cannot default to EUC-KR on all videos, which are in different languages, not just Korean.
I think the best solution here is to just manually pass EUC-KR parameter

Same as #286

[2021-11-24 07:19] #690 closed

[2021-12-01 19:36] muzicman0 commented on #1389
Thanks.  I saw that it had been fixed.  Compiling is probably beyond me right now, so I will just wait for now.

[2021-12-04 05:23] MauryaRitesh commented on #1346
Is the issue still not resolved? I would like to work on this issue(or any other issue).

[2021-12-04 05:24] cfsmp3 commented on #1346
Not solved, got for it

On Fri, Dec 3, 2021, 21:23 Ritesh Maurya ***@***.***> wrote:

[2021-12-07 18:06] bbgdzxng1 opened #1399 "[PROPOSAL] - Structured data JSON output of ccextractor -out=report"
Would you be kind enough to consider extending `ccextractor -out=report` to export a JSON output so that the output of the ccextractor analyser can be machine readable without a custom parser?  This would mean that an external structured data parser such as `jq` can be used to parse / filter the output.

Similar to:
[code]

eg something like...
[code]

Obviously, it would require the definition of

[2021-12-07 18:18] cfsmp3 commented on #1399
We'll be happy to accept pull requests or sponsorship for this to happen :-)

[2021-12-10 09:44] eddilara commented on #1382
yeah doesn't work on windows

[2021-12-10 10:29] canihavesomecoffee commented on #1395
I'm not using windows, so I couldn't test it myself.

It might be useful to post the output that CCExtractor gives, so we can see if it actually picked teletext (and which page).

[2021-12-11 02:26] eddilara opened #1400 "wrong comand line on windows"
for the windows gui version...its using ccextractor instead of the actual binary name of ccextractorwinfull.exe

[2021-12-11 13:01] Techno-Disaster commented on #1400
Seems to be the correct one? https://github.com/CCExtractor/ccextractorfluttergui/blob/master/lib/repositories/ccextractor.dart#L20

[2021-12-13 01:42] eddilara commented on #1400
oh ok...I was only looking at the cmd line in the gui
can't figure out why hardsubx cmd won't work on windows

[2021-12-13 04:51] Techno-Disaster commented on #1400
tesseract stuff should be bundled in the msi afaik. 🤔

[2021-12-16 22:35] muzicman0 commented on #1389
.94 is up, so I am checking it out to make sure it works for me.  Thanks!

[2021-12-16 22:59] muzicman0 commented on #1389
I guess I will just stick with the old version.  .94 doesn't work on some files at all, and only pulls a few minutes of captions on others.

[2021-12-17 03:04] PunitLodha commented on #1389
This could be a big. Could you create a new issue for it? With details about which files aren't working.

Also, there was a change in the flags. In 0.94 :-
-  if no params are provided:- extract whatever is available, if both(708 and 608) are available then extract both
- If -1/-2 is provided:- extract only 608 subs
- if -svc is provided:- extract only 708 subs
- if both -1/-2 and -svc are provide

[2021-12-20 04:39] eddilara opened #1405 "hardsubx still not working on windows in the gui"
says it can't find the trained data...even tho the file is in the main ccextractor folder

[2021-12-20 07:53] #1400 closed

[2021-12-20 07:53] canihavesomecoffee commented on #1405
Duplicate of #1382

[2021-12-20 07:53] #1405 closed

[2021-12-22 18:02] emcodem opened #1406 "[QUESTION] what's the problem with my raw 708 data from vanc? (No captions were found in input.)"
CCExtractor version: Version: 0.93

- Is this a regression (i.e. did it work before)? {NO}
- What platform did you use? {Window}
- What were the used arguments? `ccextractorwinfull.exe -608 -in=raw C:\temp\vanc.bin -o c:\temp\out.srt`

# Additional information

This is a raw dump of ancillary packets recorded from Blackmagic Decklink SDI, the captions were inserted by FAB subtitler.
When i feed it

[2021-12-28 23:03] m1tk4 opened #1407 "[BUG] CCExtractor crash in Rust decoder on ATSC1.0 TS Files."
# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x] I

[2022-01-03 10:26] Southpaw1496 commented on #1371
Here is another file of a Bugs Bunny short, unencrypted this time https://drive.google.com/file/d/1B9ZeUZ-Pv1dUeu0aJP5G1s_8-_SzA_xU/view?usp=sharing

Output for this file:
[Output-bugs.zip](https://github.com/CCExtractor/ccextractor/files/7801404/Output-bugs.zip)

[2022-01-03 12:14] canihavesomecoffee commented on #1371
Bugs file has been made available here: https://sampleplatform.ccextractor.org/sample/178

Logs from output zip above:
[code]

It creates an empty .srt, and the two files for the VOBSUB ones (albeit with a "(null)" extension?), but no conteint is in either file.

[2022-01-07 02:11] billh8 opened #1408 "[QUESTION] Is there a Windows XP SP2 compatible binary for v0.88 or higher?"
# Additional information

Currently using v0.87 on Windows XP SP2. Looking for "support for EIA-608 inside .mkv," added in v0.88.

v0.88 error:  "entry point inet_ntop could not be located in dynamic link library WS2_32.dll."
Latest v0.94 error:  "entry point AcquireSRWLockExclusive could not be located in dynamic link library KERNEL32.dll."

[2022-01-07 08:29] canihavesomecoffee commented on #1408
v0.89 is the last one we released with specific XP compatibility, but I see there's no binaries for that available for some reason...

@cfsmp3 Can you create that or should I look to backport some of the workflows to a 0.89 branch to try and get a Windows installer (or portable version) built?

[2022-01-07 08:31] cfsmp3 commented on #1408
Right now I don't have any way to build for Windows. I need to setup a VM on my new system.

So if you can please go ahead

[2022-01-08 17:54] canihavesomecoffee commented on #1408
@billh8 Could you check if the portable zip I've build on my fork is working for you? https://github.com/canihavesomecoffee/ccextractor/releases/tag/v0.89a

It's the 0.89 version. If it works I can create a new release here.

[2022-01-08 19:58] billh8 commented on #1408
Tested the v0.89 portable zip on WinXP SP2 without any errors. Also successfully tested it on 2 mkv files with EIA-608 captions. Thanks a lot!

[2022-01-08 22:27] canihavesomecoffee commented on #1408
Closing as it seems to be working. I uploaded the same zip to the 0.89 release, and if we make bugfixes for that branch there will be automated builds that add the same (portable) zip version.

@cfsmp3 I also updated the 0.94 release to state that 0.89 is the last supported one for XP... But we might need some other places to state that too perhaps? I.e. website, readme?

[2022-01-08 22:27] #1408 closed

[2022-01-08 23:01] AkechiShiro commented on #1282
Hi @Rameishkumar123, could you please provide the video link and the very file which fails to generate 608 cc3 caption with option -12 ?

[2022-01-09 08:24] cfsmp3 commented on #1408
I guess here
https://ccextractor.org/public/general/downloads/

We could have Windows XP and Windows 7 or above

@Techno-Disaster can you do this change?

[2022-01-09 14:03] Techno-Disaster commented on #1408
Done https://github.com/CCExtractor/website/commit/ee44fac1f644912317101e876e4f4a8ea1ae3eb5

[2022-01-13 19:11] pree-T commented on #1282
May I work on this? Can someone help me as I am new to open source contribution.?

[2022-01-14 05:25] cfsmp3 commented on #1282
Sure, go for it.
Start by reproducing the issue.

[2022-01-14 11:09] AkechiShiro commented on #1282
@pree-T @cfsmp3 I actually wanted to go for it as well by getting the file to reproduce the issue first of all, is it alright if I try to work on it as well ? Or should I leave it ?

[2022-01-14 11:56] canihavesomecoffee commented on #1282
You can work on it as well, but given that @Rameishkumar123 still didn't provide a video link it might be very hard to reproduce it.

[2022-01-14 12:01] canihavesomecoffee commented on #1407
File also available here: https://sampleplatform.ccextractor.org/sample/179

[2022-01-14 12:05] canihavesomecoffee commented on #1406
Sample mirrored here: https://sampleplatform.ccextractor.org/sample/180

[2022-01-22 03:30] poetnerd commented on #136
I would like to re-open this issue.  Although I'm new to the ccextractor community, and may need a bit of tutelage in how to provide the most useful data, I'm rather obsessive about running bugs to ground.

I have encountered the problem where ccextractor drops pairs of characters from closed captions in files
fetched from TiVo.

The insight about trying Transport vs. Program stream shows me prett

[2022-01-22 03:32] poetnerd commented on #136
Oh critical data I forgot to supply -- version information:

wdc-home-3:pending wdc$ ccextractor --version
CCExtractor 0.94, Carlos Fernandez Sanz, Volker Quetschke.
Teletext portions taken from Petr Kutalek's telxcc
--------------------------------------------------------------------------
CCExtractor detailed version info
	Version: 0.94
	Git commit: Unknown
	Compilation date: 2022-01-16
	CEA-708

[2022-01-24 17:52] #1407 closed

[2022-01-24 21:27] shaunflagg opened #1410 "[BUG] 608/708 captions not being converted to webvtt"
CCExtractor version: 0.94

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2022-01-25 09:56] PunitLodha commented on #1410
Please share the videos for which you get this error.

[2022-02-01 12:44] brebetez opened #1411 "[BUG] or [QUESTION] : Hardsubx didn't extract burn-in subs exactly as expected"
Please prefix your issue with one of the following: [BUG], [QUESTION].

CCExtractor version: 0.94
CCExtractor detailed version info
        Git commit: 290e2f10f9e681c0ba1d53df5ba29166622b0a20
        Compilation date: 2021-12-27
Libraries used by CCExtractor
        Tesseract Version: 4.1.1
        Leptonica Version: leptonica-1.79.0
        libGPAC Version: 1.0.1
        zlib: 1.2.11
        utf

[2022-02-07 02:59] rezad1393 opened #1412 "[BUG]"Error opening data file /usr/share/eng.traineddata" error, regardless of TESSDATA_PREFIX"
To get the version of CCExtractor, you can use `--version`.

CCExtractor version: CCExtractor 0.94, Carlos Fernandez Sanz, Volker Quetschke.

# In raising this issue, I confirm the following:

- [ x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x ] I have checked that the bug-fix I am reporting can be replic

[2022-02-07 05:06] r0ckingit opened #1413 "[PROPOSAL] Return file drag and drop to the new GUI"
CCExtractor version: CCExtractor 0.94, Carlos Fernandez Sanz, Volker Quetschke.

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present

[2022-02-07 05:17] r0ckingit opened #1414 "[ISSUE] DVD Closed Captions do not extract, instantly crashes. Remuxing same .vob to .mpg and it extracts fine"
CCExtractor version: CCExtractor 0.94, Carlos Fernandez Sanz, Volker Quetschke.

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present

[2022-02-07 05:22] r0ckingit commented on #1413
Just noticed there is ccextractorfluttergui. This fits better there, apologies.

[2022-02-08 04:02] shaunflagg commented on #1410
@PunitLodha you can see the mp4 and vtt files here https://drive.google.com/drive/folders/12GflmtA6M6aTIH1VEQ4TVOYVO05CpMd6?usp=sharing

[2022-02-09 06:25] PunitLodha commented on #1410
I am able to extract correct vtt captions for this file on 0.94. Could you please share the output of `ccextractor --version` and also tell where have you installed ccextractor from?

[2022-02-10 16:34] canihavesomecoffee commented on #1413
No worries @r0ckingit.

Looks like the issue was already on @Techno-Disaster's wishlist: https://github.com/CCExtractor/ccextractorfluttergui/issues/6

[2022-02-10 16:37] canihavesomecoffee commented on #1414
@r0ckingit could you send me a link to the files please? Either through [Slack](https://ccextractor.org/public/general/support/), or you can send me an email as well.

[2022-02-11 07:46] Techno-Disaster commented on #1413
We also have https://github.com/CCExtractor/ccextractorfluttergui/pull/10 :P but looks like its dead.

[2022-02-14 18:33] sttaylor opened #1416 "[QUESTION] concatenating files"
I recently switched to the pretty new GUI (sorry, I don't have the release # handy) and now when I run CCExtractor, it creates a separate srt file for each vob file that it processes. What do I need to set so that they concatenate into a single srt file?

[2022-02-18 23:33] cfsmp3 commented on #726
Video link again:
https://drive.google.com/file/d/0B_61ywKPmI0TeU5rOTlCMWxKbW8/view?usp=sharing&resourcekey=0-nZ9e7M3yhB6099__xP8ofw

[2022-02-19 12:18] shashwat1002 commented on #726
Hi, I tried running the compiled source code on the examples with the command (in the build directory)

`./ccextractor -hardsubx -subcolor yellow  ~/Downloads/the.americans.s05.e06-original.unedited.from.hdhomerun.ts -conf_thresh 50 -ocr_mode word`

and I get the following set of failures

[code]

It seems to be a segmentation fault.

I haven't yet looked at the source code and was just looking at

[2022-02-19 16:20] cfsmp3 commented on #726
No, a segfault is never the user's fault :-)
Go dive! :-)

[2022-02-20 15:56] shashwat1002 commented on #726
Hi, I ran a debug build on two different samples and received a segmentation fault in the same place.

Given that I can't work on this issue until the segmentation faults are resolved, would it be more appropriate to start a new issue?

[2022-02-20 20:09] cfsmp3 commented on #726
Well, you can work on fixing that segfault, which seems trivial :-)

I'd recommend to build it with debug info and run with valgrind. It will tell exactly what's going on.

[2022-03-01 13:02] canihavesomecoffee opened #1418 "[BUG] CCExtractor incompatible with ffmpeg 5.0"
CCExtractor version: 0.94 / master

# Necessary information

- Is this a regression (i.e. did it work before)? YES
- What platform did you use? Linux
- What were the used arguments? N/A

# Additional information

When building the [AUR package](https://aur.archlinux.org/packages/ccextractor) for CCExtractor, building fails when the installed ffmpeg version on the system is 5.0.

[code]

[code]
FFm

[2022-03-01 14:33] cfsmp3 commented on #1418
This should probably be a short GSoC project.
Indeed FFmpeg changed their API a lot (to the better, I must say), so this is not going to be something we can fix in one evening.

[2022-03-03 06:02] PriamX commented on #1418
Just ran into that issue. Came here.

The `av_register_all()` function has been listed as deprecated since ffmpeg 4.0 in the official [changelog](https://github.com/FFmpeg/FFmpeg/blob/70d25268c21cbee5f08304da95be1f647c630c15/doc/APIchanges#L86), `avcodec_decode_video2()` seems to as well, later on.

[2022-03-07 03:43] shashwat1002 commented on #726
Hello,

I feel that this proposal will require making a struct that is in some way a general form of  `struct lib_ccx_ctx` and `struct lib_hardsubx_ctx` with relevant attributes from both.

Does that sound feasible right now?

[2022-03-08 18:41] cfsmp3 commented on #726
Maybe you can just pass both as needed instead of creating a new one?

Sure. Give it a go - there's several approaches, go with the one you feel more comfortable with, we can always iterate once you have something working.

[2022-03-08 21:19] hurda opened #1421 "[BUG] MP4 box name as random video data at beginning of TS-recording trips format-detection"
CCExtractor version: 0.94

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2022-03-09 07:23] canihavesomecoffee commented on #1421
Well, it's the first time in about 7 years we see this kind of issue (code for this was added by me in #165), so that sample would definitely be welcome.

Looks like my approach back then wasn't fully bulletproof.

[2022-03-09 12:48] canihavesomecoffee commented on #1421
Yes, that should be sufficient indeed. Thanks for the quick share.

[2022-03-10 23:33] cfsmp3 commented on #1416
@Techno-Disaster can you check this out?

[2022-03-11 04:49] Techno-Disaster commented on #1416
Hmm iirc there is a split mode option in the settings, if you turn it on any selected videos will be treated as a group and you should get only one srt file.

[2022-03-17 17:10] shazbot666 opened #1423 "[BUG] SCC extraction from mov file results in an empty SCC file"
CCExtractor version:0.94

- regression?{no}
- What platform did you use? {Mac 12.2.1}
- What were the used arguments? `ccextractor -in=mp4 -out=scc -nofc -dru /Volumes/Drive5/Whacked/WhackedOutVideos_short.mov -o /Volumes/Drive5/Whacked/WhackedOutVideos_short.scc'

# Video links
http://videopress.s3.amazonaws.com/samples/Whacked/WhackedOutVideos_short.mov

# Additional information
A .scc file is c

[2022-03-18 19:52] shazbot666 commented on #1423
A little more information:
two output files were created. One looks like a temp file, one is the specified -o file. The temp is zero K, the specified output just has the scc header text and nothing else "Scenarist_SCC V1.0"
WhackedOutVideos_short.p0.svc01.scc
WhackedOutVideos_short.scc

[2022-03-18 22:19] shazbot666 commented on #1423
Downgrade from ffmpeg 5 to 4.4. Reinstalled ccextractor 0.94. Same issue.

[2022-03-20 12:04] PunitLodha commented on #1423
Link doesn't work. Please share the video again

[2022-03-20 12:27] shazbot666 commented on #1423
Sorry about that. Try this:
https://drive.google.com/file/d/13p6HBxGXlm0BGpaS15JwCJjfnBdm_Qbm/view?usp=sharing

or if you get a bad MIME type in firefox, try this:
https://drive.google.com/file/d/1lu5jaRs5eY7clTXaB2AFPkYX7qkOh01K/view?usp=sharing

[2022-03-20 12:33] PunitLodha commented on #1423
https://drive.google.com/file/d/13p6HBxGXlm0BGpaS15JwCJjfnBdm_Qbm/view?usp=sharing
or if you get a bad MIME type in firefox, try this:
https://drive.google.com/file/d/1lu5jaRs5eY7clTXaB2AFPkYX7qkOh01K/view?usp=sharing

@canihavesomecoffee if you could upload this to SP

[2022-03-20 12:53] PunitLodha commented on #1423
@shazbot666 Subtitles are being extracted, just not being written to the file. The issue here is that 708 decoder doesn't support SCC format. But, I am not sure if it can support it as SCC seems to be closely linked to 608.

@cfsmp3 any idea if it can be done?

[2022-03-20 15:10] cfsmp3 commented on #1423
https://www.rev.com/blog/cea-608-captions-vs-cea-708-captions

[code]

For now (i.e. until that's implemented) if SCC is selected as output we should export 608 instead of 708. Or report an error and make the user be explicit and select 608 :-)

[2022-03-20 15:38] shazbot666 commented on #1423
That sounds right, I don't think there is any actual 708 data in the test file, its 608 data in a 708 container. If that makes sense.

From mediainfo:
`Text #1
ID                                       : 7-CC1
Format                                   : EIA-608
Muxing mode                              : Final Cut / CDP
Codec ID                                 : c708`

[2022-03-21 23:00] chenrui333 opened #1425 "[BUG] ccextractor 0.94 release cannot build with gpac 2.0.0"
## Problem

ccextractor 0.94 release cannot build with gpac 2.0.0
CCExtractor version: 0.94

build error:
[code]

# In raising this issue, I confirm the following:

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am

[2022-03-22 06:48] canihavesomecoffee commented on #1425
I fail to see how a gpac error is related to this project (aside from it being a dependency of CCExtractor)?

[2022-03-23 04:43] PunitLodha commented on #1423
We do report an error, but its in the 708 logs, which have to be enabled by using the -708 flag.
Also, selecting 608 won't work here, because its 608 data in 708 container, so only the 708 decoder can be used here

I'll create a issue for adding SCC support to 708

[2022-03-23 05:02] PunitLodha opened #1426 "[PROPOSAL] Add SCC support to CEA-708 decoder"
Add support for SCC format to CEA-708 decoder.
Currently, only SRT, SAMI and Transcript formats are supported, https://github.com/CCExtractor/ccextractor/blob/master/src/rust/src/decoder/tv_screen.rs#L126-L134

SCC format details :- http://www.theneitherworld.com/mcpoodle/SCC_TOOLS/DOCS/SCC_FORMAT.HTML

#1423

[2022-03-23 08:20] MoqiGod opened #1427 "[BUG]Heap buffer overflow when parsing TS format"
CCExtractor version:
	Version: 0.94

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [ ] I have checked that the issue I'm posting isn't already reported.
- [ ] I have checked

[2022-03-23 08:34] MoqiGod opened #1428 "[BUG] global buffer overflow when parsing TS format"
CCExtractor version: {replace with the version}

Version: 0.94

# In raising this issue, I confirm the following:

- [ ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [ ] I have ch

[2022-03-24 13:19] paulshields commented on #1412
I came across this bug when facing the same issue. I noticed there was a wget for the traineddata in the ccextractor/linux/build-static.sh file

`wget https://github.com/tesseract-ocr/tessdata/raw/master/eng.traineddata`

though the path appears to have changed.

I can see all the traineddata files here though  https://github.com/tesseract-ocr/tessdata.git

I just cloned that repo, then copied eng

[2022-03-26 16:35] voidash commented on #1426
Just to be clear, i looked up similar function [`write_sami()`](https://github.com/CCExtractor/ccextractor/blob/30bc27aa0cd850000f41e59a1d75a20f248aee9e/src/rust/src/decoder/tv_screen.rs#L310). Basically it is writing to a file and the contents should look like the image i have embedded.
<img src="https://static.clideo.com/files/content/sami-smi-subtitle-file-format.png" width=200 height=200/>

So

[2022-03-26 16:52] shazbot666 commented on #1426
Here's a sample SCC extract from the sample WhackedOutVideos_short.mov using a commercial tool

Scenarist_SCC V1.0

00:58:56:14	e96e 2043 616e 6164 61ae

00:58:58:19	9426 94ad 9470 4ff2 20e9 7320 f468 e973 2073 796e e368 f2ef 6ee9 7ae5 6480

00:58:59:23	9426 94ad 9470 73f4 e9e3 6b20 70ef 6be9 6e67 bf80

00:59:02:03	9426 94ad 9470 c1e3 f475 61ec ec79 2c20 f468 ef73 e520 61f2 e520 f468 e520 f2ef 647

[2022-03-27 14:52] #726 closed

[2022-03-28 21:37] mirh commented on #1254
If `TESSDATA_PREFIX` isn't set, the program will just look into its root folder.
And once you throw in the [age appropriate](https://github.com/tesseract-ocr/tessdata/releases/tag/3.04.00) models you are good. Not a big deal really.

The problem if any is that you crash badly and without explanations after "FFMpeg Media Information".

[2022-04-05 17:33] magauthority opened #1429 "[BUG] Seg fault in new 0.94 version..."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version: {0.94}
# Necessary information

- Is this a regression (i.e. did it work before)? {YES/NO} Smae issue with version 0.85, yes.
- What platform did you use? {Window/Linux/Mac} Linux/Debian
- What were the used arguments? `{ccextractor -out=srt -bom -utf8 --nofontcolor}`

# Video links download vi

[2022-04-07 11:11] voidash commented on #1426
I took a shot at adding SCC support for the 708 decoder. I tried adding a function `write_scc` on `tv_screen.rs` and here is the commit on my fork: [https://github.com/CCExtractor/ccextractor/compare/master...voidash:master ](https://github.com/CCExtractor/ccextractor/compare/master...voidash:master)

i ran the ccextractor in debug mode with these flags for the video https://drive.google.com/file/

[2022-04-08 00:17] cfsmp3 commented on #1426
@PunitLodha can you take a look at @voidash 's work?

[2022-04-09 08:22] PunitLodha commented on #1426
Yes, I will in some time

[2022-04-12 02:28] PunitLodha commented on #1426
So, for some reason, mp4 still uses the C decoder. And changing it to rust is not as straightforward. I am working on it.

Meanwhile, @voidash could you replicate the changes in C here, https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_decoders_708_output.c#L370-L392

[2022-04-12 12:10] voidash commented on #1426
Ok, i will take a look at it.

[2022-04-12 15:29] voidash commented on #1426
I tried replicating the changes in C. here is the diff file : https://github.com/voidash/ccextractor/commit/fb5dbe29593fb68146ee7deb71270f53f93f0d18

Here is the output when i passed the following parameters
`-in=mp4 -out=scc -nofc -dru /home/cdjk/Downloads/WhackedOutVideos_short.mov -o /home/cdjk/Downloads/main.scc`
https://pastebin.com/VeY4BmbK

The temp file `main.p0.svc01.scc` file is being wr

[2022-04-12 17:21] PunitLodha commented on #1426
`main.scc` will be empty because it is supposed to contain subs for 608, which is not present here. `main.p0.svc01.scc` is the file which is supposed to have 708 subs. So that is correct.
But I can see some issues with the output. One being that there are multiple timestamps on the same line. Other than that, I think the clear caption command is missing, which should be present at end time of each

[2022-04-12 17:34] cfsmp3 commented on #1426
The mp4 code has a different flow. We use libgpac to actually open the mp4 file and the entry point into the decoders is different than the usual general loop.

It should be easy to change though and call the rust code.

[2022-04-13 01:52] voidash commented on #1426
@PunitLodha . `main.p0.svc01.scc`now looks like this.
[code]
You can take a look at my approach here : https://github.com/voidash/ccextractor/commit/e449557c8c6b31b73aa434c81d471818e832f5f8

So 708 decoder found SCC subs which means , we should add `Scenarist_SCC V1.0` header . and also i guess i should remove the rust code which is just appending last three caption text

[2022-04-13 04:46] cfsmp3 commented on #1426
I'd recommend looking into this - @PunitLodha

https://github.com/CCExtractor/ccextractor/blob/6efa41a7e6a083e240015592189391a0f78caa37/src/lib_ccx/mp4.c#L398

If you can just call rust from there you're good to go. After that everything is the same thing.

[2022-04-13 13:18] PunitLodha commented on #1426
I did look at that. But due to how the code is structured, it's not as easy as just calling the rust function from there. I'll have to change some stuff from the rust side first

[2022-04-13 13:38] PunitLodha commented on #1426
@voidash

Check out how sami header is added, and do it the same way

The last captions are added by the code which you added in rust. It is called by the flush function. So you should correct the rust code too, and send a PR

[2022-04-25 00:07] vega69-ux opened #1433 "How to keep metadata when exporting to SRT files?"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

To get the version of CCExtractor, you can use `--version`.

If this issue is related to the flutter GUI, please make the issue on the GUI repo [here](https://github.com/CCExtractor/ccextractorfluttergui/issues/new)

Please check all that apply and **remove the ones that do not**.

In the necessary information sect

[2022-04-30 19:35] vega69-ux opened #1434 "Does CCExtractor provide metanames to srt files?"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

To get the version of CCExtractor, you can use `--version`.

If this issue is related to the flutter GUI, please make the issue on the GUI repo [here](https://github.com/CCExtractor/ccextractorfluttergui/issues/new)

Please check all that apply and **remove the ones that do not**.

In the necessary information sect

[2022-04-30 22:16] canihavesomecoffee commented on #1434
Duplicate of #1433

[2022-04-30 22:16] #1434 closed

[2022-05-17 16:51] cfsmp3 commented on #1425
@alebcay Why do you go out of your way to "unvendor"? What do you get from it other that doing a lot of work and possibly breaking stuff? :-)

[2022-05-17 17:03] alebcay commented on #1425
One example is generally upstream fixes for uncommon platforms. For instance, CCExtractor failed to build on macOS for Apple Silicon machines for the longest time because the bundled `libpng` was failing to build on the new ARM64 architecture.

The folks at `libpng` fixed it pretty quickly, because someone reported the issue to them. We proceeded to pick up the new version and were shipping it wit

[2022-05-17 17:11] alebcay commented on #1425
In any case, I don't expect my rationale to sway the direction of the CCExtractor project (I'm sure you have valid reasons for doing things the way you do). Similarly, I don't expect the Homebrew project direction to really change either from any discussion in this thread.

I'd like to point out that Homebrew isn't unique in this policy of unvendoring. For instance, [Debian](https://sources.debian

[2022-05-21 18:47] jaum20 commented on #723
I'm facing this error with Disney+ vtt subtitles. [This one](https://pastebin.com/Git6Zk7R), for example. I get:

[code]
This file subtitle displays fine in VLC

[2022-05-25 22:48] cfsmp3 commented on #1425
Windows.

Debian specifically wants to fight the world with fewer soldiers that are needed :-)
A lost battle with Rust, by the way.

 Anyway we're happy to take patches of course, but I don't see ourselves not vendoring unless someone solves the DLL nightmare for us.

[2022-05-26 12:40] alebcay commented on #1425
Yeah, I understand the Windows situation. Again, not asking to stop vendoring but at least offer build-time flags to not use the vendored libraries. I realize that even just providing that kind of flexibility requires additional complexity in the build system.

For what it's worth, the Debian folks seem to have a patch for building `ccextractor` with GPAC 2.0.0. Apart from dropping in a new vendor

[2022-05-26 16:37] canihavesomecoffee commented on #1425
We always welcome PR's :)

Getting the correct DLL's for the Windows build might be a bit tougher, but with the automated builds that should be easy enough to be able to quickly test out.

[2022-05-31 22:05] piotr5 opened #1436 "[PROPOSAL] bitstream.h is a very generic name"
CCExtractor version: 0.88

# Necessary information

- Is this a regression? NO
- What platform did you use? Linux

# Additional information

just like in the package zfp: https://github.com/LLNL/zfp/issues/49
in CCExtractor-0.88 I get the file /usr/include/bitstream.h
which collides with zfp, a library completely unrelated to videos.
please put header-files into their own directory during installa

[2022-06-02 18:15] shashwat1002 commented on #1411
On investigating, at least on the files I have there are subtitles extracted with duration less than a second.
So I guess the second point is not entirely general.

[2022-06-03 17:20] egossett opened #1437 "[Bug] (version .94) parameter -inp=ts not understood"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

I have a .ts file that contains programs 3, 4, and 6. I need subtitles for program 4.
I set the program number to 4 in "Obscure settings" and changed from "auto/default" to "ts" in "Basic settings"/input file format.

I get the error: parameter -inp=ts not understood

If I use "auto/default" for the input file form

[2022-06-03 18:22] egossett commented on #1437
The parameter should be -in=ts

[2022-06-03 18:37] canihavesomecoffee commented on #1437
That's a GUI issue (I believe you're using the GUI?), so @Techno-Disaster...

[2022-06-03 18:48] egossett commented on #1437
Yes, it is a GUI issue. Too bad the gui doesn't let you edit the command line parameters in the basic settings tab. Should be a 2-minute fix.

[2022-06-04 06:42] Techno-Disaster commented on #1437
strange -in is -in according to https://github.com/CCExtractor/ccextractorfluttergui/blob/master/lib/models/settings_model.dart#L227

[2022-06-04 11:48] egossett commented on #1437
I have the latest version. The command box shows "inp=ts". If I run CCExtractor from the command line with "inp" replaced by "in", it works. That means the GUI has a small error in creating the correct command line.

[2022-06-05 20:28] Techno-Disaster commented on #1437
https://github.com/CCExtractor/ccextractorfluttergui/commit/155596b2633ef3be9050a70e8c4ba223eb5d2867 should fix it :D

[2022-06-05 21:30] egossett commented on #1437
Thank you very much for the fix. Since I am running this on Windows 10 and not a Unix system, I will need to wait for the next non-source update to use this fix.

[2022-06-05 23:26] canihavesomecoffee commented on #1437
Once the workflows finish you can normally download the artifacts for Windows, and replace the GUI exe in your installation folder. If you don't want to do that, yes, you'll have to wait until a new release is made.

[2022-06-05 23:39] egossett commented on #1437
Ok. I will try that.

On Sun, Jun 5, 2022, 6:26 PM Willem ***@***.***> wrote:

[2022-07-04 07:12] PunitLodha commented on #1371
So, the issue here is that we don't support VOBSUB subtitles.
To support it, we need to create 2 files, `.idx` and `.sub`. We generate `.idx` file (although incorrect), but no `.sub` file.

Current .idx file:-
[code]
- Header is correct
- timestamp: Missing, but correct (stored in `time_start`)
- filepos:- Missing. Need to get correct file positions according to the `.sub` file

We also need to wr

[2022-07-05 05:44] PunitLodha opened #1445 "Fix HardsubX builds"
Tracking issue for fixing HardsubX builds on all platforms.
New feature was added to the rust crate to optionally enable compiling of HardsubX. These platforms need fixing to add that feature flag in the `cargo build` command and make any required platform specific changes. Also need to update the compilation docs wherever required.

I haven't checked all. Some might already be working correctly w

[2022-07-05 20:58] cfsmp3 commented on #1418
I think it's happening or will happen as part of the hardsubx rewrite effort by @PunitLodha and @shashwat1002.

I've seen references to FFmpeg 5 there.

[2022-07-07 06:09] PunitLodha commented on #1418
Yes, this will be a part of the HardsubX rewrite. While we are working on it, a short term solution would be to compile CCExtractor without HardsubX support.

[2022-07-07 06:24] rhertzog commented on #1418
Thanks @PunitLodha for the tip! Any idea / rough guess of when the HardsubX rewrite will be ready?

[2022-07-07 06:37] PunitLodha commented on #1418
It should be ready before October

[2022-07-12 12:09] shashwat1002 commented on #1445
@PunitLodha

for autoconf, the linux and mac scripts seem to be identical in master (I see the mac specific clause only adds new sources)
So I am copying the autoconf script for mac for now. But I have no way of testing locally.

[2022-08-03 07:13] dcwar opened #1448 "[BUG] Two output files produced when using sects option and ttxt output format"
CCExtractor version: {0.94}

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting is

[2022-08-18 02:05] julowe opened #1449 "[BUG] windows v0.94 truncates output file to last subtitle (with 708 CCs)"
CCExtractor version: 0.94 windows only

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm

[2022-08-19 00:59] Baenwort opened #1450 "[QUESTION] FreeBSD pkg/port"
CCExtractor version:  0.85_21 on FreeBSD

# Necessary information

- Is this a regression (i.e. did it work before)? {YES}
- What platform did you use? {FreeBSD 13.1}
- What were the used arguments? `{ccextractor --version or any other use of ccextractor}`

# Additional information

Since upgrading to FreeBSD 13.1 I have been getting the missing shared object when trying to use ccextractor install

[2022-08-22 09:08] PunitLodha commented on #1448
The file with `.pX.svcYY` extension is for CEA 708 subtitles, and the other one is for CEA 608 subtitles.
Earlier, 708 subs were extracted only if the `-svc` flag was passed. In 0.94, this behavior was changed and both 708 and 608 subs are extracted by default, as mentioned in the change log here, https://github.com/CCExtractor/ccextractor/blob/master/docs/CHANGES.TXT#L14
Though I can understand,

[2022-08-22 09:12] PunitLodha commented on #1448
This is how it works now,
- 708 `-svc` and field 1(i.e. 608) `-1` are enabled by default
- if no params are provided:- extract whatever is available, if both(708 and 608) are available then extract both
- If only -1/-2/-12 is provided:- extract only 608 subs
- if only -svc is provided:- extract only 708 subs
- if both -1/-2/-12 and -svc are provided:- extract both 608 and 708

I'll add this inform

[2022-08-22 09:15] PunitLodha commented on #1449
ccextractor 0.94, compiled from github commit ca303d, 2022-04-11
command: -svc all -nofc -dru
get: empty .srt file. good .p0.svc01.srt file with 9 sets of CCs, but has different timings in srt file and a last line of N/ that is not in 0.87 linux output. (File also has trailing whitespace differences)

0.94 was improved to have better timings and subtitle extraction. Do let us know if it got worse

[2022-08-22 13:09] dcwar commented on #1448
Thank you for the clarifications about the changes in ccextractor's operation. I greatly appreciate it.

Since extracting *both* 608 and 708 by default is a fundamental change to how ccextractor operates, and is completely unexpected behavior when compared to the operation of previous versions, it would seem wise to add this information to the usage information (both in the --help output, and else

[2022-08-24 03:54] julowe commented on #1449
Apologies, I had one detail wrong. Original issue message edited to reflect below.

v0.94 when run on windows or linux with indicated commands does **not** produce an empty .srt file, as you describe in #1448. That was my sloppiness in running a bunch of tests quickly one after another. v0.94 does still truncate the `.p0.svc01.srt` file to the last set of CCs though, so that is still an issue.

Th

[2022-08-24 06:49] erankor opened #1451 "[BUG] A mix of 8-bit/16-bit chars sent to iconv"
# Necessary information

- Is this a regression (i.e. did it work before)? NO
- What platform did you use? Linux
- What were the used arguments? `./ccextractor test.ts -svc all[UTF-16BE] -nofc -12`

# Video links

http://cdnapi.kaltura.com/p/2035982/playManifest/entryId/1_frxnu0yr/flavorId/1_tr3kiz6l/format/download/a.ts

# Additional information

Hi all,

I have some TS file with 708 subtitles in

[2022-08-24 13:10] PunitLodha commented on #1451
Could you share the output of `ccextractor --version`?

[2022-08-24 13:17] erankor commented on #1451
[code]

[2022-08-24 13:20] PunitLodha commented on #1451
You are using version 0.89. Could you try using the latest version(0.94)?

[2022-08-24 14:03] erankor commented on #1451
Reverted my change and pulled latest master, it is decoding stuff (which is better than previous version IIRC...), but still every space in the text messes it up, and I get some non-printable chars in the output.

Output without any code changes -
1
00:00:01,068 --> 00:00:03,770
人々が私を知‰挰弰栰䴰Ź섰漠時間管理につい‰晦<U+F830>䐰昰䐰縰

Output after forcing write_utf16_char to always use 2 chars -
1
00:00:01,068 --> 00

[2022-08-24 17:54] PunitLodha commented on #1451
You could send a PR. If it doesn't cause any issues with the other tests, then we can merge it

[2022-08-27 19:44] carlvanwormer opened #1452 "[BUG] (lost feature) v0.94 update doesn't honor "time adjust" like v0.88"
CCExtractor version: {0.94}

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting is

[2022-09-04 21:30] ocococococ commented on #1412
At least, on mac using brew, it seems there is a problem when using Tesseract 5 (tessdata directory is never found).
This could be too simplistic but changing tesseract version check in file ocr.c
  `if (!strncmp("4.", TessVersion(), 2))`
by
  `if (TessVersion()[0] >= '4')`
seems to do the trick.

Minor changes in CMakeLists.txt are also required to build on mac Big Sur.
[tesseract_5_mac.patch.zip

[2022-09-09 20:03] Adityashaw opened #1453 "[BUG] stdout argument not respected when multiple CC track found."
[code]

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.

[2022-10-04 10:08] utkarsh2102 commented on #1418
Hi @PunitLodha,

No rush or anything. Just a friendly ping asking about the ETA. :)

[2022-10-06 07:14] Booloki commented on #1418
Hello @PunitLodha,

Concerning Arch Linux, the [AUR package](https://aur.archlinux.org/packages/ccextractor) is build from release versions.

[2022-10-09 22:29] thunderbolt-tom opened #1455 "[BUG] Processing of file ended prematurely in switch_to_next_file() on UK Freeview DVB subtitles"
CCExtractor version: 0.94

# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn'

[2022-10-27 07:14] medikoo opened #1457 "[QUESTION] `ccextractor.h:10:10: fatal error: 'leptonica/allheaders.h' file not found` with `leptonica` installed"
CCExtractor version: v94

# Necessary information

I'm trying to compile ccextractror with hardsubx support on macOS 12.6 (Intel), I'm following instructions at https://github.com/CCExtractor/ccextractor/blob/master/docs/COMPILATION.MD#using-cmake and no matter what I do I approach the fail:

[code]

I definitely have `leptonica` installed (via brew), and see the mentioned headers file at `/usr/lo

[2022-11-24 08:08] abhi-kr-2100 commented on #1457
Can you try setting `CPATH` to `$CPATH:/usr/local/Cellar/leptonica/1.82.0_1/include/` and rerunning `make`:
[code]

[2022-11-24 11:04] abhi-kr-2100 commented on #1453
I'm working on this.

I've successfully built the latest checkout from source and reproduced this bug. Currently, I'm exploring the codebase to get familiar with it. I'll post here as I make progress towards identifying and fixing this issue.

[2022-11-24 12:36] abhi-kr-2100 commented on #1453
I've made a pull request fixing this issue for the particular case of .mkv or Matroska input files with multiple CC tracks.

[2022-11-24 15:10] abhi-kr-2100 opened #1461 "[BUG] "Build CCExtractor on Windows" CI is broken"
# In raising this issue, I confirm the following:

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting isn't already present.
- [x] I have checked that the issue I'm posting isn't already reported.
- [x] I

[2022-11-30 19:26] ikiss68 opened #1462 "cant"
Please prefix your issue with one of the following: , [QUESTION]
To get the version of CCExtractor, you can use ` latest version`.

Hello i cant take out the DVBSUB from the mpeg file, whitch is contains hungarian DVB sub for movie, please help..  if u want i can send the whole mpeg file. my mail: zoleeszolnok@me.com
I tired several times but the app cant find it, but it contans!!!

[2022-11-30 20:19] abhi-kr-2100 commented on #1462
Hello, @ikiss68. This may not solve the bug in CCExtractor that's causing this issue but can you try doing an `ffmpeg -i infile.ts -map v:0 -map a:0 -map s:0 -c copy -format mpegts outfile.ts` and then run CCExtractor on `outfile.ts`.

Issue #1455 is similar; this might be related.

[2022-11-30 20:42] ikiss68 commented on #1462
Thanks but my file is infile.mpeg not .ts extention. Is it good?

[2022-11-30 20:44] abhi-kr-2100 commented on #1462
Maybe you'll need to change the `-format` argument. First try without passing any formats, then try others that you may feel are suitable.

Can you also post here the output of running `file infile.mpeg`?

[2022-11-30 21:27] ikiss68 commented on #1462
It would be better if I could send the mpeg file (6gbyte) because I have a Mac not windows Regards, Zoli2022. nov. 30. dátummal, 21:44 időpontban abhi-kr-2100 ***@***.***> írta:﻿
Maybe you'll need to change the -format argument. First try without passing any formats, then try others that you may feel are suitable.
Can you also post here the output of running file infile.mpeg?

—Reply to this email

[2022-11-30 21:38] abhi-kr-2100 commented on #1462
I've sent you a mail requesting the file. Regards.