[2016-11-29 03:34] ykarim commented on #442
@BentB may you please close this issue as the original "OCR subsystem not present" is now resolved. You can open another issue for your new problem if it still exists.

[2016-11-29 13:28] december-soul opened #447 "multi lang, each cc into a new file"
If i have an DVB recording with more then one cc i would like to extract each cc into a new file.

like:

arte_multiaudio_deu.srt
arte_multiaudio_fra.srt

is there a way to auto handle multi cc video files?
This should work without multi times -o1 .. -o2 ..
I don't known how many dvb_subtitle are available.
So i want to start the ccextrator for each dvb recording without
pre-check the number of su

[2016-11-29 16:57] BBagger opened #448 "CCextractor does not find non-English tesseract data"
I have a recording from BBC Brit. It has 3 subtitle streams: Danish, Swedish and Finnish.
When I now run CCextractor I do get a .srt file but CCextractor complains:

`Opening file: Pointless.ts`
`File seems to be a transport stream, enabling TS mode`
`Analyzing data in general mode`
`dan.traineddata not found! Switching to English`
`swe.traineddata not found! Switching to English`
`fin.traineddata

[2016-11-29 17:02] BBagger commented on #442
I have moved the questions on tesseract data to a new issue  [448](https://github.com/CCExtractor/ccextractor/issues/448)
I also now close this issue.

[2016-11-29 17:08] BentB commented on #442
I have moved the above questions on tesseract data to a new issue [448](https://github.com/CCExtractor/ccextractor/issues/448)

[2016-11-30 02:24] Silver-Streak opened #452 "Ripping captions from WTV files ignores all time stamps and commercials"
I have a HTPC I built running Windows 8Windows Media Center. I use MCEBuddy to clean up my recorded WTV files, ripping captions to SRT for my wife, who is deaf and wants to be able to watch the videos throughout the house, and creating edl (I store for later to try and tweak appropriately).

I noticed that all of a sudden all of my subtitles are WAY out of sync. Like, minutes. Doing some digging,

[2016-11-30 02:31] cfsmp3 commented on #452
Sounds like you are not using the subtitle file on the same video file it
was extracted from? The subtitles are in sync with the source file, but if
you remove clips from that file and generate a new one with missing parts
of course the subtitles are going to be totally off sync.

On Tue, Nov 29, 2016 at 6:24 PM, Silver-Streak <notifications@github.com>
wrote:

[2016-11-30 02:37] Silver-Streak commented on #452
To clarify, these files are being used with the exact same files they're ripped from. Previously, I had been automatically converting these files to MKV and leaving the subtitles external files. To provide additional clarity, these are being recorded via ATSC over the air broadcasts.

Unfortunately, I no longer have the source WTV for the Arrow episode, so I cannot show a 1:1 comparison, as I can

[2016-11-30 02:45] Silver-Streak commented on #452
Here's a better example. I just reconverted one of the few WTV files I have kept that were good (as I do not reconvert Legends of Tomorrow episodes yet, as I haven't set up the rules within MCEbuddy).

Here is the original caption file.
  Last line of text with time stamp:
"1082
01:01:26,951 --> 01:01:34,289
              <i> ♪ ♪</i>    "
[Original LOT_S02E01srt.txt](https://github.com/CCExtractor

[2016-11-30 02:47] cfsmp3 commented on #452
We'd need the source video files. Best thing you can do is upload them to
Google Drive or Dropbox or any other place from which we can download
directly (we won't download from a place in which we need to create an
account or which offer bad speeds unless we pay) and we'll try to figure it
out.

On Tue, Nov 29, 2016 at 6:45 PM, Silver-Streak <notifications@github.com>
wrote:

[2016-11-30 02:49] Silver-Streak commented on #452
So...I could do that, but the source video files are 4 gb each due to being 1080p recorded via HD OTA broadcast. I have the bandwidth to do it if you guys want?

[2016-11-30 03:03] cfsmp3 commented on #452
Yes, we're used to dealing with mammoth files.

On Tue, Nov 29, 2016 at 6:49 PM, Silver-Streak <notifications@github.com>
wrote:

[2016-11-30 03:06] Silver-Streak commented on #452
You got it. Uploading now, will post link tonight or tomorrow once it's done. Thanks for your time and assistance.

[2016-11-30 03:26] anshul1912 commented on #442
Please help us with pull request

It's not bug nither feature, it's incomplete implementation.

-Anshul

On 25-Nov-2016 5:28 PM, "Bent Bagger" <notifications@github.com> wrote:

[2016-11-30 04:11] Abhinav95 commented on #224
For students working on the Code In task, you will have to make sure that the DVB subtitle extraction system is working, along with having the necessary Chinese recognition data files. ('chi_sim' and 'chi_tra' for simplified and traditional, available at https://github.com/tesseract-ocr/tessdata). You need to place these files at the correct location (along with the English .traineddata files), an

[2016-11-30 05:05] Silver-Streak commented on #452
@cfsmp3  Here you go: https://drive.google.com/open?id=0B-7WslMx37HXV0NyYVF1QndxOWM

[2016-11-30 08:52] Abhinav95 commented on #448
Hi @BBagger

I'd like to bring to your attention the following parameters that seem to be appropriate for your problem:-

                        stream will be processed. e.g. 'eng' for English.
                        If there are multiple languages, only this specified
                        language stream will be processed
              -ocrlang: Manually select the name of the Tesseract .tr

[2016-11-30 13:25] #444 closed

[2016-11-30 13:33] Ivan2309 opened #454 "Error in fopenWriteStream: stream not opened"
I'm not sure what information is required, sorry.

I compiled ccextractor in the build directory with the command
sudo make ENABLE_OCR=yes ENABLE_FFMPEG=yes

Then I changed to the linux directory and executed

sudo make ENABLE_HARDSUBX=yes

And then to start ccextractor, here's the command and some of the output - the same error continues until the end of the file and there is no output file creat

[2016-11-30 20:34] BentB commented on #448
@anshul1912  I'm not quite familiar with life at Github, so could you please expand a bit on what you mean by "Please help us with pull request" I know 'pull' from my use of Git, but not in this context. Sorry about that.

[2016-11-30 20:42] BBagger commented on #442
@anshul1912 I'm not quite familiar with life here at Github so please expand a bit on what you mean by "Please help us with pull request". I know 'pull' from Git, but not in this context. Sorry about that.

[2016-11-30 20:44] BentB commented on #442
@anshul1912 I'm not quite familiar with life here at Github so please expand a bit on what you mean by "Please help us with pull request". I know 'pull' from Git, but not in this context. Sorry about that.

[2016-11-30 23:55] Vindictor commented on #400
I've just been trying to extract subtitles from another programme, from a different source, and a different channel.   (TvHeadend, DVB-T, Ch5HD, UK)

https://drive.google.com/file/d/0B03VrTibH96mQkZaZkNWQmR4XzQ/view?usp=sharing

Always the same timing issue regardless of source or channel, but only with DVB-Subs.
If I make a new recording from DVB-S in the UK, which also come with teletext subtitl

[2016-12-01 05:28] Izaron commented on #427
`For each subtitle position X, check if X-2 is identical. if it is, skip it.`

We can fix it with bite-sized script extracting. Seems we should do it at CCExtractor code?

[2016-12-01 06:04] cfsmp3 commented on #427
No, that wouldn't be a fix, that would be hidden the problem under the rug
:-)

On Wed, Nov 30, 2016 at 9:28 PM, Evgeny Shulgin <notifications@github.com>
wrote:

[2016-12-01 10:15] grave-w-grave commented on #224
Hey, I can read Chinese. I'll give this one a look. Can't claim the task, though, because I'm currently doing another.

[2016-12-02 06:17] Rosehip1248 opened #466 "Correct timing issues"
I played the file through PotPlayer as VLC frame by frame doesn’t display subtitles. Attached are several screenshots where the subtitles were not necessarily needed to be displayed. However, subtitles are displayed before or after they have to be displayed to have a lead-in or lead out time. This ensures that the person watching the program has time to read the closed captions. A typical lead out

[2016-12-03 18:20] SWalkerTTU opened #477 "Here's a quandary: 608 captions in Korean (redux)"
Since the last issue [https://github.com/CCExtractor/ccextractor/issues/409](url) was closed (I've been a bit busy lately) the comment asked for the TS file and not the BIN file. I'll attach Dropbox links to the TS file as well as the BIN file. I don't believe the problem is with the extractor, but with the 608 decoder, as legible caption data was extracted, but not converted to SRT.

BIN: [https:

[2016-12-03 21:47] SWalkerTTU commented on #477
Correction: these are 708 captions. Still not producing an output, though.

[2016-12-04 22:20] Silver-Streak commented on #452
Sorry if this outside of etiquette, just wanting to check if there's any other info or files I can provide to help on this.

[2016-12-05 19:38] mtawheed opened #481 "TS extract - no subtitles, just teletext"
Hi
I use ccextractor 0.82 ...
I am using the default settings.. I need to extract subtitles from a video recorded from a receiver.
but unfortunately it could not extract subtitles.
it produces an srt file with the teletext only.

I managed to extract the subtitles correctly  for some videos with no errors,
but with other videos recorded from the same channel, it shows only the teletext instead of

[2016-12-05 20:10] mtawheed commented on #481
I uploaded part of the video on the following link:
https://drive.google.com/file/d/0B37yAXh4uCwNd1pRZmR0NkFwd2c/view?usp=sharing

[2016-12-07 00:31] JuanPotato commented on #400
This seems like a *fun* task to take on. Once my current one is accepted I plan to work on this

[2016-12-07 00:33] cfsmp3 commented on #400
Solve this problem and if you come to California I'll personally invite you
and your family to lunch.

On Tue, Dec 6, 2016 at 4:31 PM, Juan Potato <notifications@github.com>
wrote:

[2016-12-08 09:29] Vindictor opened #492 "Duplicate lines from DVB Teletext on certain channels"
Hi there,
I wasn't sure whether to start a new thread, or add this to #427 as it sounds like a similar issue, but is nothing to do with iTunes.

Anyway, I've mentioned in other threads how delighted I am with CCExtractor when it's provided with teletext from my Astra 28.2E (UK satellite) TvHeadend source.  Usually I get perfect results, including different colour text when different people are tal

[2016-12-10 00:42] xvkdev commented on #204
@ndjamena We're working on this these days. Do you have any reference document we can use?
Also if you are willing to lend a hand while we test, that would be useful.

[2016-12-10 10:12] canihavesomecoffee commented on #204
File looks to be fine with 0.82... @cfsmp3 can you confirm?

[2016-12-10 18:11] ndjamena commented on #204
I haven't looked at mp4 cc in a while so I'm taking a moment to catch up.

This is the email I originally sent:

` I've attached two sample output files, the differences aren't huge, but they do become noticeable in places.

This is how each starts:

CCExtractor	iTunesesque
1	1
00:00:02,236 --> 00:00:03,635	 00:00:02,535 --> 00:00:03,636
            [siren]             	[siren]

2	2
00:00:13,047 -

[2016-12-10 18:21] cfsmp3 commented on #204
We also think CCExtractor follow the specs to the letter :-) Of course
something must be wrong here.

What did your program do?

On Sat, Dec 10, 2016 at 10:11 AM, ndjamena <notifications@github.com> wrote:

[2016-12-10 18:38] ndjamena commented on #204
I extracted the subtitles with mp4box into...  either NHNT or NHML, whichever one was newer (the links on the GPAC website are broken at the moment), I pointed my program at it and it used the extracted timecodes and track data to rebuild the 608 track as an SRT.

Apparently MediaInfo has a version of my program still... I'll have to figure out how to get it working... it think the extra text file

[2016-12-10 18:49] ndjamena commented on #204
Oh, right pièce de résistance.

You can see they use Erase Display Memory and THEN End of caption.  There should be almost exactly 33 milliseconds between one command executing and the next, yet CCExtractors subtitles are only 2ms apart.

I don't know if that's deliberate but it's wrong via 608 specs.

[2016-12-10 19:11] Izaron commented on #431
Why we use this line? [https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/avc_functions.c#L925](https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/avc_functions.c#L925)
Why we can't use `current_fps = framerates_values[ctx->current_frame_rate];`? As in this value write [https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/es_functions.c#L435](https://g

[2016-12-10 19:56] cfsmp3 commented on #204
@ndjamena Are you able to provide a few more samples for us to analyze? I want to solve this once and for  all.

[2016-12-10 19:57] ndjamena commented on #204
I got my program working and I can see why I felt the need to use that particular file as an example for CCExtractor.

When it's a very simple frame to interpret my program and CCExtractor agree on the timecodes so they're both getting them from the same place:

`----------9----------

9420 94AE 94E0 97A2 4F6E 2073 E5E3 EF6E 6420 F468 EF75 6768 F42C 20F4 6861 F420 F761 79AE 8080 8080 942F

<<<Star

[2016-12-10 19:59] cfsmp3 commented on #454
Looks like a permissions problem... it should just fail and terminate instead of doing the operation many times.
Does the problem happen if you try it in a different directory?
What if the input file is renamed to test.mp4?

[2016-12-10 19:59] ndjamena commented on #204
Well, that's difficult because they're iTunes Files...  I prepared the Emperor's New Groove file by completely re-encoding it and doing everything I could to remove anything that might identify me.

I don't think I'm set up to do that at the moment and have no idea how long it will take to figure it out, or even if it's a good idea to try.

[2016-12-10 20:03] xvkdev commented on #204
There's plenty of useful info here to work with. Thanks :-)

On Sat, Dec 10, 2016 at 11:57 AM, ndjamena <notifications@github.com> wrote:

[2016-12-10 20:45] ndjamena commented on #204
http://www.mediafire.com/file/ycvc0h8lhxu05kw/Break+Final+Cut.exe

That was my program.  Extract the track using MP4Box as NHML then drag/drop the NHML file onto the EXE and it will make an srt file.  I wouldn't trust its output absolutely (it was never actually finished) but it does seem to get the actual timecodes close to perfect.  Norton decided to delete it on my computer so...

[2016-12-10 22:08] ndjamena commented on #427
[code]

Well, unless there's a bug further up the chain, the problem here seems to be the duplication of commands.  The repeating subtitle in the output file changes whenever an "Erase Display Memory" command is issued.

I think the only way around this is that whenever EOC is issued twice in succession the second one should be ignored.  I'm pretty sure that's not part of the actual specs so I ass

[2016-12-10 22:37] cfsmp3 commented on #427
Actually the specs (well, the FCC best practices I think) do say that
repeated commands are OK and that the 2nd one has to be ignored. Of course,
since they do take time to be transmitted they should still be counted for
timing...

I'll work on this on Monday.

On Sat, Dec 10, 2016 at 2:08 PM, ndjamena <notifications@github.com> wrote:

[2016-12-10 22:41] ndjamena commented on #427
Oh, I must have missed that, or it wasn't in the PDF I was working from.

I guess that means the problem is you're not ignoring them properly...

It makes sense actually, in case one command is lost in static there's a second one to back it up.

[2016-12-11 03:03] Ivan2309 commented on #454
Hi, thanks for the response.

Same problem occurs if I change directory or file name.

From the Leptonica FAQ:
If you see this error, than you have a problem with your leptonica installation - e.g. there is missing support for your image format. Usually this means the relevant image library was not installed properly during leptonica build or there is some configure problem within leptonica.

I've

[2016-12-11 05:03] #454 closed

[2016-12-11 19:55] AlexBratosin2001 commented on #427
I think the bug is located in the function encode_sub() of ccx_encoders_common.c.
At line 1059, a for loop starts which checks the subtitle output file type (SRT, SSA etc.).
At line 1089, the program writes the cc buffer and returns a boolean value to indicate if it was successful or not.
At line 1137 the program whether the program wrote something to the file or not and adds the last displayed su

[2016-12-11 21:58] JuanPotato commented on #400
@cfsmp3 Maybe another task then, I don't have enough understanding of the code in the project to know how to really get things together.

[2016-12-11 22:22] cfsmp3 commented on #400
That's fine, still plenty of time before code-in is over. Maybe in 3 weeks
or so from now you'll feel ready to give it another go.

On Sun, Dec 11, 2016 at 1:58 PM, Juan Potato <notifications@github.com>
wrote:

[2016-12-13 21:36] cfsmp3 commented on #427
Fixed duplicate lines.
@ndjamena if you still see issues in timing (possible, we'll start digging into that, too) please feel free to comment here or in a separate ticket.
Thanks @AlexBratosin2001 for not giving up and working with me to squash this bug.

[2016-12-13 21:36] #427 closed

[2016-12-13 21:37] cfsmp3 commented on #430
Fix merged.

[2016-12-13 21:37] #430 closed

[2016-12-13 21:40] cfsmp3 commented on #431
Confirmed fixed for HISTORY2.TS.

[2016-12-13 21:40] #431 closed

[2016-12-13 23:20] cfsmp3 commented on #204
@ndjamena I think - fixed. Timing in MP4 now takes into account number of CC pairs since the last time the PTS was set. It looks good for the file I have. Can you confirm?

[2016-12-14 15:19] ndjamena commented on #427
I take it I'm going to have to compile my own exe.  I've downloaded the source code, hopefully it won't be hard to get an executable from it.

For the record I extracted the caption track from the example file, used a hex editor to remove all the duplicate commands, used mp4box to remux a new file with the modified caption track then fed it to CCExtractor.  CCExtractor converted the captions witho

[2016-12-14 15:45] ndjamena commented on #204
Comparing the output of the new executable and my program, other than the weird character CCExtractor uses in place of '♪', the fact that my program has a bug that makes in not output characters that share a byte pair with a null and a few milliseconds rounding/formatting differences in the timecodes, the output of both programs are exactly the same.

I can't tell you if it's correct, but I can sa

[2016-12-14 16:05] #204 closed

[2016-12-14 16:09] cfsmp3 commented on #427
There was a condition in which some byte pairs could be processed more than
once - I mean not because they're twice on the stream (that's correctly
handled in the 608 parser) but due a bug in the reading loop. That's been
corrected now (was introduced a long time ago, but we didn't pay enough
attention apparently).

On Wed, Dec 14, 2016 at 7:19 AM, ndjamena <notifications@github.com> wrote:

[2016-12-15 00:14] cfsmp3 commented on #349
@enternoescape We've released 0.83 today - does this problem still happen to you?

[2016-12-15 00:21] cfsmp3 commented on #481
Use -tpage to specify the page you want. Not a bug.

[2016-12-15 00:21] #481 closed

[2016-12-15 00:53] cfsmp3 commented on #452
Problem confirmed in 0.83, we'll look into this.

[2016-12-15 00:55] Silver-Streak commented on #452
@cfsmp3 Thanks a ton. I'll go ahead and remove the test file for now. Let me know if you need any other clips or if I can assist with testing anything.

[2016-12-15 01:15] cfsmp3 commented on #452
Wait wait please don't remove the file, otherwise other developers can't
work on it.

On Wed, Dec 14, 2016 at 4:55 PM, Silver-Streak <notifications@github.com>
wrote:

[2016-12-15 02:34] Silver-Streak commented on #452
@cfsmp3 Sure thing. Reposting link as I deleted the original comment: https://drive.google.com/open?id=0B-7WslMx37HXV0NyYVF1QndxOWM

[2016-12-15 14:47] MatejMecka commented on #256
@cfsmp3 I did the migration but sadly you rejected it #455

[2016-12-15 15:54] ilovezfs opened #536 "fatal error: 'protobuf-c.h' file not found"
Attempting to build 0.83 on macOS leads to
[code]
because the header is in ../protobuf-c/protobuf-c.h not in the current directory.

I can workaround this by changing
https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_sub_entry_message.pb-c.h#L8 from
[code]
to
[code]

But the actual cause may be elsewhere as these appear to be generated files.

Full build log is here: https://g

[2016-12-15 17:17] canihavesomecoffee commented on #256
With an empty pull request?

[2016-12-15 18:24] #536 closed

[2016-12-15 18:26] cfsmp3 commented on #256
#455 contains nothing :-)

On Thu, Dec 15, 2016 at 6:47 AM, Matej Plavevski <notifications@github.com>
wrote:

[2016-12-16 02:37] enternoescape commented on #349
It is still exhibiting the same behavior.

[2016-12-16 10:41] captmorn opened #543 "0.83 Cannot find dll"
I downloaded and installed version 0.83 onto Windows 10.  When attempting to execute program receive error message that cannot start because libtesseract304d.dll and MSVCR120D.dll are missing from my computer.  Are these needed to run the released version?

[2016-12-16 12:25] canihavesomecoffee commented on #543
Hi,

The .83 release didn't fully go as planned, resulting in the above issue.

@cfsmp3 is working on verifying a fix, and will release .84 if the fix proves to be working (most likely by the end of this day, or tomorrow).

[2016-12-16 20:34] cfsmp3 commented on #543
0.84 released. Please reopen this ticket if you still have problems.

[2016-12-16 20:34] #543 closed

[2016-12-18 00:24] mackworth opened #552 "Slow to detect audio-only."
Not a big problem, but when ccextractor is run on a PS - MPG with no video track, it seems very slow to finish.  I have a 4GB file 2.5 hrs long. On my Macbook, it takes 40 seconds to process (impressive). Without the video track (leaving a 400M audio track), it takes 250 seconds to process (with naturally, no output).

[code]

[2016-12-18 11:36] Izaron opened #555 "-stdin option crashes with mp4 file"
In both Windows and Linux -stdin crashes on all MP4 files
Because in these [lines](https://github.com/CCExtractor/ccextractor/blob/master/src/ccextractor.c#L228) the program closes the input stream and passes control to the GPAC library, which tries to open the input file only, but we have no file name, so `ctx->inputfile` equals to NULL.
This can be corrected by recording the stream into a tempor

[2016-12-19 17:48] cfsmp3 commented on #555
"Solution" is to not allow stdin on mp4. The fundamental reason to use stdin is to process a real time stream - so saving it to disk in the first place is not really an option.

Since GPAC requires access to a file (I don't know if this has changed in the current GPAC though) we can't do anything except require a file ourselves to process .mp4.

But if we do change this in GPAC (not sure if it's p

[2016-12-21 09:15] cfsmp3 commented on #552
Not really a bug - until the CC data is found CCExtractor needs to look for it "more thoroughly".

[2016-12-21 09:15] #552 closed

[2016-12-22 05:49] PFDuke opened #562 "False + True entries for each subtitle from one TV channel"
When I record TV from Australia's SBS channel and extract the subtitles to an SRT file, each subtitle has two entries. The first entry is false and has zero or near zero length while the second entry is correct. The text is identical. Since the false entries are so short, in practice they don't cause any problems, except to double the length of the SRT file and to make editing a bit more complicat

[2016-12-24 09:31] #378 closed

[2016-12-24 09:32] #349 closed

[2016-12-25 00:59] #225 closed

[2016-12-25 18:28] Izaron commented on #136
Well, if they both are bad with this videos (VLC and CCExtractor), then for whatever reason, the subtitles are displayed on [link](https://drive.google.com/drive/folders/0B3bPKNXgZu0-fjAxWFN2YXJSSFdZSlpRYllPSDBxTk9xUlU4dDZiUllxRE5kZXp1cEpSX2c) too bad? It turns out that TiVo is good, and all the other bad?

[2016-12-28 11:10] saurabhshri commented on #380
@cfsmp3 Do we have sample in our collection which has italics or bold data in them? I am working on this fix, and now I need to do proper tts styling for Premiere Pro compatibility. Any such sample will be of HUGE help.

[2016-12-28 11:38] cfsmp3 commented on #380
Probably yes (at least italics, since they are common), but we don't know
which ones specifically :-(

On Wed, Dec 28, 2016 at 12:10 PM, Saurabh Shrivastava <
notifications@github.com> wrote:

[2016-12-28 12:16] saurabhshri commented on #380
@cfsmp3 My bandwidth is too slow to download all and check each of them. :( Will look for something.

[2016-12-28 19:48] #400 closed

[2016-12-30 07:58] #380 closed

[2016-12-30 08:43] saurabhshri commented on #562
@PFDuke Would you please share the exact command you used to extract the subtitles? If you are using the GUI version, the command appears in the box below.

[2016-12-30 13:28] grave-w-grave opened #583 "Installer file for 0.84 has an invalid signature"
Simple. When I try to download the installer for version 0.84, on MS edge, it gives me an error, saying that it's not a safe file, that it has an invalid signature or something, and prevents me from downloading it. I have to override the MS edge security settings to get it to download and run.

http://imgur.com/a/bvRhf

Not yet tested with other browsers, I believe only MS edge gives this error ri

[2016-12-30 14:08] saurabhshri commented on #583
@grave-w-grave Confirmed .

![sign](https://cloud.githubusercontent.com/assets/12415700/21566235/4992474a-cec7-11e6-938f-07e89b680fa9.PNG)

![sign2](https://cloud.githubusercontent.com/assets/12415700/21566243/61454130-cec7-11e6-8eb1-977455bb392d.PNG)

PS Chrome doesn't perform certificate check while downloading and thus it doesn't appear in Chrome, while Edge does.

[2016-12-30 14:12] cfsmp3 commented on #583
Looks like the signature is expired (says valid to 04-09-2016), but it's
issued to "Microsoft Corporation". I honestly have no idea what they expect
me to do :-)

On Fri, Dec 30, 2016 at 3:08 PM, Saurabh Shrivastava <
notifications@github.com> wrote:

[2016-12-31 02:32] PFDuke commented on #562
I am using the GUI.

I was hoping that you could tell me if there is a problem with the
sample video files from this TV channel, and if you could tell me how to
avoid the duplicated subtitle entries.

Have you tried to extract .srt subtitles from my files?

Peter Duke

------ Original Message ------
From: "Saurabh Shrivastava" <notifications@github.com>
To: "CCExtractor/ccextractor" <ccextractor@n

[2017-01-01 19:23] Izaron opened #593 "Latest official Windows Binary GUI don't work in clean Windows XP"
I downloaded 0.82-0.83 binaries in clean Windows XP and I saw that this don't even run
We may need to change something in the Windows Forms project settings

![virtualbox_xp_01_01_2017_22_17_50](https://cloud.githubusercontent.com/assets/5406399/21582624/e86fc5fe-d070-11e6-913c-5f5f29df2a10.png)

[2017-01-01 23:10] ManveerBasra commented on #593
You get this error code when you try running an application that requires the ".NET Framework" when your system doesn't have the ".NET Framework" installed.

[2017-01-02 07:34] grave-w-grave commented on #361
Looks like we already have a sanity check if adaptation_field_length is less than payload_length, but wait, what? It's supposed to be catching packages where the adaptation field length is more than 184, but it's a < operator in the actual if? I don't understaaaaaannndddd

[2017-01-02 07:51] grave-w-grave commented on #361
Well, this is quite odd. I did a bit of debugging, there are actually multiple instances of adaptation_field_length going out of bounds (>188) before the crash, but it actually processes fine. It's just the packet with 230 length that causes the crash. It's not like it's the length of the packet that's too long, I see a packet with 254 length that doesn't cause a crash.

[2017-01-02 09:20] saurabhshri commented on #562
@PFDuke Yes I did, and indeed the two entries exist. I'll spend the day reading about SBS channel's CC specifications to see if it's intentional or there's some bug. Please do not remove the samples in the meantime. :)

[2017-01-02 09:47] PFDuke commented on #562
Thanks

I am hoping that there is some straight forward way to prevent the
double entries, but if not there is always the text editor. :)

Peter

------ Original Message ------
From: "Saurabh Shrivastava" <notifications@github.com>
To: "CCExtractor/ccextractor" <ccextractor@noreply.github.com>
Cc: "PFDuke" <pp.duke@bigpond.com>; "Mention"
<mention@noreply.github.com>
Sent: 2/01/2017 8:20:12 PM
Sub

[2017-01-02 10:25] saurabhshri commented on #562
@PFDuke We can always add an option (which can be enabled through parameter) to completely remove the subtitles if the length of them is zero. :) But I'll be keeping this as the last resort.

[2017-01-02 10:32] grave-w-grave commented on #361
Crash is really simple to fix though. Just a quick check to see if the payload length is too much (would be negative if it were an int, but it's unsigned,), and skip it if it is.

[2017-01-02 11:40] Izaron commented on #279
I researched this issue.
Firstly, we have subtitles, but the display time starts from 1590 minutes. Something is broken at this point anyway.
Secondly, we get errors because 'start_y' or 'end_y' was uninitialized. I initialized them to 0.

![image](https://cloud.githubusercontent.com/assets/5406399/21588433/a9815164-d0f7-11e6-9475-97472041daa3.png)

Anyway was other bugs:

![image](https://cloud.g

[2017-01-02 14:33] Izaron commented on #593
We have to install .NET only on XP, on newer Windows we have not

[2017-01-02 14:33] #593 closed

[2017-01-02 18:41] Izaron commented on #477
Can you please re-upload your video file?

[2017-01-02 18:48] saurabhshri commented on #477
@Izaron Don't click the link, just copy and paste them in the address bar. Those dropbox links are still working. No idea why they redirect to Github 404 page.

https://www.dropbox.com/s/xvq99nyhj4rymlp/DancingQueen.ts?dl=0

[2017-01-02 20:26] traceypooh opened #597 "linux static build?"
hi carlos and crew!

We (archive.org) have been using your great tool more and more these days, and I've been playing around with ffmpeg and  DVB imagery (with attempts to "de-duplicate") and output to tesseract OCR (sound familiar? 8-)
So we've been experimenting with ccextractor as the solution, too.
As such, I've made a static 64-bit compiled version (to avoid various vintages of ubuntu potenti

[2017-01-02 21:06] saurabhshri commented on #562
@PFDuke I thoroughly searched the web to find SBS's subtitling specification. While they boast of their state of the start subtitles, I couldn't find those specifications anywhere else.

I was able to solve the issue though.

@cfsmp3 What according to you should be the ideal behaviour? Do you want me to add an extra parameter which will do this job? If yes, what should I name it? (-nozerolength ?

[2017-01-02 21:30] cfsmp3 commented on #597
Hey Tracey,

Seems like a great thing to have, so we're definitely interested in
integrating it when you think it's ready.

About DVB, ffmpeg, and tesseract, we're working a lot on it these
days. Evgeny got tesseract 4.0 working and Alex fixed the DVB timing.
We also have ffmpeg integration to OCR burned-in subtitles. We're
working on a new release - but we want it to be really good so we're
tryin

[2017-01-03 00:34] PFDuke commented on #562
I wonder whether this behaviour has something to do with the use of
their live captioning equipment. I have included the start of the Vienna
New Year's Day Concert, which was live captioned. You will see that the
captions are delayed and build up progressively. The two captioning
examples I first gave you did not have to be generated in real time, so
there is no great delay, but the zero length en

[2017-01-04 17:48] saurabhshri commented on #562
@PFDuke It's completely fine, and thanks for filing the bug. The issue appears to be deeper than I thought. If you could provide few more samples it will be great.

In the meantime, I have made a quick patch which should remove those "zero length" subtitles for you. If you are comfortable compiling your own version, here's the patch : https://github.com/saurabhshri/ccextractor/tree/BugFix

Simply

[2017-01-06 10:21] sidgairo18 opened #607 "Missing return statement."
No return statement in function -  int write_xtimestamp_header(struct encoder_ctx *context);
in file ccx_encoders_webvtt.c

[2017-01-06 10:29] #7 closed

[2017-01-06 10:30] cfsmp3 commented on #3
Additional info (pasted from a separate issue, I'm going to merge 708 stuff here).

Someone just sent a number of useful samples. They're available in /repository/Cristiano708

MPEG-PS containing both CEA608 and CEA708 captions
(On version 0.76, 608 extraction works, but 708 does not)
captions_test.mpg

MPEG-TS containing both CEA608 and CEA708 captions
(On version 0.76, 608 extraction works, but

[2017-01-06 10:30] #178 closed

[2017-01-06 10:31] cfsmp3 commented on #3
Additional: https://github.com/CCExtractor/ccextractor/issues/178

[2017-01-06 10:45] sidgairo18 opened #608 "Unused Value"
Assigning value from `ctx->filebuffer_pos to ctx->bytesinbuffer` here, but that stored value is overwritten before it can be used.
In function `void return_to_buffer()`, filename - src/lib_ccx/file_functions.c

[2017-01-06 10:53] sidgairo18 opened #609 "Resource "string" not freed."
"string" is not freed in function int read_header() which leads to memory leaks.
File src/lib_ccx/wtv_functions.c

[2017-01-07 02:00] grave-w-grave commented on #385
Confirming that this is fixed as of 0.84.

[code]
[friends_tbs.zip](https://github.com/CCExtractor/ccextractor/files/691199/friends_tbs.zip)

[2017-01-07 02:04] grave-w-grave commented on #304
It was not! Still gives an empty .srt file.

[code]

[2017-01-07 17:56] sounak98 commented on #607
I want to take this up.

[2017-01-08 03:59] grave-w-grave commented on #341
Fixed as of 0.84: [Debug.zip](https://github.com/CCExtractor/ccextractor/files/691869/Debug.zip)

[code]

[code]

[2017-01-08 04:06] yrp888 commented on #341
fantastic, thanks guys for investigating and fixing. Will download the update now.

[2017-01-08 06:44] sidgairo18 commented on #609
Issue resolved with PR #611

[2017-01-08 06:44] #609 closed

[2017-01-08 06:45] sidgairo18 commented on #608
Issue resolved with PR #611

[2017-01-08 06:45] #608 closed

[2017-01-08 06:57] sidgairo18 opened #613 "Bad Memset"
Was it intended to use '0' i.e. asci value 48 or should it be just 0 - the decimal number ?

bad_memset: "memset" with fill value "'0'" (the zero character) in `memset(filename + m, 48, strlen(num) - strlen(temp))`

[2017-01-08 08:33] #341 closed

[2017-01-08 09:31] cfsmp3 commented on #613
Seems to be left padding a string with '0' so it's probably correct but what file is it?

[2017-01-08 11:42] grave-w-grave commented on #477
Hey, just confirming this is still a thing in 0.84. Going to try to do something hopefully.

[2017-01-08 11:53] sidgairo18 commented on #613
File src/lib_ccx/params.c line 159.

[2017-01-08 13:31] sidgairo18 opened #615 "Memory Leaks"
Memory Leaks in files -
1. ccx_decoders_xds.c
2. lib_ccx.c
3. ts_tables_epg.c

[2017-01-08 15:44] #615 closed

[2017-01-08 15:45] cfsmp3 commented on #613
This is what I have:
memset (filename+m,'0',strlen (num)-strlen (temp));

It's correct - we want '0', not 0.

[2017-01-08 15:45] #613 closed

[2017-01-08 16:26] #385 closed

[2017-01-08 17:00] saurabhkapur opened #618 "memory not freed"
memory not freed in /src/lib_ccx/ccx_decoders_708.c in void dtvcc_handle_DFx_DefineWindow function

[2017-01-08 17:13] Izaron commented on #477
Launch ccextractor as `DancingQueen.ts -svc all` and you will get 2 files - first is empty `DancingQueen.srt`, second file contains English words and unrecognized characters from CEA-708 [DancingQueen.p2.svc01.srt](https://gist.github.com/Izaron/34136a8ec8216469c3c3828acdfbe53e) Maybe Korean characters? We are working on CEA-708 complete support

[2017-01-08 19:37] TheRealUnknownDeveloper commented on #436
INVALID: Sample missing
Cannot Reproduce

[2017-01-08 19:40] MatejMecka commented on #436
Invalid! Sample missing. Cannot Reproduce

[2017-01-08 19:55] cfsmp3 commented on #436
@mackworth can you make that file (or another one with the same problem) available for download? We want to take another look.

[2017-01-08 20:49] mackworth commented on #436
I have restored that file to my dropbox again.

https://dl.dropboxusercontent.com/u/21507587/RobotChicken-RandomFailuresBI.mpg

[2017-01-08 23:05] MatejMecka commented on #436
The Download failed multiple times for me. Can you post it on a different site.

[2017-01-08 23:16] mackworth commented on #436
Hmm, maybe cause it's treating it as a video file.  I renamed it to .jnk; please try it again.

If not, I'm not currently subscribed to any filesharing site that shares by URL, just by email-based distribution, can you suggest one?

[2017-01-08 23:17] mackworth commented on #436
so revised URL is https://dl.dropboxusercontent.com/u/21507587/RobotChicken-RandomFailuresBI.jnk

[2017-01-08 23:29] anukul commented on #358
@canihavesomecoffee Yes, I checked it on 0.69 and 0.80
The output of `diff old.srt new.srt` is here: http://pastebin.com/2TGwFvb7

[2017-01-09 05:07] mackworth commented on #436
Did that work?

[2017-01-09 05:09] cfsmp3 commented on #436
@mackworth it did for me - don't know about @MatejMecka who is going to look into it. But anyway it's not a dropbox problem for sure.

[2017-01-09 09:48] MatejMecka commented on #436
@mackworth it did this time!

[2017-01-09 09:57] MatejMecka commented on #436
I'm not seeing any problems at all: ```
Opening file: /Users/matejmecka/Downloads/RobotChicken-RandomFailuresBI.jnk
File seems to be a transport stream, enabling TS mode
Analyzing data in general mode
Creating /Users/matejmecka/Downloads/RobotChicken-RandomFailuresBI.srt

Found large gap(466712) in PTS! Trying to recover ...
  0%  |  00:00
Found large gap(466713) in PTS! Trying to recover ...

Fou

[2017-01-09 11:02] MatejMecka commented on #436
Which Version are you using? I used the latest one from GitHub

[2017-01-09 16:24] mackworth commented on #436
I just ran it again, and got almost identical results to before: it worked the first time, failed the second. Overall worked 5 times out of 20. I've included a bad run's logs as well as  a good one.

The version I'm using is compiled a couple days ago from the github release, using the build.command. I've put my binary copy at https://dl.dropboxusercontent.com/u/21507587/ccextractor

I note your l

[2017-01-09 18:08] #492 closed

[2017-01-09 18:08] #562 closed

[2017-01-09 20:09] cfsmp3 commented on #597
Merged current version (as linux/build-static.sh)

[2017-01-09 20:09] #597 closed

[2017-01-10 19:35] #477 closed

[2017-01-11 00:27] #618 closed

[2017-01-11 01:13] cfsmp3 commented on #452
Fixed in current master.

[2017-01-11 01:13] #452 closed

[2017-01-11 01:16] cfsmp3 commented on #607
This function doesn't exist, maybe it was renamed?

[2017-01-11 01:16] #607 closed

[2017-01-11 01:17] cfsmp3 commented on #9
Sample TS: https://drive.google.com/drive/folders/0B_61ywKPmI0TQTZEMm5Tajd5RVU

[2017-01-11 01:41] Silver-Streak commented on #452
Unfortunately I'm terrible at compiling. How long would I need to wait
until a binary with this master is made available?

On Tuesday, January 10, 2017, Carlos Fernandez Sanz <
notifications@github.com> wrote:

[2017-01-11 01:46] cfsmp3 commented on #452
For Windows?

[2017-01-11 01:49] cfsmp3 commented on #384
@SviMik what was used to produce this file? (hardware, software, source of the input)

[2017-01-11 02:15] Silver-Streak commented on #452
Correct.

On Tuesday, January 10, 2017, Carlos Fernandez Sanz <
notifications@github.com> wrote:

[2017-01-11 02:25] cfsmp3 commented on #452
Try this one. Not 100% sure all dependencies are there - let us know if it works OK for you.

[ccextractor.0.85-full-RC1.zip](https://github.com/CCExtractor/ccextractor/files/697887/ccextractor.0.85-full-RC1.zip)

[2017-01-11 02:26] cfsmp3 commented on #251
Times are correct now too (in git master).

[2017-01-11 02:26] #251 closed

[2017-01-11 03:15] SWalkerTTU commented on #477
I did a little work over the weekend on a bespoke Java program just for this file. SBS's (the broadcaster's) encoding is a little strange (and it may not just be SBS — I'd need KBS and MBC raw streams to confirm it): two-byte encoding is based on EUC-KR, but Latin characters in both the 708 and EUC-KR standards only require one byte (ASCII, of course). SBS's encoder pads Latin characters with a nu

[2017-01-11 03:45] Silver-Streak commented on #452
That's fantastic. I can confirm it works (both in the capacity of
dependencies, and in captions). The video that would no longer produce
proper captions now produces proper captions. As soon as the final release
is out I'll bug the MCEBuddy folks to let them know. In the interim I'll
manually replace it's install path.

Thank you and everyone else so much on this. My wife will be estatic.

On Tue,

[2017-01-11 03:47] SWalkerTTU commented on #477
I found it again: the Wikipedia article on EIA-608 mentioned the Norpak extension calling for KS C 5601 encoding (now KS X 1001), one variant of which is EUC-KR. The section on the Norpak extension goes some way to explain the odd encoding: in 608 captions, the entire character system is replaced, and even ASCII characters take two bytes, likely so as to avoid reusing control codes.

[2017-01-11 05:36] Silver-Streak commented on #452
Hey Carlos,

So...bad news. Sorry to bother you with this.

The test file I provided definitely works now....other files I've thrown at
it are better, but still around 10ish seconds out of sync. I've tested with
3 other video files now and it seems to be the same deal.

Should I upload another test file that is not working?

-Silver

On Tuesday, January 10, 2017, Silver Stratton <silver.stratton@g

[2017-01-11 09:01] sidgairo18 commented on #607
izaron changed the function name.

[2017-01-11 14:08] cfsmp3 commented on #452
Sure, send us samples and we'll analyze them... goal is 100% reliability.

On Tue, Jan 10, 2017 at 9:36 PM, Silver-Streak <notifications@github.com>
wrote:

[2017-01-11 14:08] cfsmp3 commented on #607
To what? Can't fix if can't find it :-)

On Wed, Jan 11, 2017 at 1:01 AM, Siddhartha Gairola <
notifications@github.com> wrote:

[2017-01-11 16:17] sidgairo18 opened #629 "Memory Leaks"
1. Overwriting desp in desp = (unsigned char *)malloc(desp_length) leaks the storage that desp points to. (File lib_ccx/myth.c , function` myth_loop() `)
2. leaked_storage: Variable `cliaddr` going out of scope leaks the storage it points to. File src/networking.c in function `start_tcp_srv()`
3. leaked_storage: Variable `pbuf` going out of scope leaks the storage it points to. File src/lib_ccx/sp

[2017-01-11 19:17] Izaron opened #632 "[CEA-708] Discoloration in the captions"
In CEA-708 we have subtitle color for each row (subtitle line)
Often the color disappears from the expected line. We get all the colors in function [SetPenColor](https://en.wikipedia.org/wiki/CEA-708#SetPenColor_.280x91_.2B_3_bytes.29) in fg_color (as far I tested) but often it is assigned to the wrong row number of window, percentage of confusion depends on example video. It's necessary to correc

[2017-01-11 20:36] SviMik commented on #384
Can't say. These files was produced by [@SpazzDHN](https://twitter.com/SpazzDHN).
Never actually had a contact with him (I tried once, but got ignored - maybe you get more luck).
Btw, sometimes he publish captions too, without any flaws. It's still a mystery to me how he extract it.

[2017-01-11 20:51] #555 closed

[2017-01-11 21:07] #629 closed

[2017-01-11 21:33] cfsmp3 commented on #9
Closing - confirmed working.

[2017-01-11 21:33] #9 closed

[2017-01-11 21:35] cfsmp3 commented on #10
Closing, because it's much less interesting these days - if you need to process more than one stream at the same time just launch several instances.

[2017-01-11 21:35] #10 closed

[2017-01-12 00:28] Silver-Streak commented on #452
Thanks Carlos. Here's another test file:
https://drive.google.com/open?id=0B-7WslMx37HXZ3NRY3YtWTJWTEk

A good example issue: In this video, at 40:06 and ending at 40:07, the line
"Barry it doesn't matter what you've done" is said. In the SRT that the
compiled version you gave me spits out, this appears at 00:39:57,229 -->
00:39:58,562

On Wed, Jan 11, 2017 at 8:08 AM, Carlos Fernandez Sanz <
noti

[2017-01-12 01:22] cfsmp3 commented on #583
http://stackoverflow.com/questions/35391691/vs2015-installer-projects-adds-invalid-microsoft-signature-to-msis

Looks like Microsoft doesn't really care about .msi files anymore.

[2017-01-12 08:24] saurabhshri commented on #452
_Looks like Barry messed up with CEExtractor's timeline too_.

[2017-01-12 08:55] brooss commented on #452
I'm not quite clear on what you're reporting here. Is this a new bug (it worked correctly on an older version but is wrong in the newest version)?

A quick test shows the same output with an old 0.70 build and the latest Git for me with the new test file you uploaded.

[2017-01-12 11:31] Izaron commented on #632
@cfsmp3 After reading the documentation and code I think I found a mistake. Pen colors and attributions are independent from line number, but in current master we storing it for the whole lines. There are the real fg_color changing in SetPenColor (wrote small subprogram): [korean.txt](https://gist.github.com/Izaron/b43c2c72b53923955f51fbd7d240941a) (yellow color for first line as in 708 player), [

[2017-01-12 13:18] maxkoryukov opened #639 "Probably memory leaks"
I think, there are memory leaks here:

https://github.com/CCExtractor/ccextractor/blob/6c733e96c9aaeb0a76c935da7e11d362afca36f4/src/lib_ccx/dvb_subtitle_decoder.c#L1657-1658

`memcpy` on line 1657 causes overwrites of pointers to the allocated memory:

1. `enc_ctx->prev->buffer`
2. `enc_ctx->prev->subline`
3. `enc_ctx->prev->sbs_buffer`

This memory is allocated in the function `ccx_encoders_commo

[2017-01-12 18:33] #632 closed

[2017-01-12 18:49] Izaron opened #641 "[CEA-708] [Timing] Catchable bug with timing"
It is known that timing in our CEA-708 is different from the timing of CEA-708 in video player with a difference of a second or so and in general it's not critical error.
But sometimes the timing differs a lot - end of the time goes ahead ~10 seconds or so in different examples. This always happens due to this bug where window is undefined (**decoder->current_window == -1**) and it's col_count too

[2017-01-12 23:07] #448 closed

[2017-01-12 23:32] cfsmp3 commented on #639
Agreed... we need to have one (or several) clone_contexts functions, such as clone_encoder_context() that creates a copy of allocated memory, etc. With memcpy() we end up with two contexts pointing to the same thing which is going to be a problem, too.

@AlexBratosin2001 this would be yours to look at when possible.

[2017-01-13 00:18] Silver-Streak commented on #452
So, the original test file now works fine with 0.85 RC1. The new test file,
ltest.wtv, does not. As mentioned in the above post, this is the scenario
I'm seeing.

   - Audio in ltest.wtv: at 00:40:06 The line "Barry it doesn't matter what
   you've done" is heard.
   - Playing embedded captions from the recording itself in Windows Media
   Center: Caption and audio are synced to the above time.

[2017-01-13 01:55] maxkoryukov commented on #639
in the mentioned commit (d73b1d11438ec372fb3143edea86926b8cd35f96) I've fixed only the part, related to Sentence Buffer (split to sentences). So, label **fix** should be replaced with **see**, because it is just a workaround for SBS and this bug

[2017-01-13 12:33] brooss commented on #452
No, I don't think so. WTV files never use 708 encoding AFAIK.

Can you try with the -wtvmpeg2 flag on some more of your recordings?
`ccextractorwinfull -wtvmpeg2 ltest.wtv -o ltest.srt`

Some WTV recordings contain two sets of captions, one in a separate MSTV captions stream (default for ccextrator to use) and one in the mpeg2 video. This flag will make ccextractor use the alternative captions fro

[2017-01-13 18:23] Izaron commented on #286
I repeated this in the current master
I can say that the situation is better, because now we get the **correct** characters in subtitles. We have also corrected the disappearance in numbers of the subs.

[code]

Same characters and colors we can see in CEA-708 player. We missed the new subtitle with the last line after `뿫뇢낡 믽뇢쇶 뻊삻뇮 뷍뻮벭 샚웷샚뇢`, and this subtitle would starts from `00:04:49,623`
The

[2017-01-13 20:25] Izaron commented on #286
Also there are this bugs:
[code]

[code]

[2017-01-13 21:01] mackworth commented on #436
Were you able to recreate?

[2017-01-13 21:44] #639 closed

[2017-01-14 12:04] himanshu-dixit opened #644 "Wiki Page For Getting Contributors Involved"
One things that i would like to propose for getting more contributors involved CCextractor developement is creating Wiki Page like various other open source project.

[2017-01-14 14:10] #644 closed

[2017-01-14 16:57] Izaron opened #646 "[CEA-708] Missing the last subtitle with "Premature end of file""
Sometimes we have incomplete ts parts because of cropped .ts files, for example:
`Premature end of file - Transport Stream packet is incomplete (expected 188 bytes, got 168).`

After work we must flush subtitles in current window:
[code]
^ This subtitles are written to the file
But if we have broken .ts file at the end, then we can't flush last sub because of missing show time, but CEA-608 have la

[2017-01-14 17:09] Silver-Streak commented on #452
@brooss Well that is awesome, this works on the test file. Going to test it on some of the others I knew weren't working.

Any ideas on why this would impact only since version updates last year? Did older versions always use this flag?

Assuming this works on the other files, I can always update MCEBuddy's CCextractor config to accomodate.

I'll post an update once I've tested with at least 2 oth

[2017-01-14 17:19] Silver-Streak commented on #452
Okay, ran through an episode of 3 different shows. Without -wtvmpeg2 flag, they all have timings off by ~10 seconds. With the flag, everything is pretty much spot on.

I'll definitely update my config files to include this.

So this gives me a few questions:

- Is this something that should still be considered an issue?
- Should/could ccextractor autodetect this?
- why would it detect the normal c

[2017-01-15 07:11] sidgairo18 opened #647 "Memory Leak in file src/lib_ccx/ccx_encoders_common.c"

[2017-01-15 08:07] #647 closed

[2017-01-15 08:08] sidgairo18 commented on #647
I am not too sure whether there is some memory leak.

[2017-01-15 08:33] sidgairo18 opened #648 "Memory Leaks found."
1. Leaked_storage: Variable `el` going out of scope leaks the storage it points to. File src/lib_ccx/ccx_encoders_webvtt.c and function `ccx_encoders_webvtt.c()`

2. Leaked_storage: Variable `parsebuf` going out of scope leaks the storage it points to. File src/lib_ccx/general_loop.c and function `rcwt_loop()`

[2017-01-15 18:45] maxkoryukov opened #650 "Version 0.85 became much slower"
As a result of latest few commits the current version (in master branch) works much slower ( x10 ):
[code]

this is a result of handling `BBC_NEWS_2016-06-21.ts` from sample-videos. Previously it took about 0:57 (about one minute) for this file.

PS: I have disabled my **sbs** feature for this speed test.

[2017-01-15 23:40] maxkoryukov commented on #650
I see, that CCE output now contains `<font>` tags for most subtitles. This is the only one difference I see, being a consumer of CCE))))

[2017-01-16 00:45] cfsmp3 commented on #650
What happens with -nodvbcolor ?

On Sun, Jan 15, 2017 at 3:40 PM, Maksim Koryukov <notifications@github.com>
wrote:

[2017-01-16 01:12] maxkoryukov commented on #650
@cfsmp3 , `-nodvbcolor` works as expected (I think so), ccextractor with this option gives pure subs, without `<font>` (I use this for SBS // sentence-split feature), **but** even with `-nodvbcolor` ccextrator 0.8.5 works at the same speed - 10 minutes for 10 minute movie

I have tested only on my laptop, I didn't run/build ccextractor on other hosts.

[2017-01-16 02:09] cfsmp3 commented on #650
dvdcolor being the default is correct, but of course if sbs doesn't support
colors you can just turn colors off automatically with -sbs.
About speed, is this a windows or linux build?
In windows we now have tesseract 4 which seems a lot slower than 3...

On Sun, Jan 15, 2017 at 5:12 PM, Maksim Koryukov <notifications@github.com>
wrote:

[2017-01-16 18:23] maxkoryukov commented on #650
I am on linux.
I've downloaded the latest commits from master branch, and build it with `/linux/build` script.

[2017-01-17 23:08] cfsmp3 commented on #650
Seems like it's tesseract. @izaron is in charge of that - for now we'll
revert back to t3 as default.

On Mon, Jan 16, 2017 at 10:23 AM, Maksim Koryukov <notifications@github.com>
wrote:

[2017-01-18 01:01] #648 closed

[2017-01-18 14:14] Izaron commented on #650
Yes I saw that Tess 4.0 is slower because of new algorithm, and I'll solve it (change accuracy settings/downgrade to old .lib files and waiting for stable 4.0) But it's for Windows. @maxkoryukov can you check your tesseract version? As far I know, current `tesseract-ocr-dev` from Debian/Ubuntu have version `3.0.4` or `3.0.5`. Or you installed library from sources?

[2017-01-18 18:23] maxkoryukov commented on #650
@Izaron

[code]

As I remember, installed with `apt-get`, not from sources.

[2017-01-18 21:32] cfsmp3 opened #652 "Exit 10 (no captions on multiprogram streams)"
Looks like the code that decides to exit 10 or 0 based on actual subtitles being found doesn't work correctly for multiprogram files.

[2017-01-19 12:48] brooss commented on #452
Not sure I'm the best person to answer this, but I'll try.

Best guess, this is probably a case of your WTV files having incorrect times on the MSTV captions (for some unknown reason) in the recordings. But it is possible this is a ccextractor bug still. We are dealing with a proprietary, undocumented format here so it's possible we are parsing something wrong that's causing the offset.

It would

[2017-01-19 18:13] #650 closed

[2017-01-19 23:15] cfsmp3 commented on #652
Fixed in master.

[2017-01-19 23:15] #652 closed

[2017-01-20 00:47] cfsmp3 commented on #284
GSOC qualification: This issue gives 3 points.

[2017-01-20 00:47] cfsmp3 commented on #136
GSOC qualification: This issue gives 3 points.

[2017-01-20 00:48] cfsmp3 commented on #243
GSOC qualification: This issue gives 2 points.

[2017-01-20 00:48] cfsmp3 commented on #260
GSOC qualification: This issue gives 2 points.

[2017-01-20 00:55] cfsmp3 commented on #279
prueba_hercules.ts crashes with current version.
prueba_brujula.ts doesn't crash but output is garbage.

GSoC qualification: This issues gives 3 points.

[2017-01-20 00:55] cfsmp3 commented on #646
GSoC qualification: This issues gives 2 points.

[2017-01-20 00:56] cfsmp3 commented on #286
GSoC qualification: This issues gives 3 points.

[2017-01-20 00:56] cfsmp3 commented on #304
GSoC qualification: This issues gives 3 points.

[2017-01-20 00:56] cfsmp3 commented on #356
GSoC qualification: This issues gives 2 points.

[2017-01-20 00:56] cfsmp3 commented on #358
GSoC qualification: This issues gives 2 points.

[2017-01-20 00:56] cfsmp3 commented on #381
GSoC qualification: This issues gives 3 points.

[2017-01-20 00:57] cfsmp3 commented on #384
GSoC qualification: This issues gives 3 points.

If not solved/replied to by Feb 15 I'll close it here.

[2017-01-20 00:58] cfsmp3 commented on #429
Closing, since it's not going to happen - it just doesn't seem needed for 708, I've been looking at lots of samples lately.

[2017-01-20 00:58] #429 closed

[2017-01-20 00:58] cfsmp3 commented on #436
GSoC qualification: This issues gives 2 points.

[2017-01-20 00:59] cfsmp3 commented on #466
GSoC qualification: This issues gives 4 points (don't underestimate this task).

[2017-01-20 00:59] cfsmp3 commented on #583
GSoC qualification: This issues gives 3 points.

[2017-01-20 00:59] cfsmp3 commented on #641
GSoC qualification: This issues gives 2 points.

[2017-01-20 03:37] himanshu-dixit commented on #384
@bigharshrag are you working on this?

[2017-01-20 05:45] Liontooth commented on #361
This fixes the oops, great work.

In the sample file, at the point of the previous segfault, we now get a skip of 380,803 seconds:

`20160219123436.520|20160219123439.520|CC1|-Ну что, патрончики-то кончились, а?
20160219123439.680|20160219123442.000|CC1|НАПРЯЖЕННАЯ МУЗЫКА
20160219123512.520|20160219123513.360|CC1|МУЗЫКА
20160223222156.044|20160223222158.404|CC1|-Кто сообщит родственникам?
20160223

[2017-01-20 06:59] himanshu-dixit commented on #583
@cfsmp3 can i take this issue?

[2017-01-20 07:04] cactusGit commented on #384
CEA-608 is really corrupt in files from this ripper (I've checked binary in #426), but CEA-708 looks ok.

[2017-01-20 07:36] cfsmp3 commented on #583
Sure

On Thu, Jan 19, 2017 at 10:59 PM, Himanshu Dixit <notifications@github.com>
wrote:

[2017-01-21 11:01] Izaron opened #656 "Add support of MKV video files"
Yes, there no TV streams what using .mkv files, but still very many users need to get subtitles from .mkv file, so I suggest adding MKV files support.
It should not be hard. We can get subs from **ffmpeg** library (already in-project) or from **libmatroska** (official for MKV). From linux terminal we can get subtitles from "mkvextract" program, but it is quite uncomfortable and no available for Wi

[2017-01-21 11:04] canihavesomecoffee commented on #656
*cough* https://mkvtoolnix.download/index.html *cough* works for windows *cough*

[2017-01-21 14:04] claunia commented on #656
I think it is a good idea for ccextractor to explore in-stream avc subtitles (I can't remember the name), instead of just extracting subtitles from mkv streams.

In a nutshell:
1.- Support for dvb subtitles interlaced in avc stream inside of matroska files
2.- Support for dvb and/or subtitles as streams inside of matroska files

Currently ccextractor support both subtitle formats outside of matros

[2017-01-21 16:26] sidgairo18 opened #657 "Memory leaks !"
1. Leaked_storage: Variable unescaped going out of scope leaks the storage it points to in file src/lib_ccx/ccx_encoders_webvtt.c , function `write_stringz_as_webvtt()`
2. leaked_storage: Returning without freeing `context` leaks the storage that it points to in file src/lib_ccx/ccx_encoders_common.c  function `encode_sub()`
3. leaked_storage: Variable `epg` going out of scope leaks the storage it

[2017-01-21 16:39] sidgairo18 opened #659 "Networking error and overwriting"
overwrite_var: Overwriting handle `sockfd` in `sockfd = socket(p->ai_family, SOCK_STREAM, p->ai_protocol)` leaks the handle.

File src.lib_ccx/networking.c function `tcp_bing()`

[2017-01-21 16:41] sidgairo18 commented on #659
@cfsmp3 could you help out with this. Thank you.

[2017-01-22 00:29] Silver-Streak commented on #452
@brooss Thank you for the input. I still can't figure out what would have changed on the recordings in that time frame.

I also found out that there doesn't seem to be a way to pass through commands to CCExtractor from MCEbuddy, which makes this harder. I've posted on their forums and will see if any options come up.

Thank you all for your help.

[2017-01-22 09:24] sidgairo18 commented on #447
@cfsmp3 I would like to work on this.

[2017-01-22 11:27] Izaron commented on #656
I see, there's another program that takes subtitles from .mkv
Is it makes sense to do the same thing in our program for subtitles only? If yes, it should not be difficult :smile:

[2017-01-22 16:33] cfsmp3 commented on #447
go for it

On Sun, Jan 22, 2017 at 1:24 AM, Siddhartha Gairola <
notifications@github.com> wrote:

[2017-01-22 19:20] Izaron commented on #286
Should we have both "Missing subs" and "Deal with [whipped](https://github.com/CCExtractor/ccextractor/issues/286#issuecomment-272539061) roll-up subs" in one issue?

[2017-01-22 19:21] cfsmp3 commented on #656
I don't know... can we do anything that is not already done by the official
mkv tools?

On Sun, Jan 22, 2017 at 3:27 AM, Evgeny Shulgin <notifications@github.com>
wrote:

[2017-01-22 19:22] cfsmp3 commented on #286
In general it's best to have separate issues for separate issues :-)
Otherwise we can't close anything.

On Sun, Jan 22, 2017 at 11:20 AM, Evgeny Shulgin <notifications@github.com>
wrote:

[2017-01-22 19:29] Izaron commented on #656
(Accidentally closed)
No, as far I checked. Only automation of taking subs, but seems it's not worth it, if we want not to reinventing bycicle.

[2017-01-22 20:03] Izaron commented on #656
In general, there are other programs that also take captions fron certain types of files. But I think we must have some limit, after which we can tell the user: "No, it is not advisable to add it in the program, when this is already there in other app, so please use something other". I'm not sure where we have this limit.

[2017-01-22 20:54] claunia commented on #656
@Izaron afaik, for the in-video subtitle stream (ceasomething? sorry I can't remember) ccextractor is the only software I've found able to extract them. And if that stream is inside a mkv it requires the prestep of demuxing the video track just for that.

I think that pretty much should be part of ccextractor, just adding a demuxer for an already supported subtitle format, is inside the scope of t

[2017-01-22 21:04] cfsmp3 commented on #656
This is matter of "is there any software that can do it already" or not :-)
If not, then we should do it - and by "we" I don't mean Izaron specifically
or myself, but rather, anyone who feels like it. Same as any other feature
:-)
If there's a real use case I don't have any objections to add .mkv support.
I didn't know there existed .mkv files in with the closed captions are not
a separate subtitl

[2017-01-22 21:14] claunia commented on #656
@cfsmp3 "is there any software that can do it already" afaik, no

I didn't know either but I can imagine there is a lot of people that just don't even know this was possible. I didn't. I saw a strange line getting information from the mkv with ffmpeg in the video stream, and it ended being a CEA subtitle.

[2017-01-23 10:37] Izaron commented on #656
@claunia Do you have any sample .mkv videos with closed captions what mkvtoolnix can't take? I have not met with such.
Generally, such a file is theoretically possible, but practically? Can we met such files not specially, in real Internet videos?

[2017-01-23 12:26] claunia commented on #656
@Izaron sorry, I convert all videos to .mp4 and I've only encountered it once

[2017-01-23 20:18] ruralman commented on #279
thanks for your answer

2017-01-20 1:55 GMT+01:00 Carlos Fernandez Sanz <notifications@github.com>:

[2017-01-23 20:23] cfsmp3 commented on #659
I can see the possible leak... This is Ruslan's code so I'm assigning it to him to check out.

[2017-01-23 23:17] cfsmp3 opened #661 "ctrl-c not working in linux"
ctrl-c (sigint) is not working on the linux version, which is quite annoying.

[2017-01-24 01:28] cfsmp3 opened #662 "OCR - jumps based on uninitialised values"
==22257== Conditional jump or move depends on uninitialised value(s)
==22257==    at 0x428EC5: compare_rect_by_ypos (ocr.c:705)
==22257==    by 0x454991: shell_sort (ccx_encoders_helpers.c:459)
==22257==    by 0x428FBF: paraof_ocrtext (ocr.c:749)
==22257==    by 0x44E7B3: write_cc_bitmap_as_srt (ccx_encoders_srt.c:103)
==22257==    by 0x42D83C: encode_sub (ccx_encoders_common.c:1174)
==22257==

[2017-01-24 02:48] cfsmp3 opened #663 "OCR - Use of uninitialised value (strlen)"
More than one bit level marked: 60
More than one bit level marked: 60
Invalid clut depth 0xe!
==26875== Use of uninitialised value of size 8
==26875==    at 0x4C30F62: strlen (in /usr/lib/valgrind/vgpreload_memcheck-amd64-linux.so)
==26875==    by 0x428FF0: paraof_ocrtext (ocr.c:753)
==26875==    by 0x449B19: reformat_cc_bitmap_through_sentence_buffer (ccx_encoders_splitbysentence.c:764)
==26875==

[2017-01-24 04:58] xvkdev opened #664 "Request: Allow to extract several teletext pages in one pass"
Description:

In Germany, we record the French news program Géopolitis. It has teletext in both French and English:
Opening file: 2017-01-23_1912_FR_TV5_Géopolitis.bin
Analyzing data in CCExtractor's binary format
Creating 2017-01-23_1912_FR_TV5_Géopolitis.ccx.out1
Creating 2017-01-23_1912_FR_TV5_Géopolitis.ccx_2.txt
Notice: Teletext page with possible subtitles detected: 891
Notice: Teletext page

[2017-01-24 04:58] #664 closed

[2017-01-24 04:59] cfsmp3 opened #665 "Request: Allow to extract several teletext pages in one pass"
Description:

In Germany, we record the French news program Géopolitis. It has teletext in both French and English:
Opening file: 2017-01-23_1912_FR_TV5_Géopolitis.bin
Analyzing data in CCExtractor's binary format
Creating 2017-01-23_1912_FR_TV5_Géopolitis.ccx.out1
Creating 2017-01-23_1912_FR_TV5_Géopolitis.ccx_2.txt
Notice: Teletext page with possible subtitles detected: 891
Notice: Teletext page

[2017-01-24 09:37] HaneolLee commented on #286
hi.

1. https://drive.google.com/open?id=0BxFzM3fSXVOiTl83VGczdUpEMEE
2. https://drive.google.com/open?id=0BxFzM3fSXVOiaUpwN1RVeG11ODA
3. https://drive.google.com/open?id=0BxFzM3fSXVOiako4TTFMclB3ZHc

The broadcast recorded file was uploaded again. There is a problem that the
subtitles are not displayed on the links 1 and 2. Link 3 has a problem that
the subtitles are repeated and the subtitles do

[2017-01-24 13:27] Izaron commented on #661
After removing this line all is OK - https://github.com/CCExtractor/ccextractor/blob/master/src/ccextractor.c#L154
But don't sure if we should just *remove* this line without understanding.

[2017-01-24 14:10] saurabhshri commented on #661
@Izaron Instead of deleting it, I think it will be better to appropriately handle it. For example, if we want to terminate it ASAP on receiving SIGINT, we can do this -> (https://github.com/CCExtractor/ccextractor/compare/master...saurabhshri:patch-2).

@cfsmp3 Please have a look at the above commit. Does this seem okay to you?

[2017-01-24 19:13] cfsmp3 commented on #661
Both solutions are OK. The problem is that we're mixing different (and incompatible) ways to setup handlers. I've solved it by having 3 handlers that are setup in the same way.

[2017-01-24 19:13] #661 closed

[2017-01-24 19:38] saurabhshri commented on #381
@cfsmp3 Alright, I took a dig in. I supplied invalid directory/ non permissible directories and this is 100% replicable.

I tried debugging.

[code]

I tried a lot of samples but I am really not sure about this. But I think maybe even if `enc_ctx` is NULL in an iteration of `general_loop`, there's a possibility of it getting created properly in next ones (maybe by switch of stream / proper stdin o

[2017-01-25 06:45] Liontooth opened #667 "Extraction from bin file does not honor -unixts and -UCLA"
Create a bin file from a DVB transport stream:

` ccextractor -ts -pn $PN -out=bin -o $FIL.bin $DIR/$FIL.$EXT`

Extracting the text from this bin file:

` ccextractor -in=bin -pn 53007 -tpage 891 -datets -ttxt -UCLA -noru -utf8 -parsepat -parsepmt -unixts 1485198721 -o 2017-01-23_1912_FR_TV5_Géopolitis.ccx.out 2017-01-23_1912_FR_TV5_Géopolitis.bin`

results in wrong timestamps, a messed up third f

[2017-01-25 09:05] hurda commented on #247
Doesn't work for me in 0.85:
`C:\Temp\downloads\ccextractor.0.85-windows.binaries\ccextractorwinfull.exe  --gui_mode_reports  -autoprogram  -out=srt -bom -latin1 -codec dvbsub [+input files]`

[code]

Plus the log of @grave-w-grave shows it was extracting the Teletext-subtitles, not the DVB-subtitles, which weren't an issue.

[2017-01-25 23:43] cfsmp3 opened #668 "Windows and multicast"
We're hitting exactly this problem:

http://stackoverflow.com/questions/6140734/cannot-bind-to-multicast-address-windows

Suppose this real scenario: We have a number of multicast streams. They are in different addresses, for example

239.168.100.1:5000
239.168.100.2:5000

This means that we cannot just bind to any interface (0.0.0.0) on port 5000, because then we get things mixed up.

The obvious

[2017-01-25 23:49] cfsmp3 commented on #668
GSoC: This issue gives 2 qualification points.

[2017-01-25 23:55] cfsmp3 opened #669 "Massive memory leaks on PAT change"
In general, the PAT on a transport stream doesn't change, as that would mean that a stream was added or removed, which it's an uncommon event.

But it _can_ happen, and when it does we need to do proper clean up. What CCExtractor does in this case is clear the PMT table and mark all streams as "unseen", which forces all PMTs to be reloaded again. This was OK at some point in time, but it's not any

[2017-01-25 23:56] cfsmp3 commented on #669
GSoC qualification: This gives 3 points.

[2017-01-25 23:58] cfsmp3 commented on #667
Should be easy to fix.
GSoC qualification: Solving this issue gives 2 points.

[2017-01-26 00:20] cfsmp3 commented on #131
GSoC: This issue gives 4 points.

[2017-01-26 01:15] cfsmp3 commented on #247
Confirmed - it still crashes. I looked into it and the first crash is caused due to uninitialized variables.

Trivial "fix":
BOX* ignore_alpha_at_edge(png_byte *alpha, unsigned char* indata, int w, int h, PIX *in, PIX **out)
{
	int i, j, index, start_y, end_y;
	int i, j, index, start_y=0, end_y=0;

But we don't get much further than that - eventually tesseract returns an 0 which we don't really ha

[2017-01-26 11:32] sagark123 commented on #668
Having more than 1 interfaces in windows is a problem as windows tends to pick up the wrong address.We can get all the interfaces by using getifaddrs() and selecting the required interface

'struct ifaddrs *addrs,*tmp;

getifaddrs(&addrs);
tmp = addrs;

while (tmp)
{
    if (tmp->ifa_addr && tmp->ifa_addr->sa_family == AF_PACKET)
        printf("%s\n", tmp->ifa_name);

    tmp = tmp->ifa_next;
}

[2017-01-26 19:48] cfsmp3 commented on #583
Created a new install project using InstallShield since clearly Microsoft doesn't want to support the old VS extension to create MSI installers.

https://sourceforge.net/projects/ccextractor/files/ccextractor/0.85/CCExtractorSetup.exe/download

[2017-01-26 19:48] #583 closed

[2017-01-26 21:53] cfsmp3 commented on #665
GSoC qualification: This issue gives 3 points.

[2017-01-26 21:54] cfsmp3 commented on #663
GSoC qualification: This issue gives 3 points.

[2017-01-26 21:54] cfsmp3 commented on #662
GSoC qualification: This issue gives 2 points.

[2017-01-28 02:55] barun511 commented on #667
Could I have samples please? I'll give this a shot.

[2017-01-28 03:35] cfsmp3 commented on #667
You can probably use any of the teletext ones from here:

http://ccextractor.org/doku.php?id=public:general:tvsamples

On Fri, Jan 27, 2017 at 6:55 PM, Barun Parruck <notifications@github.com>
wrote:

[2017-01-28 18:44] Silver-Streak commented on #452
Just going to post this here incase anyone else runs into the same issue I did. Here's how I solved adding this command in MCEbuddy. This will need to be added to your profile's section in profile.conf

CustomCommandPath="C:\Program Files\MCEBuddy2x\ccextractor\ccextractorwin.exe"
CustomCommandParameters= -wtvmpeg2 "%sourcefile%" -o "%destinationpath%\%showname%_S%season%##E%episode%##.srt"
Custom

[2017-01-29 02:29] barun511 opened #674 "ccextractor doesn't work on .ts file in 708 mode"
When I run ./ccextractor against a .ts file, with default options, I get the following error messages.
[ccextractoroutput.txt](https://github.com/CCExtractor/ccextractor/files/737255/ccextractoroutput.txt)

If I run with the -608 option I get the same error messages, but the subtitles are 'somewhat' extracted. Here's a copy of the new output.
[ccextractoroutput.txt](https://github.com/CCExtractor/

[2017-01-29 05:02] barun511 opened #675 "A subtitle is displayed after output is supposed to end"
[ccextractoroutput.txt](https://github.com/CCExtractor/ccextractor/files/737327/ccextractoroutput.txt)
When running ./ccextractor -608 $FILENAME, one of the subtitles is displayed after the output is supposed to end.

Output is attached.

[2017-01-29 19:57] cfsmp3 commented on #674
-608 (and -708) enable *debug* output. The actual output is written to disk.
If you want it on console use -stdout.

[2017-01-29 19:57] #674 closed

[2017-01-30 20:54] barun511 commented on #667
I can't seem to reproduce this. Is there a particular sample that you noticed this on?

[2017-01-30 21:06] #675 closed

[2017-01-30 21:07] #669 closed

[2017-01-30 21:12] cfsmp3 commented on #381
OK, there's a case in which it's OK not to have a encoder context - when the output is NULL, which is OK if you just want the EPG data.

Maybe if we cannot open the output file we should just fatal() ?

[2017-01-30 22:14] Liontooth commented on #667
http://vrnewsscape.ucla.edu/dropbox/2017-01-23_1912_FR_TV5_G%c3%a9opolitis.bin

[2017-01-30 23:13] cfsmp3 commented on #663
This one is going to be hard to conclusively solve because there's no sample - it was a UDP stream, and it was running on valgrind (which always means data loss since the valgrind'ed version can't keep up with the data).

Anyway I did what I could to emulate the problem (by forcing the code branch that triggers that CLUT depth problem).

The original dvbsub_parse_clut_segment() always return 0 (in

[2017-01-31 02:57] cfsmp3 commented on #667
Confirmed. I'll let GSoC applicants give it a go though since it's not too hard.

[2017-01-31 03:16] saurabhshri commented on #381
@cfsmp3 I think it will be a good option for now. I'll make the changes.

[2017-02-02 06:42] fsh240led opened #677 "[CEA-708] Is there a way to extract subtitles"
The others are extracted without problems
But the video below is not extract
https://docs.google.com/uc?id=0B42jO8cBUe6baEtqLTNkRnExbVk&export=download

PotPlayer displays subtitles
http://i.imgur.com/SX9KApM.png

[2017-02-06 18:44] cfsmp3 opened #678 "GSoC qualification: Make CCExtractor more linux standard compliant"
This task gives you enough points to qualify (but remember that your proposal still needs to be good, etc).

CCExtractor is written in pure C, it uses external hard-linked libraries and it is designed to be portable to different platforms. Because of that we have multiple building scripts which somebody should maintain. The task is to create

    Autoconf scripts
    Man pages
    .tgz, .deb, .rpm

[2017-02-06 19:53] #381 closed

[2017-02-07 23:40] cfsmp3 commented on #677
Are yo sure you aren't using an external subtitle file? I just installed
potplayer for this and it says there's no subtitles available.

On Wed, Feb 1, 2017 at 10:42 PM, fsh240led <notifications@github.com> wrote:

[2017-02-08 01:47] fsh240led commented on #677
Preferences required

Preferences(F5) -> Filter Control -> Video Decoder -> Built-in codec/DXVA settings -> Enable Closed Captioning (Check)

[2017-02-08 01:58] cfsmp3 commented on #677
I'm probably missing some fonts, this is what a see after enabling CC.

![sbsplus](https://cloud.githubusercontent.com/assets/5949913/22720320/e8414a66-ed5e-11e6-81e9-34209d27298e.png)

[2017-02-08 04:45] fsh240led commented on #677
korean font download link
[http://ko.cooltext.com/Fonts-Unicode-Korean](url)

[2017-02-08 05:00] fsh240led commented on #677
[[img]http://i.imgur.com/SX9KApM.png[/img]](url)

[2017-02-08 05:01] fsh240led commented on #677
`[img]http://i.imgur.com/SX9KApM.png[/img]`

[2017-02-08 14:09] atrottmann opened #680 "Weird "Style:" entry in webvtt_header"
In ccextractor 0.85 in src/lib_ccx/ccx_encoders_common.c webvtt_header was changed from "WEBVTT\r\n" to "WEBVTT\r\nStyle:\n"

Additionally, in the function write_subtitle_file_header in src/lib_ccx/ccx_encoders_common.c of ccextractor 0.84 you write a CRLF after webvtt_header, while in 0.85, there is no such extra CRLF.

If I correctly understand the WEBVTT specs, the way it's done in 0.84 results

[2017-02-09 00:43] cfsmp3 commented on #677
Assigning to @Izaron since he was the last one looking into Korean.

[2017-02-09 01:46] cfsmp3 commented on #680
I think you're correct in most of all counts. We'll correct (assigning to @Izaron since he made that specific style change) but in the meantime, what software is involved in your end? Is it a player or something else?

[2017-02-09 01:47] cfsmp3 commented on #680
GSoC qualification: 1 point, since it's a trivial thing.

[2017-02-09 01:47] cfsmp3 commented on #677
GSoC qualification: 3 points.

[2017-02-09 07:50] barun511 commented on #680
If I understand correctly,

static const char *webvtt_header = "WEBVTT\r\n"
		"Style:\n";

Simply needs to be changed to

static const char *webvtt_header = "WEBVTT\r\n\r\n";

to comply with the correct WEBVTT standards?

If so, I'll prepare a PR

[2017-02-09 07:58] Izaron commented on #680
I improved WebVTT encoder, but I'm was not able to test if it is full correct - simply can't play subtitle file in browser in HTML page.
Of course anyone can do it (since right now I'm a bit busy with learning), if he able to test correctness (of course with colored text, bolded and so on).

[2017-02-09 08:47] barun511 commented on #680
My previous comment was incorrect: expected behaviour is

"WEBVTT\r\n\r\nSTYLE\r\n" to be the webvtt header

and also add a "\n" after the STYLE block.

Can somebody confirm if this is correct?

[2017-02-09 08:49] Izaron commented on #680
@barun511 if you want to earn 1 point, you work also is to know exactly if this is correct or no :) Not hard, I think

[2017-02-09 08:50] barun511 commented on #680
Good point :)

[2017-02-09 08:59] atrottmann commented on #680
@cfsmp3: I use ccextractor to generate VTT files from TV recordings (mpeg-ts, using teletext subtitles), and play them back in a HTML5 based player.

It works extremely well with the subtitles created by ccextractor using any major browser (Firefox/Chrome/Safari/IE/Edge, also on iOS and Android).

A minimal test/demo can be found here: http://guardian.werft22.net/public/html5/player.html

For it t

[2017-02-09 09:04] atrottmann commented on #680
I'm quite sure there are multiple ways of making it work correctly.

I have already submitted a similar issue: https://github.com/CCExtractor/ccextractor/issues/439

Then, the fix was to leave:

static const char *webvtt_header = "WEBVTT\r\n\";

and to write another \r\n explicitely when finishing to write the header.

[2017-02-09 12:37] Izaron commented on #677
@fsh240led Are this output **at 00:09** from the other video player is incorrect also in comparing with PotPlayer? Can you confirm it?

![default](https://cloud.githubusercontent.com/assets/5406399/22783469/034ae50e-eedd-11e6-8fcb-bd1b77a0baad.png)

@cfsmp3 and @AlexBratosin2001 (since you're PTS man)
Problem is there: https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/stream_funct

[2017-02-09 13:06] Izaron commented on #678
We just need to build package from built binary from linux/build-static.sh
.deb - just rewrite outdated https://github.com/CCExtractor/ccextractor/blob/master/package_creators/debian.sh remove REQUIRES and so on
.rpm - http://meinit.nl/creating-rpm-some-binary, but we can also build .rmp from **Debian/Ubuntu**

[2017-02-09 14:55] fsh240led commented on #677
It is an unknown words
It should be output as

<img src="http://i.imgur.com/SX9KApM.png">

[2017-02-10 04:30] barun511 commented on #680
So I did some reading up. We need to initialize the header with WEBVTT, and then a \r\n to finish the header, (according to https://w3c.github.io/webvtt/#file-structure). We aren't putting anything in the header, but just in case we do, I imagine we would explicitly write the "\r\n" in `write_subtitle_file_header` in ccx_encoders_common.c.

As for the STYLE.. since we now have internal CSS, we nee

[2017-02-10 06:29] Izaron commented on #680
@barun511 Since we have to write "\r\n" in any case, I think it's better to add it in "const char*", so other developer in case of editing webvtt header function will not think why we have CRLF.

[2017-02-10 21:23] CTayl0r opened #684 "'live' raw data problem"
I'm trying to send raw CC data (i.e. mcpoodle raw format) into ccextractor from a live source (extracted form a 2110.40 stream).  I've found that ccExtractor buffers quite a lot of raw data before processing any, and then when it does process that, it stops once it sees no more data, despite the live (-s) option.  This is the case whether I send the data in via UDP, pipe line it in, or use a file.

[2017-02-15 15:49] OmegaVVeapon opened #687 "CCextractor behaves unexpectedly when processing both CEA-608 fields."
For CEA-608 extraction, the `help`states that:
[code]
The `-1` and `-2` options both create a `<media_name>.srt` file with the correct CEA-608 CC's according to the specified field. However, specifying both fields (`-12`), will create `<media_name>_1.srt` and `<media_name>_2.srt` files. However, the first file will contain interleaved CCs from both fields inside of it, leaving the second file empt

[2017-02-15 16:03] Izaron commented on #687
Can you please attach your video file here? For example, as link to Dropbox file.

[2017-02-15 20:39] bradf69 opened #689 "Done ,code=1073741819"
Hi

On several cc extactions from MPG-2 files I get this code.

Done ,code=1073741819

It usually gets about 70% through then I get that code.

I was wondering if it tells you something or is it a random code?

[2017-02-15 20:47] cfsmp3 commented on #689
That doesn't seem written by CCExtractor but rather some other program calling it (I can't find the string "Done, code=") anywhere in the source code.

[2017-02-15 20:47] #689 closed

[2017-02-15 21:42] OmegaVVeapon commented on #687
I'm afraid I can't share the media that repro'd the issue (NDA), and I don't seem to have any other medias with 2 CEA-608 fields. If I do find something to share, what address should I send the Dropbox link to?

[2017-02-15 23:35] cfsmp3 commented on #687
Just write it here in a comment.

Basically you have two options

1) Work with us publicly, meaning samples and code are available for
everyone to use as needed.
2) Work with us privately. Privately always means under contract. You can
hire me or anyone else in the team you like. I'll be happy to sign a NDA if
needed.

What is not going to happen is that we work on anything private without
payment

[2017-02-16 06:45] barun511 commented on #680
#686  should fix this.

[2017-02-16 18:18] CTayl0r commented on #684
Some more info, and a way to see this.

I made a tcl script to kick out raw CC data slowly to show the issue.
[send_raw_cc_slow.txt](https://github.com/CCExtractor/ccextractor/files/781063/send_raw_cc_slow.txt)

Rename it to send_raw_cc_slow.tcl and make it executable.

If one then pipes the output into ccextractor, nothing happens.  This is ccextractor buffering up the data before it does anythin

[2017-02-17 13:29] gkehstn opened #690 "Ver 0.85 CEA-708: 16 bit charset (Korean) Not support"
0.78 (2015-12-12)
  - CEA-708: 16 bit charset support (tested on Korean).
0.84 test result normal
0.85 Not supported.
 - See issue # 286.

[2017-02-17 20:10] akiller opened #691 "Freeview UK - no subtitles detected"
Hi all,

I'm trying to extract subtitles from Freeview recordings but no matter what options I choose it never seems to detect anything. I've tried different recordings and channels and used both your latest release version as well as compiling the latest code myself to no avail.

Here's a sample file (~12MB) recorded on a Hauppauge Nova-T
https://www.dropbox.com/s/8ir9ofo03zir90h/8ooTC.zip?dl=1

[2017-02-18 10:15] Izaron opened #692 "Can't build CMake project with additional libs"
CLion uses CMake, and I can't build it, for example, with OCR
I have installed tesseract and leptonica developer libraries
[code]
When I trying to change "OFF" to "ON" and clean cmake and cmake folder, I get an errors
[code]

I tried change code in this part:

[code]
But got very strange behavior - this includies and define `ENABLE_OCR` is available only in ccextractor.c file.
Can anyone fix it? I

[2017-02-18 10:16] Izaron commented on #692
linux/build and linux/builddebug works very well with all additional libraries.

[2017-02-18 20:45] cfsmp3 commented on #692
GSoC qualification: 2 points

[2017-02-18 22:32] cfsmp3 commented on #690
GSoC qualification: 2 points

[2017-02-19 00:44] bradf69 commented on #689
Hey again.

Sorry for the long reply as our weather here has been keeping me outside
blowing and shoveling snow.

OK then I'm confused, I installed CCEx. by itself. During install never
requested for another prog. So I thought it was installing as a standalone
prog.

I've included a screenshot of the execution window. I don't see any
connection to another prog here or anywhere in CCex.

On Wed, Fe

[2017-02-19 03:29] bradf69 commented on #689
sorry forgot to attach screenshot.
here it is.

On Sat, Feb 18, 2017 at 7:43 PM, Brad Feuerhelm <robdragon2010@gmail.com>
wrote:

--
Damn The Torpedoes! Full Speed Ahead!

[2017-02-19 04:19] cfsmp3 commented on #689
Screenshot missing I'm afraid. But your description might help... seems like it's the GUI displaying the message. Anyway the screenshot would be useful.

[2017-02-19 05:06] bradf69 commented on #689
hope this comes through!
See attached

On Sat, Feb 18, 2017 at 11:19 PM, Carlos Fernandez Sanz <
notifications@github.com> wrote:

--
Damn The Torpedoes! Full Speed Ahead!

[2017-02-19 19:06] Izaron commented on #691
Without **-haup** I get (well, on linux) this output - [link](https://paste.fedoraproject.org/paste/8PDvHFUkAnO-XiyXPVIuIF5M1UNdIGYhyRLivL9gydE=/raw)
Can you uncheck "Hauppage" switch button and try one time more?

[2017-02-19 19:14] Izaron commented on #690
Well, I changed this part of code, because in many videos I got wrong output.
Link 1 (before my changes) - https://gist.github.com/Izaron/34136a8ec8216469c3c3828acdfbe53e
Link 2 (my change) - https://github.com/CCExtractor/ccextractor/pull/623/commits/d60baf18953f1501e2d450fd7e97406cd9624c58
Link 3 (after my changes - absolutely correct) - https://gist.github.com/Izaron/44c030eae8c6c1049ae6d3e6c6d

[2017-02-19 19:45] akiller commented on #691
That's interesting that it works for you.

I wonder if it's a Windows issue? Without using Haup I get the same with a 0kb SRT:

[2017-02-20 00:49] HaneolLee commented on #690
1. When I run it in 0.84 version, Korean is good.
link 1 : https://drive.google.com/open?id=0BxFzM3fSXVOiZEo2R1E4MEFFY1U

2. When I run it in version 0.85, I do not see Korean.
link 2 :  https://drive.google.com/open?id=0BxFzM3fSXVOiSnVBZkc4RlBzVkE

All run with the same options.

3. Upload the tested video file.
https://drive.google.com/open?id=0BxFzM3fSXVOiV3hUTnVoVVRjeDg

[2017-02-20 00:51] cfsmp3 commented on #691
Are you using the full version (which includes the OCR), not the compact
one?

On Sun, Feb 19, 2017 at 11:45 AM, Andrew Killer <notifications@github.com>
wrote:

[2017-02-20 09:42] akiller commented on #691
Hi Carlos,

I was using the full version. I was also using the GUI. When I ran ccextractorwinfull.exe manually I noticed some output which wasn't in the output from the GUI:

Downloading eng.traineddata from https://github.com/tesseract-ocr/tessdata and putting it in tessdata/eng.traineddata now seems to have solved the problem for both command line and the GUI.

It may be worth updating the GUI t

[2017-02-20 14:48] Izaron commented on #690
I wrote a patch
Remember you should call it as "ccextractor <file> -svc all[EUC-KR]" or so.
Resulting file - https://paste.fedoraproject.org/paste/imMCT5qPdsAk8TlL8Qa35V5M1UNdIGYhyRLivL9gydE=/raw

Yes, that's bad... I can say I wait for new GSoC student to come and fix it 😄

[2017-02-21 08:46] Izaron commented on #678
Would you like to have official packages for the most popular linux distros?
I mean, if everybody will be able to launch Linix distro, write in terminal line as `sudo apt-get install ccextractor` and get binary? :)

[2017-02-21 18:36] saurabhshri commented on #667
Also,in this case (teletext) when extracting from bin it says `No captions were found in input.` and yield return code 10 even when they are extracted properly.

[2017-02-22 09:07] siddharthjindal1997 commented on #662
@cfsmp3 can you please explain the issue. i would love to work on it .
thanks.

[2017-02-22 10:35] hurda opened #695 "Timing issues from teletext with bogus PTS (regressed in 0.85)"
Between 0.84 and 0.85 something changed regarding processing teletext which has dodgy PTS-values and creating the subtitle-timestamps.

Sample: http://www.mediafire.com/file/j4ej0akioqyklxv/teletext_timing_wrong_pts_cce0.85.zip

0.84 (good):
[code]

0.85 (bad):
[code]

The difference of the timestamps of 0.85 compared to 0.84 can be between some seconds and several hours.

[2017-02-22 13:23] Izaron commented on #678
https://www.linux.com/learn/easy-package-creation-checkinstall
Can be helpful

[2017-02-22 13:47] Izaron commented on #692
@cfsmp3 and others who have any serious experience in CMake
Can you see this diff and check commit by commit? https://github.com/CCExtractor/ccextractor/compare/master...Izaron:cmake-ocr?expand=1 (have not requested pull yet)
There was one missed library, using of static libraries and more small bugs as seems to me

https://github.com/CCExtractor/ccextractor/blob/master/docs/using_cmake_build.txt

[2017-02-22 14:26] Izaron commented on #692
If we will create .deb/.rpm package from binary built my branch, will it require tesseract, ffmpeg and other deps? Since I erased "STATIC" from libraries.

[2017-02-22 15:14] Izaron commented on #692
Also, still can't get out what "STATIC" in linker mean.
As I understand, with static libs we should get working binary without any dependencies? But with both STATIC and non-static I get in virtual machine:
[code]
Can you help me?

[2017-02-22 18:51] #691 closed

[2017-02-22 21:18] cfsmp3 commented on #692
I've never used CMake, this was Anshul's work I think.

On Wed, Feb 22, 2017 at 7:14 AM, Evgeny Shulgin <notifications@github.com>
wrote:

[2017-02-22 21:19] cfsmp3 commented on #695
I think @AlexBratosin2001 did some work on the teletext timing.

[2017-02-22 21:24] cfsmp3 commented on #662
@siddharthjindal1997 The issue description gives all the info :-) Running CCExtractor on valgrind we get those messages. If you check the code, it seems to happen here:

int compare_rect_by_ypos(const void*p1, const void *p2, void*arg)
{
	const struct cc_bitmap* r1 = p1;
	const struct cc_bitmap* r2 = p2;
	if(r1->y > r2->y)

We know that r1 and r2 are initialized because that happens there, but loo

[2017-02-22 21:26] cfsmp3 commented on #667
Please send fix for that :-)

On Tue, Feb 21, 2017 at 10:36 AM, Saurabh Shrivastava <
notifications@github.com> wrote:

[2017-02-22 21:27] cfsmp3 commented on #689
Still not there. Maybe upload directly in github? It's possible that
submitting attachment by replying to emails doesn't work.

On Sat, Feb 18, 2017 at 9:06 PM, bradf69 <notifications@github.com> wrote:

[2017-02-22 21:27] cfsmp3 commented on #684
GSoC qualification: 2 points

[2017-02-23 04:22] bradf69 opened #696 "Previous private email request"
This is to Carlos Fernandez Sanz
This is the attachment he needs.
Let me me if you get this Carlos.

![ashampoo_snap_2017 02 18_19h34m26s_001_](https://cloud.githubusercontent.com/assets/25803694/23244750/849f7a3e-f955-11e6-815e-b2efa5bf1d8d.png)

[2017-02-23 19:01] alexandrumc commented on #667
@Liontooth, can you post here the DVB transport stream?

[2017-02-24 00:11] #695 closed

[2017-02-24 18:54] cfsmp3 commented on #696
Yes, got it.

Can you share the specific input file you are processing to get that Done =
XXXXXXXXX message?

On Wed, Feb 22, 2017 at 8:22 PM, bradf69 <notifications@github.com> wrote:

[2017-02-24 23:46] bradf69 commented on #696
Hey Carlos

Included is one of the videos I get this specific error code with.
They all get right around 30% and then freeze then produce the error code.

This one specific video dies at 34% at line 08:48-08:49.

I'm guessing it has something to do with the captions but I haven't figured out what that might be. Since I get the same result on three other vids I'm guessing it may have to do with set

[2017-02-24 23:46] #696 closed

[2017-02-24 23:59] cfsmp3 commented on #696
Didn't get the file. Can you upload it to dropbox or google drive and post the link here?

[2017-02-25 13:56] hurda commented on #695
Thanks, fixed.

[2017-02-25 14:31] hurda opened #698 "Wrong PTS and Length in Preview-section in 0.86git"
Tested with sample from #695

Using ccextractor compiled from current master ( eb24e34 ) readded the Preview-section at the end of the log.
What information is it supposed to show?

[code]

Min PTS = Max PTS and Length = 0?
That PTS-value is the first PTS of the Teletext-stream in the TS (PTS: 4778457019), the last being  14:45:06.926 or 4779623419.

[2017-02-25 17:42] bradf69 commented on #696
Hey Carlos

OK here's the link

https://drive.google.com/file/d/0B8djHAhDNDBuWUpBYkVBNVFfOWs/view?usp=sharing

On Fri, Feb 24, 2017 at 6:59 PM, Carlos Fernandez Sanz <
notifications@github.com> wrote:

--
Damn The Torpedoes! Full Speed Ahead!

[2017-02-25 19:43] alexandrumc commented on #678
I'm starting to do it.

[2017-02-26 14:35] saurabhshri opened #699 "Few lines missing from output of .bin file [sample attached]"
While working on another issue, I created a .bin file from a sample (https://sampleplatform.ccextractor.org/sample/67).

When extracting subs from .bin file, the ending few lines are missing, while they are perfectly extracted from original file.

Original :

[code]

From .bin of above sample (http://gsocdev3.ccextractor.org/~saurabhshri/67.bin) :

[code]

I created bin using : `ccextractor -ts -p

[2017-02-26 14:51] saurabhshri commented on #667
@cfsmp3 @Liontooth While fixing, I am facing timing issues - I mean this  :

From TS :
[code]

From .bin

[code]

But then I found out that while using .bin few lines are missing too [See https://github.com/CCExtractor/ccextractor/issues/699].

Since timings are correct when extracted without `-unixts`, it must be something wrong at my part. I am trying to fix it. :)

[2017-02-26 18:55] saurabhshri commented on #667
I was unnecessarily calculating deltas and all which had mistake somewhere. The solution was staring right in the face :P Timing is correct now (in the PR #700 ).

[2017-02-27 09:54] hurda opened #701 "Levenshtein-parameters missing from Usage-section"
Parameters: https://github.com/CCExtractor/ccextractor/blob/dbad5f4cda15303af784a06788e039dd81834229/docs/CHANGES.TXT#L360

params.c: https://github.com/CCExtractor/ccextractor/blob/e79506b303d7b250518aaadf65addb7a859c7b5b/src/lib_ccx/params.c#L1740

[2017-02-28 06:35] pranavsid98 commented on #678
I am interested in this issue. I would like to work on this.

Pranav

[2017-02-28 11:23] barun511 commented on #665
To clarify: The -12 switch should automatically detect the two teletext pages and output both of them?

[2017-02-28 16:19] cfsmp3 commented on #665
No, -12 is totally unrelated to teletext.

Maybe allow to use the page parameter more than once, and also add a
-tlxallpages (to get all of them without specifying one by one).

On Tue, Feb 28, 2017 at 3:23 AM, Barun Parruck <notifications@github.com>
wrote:

[2017-03-01 00:35] #667 closed

[2017-03-02 17:01] #692 closed

[2017-03-03 09:17] AlexeyBelezeko commented on #646
@Izaron can you provide me with some samples for the task?

[2017-03-03 09:29] Izaron commented on #646
@AlexeyBelezeko https://ccextractor.org/public:general:tvsamples "US TV 10 minutes samples" - "ESPN.ts" last sub is missed as far I remembered.

[2017-03-03 09:31] Izaron commented on #656
Imported self-written Matroska decoder https://github.com/CCExtractor/ccextractor/pull/704

[2017-03-03 09:31] #656 closed

[2017-03-03 18:26] Izaron opened #705 "Make some improvements to the Matroska decoder"
Some not so hard tasks to become familiar with the CCExtractor code.
Matroska supports now SRT and ASS/SSA subtitle formats
The main files is matroska.c and matroska.h

1. Make an unlimited count of the tracks (subtitle files) and sentences (one subtitle block). Currently, they are constants as `MATROSKA_MAX_TRACKS` and `MATROSKA_MAX_SENTENCES`. You should **realloc**ate memory when it's required

[2017-03-03 18:43] Izaron commented on #705
GSoC: This issue gives 3 qualification points.

Also 1 additional qualification point for creating new option "-mkvlang <lang>" (see options.c) for extracting from only the language user want to.

[2017-03-05 11:36] kapilkd13 commented on #705
Hi @Izaron  I would like to work on this issue

[2017-03-05 12:22] Izaron commented on #705
Hi @kapilkd13 you're welcome! It is good. Also, you do not required to indicate that you are working on issue. First coder who will send good PR will get this points.

[2017-03-05 14:53] Diptanshu8 commented on #356
@cfsmp3 I tried extracting the subtitles and the generated srt could be found at https://drive.google.com/uc?export=download&id=0BxtyBcewAlIwN3ZGNW1PeE16VzQ .

[2017-03-05 17:26] Izaron commented on #705
Samples:
https://drive.google.com/file/d/0B2fcX80_rHuOOEM3RjhOTXlqbEk/view?usp=sharing (30mb)
https://drive.google.com/file/d/0B2fcX80_rHuOZnU3ZFU3VmY2dTQ/view?usp=sharing (~1gb)
http://trailers.divx.com/divx_prod/divx_plus_hd_showcase/Sintel_DivXPlus_6500kbps.mkv (819mb)

[2017-03-05 17:47] Izaron commented on #646
Sample:
https://drive.google.com/drive/folders/0B_61ywKPmI0Ta2diT3l0eTlHc2c - USA.ts
Run as `ccextractor <path_to_USA.ts> -svc all`
The first file USA.srt is correct
[code]
The second file USA.p8.svc01.srt is incorrect
[code]

[2017-03-05 18:34] kapilkd13 commented on #705
Made PR https://github.com/CCExtractor/ccextractor/pull/709 for point 3

[2017-03-06 18:29] cfsmp3 commented on #701
Fixed.
1 GSoC point awarded to kapilkd13.

[2017-03-06 18:29] #701 closed

[2017-03-06 18:31] cfsmp3 commented on #705
@kapilkd13 don't rush it - try producing a high quality PR instead. Points go to the student that has its PR merged, so no point in half-ass'ing it :-) Everyone will need to take their time doing a good job.

[2017-03-06 18:31] cfsmp3 commented on #699
2 GSoC points.

[2017-03-06 18:33] cfsmp3 commented on #680
@atrottmann  can you confirm? Is this fixed in current master?

[2017-03-07 04:48] rokatri opened #713 "[QUESTION] Two Korean DTV TS files recorded using same PVR. CCExtract is working with only one of them."
CCExtractor version (using the --version parameter preferably) : 0.85

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggestin

[2017-03-07 13:21] atrottmann commented on #680
If I correctly understand the WEBVTT file structure (as defined at https://w3c.github.io/webvtt/#file-structure ), it still lacks an empty line after STYLE:

Currently I get:

`WEBVTT

STYLE
00:00:06.440 --> 00:00:25.240
*
`

so the "STYLE" is immediately followed by the timing of the first cue. It should be separated from that by an empty line.

[2017-03-07 16:46] techfreakworm commented on #678
I am working on autoconf scripts for ccextractor and I have a slight problem. In Makefile.am (with non-recursive approach) I have set, "AM_LDFLAGS = -lm -zmuldefs -ltesseract -llept". But still the build crashes with "/usr/bin/ld: src/gpacmp4/av_parsers.o: undefined reference to symbol 'trunc@@GLIBC_2.2.5'
/lib/x86_64-linux-gnu/libm.so.6: error adding symbols: DSO missing from command line"
Any id

[2017-03-07 23:54] cfsmp3 commented on #713
GSoC qualification: 3 points

[2017-03-07 23:55] cfsmp3 commented on #698
3 GSoC points.

[2017-03-09 11:36] AP-whitehat commented on #665
While working on this issue ..
I can't understand why tlt_read_rcwt() is being called even when input file is not .bin
Secondly,
what I infer from the look of it is that CCExtractor first searches all the possible streams
selects the best one ...
then which function(s) actually demuxes and writes to the srt file ?
I would need to make changes to those functions run fall all possible streams

[2017-03-09 11:36] AP-whitehat commented on #665
While working on this issue ..
I can't understand why tlt_read_rcwt() is being called even when input file is not .bin
Secondly,
what I infer from the look of it is that CCExtractor first searches all the possible streams
selects the best one ...
then which function(s) actually demuxes and writes to the srt file ?
I would need to make changes to those functions run fall all possible streams

[2017-03-09 17:42] barun511 commented on #680
Also:
A WebVTT style block consists of the following components, in the given order:

The string "STYLE" (U+0053 LATIN CAPITAL LETTER S, U+0054 LATIN CAPITAL LETTER T, U+0059 LATIN CAPITAL LETTER Y, U+004C LATIN CAPITAL LETTER L, U+0045 LATIN CAPITAL LETTER E).
Zero or more U+0020 SPACE characters or U+0009 CHARACTER TABULATION (tab) characters.
A WebVTT line terminator.

And
A WebVTT line termina

[2017-03-09 22:13] atrottmann commented on #680
You have quoted points 1. to 3. of the definiton of the WebVTT style block, which indeed say "STYLE(the string required) \n (the line terminator)".

However, afterwards, you also need points 4. and 5.:

In the current case of all of the files generated by ccextractor, point 5 is actually "zero characters". Point 6 then specifies another line terminator.

So:

STYLE\n
\n
00:00:00.000 -> ... (first

[2017-03-10 17:17] xvkdev commented on #678
To make it clear - we don't want to pregenerated packages, man, etc: We want scripts that generate them automatically, otherwise we'd been stuck with old versions really quickly.

[2017-03-10 17:17] cfsmp3 commented on #678
To make it clear - we don't want to pregenerated packages, man, etc: We want scripts that generate them automatically, otherwise we'd been stuck with old versions really quickly.

[2017-03-12 00:48] bradf69 commented on #689
I know it's been about 3 weeks but did you ever were able to get that video
off of google drive?
Any ideas as to why the error codes. All stall out anywhere from about
7%-90% done. I actually rented the dvd of the prog in question and I still
get the errors. So it isn't anything to do at my end. The only thing I can
think of is some code in the subtitle itself causing the problem.

On Wed, Feb 22,

[2017-03-12 21:14] bradf69 commented on #689
Hey Carlos

I'm not sure you take suggestions on CCExtractor's gui, but if you do I
have a couple off the top of my head.

1. The gui's window able to be maximized/stretched.
2. Able to save preferences instead of having to set them every time it is
started. For instance the preference for all caps or normal caps set.

On Sat, Mar 11, 2017 at 7:48 PM, Brad Feuerhelm <robdragon2010@gmail.com>
wrote

[2017-03-12 22:49] bradf69 commented on #689
Never mind about saving preferences! I'm blind! :)

On Sun, Mar 12, 2017 at 5:14 PM, Brad Feuerhelm <robdragon2010@gmail.com>
wrote:

--
Damn The Torpedoes! Full Speed Ahead!

[2017-03-13 16:59] gautamchitnis commented on #256
Valid for GSoC points? If so, how many points?

[2017-03-14 06:28] fandango- commented on #678
Just wanted to add that Arch already has a package for ccextractor in the AUR. So, users of Arch and Arch-based distributions can install it using yaourt. Link: https://aur.archlinux.org/packages/ccextractor/
In fact, I'd be surprised if it didn't actually - I can't remember the last time I didn't do
$ yaourt -S \<package-name\>
to install packages I use.
However, just to be clear, an official .pk

[2017-03-14 19:41] SteveMak opened #718 "BUG: Does not extract forced and non-forced tracks for same language"
[BUG]
CCExtractor version : 0.85
[X] I absolutely love CCExtractor, but have not contributed previously.
(extensive user!)

- Is this a regression (did it work before)? [X] NO | [ ] YES
- What platform did you use? [X] Windows - [ ] Linux - [ ] Mac
- What where the used arguments?  --gui_mode_reports  -autoprogram  -out=srt -ru2 -bom -utf8 --nofontcolor -trim -autodash --norollup --notypesetting [

[2017-03-14 19:45] Izaron commented on #718
Can you run CCExtractor twice with different arguments for getting both files?
Can you give link to the video file?

[2017-03-14 19:51] SteveMak opened #719 "[PROPOSAL] Drop a folder into the Input Files"
[PROPOSAL]
CCExtractor version : 0.85
[X] I absolutely love CCExtractor, but have not contributed previously.
(extensive user!)

Is this a regression (did it work before)? [X] NO
Platform: [X] Windows
Arguments? --gui_mode_reports -autoprogram -out=srt -ru2 -bom -utf8 --nofontcolor -trim -autodash --norollup --notypesetting [+input files]

I sometimes do extensive CC/Subtitle extraction and transc

[2017-03-14 19:56] SteveMak commented on #718
I have not been able to figure out how to extract the other track.

Also, it is not practical for me to do so. I am in the midst of processing several hundred files, so I do not process each one individually. I throw a large batch at CCExtractor, and hope that it does the right thing. In almost all cases it does. Having to manually check each file would take a considerably longer time to work thro

[2017-03-14 22:27] cfsmp3 commented on #718
GSoC qualification: 4 points
Link to file mentioned in slack (#general)

[2017-03-14 23:27] cfsmp3 opened #720 "A 0x00 in the middle of a .srt"
00000000  31 0a 30 30 3a 30 30 3a  34 30 2c 39 34 30 20 2d  |1.00:00:40,940 -|
00000010  2d 3e 20 30 30 3a 30 30  3a 34 33 2c 30 30 38 0a  |-> 00:00:43,008.|
00000020  **00** 0a 4a 55 44 47 45 20  4d 49 4c 49 41 4e 3a 20  |..JUDGE MILIAN: |
00000030  4e 4f 57 2c 20 57 48 41  54 20 49 53 20 59 4f 55  |NOW, WHAT IS YOU|

Obviously causes a bunch of problems. No idea how it got there.

No input file

[2017-03-14 23:28] cfsmp3 commented on #720
GSoC qualification: 4 points.

[2017-03-14 23:28] cfsmp3 commented on #719
GSoC qualification: 3 points.

[2017-03-16 18:42] Izaron commented on #705
@Diptanshu8 got 4 points for PR #722

[2017-03-16 18:42] #705 closed

[2017-03-16 21:59] #719 closed

[2017-03-17 16:04] barun511 commented on #680
Right, gotcha! I'll add in the next line terminator

[2017-03-19 23:35] Brentx3 opened #723 "BUG: No captions were found in input."
I've been successfully using CCExtractor for a few years with my HDHomerunPrime. However recently one channel (Disney) stopped extracting in CCExtractor, but the captions show correctly in VLC media player. I can't figure out why they won't extract.

Link to an example transport stream file:
https://drive.google.com/open?id=0BzchVf99j5mrbUYwSzhQUlJCUDA

CCExtractor Version 0.85

[2017-03-20 14:12] Izaron opened #724 "[PROPOSAL] Add WebVTT output from Matroska"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2017-03-20 14:14] Izaron commented on #724
GSoC: This issue gives 4 qualification points. (For good PR. Because it's really hard for a newcomers)

[2017-03-20 17:44] #680 closed

[2017-03-21 11:25] siddharthjindal1997 commented on #723
@cfsmp3 this bug also due to premature end of file. here number of bytes received is 0 which is not printed due to
`if (result != 188)
	{
		if (result > 0)
			mprint("Premature end of file - Transport Stream packet is incomplete (expected 188 bytes, got %lld).\n", result);
		return CCX_EOF;
	}`

in file ts_functions.c

it should be result>=0 for printing the error -premature end of file.
can you p

[2017-03-21 12:37] Izaron commented on #723
@siddharthjindal1997 I guess that `result = 0` just means that **all** packets in the file are correct (not broken), but if we have packet with the size [1..187], that means we have a cropped file or simular error.

[2017-03-21 17:18] Brentx3 commented on #723
I think the 'premature end of file' was my fault, I copied the transport stream while it was recording.

Here is a link to a complete file: https://drive.google.com/open?id=0BzchVf99j5mrYkhmS3dmeXlCclE

Hopefully that is a better example file, that shows the issue better.

[2017-03-22 10:28] december-soul commented on #447
any news for that?

[2017-03-22 17:59] cfsmp3 opened #726 "[PROPOSAL] Process closed captions and burned-in subtitles in one pass"
There's some subs that have both closed captions and burned-in subtitles. This happens typically when part of the audio is in English (which is closed captions so the viewers can enable/disable them) while part of the audio is in a different language, which is subtitled for everyone.

A very good example is the Americans, in which a good portion of the audio is in Russian.

**This task gives ENOUG

[2017-03-28 12:58] LucasYoung commented on #724
Hi, I've started working on this proposal. It appears that the [link](https://paste.fedoraproject.org/paste/8k8QTPpcKeT5jtrYx3f6zV5M1UNdIGYhyRLivL9gydE=/raw) to the source of the WebVTT subs for the test is broken.

[2017-03-28 20:22] xavlolo opened #727 "CCExtractor with OCR for MAC OS"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2017-03-29 18:33] cfsmp3 commented on #727
GSoC qualification: 5 points.

[2017-04-05 07:32] HaneolLee opened #730 "Error data is continuously output"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2017-04-09 19:21] saurabhshri commented on #723
The video file doesn't appear to have a separate stream for captions (as tested by tools like mediainfo and ffprobe).

But the output of video stream by ffprobe mentions closed captions :

[code]

This is a direct quote from conversation with @cfsmp3  on slack regarding the same :

It should be helpful for someone working on the issue. :)

[2017-04-10 18:49] cfsmp3 commented on #723
Fixed in master. Various notes, in case we have to revisit:

- VLC source code for PMT parsing: https://github.com/videolan/vlc/blob/8924974ac13958b2850a9923f07cc11e918279a1/modules/demux/mpeg/ts_psi.c

Fixed by doing this in our parse_PMT:
	current_next_indicator = buf[5] & 0x01;
	// This table is not active, no need to evaluate
	if (!current_next_indicator && pinfo->version!=0xFF) // 0xFF means

[2017-04-10 18:49] #723 closed

[2017-04-11 00:12] cfsmp3 commented on #730
There's some kind of problem with the input file (a NAL fails to be decoded) and after that CCExtractor is unable to recover. Must be possible since VLC does it though.

This will need some patience and debugging timing.

GSoC: 5 points.

[2017-04-11 07:39] unicode45 commented on #205
It seems characters code is wrong in Korean subtitle on lastest version 0.85b.
CEA-708 Korean is written in EUC-KR, so you have to convert original EUC-KR to target encoding (except Latin1) before saving.
There’re no problems with opening subtitle with EUC-KR extracted by version 0.78 and 0.79, but something is wrong on ver. 0.85b.

[2017-04-12 06:34] cfsmp3 commented on #726
A sample video:

https://drive.google.com/open?id=0B_61ywKPmI0TeU5rOTlCMWxKbW8

[2017-04-12 22:52] madykstra opened #733 "[PROPOSAL] Add support for .mcc files"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X ] I have check

[2017-04-13 05:08] #724 closed

[2017-04-16 02:11] Liontooth opened #735 "[BUG] French captions lack accents"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.84

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked tha

[2017-04-17 04:35] qacollective opened #736 "[PROPOSAL] Provide plugin for ffmpeg?"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X ] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X ] I have checke

[2017-04-22 14:33] saurabhshri commented on #735
I downloaded the file, and checked. The file has only one subtitle stream (teletext) along with burned in subtitles. I couldn't find English subtitles.

Further, I could not get VLC to display the teletext subtitles as it yielded codec error.

![screenshot 318](https://cloud.githubusercontent.com/assets/12415700/25305238/45c48ca0-2795-11e7-8396-2db938f50ae2.png)

So, I downloaded `smplayer` and it

[2017-04-22 14:39] saurabhshri commented on #699
Closing through #725 . The issue appears to be resolved with attached file.
Note : Timing is off by few milliseconds (but they may be for good, maybe someone can check on it).

[2017-04-22 14:39] #699 closed

[2017-04-22 23:36] Liontooth commented on #735
French subtitles are on teletext page 891 and English on 892. For some reason VLC doesn't see them; instead, it displays only the German DVB subtitles. This is not the subject of this bug report, though I agree it would be helpful to see if VLC shows the captions correctly, with accents.

The issue is that CCExtractor successfully extracts French teletext on page 891, but they lack accents (diacri

[2017-04-24 00:34] mkver commented on #735
VLC does not give me an error. Instead it shows the subtitles -- without accents:
![vlcsnap-3879-05-27-22h58m24s352](https://cloud.githubusercontent.com/assets/18448094/25318830/720c0e26-2896-11e7-863c-519f86dde24b.jpg)
![vlcsnap-4524-05-20-19h16m39s827](https://cloud.githubusercontent.com/assets/18448094/25318831/720fb6ac-2896-11e7-9ffe-6d7476716fbb.jpg)
So I guess that this is no bug in ccextrac

[2017-04-24 06:39] mkver opened #737 "[BUG/PROPOSAL] Levenshtein algorithm automatically merges lines"
CCExtractor detailed version info
	Version: 0.85
	Git commit: 5fa83394a0c0300244eb5707b30d344d7687bb2c
	Compilation date: 2017-01-26
	File SHA256: Could not open file

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporting can be replicated, or that the feature I

[2017-04-24 19:00] cfsmp3 commented on #735
Confirmed. This issue happens here:

(in telxcc.c)

uint16_t telx_to_ucs2(uint8_t c)
{
	if (PARITY_8[c] == 0)
	{
		dbg_print (CCX_DMT_TELETEXT,  "- Unrecoverable data error; PARITY(%02x)\n", c);
		return 0x20;
	}

	uint16_t r = c & 0x7f;
	if (r >= 0x20)
		r = G0[default_g0_charset][r - 0x20];
	return r;
}

For that 'è`  in the 4th line the value of c is 229 (ä), which is converted to 'e' via that

[2017-04-24 19:12] cfsmp3 commented on #737
Added -dolevdist to disable automatic typo fixing.

[2017-04-24 19:12] #737 closed

[2017-04-24 19:13] cfsmp3 commented on #735
7 GSoC points.

[2017-04-24 19:17] cfsmp3 commented on #735
Assigned to @bigharshrag since he just offered and he made the G0 changes and he offered :-) Thanks a lot Rishabh

[2017-04-24 23:32] cfsmp3 commented on #736
FFmpeg is welcome to take our code and integrate, as routinely happens with open source :-)

We won't do it ourselves though, last time we tried to get something merged into FFmpeg it was a lot of work and in the end we had to give it.

[2017-04-24 23:32] #736 closed

[2017-05-28 00:07] Liontooth opened #739 "Brazilian ISDB ignores levdistmincnt, levdistmaxpct, and unixts"
Please prefix your issue with one of the following: [BUG]

CCExtractor version (using the --version parameter preferably) : 0.85 (latest zip file from github)

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checke

[2017-06-02 19:32] #698 closed

[2017-06-13 15:27] discoronin commented on #207
Considering that this is a feature request... I have a client requesting it.  If we were to sponsor it... how much and how long make available?  I have a source sample MXF and a SMPTE-TT file that is representative of the desired outcome.  My client currently does this in a multi-step, on-prem, and time intensive manner.  If we can make this a feature of our cloud based workflow, it could be worth

[2017-06-20 21:55] Abhinav95 commented on #739
I will take a look at this around the end of this week. I presume it should not be a difficult fix but let us see.

[2017-07-06 01:59] cfsmp3 opened #745 "DVB crash"
Streaming |  00:10TS continuity counter not incremented prev/curr 10/0
DVBSub error: line overflow
Unknown/unsupported pixel block 0x82
Unknown/unsupported pixel block 0x47
Unknown/unsupported pixel block 0x88
Unknown/unsupported pixel block 0x42
Unknown/unsupported pixel block 0x84
Unknown/unsupported pixel block 0x88
Unknown/unsupported pixel block 0x42
Unknown/unsupported pixel block 0x88
Unkno

[2017-07-06 18:30] cfsmp3 commented on #745
Adding to this, finally caught something in valgrind:

something messy
==28690== Invalid read of size 1
==28690==    at 0x45A7CC: ocr_bitmap (in /usr/local/bin/ccextractor)
==28690==    by 0x45C2C6: ocr_rect (in /usr/local/bin/ccextractor)
==28690==    by 0x45F2BC: write_dvb_sub (in /usr/local/bin/ccextractor)
==28690==    by 0x45F8C0: dvbsub_decode (in /usr/local/bin/ccextractor)
==28690==    by

[2017-07-06 18:39] cfsmp3 commented on #745
I've replaced that "something messy" with an attempt to do at least skip the bitmap instead of crashing, but this definitely needs some peer review, to say the least :-)

[2017-07-06 20:07] Abhinav95 commented on #739
For future reference:-
- `-unixts 1495845901` can be made to work by turning it into `-unixts 0 -delay 1495845901000`. Basically multiply the unix timestamp by 1000 and pass it to the delay flag.
- #746 fixes duplication in ISDB when -noru is passed

[2017-07-06 20:26] Abhinav95 commented on #739
@Liontooth Can this issue be closed now? levdist is not needed in ISDB since other deduplication measures are in place. The required timestamps can be obtained by the workaround I mentioned.

[2017-07-08 10:30] rriobs opened #748 "[QUESTION]Why is -hardsubx not working"
I have run make ENABLE_HARDSUBX=yes which runs successfully but on trying to use the -hardsubx parameter, i get the error Error: Error: Parameter -hardsubx not understood.What could be the issue?thanks in advance.

[2017-07-08 11:22] rriobs commented on #748
solved by ./configure --enable-ocr --enable-hardsubx

[2017-07-08 11:22] #748 closed

[2017-07-08 13:10] rriobs opened #749 "[BUG] building in Ubuntu"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [ ] I have checked

[2017-07-08 13:12] rriobs commented on #749
Trying to tun ./autogen and ./configure.Works well on fedora but i get the following error in ubuntu:
configure: error: Package requirements (lept) were not met:

No package 'lept' found

Consider adjusting the PKG_CONFIG_PATH environment variable if you
installed software in a non-standard prefix.

Alternatively, you may set the environment variables lept_CFLAGS
and lept_LIBS to avoid the need to

[2017-07-08 13:50] saurabhshri commented on #749
Hello @rriobs ! Please make sure you've met all the dependencies listed here : https://github.com/CCExtractor/ccextractor#compiling (specifically leptonica, as per the error message).

If you already have them installed, please make sure the environment variables are set so that CCExtractor can find them.

You may also use `build.sh` in the `/linux` directory to build CCExtractor as well.

[2017-07-08 16:25] rriobs commented on #749
Hi.am really stuck here.could you please provide an example instance of hoe to set up the environment variable? Am trying export lept_LIBS="/usr/lib/" but it is not working.I will appreciate your help.thank you

[2017-07-08 17:08] saurabhshri commented on #749
@rriobs Have you tried doing `sudo apt-get install -y libleptonica-dev` ?

[2017-07-08 18:11] rriobs commented on #749
yes libleptonica-dev is installed.

[2017-07-08 18:20] rriobs commented on #749
it worked well in frdora...it is ubuntu whichh has issues.Am using 14.04

[2017-07-09 05:43] anshul1912 commented on #749
In older Ubuntu this problem was there, because pkg-config of leptonica was
not correct.

Can you try uninstalling leptonica given by apt-get and manually installing
though tar file given on leptonica site.

Thanks
Anshul Maheshwari

On 08-Jul-2017 11:50 PM, "rriobs" <notifications@github.com> wrote:

[2017-07-09 12:24] rriobs commented on #749
Hi Anshul
I had to to compile both leptonica and tesseract from source for the compilation to work.Thank you very much for your assistance.

[2017-07-09 12:24] #749 closed

[2017-07-09 14:49] rriobs opened #750 "[QUESTION] What is the recommended hardware environment for CCextractor with hardsubs enabled?"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2017-07-09 14:52] rriobs commented on #750
Hi.What are the recommended hardware specifications to use ccextractor.I have tested it on an old 2 core pc and it hangs after sometime.I deployed it to an ubuntu server from digital ocean and the process gets killed after some time.

I would appreciate any information on the specs that the build was tested on.Otherwise good work.

[2017-07-09 14:53] rriobs commented on #750
I should addd that am testing for chi sim in my ocrlang

[2017-07-13 23:28] edr1 opened #752 "[BUG] CCExtractorGUI 8.5 does not work on a video file with MPEG-TS container"
Hello there,
Please, I have a video file with MPEG-TS format (Transport Stream) and 2 text streams with closed caption data embedded into the file (EIA 608 / EIA 708), but unfortunately the CCExtractorGUI is not able to extract the closed caption data because the program seems to stuck in 0% with a message:
**"Found large gap(4874420) in PTS! Trying to recover ..."**
The command line with all para

[2017-07-14 11:21] jordiNavines opened #753 "[BUG] Can't extract WEBVTT Closed Captions"
Please prefix your issue with one of the following: BUG.

CCExtractor version (using the --version parameter preferably) : 0.85

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked that the bug-fix I am reporti

[2017-07-14 11:58] saurabhshri commented on #753
Some notes :

In https://github.com/CCExtractor/ccextractor/blob/master/src/lib_ccx/ccx_encoders_webvtt.c#L243 , it tries to access `timing` variable of type `ccx_common_timing_ctx` belonging to `encoder_ctx`which is uninitialised, resulting in segfault.

[2017-07-14 20:01] #753 closed

[2017-07-14 22:45] cfsmp3 commented on #750
Please contact us in slack for support - the GitHub issue tracker is well, for issues :-)

[2017-07-14 22:45] #750 closed

[2017-07-15 11:23] saurabhshri commented on #753
Hello @jordiNavines ! Thank you for reporting the bug. Please try again with the latest code in the repository. Feel free to re-open the issue if you think it's not resolved or open a new issue if you find one! :)

[2017-07-18 19:47] saurabhshri opened #756 "[BUG] [TESTING] Reporting issue to test new Github Integration on Sample Platform."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2017-07-18 19:53] saurabhshri commented on #756
Primary test was successful, reporting from Platform definitely works! :)

[2017-07-18 19:53] #756 closed

[2017-07-18 21:35] rboy1 opened #757 "CCExtractor says no closed captions found in a EIA TS file"
Using the latest 0.85b build of ccextractor, I tried a sample TS video file with EIA closed captions:

The file can be downloaded from here (sample)
http://streams.videolan.org/streams/ts/Closed%20Caption%20EIA.ts

CCExtractor says no closed captions found

[code]

[2017-07-21 00:15] rboy1 commented on #757
Any thoughts?

[2017-07-24 08:14] canihavesomecoffee commented on #757
Media info says there's a CC stream, but it has no size:

![image](https://user-images.githubusercontent.com/7365586/28514042-d7d71ec6-7058-11e7-85ea-abe0535e9b49.png)

That might explain why CCExtractor cannot extract anything...

[2017-07-24 11:54] saurabhshri commented on #757
VLC on the other hand displays the captions just fine, it detects 4 closed caption streams. This looks similar to : https://github.com/CCExtractor/ccextractor/issues/723#issuecomment-292806654 .

[2017-08-06 17:19] satyammittal opened #762 "[BUG] Issue while building ccextractor with cmakefile"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2017-08-07 07:04] saurabhshri commented on #762
From your error log @satyammittal , it's evident that the makefile tries to compile `/win_iconv/iconv.h` even when the platform is Linux. The reason is the set of commands you are issuing.

You are generating makefile from cmake in the same directory where the libraries resides. Please create a separate folder in which you intend to keep the built files so that they don't get mixed with source fil

[2017-08-07 12:11] satyammittal commented on #762
@saurabhshri  Thanks it works. May be some cache issue of cmake. :)

[2017-08-07 12:11] #762 closed

[2017-08-14 09:25] aaaxx opened #766 "[PROPOSAL] Make UTF-8 the default output encoding"
Pretty self-explanatory, I believe.

I can't think of any good reason to keep it Latin-1, especially since even English captions usually use music symbols, which are then replaced with a garbage character.

Actually, might as well go ahead and get rid of other options entirely and always output UTF-8; it's 2017, not 1997. 😎

[2017-08-14 09:42] aaaxx opened #767 "[BUG] "Unicode" output encoding mixes newlines"
CCExtractor version: **0.85**
Platform: Windows

Using the combination of Unicode encoding and "DOS/Windows (CRLF)" line terminators creates files that use both CR and CRLF newlines. (The "UNIX (LF)" option works fine, though.)

![screenshot of an affected file opened in a text editor, with whitespace characters visible](https://user-images.githubusercontent.com/6186480/29266377-d5d12a94-80e4-11e7

[2017-08-14 20:14] cfsmp3 commented on #766
UTF-8 has been the default in CCExtractor for quite a while already.

options->enc_cfg.encoding = CCX_ENC_UTF_8;

Cannot get rid of the others. Some players and tools (Subrip being one) still assume Latin-1 as default (and may be the only thing they support).

[2017-08-14 20:14] #766 closed

[2017-08-14 22:01] aaaxx commented on #766
Hmm, that's odd: a clean install defaults to Latin-1 for me (v0.85).

[2017-08-14 23:04] cfsmp3 commented on #766
Is this windows or linux?

On Mon, Aug 14, 2017 at 3:01 PM, aaaxx <notifications@github.com> wrote:

[2017-08-14 23:24] aaaxx commented on #766
Windows.

[2017-09-07 06:57] fredericgermain opened #774 "[BUG] ccextractor HEAD do not link anymore (missing python_extract_g608_grid)"
it seems python_extract_g608_grid is a recent addition

make errors I have on my fedora 25 :

[100%] Linking C executable ccextractor
lib_ccx/libccx.a(ccx_encoders_python.c.o): In function `pass_cc_buffer_to_python':
/home/fred/workspaces/langues/subtitle_detect/ccextractor/src/lib_ccx/ccx_encoders_python.c:32: undefined reference to `python_extract_g608_grid'
/home/fred/workspaces/langues/subtitl

[2017-09-20 13:13] fcartegnie commented on #286
while(true)
{
  add samples,
  remove samples,
}

really annoying

[2017-09-21 18:58] mackworth opened #776 "[BUG] Mac compiling errors"
CCExtractor version (using the --version parameter preferably) : 0.86
(Please see required affirmations at end of submittal...)

**Necessary information**
- Is this a regression (did it work before)? [ ] NO | [x] YES -  last known working version = 0.84
- What platform did you use? [ ] Windows - [ ] Linux - [x] Mac
- What where the used arguments? N/A

**Additional information**
When I try to comp

[2017-09-22 06:10] saurabhshri commented on #776
Hello @mackworth ! There are so many build methods, and when any critical change is introduced, it's needed to be covered across all build scripts. A recent such change was made and it was not reflected across all the build scripts, hence the linker errors.

I think it's worth editing the contributor's guide to remind them to make these changes whenever they push code which affects installation an

[2017-09-22 06:34] saurabhshri commented on #776
[Related : #774]

[2017-09-22 22:34] mackworth commented on #776
So, that took me down quite a rabbit hole.
First problem, the build.command file does not compile the API file extractor.h.
Secondly, I did have PNG downloaded; I think it had the same problem as iconv below, but I changed the cmakelists.txt as you suggested, and it fixed it.
Third, when you compile with OCR, loading those libraries changes which `iconv.h` gets loaded. The system library is intent

[2017-09-23 00:13] cfsmp3 opened #778 "Need to update libGPAC"
Lots of warnings in Debian 9 (comes with a newer GCC, as and usual, that breaks stuff).

[2017-09-26 01:46] tjmorris11 opened #779 "[BUG] subtitles extract but no delay added"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2017-09-28 20:00] cfsmp3 opened #780 "Compilation warnings on C++ 11"
../src/ccextractor.cpp:813:12: warning: invalid suffix on literal; C++11 requires a space between literal and string macro [-Wliteral-suffix]
   mprint ( "Teletext decoder: %"PRIu32" packets processed, %"PRIu32" SRT frames written.\n", tlt_packet_counter, tlt_frames_produced);
            ^
../src/ccextractor.cpp:813:39: warning: invalid suffix on literal; C++11 requires a space between literal an

[2017-09-29 18:45] cfsmp3 commented on #727
I'm closing this because I don't know what the error is and it's been inactive for a long time. Reopen if needed.

[2017-09-29 18:45] #727 closed

[2017-10-02 14:22] iha commented on #757
I don't think this information about stream size from mediainfo makes sense with closed captions, there is another file in vlc samples [0] and the stream size is zero, but ccextractor works. Anyway I'm working in this bug.

[0] http://streams.videolan.org/streams/ts/atsc-cea-708-dtvcc-and-cea-608.ts

[2017-10-02 19:19] saurabhshri commented on #776
@cfsmp3 fixed through #777 & #781 .

[2017-10-02 19:20] saurabhshri commented on #774
@cfsmp3 fixed through #781 !

[2017-10-02 19:21] #774 closed

[2017-10-02 19:21] #776 closed

[2017-10-02 19:56] saurabhshri commented on #767
@aaaxx What exact command did you use? Also, did the video by any change had bitmap subtitles (e.g. was it a DVB sample?).

I have made a PR which should hopefully fix this (as the context based newlines were missing).

[2017-10-02 23:37] aaaxx commented on #767
[code]

The source is a retail DVD (multiple VOB files).

Note that it happens only with `-unicode`, not with `-utf8` and `-latin1`.

[2017-10-02 23:41] aaaxx commented on #767
And yes, it also had bitmap subtitles.

[2017-10-03 15:24] #767 closed

[2017-10-03 18:05] saurabhshri commented on #767
@aaaxx Please try again with the latest code from the repo, and if you still see the mixed line endings, feel free to re-open the issue.

[2017-10-03 22:07] aaaxx commented on #767
Sorry, I'm not geeky enough to know how to compile things, but if you can be bothered to make an exe, I'll test it.

[2017-10-04 10:50] shirishag75 opened #785 "CCExtractor Infographic should have subtitles somewhere."
Hi all,

I was looking at https://www.ccextractor.org/public:general:about_the_org, decided to download the video and see if the video itself has subtitles. Unfortunately it doesn't.

[code]

Please fix the issue if possible.

[2017-10-04 10:51] #785 closed

[2017-10-04 10:52] shirishag75 commented on #785
just found out that the automated one works just fine.

[code]

Although having .srt would have been better IMHO.

[2017-10-04 10:56] saurabhshri commented on #785
@ManveerBasra Made that video last year for a GCI task :) If you'd like, @shirishag75  you can create the subtitle file, and we'll upload it.

[2017-10-04 21:27] mackworth commented on #780
Oh, man. If you want compiler warnings, there's always been a gazilllion on the mac. (where gazillion is defined as "about 300" currently)

I particularly like the "tautological" ones:

[2017-10-09 19:32] cfsmp3 commented on #780
@mackworth where are those warnings? If they are in GPAC or any other library we just borrowed probably not worth it to do anything about it (except update the library), but if they are in our code we should definitely fix them.

[2017-10-09 22:42] cfsmp3 opened #792 "Integrate libexplain to provide better error explanations"
http://libexplain.sourceforge.net/

is a library that wraps a number of OS calls and on failure provide useful description of what went wrong. It seems like a good idea to integrate it, and not really a lot of work.

[2017-10-09 22:49] cfsmp3 opened #793 "Start a translations infrastracture"
CCExtractor (and the GUI) has all texts hardcoded in the code. It would be a good idea to support several languages. As a first step we'd need to move all the texts to a separate file so that it's easy to later generate a proper multilanguage architecture (or well, probably there's many libraries we can use) and finally generate the translations for some languages.

[2017-10-13 21:51] mackworth commented on #780
So, the errors are generated from api/extractors/extractor.c,  src/lib_ccx  src/zlib, and src/zvbi
[ccextractor Errors.zip](https://github.com/CCExtractor/ccextractor/files/1384100/ccextractor.Errors.zip)

[2017-10-13 22:10] shucon commented on #780
@csfmp3 all the warnings are not eliminated yet , reopen the issue please.

[2017-10-14 11:54] saurabhshri commented on #780
@cfsmp3 Please re-open the issue.

Note to the people working on this issue : ff you are building on Linux using the build scripts located inside the `/linux/` directory, please use `./builddebug` for complete list of warnings being generated.

[2017-10-16 03:05] Liontooth commented on #739
The issues appear to be resolved, so I'm closing. Thank you!

[2017-10-16 03:05] #739 closed

[2017-10-17 08:46] mahalwal commented on #662
@cfsmp3  hey can you please tell how to generate the same memcheck? I was doing `valgrind --leak-check=yes /linux/./build` Is this the right way?

[2017-10-20 04:10] saurabhshri commented on #662
@mahalwal That’s the Valrgind output while processing a file which uses OCR (e.g. a DVB file). So, you'd want to do ` valgrind --leak-check=yes ./ccextractor /path/to/file/ <options>` . If you're looking for samples, find some at https://sampleplatform.ccextractor.org/sample or https://www.ccextractor.org/public:general:tvsamples .

[2017-10-20 09:01] shucon commented on #678
Is this issue still open?

[2017-10-25 00:23] cfsmp3 commented on #678
@shucon Not sure if the work was completed. Take a look and let us know :-)

[2017-11-01 16:37] shucon commented on #678
I think the .deb file is broken @cfsmp3 should I go ahead with it?

[2017-11-01 16:52] cfsmp3 commented on #678
broken how?

On Wed, Nov 1, 2017 at 9:37 AM, Saksham Gupta <notifications@github.com>
wrote:

[2017-11-01 17:04] shucon commented on #678
When I run the .deb file it doesn't complete the installation and exits after showing some errors.

[2017-11-01 18:21] cfsmp3 commented on #678
Which errors? :-) Full output.

On Wed, Nov 1, 2017 at 10:04 AM, Saksham Gupta <notifications@github.com>
wrote:

[2017-11-13 21:46] cfsmp3 opened #805 "CCExtractor won't extract subtitles from TS with no PAT/PMT"
[forwarded from a user email, resposted with permission]

The company Channel Master has produced a video recorder named DVR+.  It records over-the-air television broadcasts in the USA.  It has some internet channel capability, but does not record cable or satellite broadcasts.  It is gaining in popularity in the U.S. market.

It records a single program - demuxing it from a multi-program channel

[2017-11-18 16:01] canihavesomecoffee commented on #279
@ruralman I modified your title to English so that it's a bit clearer :)

Hope you don't mind.

[2017-11-19 10:28] benninkcorien opened #806 "[BUG] GUI, Burned-in Subtitle Extraction not working"
CCExtractor version (using the --version parameter preferably) : 0,85

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am suggesting

[2017-11-20 19:27] cfsmp3 commented on #436
Sample link dead. Closing - reopen if the issue is still present (but with a permanent link).

[2017-11-20 19:50] mackworth commented on #436
Sorry, hadn't heard anything in so long, I cleaned up my dropbox directory to save space.  Does @MatejMecka still have a copy?

[2017-11-23 04:12] Pennyliu999 opened #807 "[BUG]Can't extract multi-track subtitles from .mp4"
CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [ X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X ] I have checked that the bug-fix I am reporting can be replicated, or that the feature I am sugge

[2017-11-27 18:27] cfsmp3 commented on #286
Links not working - closing ticket.
Reopen when posting new links. Also, links should be permanent, otherwise it's unlikely we'll ever work on this. We just have to have access to the files when we have time, otherwise we just move on.

[2017-11-29 15:41] Pirater12 commented on #767
![task_2_3](https://user-images.githubusercontent.com/16360444/33383558-aa329c88-d549-11e7-92fc-982dbbb8447e.png)
This issue was fixed with pr #783.

[2017-11-29 17:47] saurabhshri commented on #767
@Pirater12 Thank you for validating the fix! :)

[2017-12-01 08:01] TheFaR8 opened #810 "[BUG]Timing Issues"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2017-12-01 10:28] shucon commented on #641
@Izaron I was about to open an issue for the same , but found it here , maybe I could start working on this.

[2017-12-01 15:46] cfsmp3 commented on #641
Definitely, go ahead :-)

On Fri, Dec 1, 2017 at 2:28 AM, Saksham Gupta <notifications@github.com>
wrote:

[2017-12-02 09:16] harrynull opened #812 "[BUG] CMake does not work with Visual Studio"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.85

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked tha

[2017-12-02 16:44] mahalwal commented on #718
@SteveMak @cfsmp3 Can you please provide the link to sample file?

[2017-12-03 22:19] Hallikas commented on #779
I can confirm this. Delay parameter does not seem to work.

semi@convert1:/data/Elokuvat.ok/z_new# ccextractor **-delay 1400** -gt -utf8 -dvblang fin -noteletext -nocodec teletext -nodvbcolor --nofontcolor --notypesetting -trim -srt ts-stream-with-single-subs.ts -o output.srt
CCExtractor 0.85, Carlos Fernandez Sanz, Volker Quetschke.
Teletext portions taken from Petr Kutalek's telxcc
-------------

[2017-12-04 03:41] SteveMak commented on #718
It’s been so long since I reported this, I don’t know which file it is, or whether I still have it.

-Steve

From: Manish Mahalwal [mailto:notifications@github.com]
Sent: Saturday, December 02, 2017 11:45 AM
To: CCExtractor/ccextractor
Cc: SteveMak; Mention
Subject: Re: [CCExtractor/ccextractor] BUG: Does not extract forced and non-forced tracks for same language (#718)

@SteveMak <https://github.

[2017-12-04 04:56] cfsmp3 commented on #718
Closing this issue then.

[2017-12-04 04:56] #718 closed

[2017-12-05 16:46] cfsmp3 commented on #779
Fixed, reopen if the issue appears again.

[2017-12-05 21:24] tjmorris11 commented on #779
 hi ...thanks for update

    1.  the problem is Not fixed..
    2. how do I re-open
    thank you
    Trevor

    On 12/6/2017 2:16 AM, Carlos Fernandez
      Sanz wrote:

      Fixed, reopen if the issue appears again.
      —
        You are receiving this because you authored the thread.
        Reply to this email directly, view
          it on GitHub, or mute
          the thread.

      {"a

[2017-12-05 22:06] saurabhshri commented on #779
@tjmorris11 I just tested with the sample you've attached, and the delay parameter just worked fine. Here are the outputs :

1. Without delay parameter : `./ccextractor Judge\ Judy\).ts`

[code]

2. With delay parameter : `./ccextractor Judge\ Judy\).ts -delay 1111`

[code]

Could you please tell the exact parameters you are using to set the delay?

[2017-12-05 22:51] Hallikas commented on #779
I have that same problem. I have TS file with subtitles, that TS has delay itself, but ccextractor does not see that. That's why I need to add manual delay.

$ ffprobe Outlander_-_Matkantekijä_\(16\)_20171129_2135.subs.ts
ffprobe version 2.8.11-0ubuntu0.16.04.1 Copyright (c) 2007-2017 the FFmpeg developers
  built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.4) 20160609
Input #0, mpegts, from 'Outl

[2017-12-05 23:13] cfsmp3 commented on #779
@harrynull can you check it out? Most likely the delay needs to be added to a different branch of code as well - specifically, the DVB (that's European subtitles) one.

[2017-12-05 23:18] harrynull commented on #779
@cfsmp3 I'll check.

[2017-12-05 23:59] cfsmp3 commented on #752
Can't reproduce, seems fixed in current master. Please reopen the issue if needed.

[2017-12-05 23:59] #752 closed

[2017-12-06 02:57] tjmorris11 commented on #779
 hi ... thanks for the reply
                            I have not explained my self very well. (
      and I have not  uploaded a good ".TS"example)

              Only some TV recordings have  subtitles that are out
        of sync ....

        and that is Not the fault of ccextractor
        it is the fault of the broadcaster
        generally 'live tv programs'

          so for those tv  li

[2017-12-06 04:55] harrynull commented on #779
The delay is set correctly if you manually set the delay parameter.
Note that the issue is fixed but the fixed version of CCExtractor has not been released yet. To make it work, you need to wait for the next release or compile it by yourself.

I have attached the latest version of CCExtractor for you. Try this one and see if it works.
[ccextractor.zip](https://github.com/CCExtractor/ccextractor/fi

[2017-12-06 07:23] tjmorris11 commented on #779
    well done &  thanks .....  what you sent me works.......
     I thought  ccextractor 8.5b was the latest, i down loaded it 
    earlier this morning and it failed
    but what ever  version you sent me today  , works great....
     thanks again
    p.s.  what I had been doing, as a work around, I wrote a  app in
      .net to add delays  but that  just adds an extra layer
    PP.s    OOpps   I

[2017-12-08 15:38] cfsmp3 commented on #304
Closing - file no longer available. Reopen if needed.

[2017-12-08 15:38] #304 closed

[2017-12-08 22:45] cfsmp3 commented on #779
Yes, please open a new ticket if it's a different issue, thanks.

On Tue, Dec 5, 2017 at 11:23 PM, tjmorris11 <notifications@github.com>
wrote:

[2017-12-09 04:06] tjmorris11 opened #829 "[BUG] ver 0.85b Option code --sentencecap or -sc does not work"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

-[x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked t

[2017-12-10 05:08] harrynull commented on #224
The video is in Cantonese; the subtitles are in Traditional Chinese.

The result is not satisfying. Although some (~20%) of subtitles are extracted correctly, most of them are just random characters. The timing is not good as well. The video itself is also somehow damaged. CCExtractor crashes half-way with -ocrlang (it says "something messy"), but it works if I use parameter -out=spupng. It could

[2017-12-16 10:05] #812 closed

[2017-12-21 12:31] saurabhshah0410 commented on #726
Is this bug still open?

[2017-12-21 23:19] mahalwal commented on #677
@fsh240led Can you tell which font are you using from this link? ( http://ko.cooltext.com/Fonts-Unicode-Korean ) I tried Batang(che), Gungsuh(che) and they are still giving random characters.

[2017-12-22 00:05] MaxEliaserAWS opened #840 "[BUG] unable to extract multiple lines from DVB-sub using OCR"
CCExtractor version (using the --version parameter preferably) : **0.85** _and_ **Git commit 18584259447a145a1b8c1cae6733223393dfb4f1**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am

[2017-12-22 00:28] MaxEliaserAWS commented on #840
I also notice that removing the -novbcolor option causes a segfault on both input files, but I don't want color output anyway.

[2017-12-22 06:37] cfsmp3 commented on #726
Yes.

On Thu, Dec 21, 2017 at 1:31 PM, Saurabh Shah <notifications@github.com>
wrote:

[2017-12-23 00:20] #829 closed

[2017-12-23 04:44] tjmorris11 commented on #829
Hi  ....   what do I do now ...

               I clicked on  #842  
      and found the issue was proving to fail ( on windows  and in
      teletext)
      -- do I wait for update emails from you          OR               
      do I just follow  #842

      thanks Trevor

    On 12/23/2017 9:50 AM, Carlos Fernandez
      Sanz wrote:

      Closed #829
        via #842.
      —
        You are r

[2017-12-23 20:05] mahalwal commented on #829
Hi
@tjmorris11 Please follow the fix from #842. The windows build is failing due to some other reasons.

--
Manish

[2017-12-24 23:14] mahalwal commented on #384
@cfsmp3 @SviMik Sample is not available.

[2017-12-25 00:52] unicode45 commented on #690
Version 0.85 still can not extract proper Korean characters.

I've attached sample srt files using below samples.
https://drive.google.com/drive/folders/0B_61ywKPmI0TZU00VjRYWENfYjg

Files start with Ver079 is correct. 0.85 produce broken characters except ASCII charcters.
[cea708.zip](https://github.com/CCExtractor/ccextractor/files/1585153/cea708.zip)

[2017-12-25 03:34] gray-v commented on #840
Gets Failed to perform OCR, Skipped when I'm running it, after the first line. Likely it's not recognizing the second and third lines or handling them incorrectly. How are multiple lines in DVB handled currently?

[2017-12-25 04:10] SviMik commented on #384
@mahalwal sent the sample to your email.

[2017-12-25 04:24] gray-v commented on #840
Wait nevermind it gets them successfully it just doesn't print them fully because ???

[2017-12-25 04:27] gray-v commented on #840
ahahahahha nevermind it was literally just a single split on '\n' in dvb subs

[2017-12-25 05:01] gray-v commented on #247
Tesseract thingy fixed, but this still crashes at PTS: 21:57:43:392 (2820737994)  FTS: 00:00:05:280 due to access violation, trying to read from a pointer to 0 at some point

[2017-12-25 05:15] gray-v commented on #641
Yo can I get a sample for this one?

[2017-12-26 00:24] gray-v commented on #690
Further regressions since 0.85: I get 00:00:01,234 --> 00:00:01,368
     җס, Ѩ½ ֧ٮLߺյԄ.
instead of 00:00:01,601 --> 00:00:01,735
     뇗랡, 냨쇽 뚧릮샌뻺듵도.

[2017-12-26 03:01] gray-v commented on #690
....mate, I don't know how Korean encoding works, but in the previous versions I'm not getting korean, I'm literally getting invalid unicode characters, period. @HaneolLee Please confirm what encoding you're using to get Korean from the subs?

[2017-12-26 03:23] gray-v commented on #720
Wait if there's no sample or input file how am I supposed to solve this augh

[2017-12-26 05:03] unicode45 commented on #690
Basically EUC-KR is common but both Unicode and EUC-KR can be used.
You can find which encoding is used by checking Caption Service Descriptor in PMT.
If language field contains 'kor' or 'KOR' and korean_code field is 0, it's unicode(while 1 is EUC-KR).

[2017-12-26 05:14] #840 closed

[2017-12-26 06:52] gray-v commented on #690
OK, fairly sure we don't have EUC-KR support and that definitely wasn't EUC-KR since it was on notepad of all things so I'm just as stumped here. I'll work on EUC-KR support, I guess, there's a cool free lib for that but other than that I'm actually stumped since none of these are legible outputs and I have no idea what encoding @HaneolLee used to get that output on 0.84

[2017-12-26 07:30] unicode45 commented on #690
I think ccextractor requires iconv (libiconv) for it. I could convert it by adding "-svc all[EUC-KR]".

[2017-12-26 09:08] #247 closed

[2017-12-26 10:21] harrynull commented on #279
`000prueba hercules.ts` works perfectly. Subtitles are extracted correctly.
`000prueba brujula.ts`'s output is quite messed up. The cause is that the subtitle is divided into multiple regions, like shown below:
![test 4](https://user-images.githubusercontent.com/7413706/34354301-3f848caa-ea68-11e7-9913-1fbaa8a70985.png)
![test 3](https://user-images.githubusercontent.com/7413706/34354300-3f52c38c-

[2017-12-26 13:46] cfsmp3 commented on #279
This is quite interesting.
If spupng works well then it's clearly a solvable problem.
Do you want to give it a go?

On Tue, Dec 26, 2017 at 11:21 AM, Null <notifications@github.com> wrote:

[2017-12-26 14:25] harrynull commented on #279
@cfsmp3 It doesn't seem to be easy to fix, but I will give it a try.

[2017-12-27 18:00] MaxEliaserAWS commented on #840
I can confirm that this issue is now fixed, and a Git snapshot of ccextractor is now working well for my purposes. Great job getting this turned around so quickly, and over the Christmas weekend too!

Are you guys going to want to copy those input files anywhere for regression testing purposes? I'm going to want to take down that S3 bucket eventually...

[2017-12-27 23:15] gray-v commented on #690
Confirming, on latest builds conversions for both samples linked by @unicode45 process successfully if I add -svc all[EUC-KR]

mystery solved

[2017-12-27 23:38] cfsmp3 commented on #690
Can we make it work without the user passing EUC-KR? (i.e. detect the
correct encoding ourselves)

On Thu, Dec 28, 2017 at 12:15 AM, Alex Huang <notifications@github.com>
wrote:

[2017-12-27 23:59] gray-v commented on #690
Doesn't seem possible, valid EUC-KR characters are also valid Unicode characters and I reckon it would be very hard to tell automatically what the correct encoding.

[2017-12-28 08:16] cfsmp3 commented on #840
@MaxEliaserAWS we'll copy it to our regression testing platform in the next few days, we'll let you know when done.
@canihavesomecoffee can you take care of this?

[2017-12-28 08:19] #279 closed

[2017-12-28 15:52] MatejMecka commented on #792
Libexplain will only work on Linux and Mac sadly.

Sadly there also external dependencies that will need to be installed using a packet manager which I don't think the End user would want.

The external dependencies a user would need to install is: libcap
* lsof
* GNU libtool
* bison
* GNU Groff
* GCC

Which would result in a 4 additional depedencies that will only work for Linux and Mac.

[2017-12-28 15:56] TheFaR8 commented on #792
More information can be seen [here](https://gist.github.com/TheFaR8/0c0971389074746c9052525cbd8908dc)

[2017-12-28 16:02] cfsmp3 commented on #792
Closing, definitely more work than anticipated. Not going to happen.

[2017-12-28 16:02] #792 closed

[2017-12-28 16:03] TheFaR8 commented on #792
The only problem is lsof because usually GNU/Linux user has already got their packet installed (the one came from GNU or Linux kernel).

[2017-12-28 16:04] cfsmp3 commented on #690
@gray-v did you read this?

Basically EUC-KR is common but both Unicode and EUC-KR can be used.
You can find which encoding is used by checking Caption Service Descriptor in PMT.
If language field contains 'kor' or 'KOR' and korean_code field is 0, it's unicode(while 1 is EUC-KR).

[2017-12-28 18:39] MaxEliaserAWS commented on #840
Cool. Might as well copy both files, it can't hurt right?

[2017-12-31 05:36] harrynull commented on #243
The zip files contains in total of 4 video files:

Star Wars Rebels_Disney Channel_2014-12-12_22-24.ts:
The video contains teletext subtitle.
The output is generally good, except 2 lines missing.
It is caused by `fuzzy_memcmp` in telxcc.c:809, which seems to discard the previous line if the current line has similar content to it.
In addition, I find `-out=spupng` doesn't work with teletext. Don't

[2017-12-31 08:23] cfsmp3 commented on #243
@harrynull use -nolevdist if you want fuzzy_memcpy to behave like memcpy

[2017-12-31 10:48] KOLANICH opened #869 "Please state clearly in the Readme what this is."
What does this program do? Does it do automatic speech recognition or relyes on humans? Please state clearly in the readme what this program is and isn't and how it works.

[2017-12-31 10:55] #869 closed

[2018-01-02 20:55] peterhaldbaek opened #874 "[BUG] Not able to process subtitles from DR (Danish)"
CCExtractor version (using the --version parameter preferably) : 0.85

**Necessary information**
- Is this a regression (did it work before)? [X] NO | [ ] YES - *please specify the last known working version*
- What platform did you use? [ ] Windows - [ ] Linux - [X] Mac
- What where the used arguments? `ccextractor dr1_narrow_margin.mpg -codec dvbsub -dvblang dan -ocrlang dan -pn 101 -parsePAT`

[2018-01-02 20:58] peterhaldbaek commented on #874
Just tried running against the very latest commit (377dc2a48d7dbe7d94d552a7deb430512b3a2c3b) and getting same results.

[2018-01-02 21:05] peterhaldbaek commented on #874
ffprobe reveals this information
[code]
It is the DVB subtitles of program 101 I am trying to extract.

[2018-01-03 19:02] cfsmp3 commented on #205
Closing this ticket because some files are missing - please create a new ticket with samples.

[2018-01-03 19:02] #205 closed

[2018-01-03 19:39] MatejMecka commented on #677
@fsh240led Can you tell me with which command did you got this subtitles?

[2018-01-03 19:53] MatejMecka commented on #874
I just tested your sample against CCExtractor and got this

[code]

There are large gaps during processing interesting :) Might be because I didn't run it with OCR but still something more.

Tested on: Mac Os X High Sierra.

[2018-01-03 20:03] peterhaldbaek commented on #874
I just tried running without OCR and got the same result as you. I believe I experienced this initially and thought I had to run it with OCR to make it work but something still seems off.

[2018-01-03 20:05] MatejMecka commented on #874
Ok so when I ran ccextractor without the arguments passed I got a file with around 290 bytes. I'm going to attach it in this comment. When I ran with yours I got an empty file
[dr1_narrow_margin.txt](https://github.com/CCExtractor/ccextractor/files/1601532/dr1_narrow_margin.txt)

[2018-01-03 20:14] peterhaldbaek commented on #874
That is the teletext captions of another program unfortunately.

[2018-01-03 21:58] MatejMecka commented on #874
[code]

CCExtractor seems to skip some packets not finding payloads and there is a broken PES. I guess the Broken PES seems to cause the empty subtitles.

[2018-01-03 22:22] MatejMecka commented on #874
i used -pesheaders to debug and see the contents

[code]

[2018-01-04 18:13] MatejMecka commented on #205
Hi there!
I couldn't reproduce the issue.
Can you please tell me what command you used
Thanks
@unicode45 @bigharshrag @HaneolLee

[2018-01-04 18:28] MatejMecka commented on #641
Sample?

[2018-01-05 00:41] unicode45 commented on #205
@MatejMecka
Hi,
It was solved by #690.
Thanks!

[2018-01-05 15:24] saurabhshri commented on #807
Hi @Pennyliu999 ! Thanks for reporting and providing the sample.

At present, apart from AVC tracks, we're only handling `clcp` handler code which is an Apple standard for "Closed Caption Track". The current code completely ignores `subt` ( **Subtitle track handler defined by ISO** ), `sbtl` (QuickTime Subtitle track handler defined by Apple) and `text` (Text handler code defined by 3GPP). This is

[2018-01-05 15:25] saurabhshri commented on #807
Also @Pennyliu999 , if you've more such (and different MP4) samples, we'd be very happy if you could share them! :) They will really help.

[2018-01-05 22:38] cfsmp3 commented on #807
@saurabhshri but I'm getting the errors processing the same file that used to work, and it's a GPAC error, not a CCExtractor error...

[2018-01-06 05:33] Pennyliu999 commented on #807
@saurabhshri Thanks for looking into this issue, I will upload more .mp4 files with different content and subtitles. Just for your information, if you can run Mac OSX (even in a virtual machine like vmware), you will be able to use a free app named "subler" to add mulit-track subtitles to .mp4 files just like Apple do (or like I do)

[2018-01-07 03:19] MatejMecka opened #879 "[Bug] Python Bindings don't compile with build_library"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2018-01-07 06:33] harrynull commented on #713
Some info that may be helpful:
The one that cannot be extracted is identified as MPEG2 with no PAT/PMT info.
I've used Avidemux to generate PAT/PMT but the issue still presents.
Neither VLC nor Potplayer can show subtitles in neither videos, but it could be a bug of video player because CCExtractor can extract the first video correctly.
Mediainfo says it has CEA-708 stream, but in function `do_cb`

[2018-01-08 19:53] cfsmp3 commented on #713
Keep in mind that CEA-608 and CEA-708, in transport streams, are bundled
together - so you will see CEA-608 data first, then CEA-708. So you have to
check out the complete block, not just the first two bytes.

On Sat, Jan 6, 2018 at 10:33 PM, Null <notifications@github.com> wrote:

[2018-01-09 11:18] Hori75 commented on #807
I see that the commit is in 0.7.1 version. Will try to update gpac to 0.7.1 instead of 0.7.0-release version.

[2018-01-09 18:10] saurabhshri commented on #807
@Pennyliu999 Thanks a lot, much appreciated! :) We'll add them to our regression platform. cc: @canihavesomecoffee .

[2018-01-09 23:40] harrynull opened #892 "[BUG] -out=spupng with EIA608/teletext: tags are rendered as-is."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.86

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked tha

[2018-01-09 23:45] harrynull opened #893 "[BUG] -out=spupng with EIA608/teletext: offset values in XML may be not correct"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.86

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked tha

[2018-01-10 00:52] cfsmp3 commented on #892
@harrynull This is your thing now :-) If you found something is now broken, just send a new PR to fix it. No one more qualified than you.

[2018-01-10 03:05] harrynull commented on #892
I will try to fix it probably after GCI, when I have a winter break. I am too busy right now.

[2018-01-11 20:25] #778 closed

[2018-01-11 20:34] cfsmp3 commented on #745
Closing - old report with no sample.
Note to self: Next time, at least paste the command line.

[2018-01-11 20:34] #745 closed

[2018-01-11 20:35] cfsmp3 commented on #720
Closing until we see this again. Could be fixed already, can't reproduce.

[2018-01-11 20:35] #720 closed

[2018-01-11 20:36] cfsmp3 commented on #713
Closing since seems to be the same as this one:
https://github.com/CCExtractor/ccextractor/issues/805

[2018-01-11 20:36] #713 closed

[2018-01-11 20:36] cfsmp3 commented on #805
Related: https://github.com/CCExtractor/ccextractor/issues/713

[2018-01-11 20:44] cfsmp3 commented on #256
Missing here:
- Redirect from sourceforge to github (edit sourceforge page)
- Remove all links to sourceforge from everywhere

[2018-01-11 21:00] cfsmp3 commented on #243
First one (teletext) works fine.
However the 2nd one shows a bunch of messages:

In ocr_bitmap: Failed to perform OCR. Skipped.
In ocr_bitmap: Failed to perform OCR. Skipped.
In ocr_bitmap: Failed to perform OCR. Skipped.

Takes forever, too.

[2018-01-11 21:03] #779 closed

[2018-01-11 22:33] cfsmp3 commented on #730
Update: Issue still present in 0.86, still valid for GSoC 2018

[2018-01-11 22:36] cfsmp3 commented on #687
Closing since user didn't reply to last post and we don't have a sample.

[2018-01-11 22:36] #687 closed

[2018-01-11 23:25] cfsmp3 commented on #358
Tested in 0.86, works OK - subtitles are in sync (watched a bit of the movie with VLC + our subs).

[2018-01-11 23:25] #358 closed

[2018-01-12 00:07] cfsmp3 commented on #778
Closing, libGPAC was already updated.

[2018-01-12 00:10] cfsmp3 opened #896 "Some worrying warnings in 0.86"
We have a number of warnings building 0.86.

Some are harmless (but we should deal with them - why implicit declarations?), some definitely look not harmless at all (incompatible pointer points) and some happen in libGPAC which we just updated and that we are not going to fix directly in CCExtractor (but if someone wants to contribute to libGPAC I'm sure they'd appreciate it).

Warnings we should

[2018-01-12 00:46] harrynull commented on #687
Is this a common issue that can be reproduced in all medias with 2 CEA-608 fields?

[2018-01-12 00:47] #663 closed

[2018-01-12 00:49] harrynull commented on #243
It is caused by some of the images are totally empty and invalid for some reasons.
But it should not affect the output file.

[2018-01-12 00:56] cfsmp3 commented on #659
Going over this old thing... if seems only possible if setsockopt fails on IPv6 and we continue over the loop to try the next address.

@rkuchumov @sidgairo18

[2018-01-12 01:00] cfsmp3 commented on #284
Closing since there's no updates - if issues still present please reopen @Liontooth or @Abhinav95

[2018-01-12 01:00] #284 closed

[2018-01-12 01:21] cfsmp3 commented on #440
@edumj I'm going over this. You said:

But, in fact, there are 5 missing lines! This is the .srt file using ffmpeg.zvbi:
...
433
00:28:25,480 --> 00:28:55,480
Gracias de todos modos.

434
00:28:39,600 --> 00:29:09,600
Radio, aquí Control.

What I see there is
1) ffmpeg.zvbi also exports 30 seconds for that line 433, so same behavior as CCExtractor
2) The timing for line 433 overlaps 433, which is

[2018-01-12 01:21] #440 closed

[2018-01-12 01:22] cfsmp3 commented on #131
I'm closing this, it's been around forever and honestly, I don't think anyone cares about IFO anymore.

[2018-01-12 01:22] #131 closed

[2018-01-12 01:24] cfsmp3 commented on #384
Closing because link is no longer available.

[2018-01-12 01:24] #384 closed

[2018-01-12 04:46] MatejMecka commented on #657
Valgrind tells me those ones are fixed but there are other ones that Valgrind reports for me.

[code]

[code]

[2018-01-12 07:19] #896 closed

[2018-01-12 12:56] MatejMecka commented on #256
@cfsmp3 since I can't modify the pages directly to ccextractor.org but I found the pages containing sourceforge.

https://www.ccextractor.org/public:general:http:sourceforge.net_donate_index.php
https://www.ccextractor.org/public:general:downloads
https://www.ccextractor.org/public:gsoc:translating_captions?s[]=sourceforge

[2018-01-12 12:59] MatejMecka commented on #256
To redirect to sourceforge you can probably attach a php or html block that does the job.

[code]

or

[code]

[2018-01-12 19:30] cfsmp3 commented on #657
@MatejMecka we're missing lines there... we need more than just the stack trace... before each of those it must say how much memory was allocated and in which line of code.

[2018-01-12 20:07] cfsmp3 commented on #243
@harrynull It does, check this out:

670
01:00:15,877 --> 01:00:20,676
<font color="#00c8c6">Enos oi onimnro nno dnonio</font>
<font color="#00c8c6">otnpnnio pnno oroannthonio.</font>

671
01:00:20,677 --> 01:00:23,116
<font color="#00c8c6">TI‘QMG.</font>
<font color="#00c8c6">Monono. oi no“n</font>

672
01:00:23,117 --> 01:00:27,756
<font color="#00c8c6">sono wondido o onion</font>
<font color="#

[2018-01-12 20:11] cfsmp3 commented on #896
The remaining issues are in libgpac, we don't really want to divert from them any more than necessary. So this is reasonable.

[2018-01-13 02:45] harrynull commented on #243
@cfsmp3
It works well here:
[code]
Did you forget to put `spa.traineddata` in the right place?

But I do found that sometime <font> doesn't close
[code]
In addition, some subtitles are skipped and missing. I am not sure if it is limitation of tesseract but I will check them later.

[2018-01-13 03:12] cfsmp3 commented on #243
That stuff in 670, 671 and 672 is not Spanish, believe me :-) (or I
suspect, any other language)

On Fri, Jan 12, 2018 at 6:45 PM, Null <notifications@github.com> wrote:

[2018-01-13 04:54] MatejMecka commented on #657
[code]

[2018-01-14 00:42] #807 closed

[2018-01-14 02:09] MatejMecka commented on #657
[code]

Compiled CCExtractor with the -g options and -debug in CCExtractor.
I passed to valgrind `--leak-check=full --show-leak-kinds=all`

[2018-01-15 11:42] harrynull commented on #730
AFAIK, the error logs have nothing to do with NAL failing to decode. NAL failure only causes the debug log (which is usually hided) to be shown (by setting `temp_debug`). The reason ts package having length of 0 is adaptation_field_length + 1 sometimes being the same as  `payload->length`.

[2018-01-15 12:47] kshepherd2013 opened #900 "[PROPOSAL] flag to automatically set delay such that the subtitles start at zero time"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2018-01-15 15:20] cfsmp3 commented on #730
You might be right... can you fix it? :-)

On Mon, Jan 15, 2018 at 3:42 AM, Null <notifications@github.com> wrote:

[2018-01-15 19:48] rkuchumov commented on #659
According to the manual (setsockopt(2) and ip(7)) it can fail in the following cases:
1.  not valid sockfd
2.  wrong pointers or length
3.  not valid args for IP_ADD_MEMBERSHIP option

In this code only 1. is possible, which doesn't require closing the socket.

@cfsmp3 @sidgairo18

[2018-01-15 21:18] Souravirus opened #901 "[BUG] Error while compiling the project with cmake."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2018-01-16 15:00] TheFaR8 commented on #136
tried debug mode to resolve this issue but still generates same pattern too

[2018-01-16 15:01] arantius commented on #136
At this point I strongly suspect GIGO.

[2018-01-16 15:08] TheFaR8 commented on #136
Using valgrind
[code]

Probably @arantius is right

[2018-01-16 18:51] #901 closed

[2018-01-16 19:05] cfsmp3 commented on #136
You should always use the debug version on valgrid, other we're missing
useful information such as line numbers.
Anyway, one 22 bytes block is probably not a memory leak. We're just not
cleaning everything up before terminating.

On Tue, Jan 16, 2018 at 7:08 AM, Theodore Fabian Rudy <
notifications@github.com> wrote:

[2018-01-16 20:27] cfsmp3 commented on #900
We'd need to get a sample file so we can take a look, but that "huge offset" sounds like a bug...

[2018-01-16 20:30] cfsmp3 commented on #879
Most likely you need to define PYTHON_API now... do it and send a PR :-)

[2018-01-16 22:18] MaxEliaserAWS commented on #840
Has this actually happened yet?

[2018-01-16 22:25] cfsmp3 commented on #840
If you mean downloading and archiving them I don't think so.
What would be an appropriate description for the files?

On Tue, Jan 16, 2018 at 2:18 PM, MaxEliaserAWS <notifications@github.com>
wrote:

[2018-01-16 22:32] MaxEliaserAWS commented on #840
Yes, that's what I meant.

A good description for ccextractor_bugs_allcaps_29fps_leftjustify.m2ts would be "dvb-sub captions containing multiple lines of text."

A good description for big_buck_bunny_eac3_4.m2ts would be "DVB-sub captions which prior versions of ccextractor failed to extract." This is fixed in the latest Git (or at least the last Git that I tried,) but it might be useful to make s

[2018-01-16 22:47] cfsmp3 commented on #840
OK, I've added them to our official repo: https://ccextractor.org/public:general:tvsamples

@canihavesomecoffee would be the right person to add it to the regression system, too.

[2018-01-16 22:48] MaxEliaserAWS commented on #840
OK great, I'll be taking that S3 bucket down then.

[2018-01-16 23:56] TheFaR8 commented on #136
oops
i forgot to mention that i also used debug command on those proces

On 17 Jan 2018 02:05, "Carlos Fernandez Sanz" <notifications@github.com>
wrote:

[2018-01-17 00:18] cfsmp3 commented on #136
That's not the output of valgrind running on a version with debug symbols,
really :-)

On Tue, Jan 16, 2018 at 3:56 PM, Theodore Fabian Rudy <
notifications@github.com> wrote:

[2018-01-17 02:10] kshepherd2013 commented on #900
Did you try the one that I provided, above?
https://mega.nz/#!AM1QFRQZ!nVz8ZLUjzI4OUK97YqWqGP_ajAsp1PdSxebnF4WNHKc
Should I change the title to [BUG], do you think?
I was not sure of expected behaviour, because earlier versions of ccextractor do not work on this TS, and I was using mythtv TS files before, which start at 0 PTS.

[2018-01-17 06:41] TheFaR8 commented on #136
https://github.com/dscottbuch/cTiVo/issues/26

found this. Maybe if it helps

[2018-01-17 09:35] TheFaR8 commented on #136
The command i used for the process above is ```valgrind --leak-check=full --show-leak-kinds=all ccextractor OutrageousScience.mpg -debug```

[2018-01-17 13:50] TheFaR8 commented on #136
I think the problem existed in general_loop.c (because the ps data grabber existed here). I also have already process the (I have sent the valgrind result with debug command in issue). VLC also show the same subtitles as CCExtractor (I have already checked most of them). The other solution is decode strangeheader from // TiVo is also a PS if (ctx->startbytes[0]=='T' && ctx->startbytes[1]=='i' && c

[2018-01-18 19:58] cfsmp3 commented on #900
It seems correct to me, this is the start of the generated .srt. Are you
seeing something different?

1
00:00:02,760 --> 00:00:03,759
CRASH!

2
00:00:05,520 --> 00:00:06,519
AWKWARD LAUGH

3
00:00:12,400 --> 00:00:13,639
# Terrible Tudors
<font color="#ffff00"># Gorgeous Georgians</font>

4
00:00:13,680 --> 00:00:14,799
# Slimy Stewarts
<font color="#ffff00"># Vile Victorians</font>

On Tue, Jan 1

[2018-01-20 08:46] thealphadollar opened #905 "[PROPOSAL] Compilation guide should have instructions to compile with OCR"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2018-01-20 09:15] thealphadollar commented on #905
Not an issue.

[2018-01-20 09:15] #905 closed

[2018-01-21 12:01] Souravirus commented on #874
Can I have the video file again? The link seems to be broken

[2018-01-21 12:15] peterhaldbaek commented on #874
Sure. I just found out that the file I originally uploaded did not have subtitles in VLC either. Seems like the initial recording I do with EyeTV stores the subtitles in a way that at least VLC understands but if I do any cutting of the file afterwards something changes. I will create a new file without the cutting and upload that.

[2018-01-21 12:25] Souravirus commented on #874
okk @peterhaldbaek

[2018-01-21 12:37] peterhaldbaek commented on #874
New file: http://www.filedropper.com/dr3clip1

I want to extract the DVB subtitles of program 2030.
[code]
ffprobe gives me this
[code]
Maybe the stream produced by EyeTV is just a mess, I don't know but it would be pretty sweet if it could be extracted. VLC is able to somehow.

[2018-01-21 23:08] kartik-25 commented on #447
@cfsmp3 I would like to have a go at this issue

[2018-01-21 23:31] kartik-25 opened #910 "[PROPOSAL] To Add .editorconfig or some linter for c & python files."
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2018-01-22 08:31] thealphadollar commented on #879
@cfsmp3 @MatejMecka I would like to work on this issue. Can you please guide me a bit on how can I fix this bug?

[2018-01-22 11:03] FlyingTwigs opened #911 "[PROPOSAL] Add some Unit Test for CCExtractor"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2018-01-22 12:43] kartik-25 commented on #910
@cfsmp3 shall i submit a PR for this?

[2018-01-22 15:37] MatejMecka commented on #911
This is part of the ccx_testsuite where it's purpose is to Test CCExtractor. There is already an issue there for writing unit tests.

https://github.com/CCExtractor/ccx_testsuite/issues/7

[2018-01-22 15:54] MatejMecka opened #912 "[Proposal] Make the Python Scripts to run Python3"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **X.X**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked

[2018-01-22 19:36] thealphadollar commented on #735
@cfsmp3 @canihavesomecoffee I'm willing to work on this issue and would wish to be the assignee.

[2018-01-22 19:45] cfsmp3 commented on #735
Just work on it :-) We cannot assign you unless we add you to the team, but
we cannot add you until you have worked a bit, etc... but don't worry, just
raising your hand and saying you're working on it is good enough.

On Mon, Jan 22, 2018 at 11:36 AM, Shivam Kumar Jha <notifications@github.com

[2018-01-22 23:19] harrynull commented on #911
I think that issue is to write unit tests for ccx_testsuite, instead of CCExtractor.

[2018-01-23 01:31] #910 closed

[2018-01-23 13:27] canihavesomecoffee commented on #911
Just to be clear:
- There is an issue open to add unit tests to the Test Suite
- There is an issue open to add unit tests to the Sample Platform
- There's no issue open to add unit tests for CCExtractor.

However, if tests can be added for CCExtractor, why not?

[2018-01-24 06:01] The-Bart-The opened #915 "[BUG] outputting as .raw (CC data in McPoodle's broadcast format) crashes ccextractorwin in versions after 0.69"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.85**

**In raising this issue, I confirm the following (please check boxes, eg [X]):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [X] I have checked

[2018-01-24 18:30] mackworth commented on #436
aha! Found it on a backup:

https://www.dropbox.com/s/zo6ta9d8ppl093p/RobotChicken-RandomFailuresBI.mpg?dl=0

 @cfsmp3: It appears I don't have the ability to reopen a closed issue.

[2018-01-24 19:12] cfsmp3 commented on #915
Can't reproduce - most likely fixed already.

Give it a try with this binary:
https://drive.google.com/drive/folders/1xBY85iuwUxkuARMu-XVRlXKp3D6ghkZ4?usp=sharing

Reopen the issue if it crashes for you.

[2018-01-24 19:12] #915 closed

[2018-01-24 22:18] Liontooth opened #918 "[PROPOSAL] Extract subtitles in a Chinese newscast"
The following video file was was recorded in mainland China, using Joker-tv with the DTMB television standard. When I watch it, I'm seeing what looks like subtitles / captions. Can CCExtractor see them? I was not able to get it to work. I did not try OCR, which may be what is required.

http://vrnewsscape.ucla.edu/dropbox/2018-01-09_2033_CN_CCTV1_%e6%96%b0%e9%97%bb1+1.mpg

Cheers,
David

[2018-01-25 02:24] cfsmp3 opened #919 "MP4 can only be read from physical files not streams"
MP4 files don't use the generic stream infrastructure we have - instead. when a MP4 file passed as a parameter, we just have libgpac (the library we use for MP4) open it.

This means we cannot use -udp , or pipes, etc, to read the .mp4 from anything other than an actual file.

Last time we checked correcting this seemed almost impossible without really getting deep in libgpac. However we are now u

[2018-01-25 23:56] The-Bart-The commented on #915
cfsmp3, the new binary runs without crashing.  Thank you.

However, running -in=raw -out=srt on the resultant .raw file produces a bad subtitle file; whereas a .raw file created by 0.69 is properly converted in both versions.

But, I suppose that's a separate bug.

[2018-01-28 03:25] mkver opened #922 "[BUG] DVB Teletext subtitle incomplete"
CCExtractor version (using the --version parameter preferably) : 0.86 (Git commit 5fa83394a0c0300244eb5707b30d344d7687bb2c)

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that

[2018-01-28 18:12] thealphadollar commented on #879
@MatejMecka The issue seems to be more than just a problem with build.api

With the latest build, and following the documentation named "python extension module.txt", no new file is being generated in the directory and I'm getting an error, "Error: Invalid option to CCextractor Library"

![See the error](https://user-images.githubusercontent.com/32812320/35485330-2566d9aa-0484-11e8-99ed-979fc3ec38

[2018-01-29 18:11] Liontooth opened #923 "Extract cyrillic tickertape text in Russian from NTV"
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : 0.85

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.m

[2018-01-29 19:47] cfsmp3 commented on #356
I don't get that error any more (just tested), so closing.

[2018-01-29 19:47] #356 closed

[2018-01-29 20:33] cfsmp3 commented on #922
I can confirm this happens and I've looked into it a bit but I'm leaving the solution for GSoC students. Some pointers though.

1) The missing word is present in the stream and processed by our teletext decoder.
2) The row (number 22) bytes look like this:

Processing row: 22
 0 |   D |
01 |   B | 
02 |   B | 
03 |  67 | g
04 |  65 | e
05 |  65 | e
06 |  69 | i
07 |  67 | g
08 |  6E | n
09 |  65

[2018-02-03 17:59] thealphadollar commented on #735
I think the video file lacks the accented characters. I'm saying so as for accented (aka diacritical) alphabets the mode of the cell should be between 17 to 31 (both inclusive). Here 31 is the termination mark.

![screenshot from 2018-02-03 23-19-51](https://user-images.githubusercontent.com/32812320/35769932-ec2a397a-0938-11e8-9149-66b07deb59a9.png)

I modified the code in a way such that it prin

[2018-02-04 09:31] lennonwoo commented on #879
@thealphadollar Py bindings now doesn't print detail infomation well if we use if some error happens.

But your problem is missing args, try to add input file? ```python api_testing.py <video filename>```

[2018-02-08 12:49] thealphadollar commented on #879
@lennonwoo @MatejMecka @cfsmp3 This error is no more produced, though there is no apparent output produced by running api_testing.py with an argument. Shouldn't this be closed now?

[2018-02-08 12:53] thealphadollar commented on #726
@cfsmp3 I would like to work on this. Can you please give me some tips for the solution?

[2018-02-08 15:19] Vedant4 opened #927 "[Question] CCExtractor Version 0.85 I have to subtitle in ts flux how can i extract both"
[QUESTION].

CCExtractor version 0.85

I habe ts video who ha subtitle in english and french how can I extract both

[2018-02-08 19:07] cfsmp3 commented on #927
This is not for support questions, please contact us for that using slack as mentioned in our website... thanks.

[2018-02-08 19:07] #927 closed

[2018-02-09 20:30] cfsmp3 commented on #726
@thealphadollar First download the sample file we have for it, extract the subtitles in two passes (one for burned-in and one for closed captions), and then figure out how to do everything in one pass :-)

[2018-02-10 19:18] thealphadollar commented on #912
@cfsmp3 this could be closed now I believe :)

[2018-02-10 19:20] MatejMecka commented on #912
Implemented in 6e2ce11

[2018-02-10 19:20] #912 closed

[2018-02-11 16:11] thealphadollar opened #928 "[BUG] Error while using "-hardsubx""
Please prefix your issue with one of the following: [BUG], [PROPOSAL], [QUESTION].

CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [X] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTI

[2018-02-11 18:27] thealphadollar commented on #735
@cfsmp3 have a look please?

[2018-02-12 03:15] mkver commented on #922
Thanks to @BPYap and @cfsmp3 for the time you have put into this. I thought it worthwhile to upload a few more samples showing this behaviour. They are
[here](https://github.com/CCExtractor/ccextractor/files/1714256/More.Samples.zip). (I have stripped all the audio and video tracks away to save space.)

[2018-02-12 08:04] BPYap commented on #922
Hi @mkver , thank you for more samples.
I have modified my original pull request to replace all 0xA appearing before 0xB with 0x20 characters instead of replacing only one 0xA character.

The test results are as follow:

**Sample 1**
The row which the extractor ignored in this sample is row 22 shown below:
0d | 02 | 0b | 0b **| 6d | 61 | 6e | 20 | 64 | 61 | 7a | 75 | 20 | 6e | 6f | 63 | 68 | 3f |

[2018-02-12 12:57] mkver commented on #922
Once again, thank you @BPYap!
Sample 2 needs -in=ts in order to be detected as transport stream. (Or you can delete bytes 376-544 of the file. At first, I just extracted just the teletext PID and the PAT; ccextractor couldn't work with the resulting files and it turned out that the PMT was missing. So I inserted them manually and apparently I messed it up with the second sample: the 169 bytes ment

[2018-02-12 13:56] BPYap commented on #922
Thank you @mkver for your response 😄
I ran extraction on sample 2 with -in=ts and got
**Bestimmt 1 Jahr.   Vielleicht ...
Soll ich mich erkundigen?**, should be correct because here the 0/A is within the starting box.

I will research deeper into startbox and endbox behavior, hopefully I can come up with a solution tomorrow 😄

[2018-02-12 14:15] mkver commented on #922
Yes, this agrees with libzvbi.
I have also started reading ETS 300706.

[2018-02-12 18:01] mkver commented on #922
The relevant part of the standard is section 12.2. It contains two important pieces of information: "Unless operating in "Hold Mosaics" mode, each character space occupied by a spacing attribute is displayed as a SPACE." So your approach to replace 0xA and 0xB with spaces is what the standard says.
And I have two interpretations concerning the boxes that are not explicitly closed:

1. The first on

[2018-02-13 00:30] cfsmp3 opened #929 "Terrible OCR results with Channel 5 (UK)"
(current master, pre 0.87)

This file (but well, all of channel 5)
https://drive.google.com/open?id=1Etq-pv5G3jGqVhhRl7cNrfuw4gaKkLoV

Produces terrible results in the OCR, even though the bitmaps seem normal. What's going on?

[code]

[2018-02-13 00:47] cfsmp3 commented on #929
GSOC qualification: 5 points

[2018-02-13 05:17] harrynull commented on #929
The problem is in `quantize_map(alpha, palette, rect->data[0], size, 3, rect->nb_colors);` (ocr.c:773).
Comment this line out can solve the problem.

With `quantize_map`:
![rawdo1](https://user-images.githubusercontent.com/7413706/36134478-084affe8-10c0-11e8-8e24-32602612171f.png)

Without `quantize_map`:
![raw](https://user-images.githubusercontent.com/7413706/36134414-aa4d0bd4-10bf-11e8-9dca-c27

[2018-02-13 10:34] BPYap commented on #922
I agree that subtitle box should be implicitly closed when another 0xB is encountered.

I modified the code a bit so that the loop start from the first column until it encounters the first 0xB character (where it marks this index as starting index for further processing), then replace all subsequent 0xB and 0xA characters (except the last 0xA) with 0x20.

Further testing is done on samples 1 to 7

[2018-02-13 16:46] Abhinav95 commented on #929
This is pretty interesting. The quantize_map() function in itself was important (from my discussions with @anshul1912 ) in order to improve the DVB results. What the function does essentially is to kind of 'binarize' the input image into text and non text regions and ignore the gradient grayscale values at the edge of the text and non text regions. With these particular set of subtitles, it seems

[2018-02-13 16:57] thealphadollar commented on #929
@Abhinav95 I think I can look in this issue if you don't mind :)

[2018-02-13 16:59] Abhinav95 commented on #929
@thealphadollar Go right ahead :)

[2018-02-14 11:35] uditjuneja1 commented on #806
I think the problem can be solved by using destroy() method.
As it can free memory used by object.

[2018-02-14 20:59] cfsmp3 commented on #929
Things we could do:

1) Make quantize_map() optional
2) Replace our function with this library (or other): https://pngquant.org/lib/

[2018-02-15 10:45] thealphadollar commented on #929
@cfsmp3 For now, I'll be trying to incorporate the mentioned library. Let's hope something good turns up :)

[2018-02-15 15:31] thealphadollar commented on #929
TL;DR: I do not think it would be a wise decision to use [libimagequant](https://pngquant.org/lib/) library. I also tried with a library called [exoquant](https://github.com/exoticorn/exoquant) but it doesn't seem to be compatible with libpng decoding method of PNG files. I will search a little more and see if I can find some better library, otherwise resort to making quantize_map() optional.

Usi

[2018-02-16 18:14] saurabhshri opened #931 "[GSoC] [PROPOSAL] Add YouTube-TV Captions Support."
CCExtractor version (using the --version parameter preferably) : **0.87**

**In raising this issue, I confirm the following (please check boxes, eg [X] - and delete unchecked ones):**

- [x] I have read and understood the [contributors guide](https://github.com/CCExtractor/ccextractor/blob/master/.github/CONTRIBUTING.md).
- [x] I have checked that the bug-fix I am reporting can be replicated, or t

[2018-02-16 20:18] roshandash411 commented on #665
@cfsmp3 : Samples please.

[2018-02-16 20:53] cfsmp3 commented on #665
@roshandash411 https://drive.google.com/drive/u/3/folders/0B_61ywKPmI0TYnNpYTBHRFdkRGM

[2018-02-16 21:13] #922 closed

[2018-02-16 23:16] cfsmp3 commented on #735
@thealphadollar - You seem to be right. I've been looking into it for a while and the code in telxcc that would use G2 is there, it's not just called.

`
			// ETS 300 706, chapter 12.3.1, table 27: character from G2 set
			if ((mode == 0x0f) && (row_address_group == NO))
			{
				x26_col = address;
				if (data > 31)
				{
					ctx->page_buffer.text[x26_row][x26_col] = G2[0][data - 0x20];
					**

[2018-02-16 23:16] #735 closed

[2018-02-17 21:59] mkver commented on #810
I played your file with Windows Media Center and the subtitles are similarly out of sync in it. So it's probably not CCExtractor's fault.

[2018-02-18 02:02] meetDeveloper commented on #931
I would like to work on this issue, but I currently don't have subscription of YouTube TV. I think I will be able to scrap the subtitles once I am able to look in their workings.

[2018-02-18 17:56] cfsmp3 commented on #931
From what we're seeing - this is definitely not like scraping a web site.

On Sat, Feb 17, 2018 at 6:02 PM, meetDeveloper <notifications@github.com>
wrote:

[2018-02-18 18:00] meetDeveloper commented on #931
Yeah, maybe, I would like to try it out, and see the internal working, I
went to the website to get the free trial, but they ask for card and I
don't have one.

On Sun, Feb 18, 2018 at 11:26 PM, Carlos Fernandez Sanz <
notifications@github.com> wrote:

[2018-02-19 00:11] cfsmp3 commented on #931
@meetDeveloper you can collaborate with @saurabhshri for now... work with him for the initial research.

While we will provide a youtube subscription to accepted GSoC students, we cannot do it for anyone else I'm afraid.

[2018-02-19 04:27] meetDeveloper commented on #931
@saurabhshri   I wanted to study the source, I think I might able to decode how live shows are captioned, how should I go about it?

[2018-02-19 10:25] saurabhshri commented on #931
@meetDeveloper Sure! DM me on Slack. Same username.

[2018-02-19 12:50] saurabhshri commented on #931
If someone wants to look at the raw data that is decoded for the captions, I am attaching it all below.

I played the live shows and captured the raw caption data received by the player, along with the captions it displayed during that time period. Decoding the response should yield at least some of the text in transcription.

The first two folders, named `FIRST` & `SECOND` contains multiple files

[2018-02-19 15:27] roshandash411 commented on #665
Copy of 2017-01-20_0849_DE_DAS-ERSTE_TEST.mpg in that drive folder has a teletext and a DVB subtitle. But CCExtractor is not able to extract the teletext. The teletext is visible in VLC, but CC Extractor doesn't extract it. Also which file in the drive link has teletext for two languages in the video?

[2018-02-20 05:40] meetDeveloper commented on #931
I did some research, They are most probably CEA-608, or CEA-708 subtitles, as network YoutubeTV supports sends captions for live tv using these two standards, and google has created a ExoPlayer library for media players, that have functionality to extract subtitles from rawcc file, look at [this](https://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/extractor/ra

[2018-02-20 06:32] cfsmp3 commented on #931
I'd expect them to be CEA-608 and 708 at their source, but I'd say it's
unlikely (but I wouldn't bet either way) that that's what the players
actually get. I guess we'll need to analyze data dumps to find out for sure.

On Mon, Feb 19, 2018 at 9:40 PM, meetDeveloper <notifications@github.com>
wrote:

[2018-02-20 07:59] meetDeveloper commented on #931
Look at this exoplayer that google is experimenting with https://google.github.io/ExoPlayer/doc/reference/index.html?com/google/android/exoplayer2/extractor/rawcc/package-summary.html, it can extract RawCC.

[2018-02-20 16:30] jimboH commented on #918
I would like to work on this issue.

[2018-02-20 16:31] jimboH commented on #466
I would like to work on this issue.

[2018-02-20 16:31] saurabhshri commented on #918
Sure, just go ahead.

On 20-Feb-2018 10:00 PM, "jimboH" <notifications@github.com> wrote:

[2018-02-20 16:52] saurabhshri commented on #931
@meetDeveloper This looks just like the right thing. Glancing at the code I can see it looks for `RCC` as header ID, which matches with captured data. So, we know we're definitely going in right direction.

Did you try to see if you're able to get the matching transcription from the dumps?

[2018-02-20 17:07] cfsmp3 commented on #466
@jimboH go for it :-) good luck!

[2018-02-20 18:00] meetDeveloper commented on #931
@saurabhshri Yeah, I looked in the code, they are looking for rcc in the header, I am currently analyzing it and performing experiments, hopefully we will get a lead from here. I think we are in right direction.

[2018-02-21 18:20] meetDeveloper commented on #931
@saurabhshri  See this dump of rawcc that they use, extension was rawcc, this was exactly what we also got, I am now sure they are the same, please tell me what do you think.
[sample.txt](https://github.com/CCExtractor/ccextractor/files/1745196/sample.txt)

[2018-02-21 18:21] meetDeveloper commented on #931
@saurabhshri  I would like to do this as my summer project in gSoc, Could you tell me the steps?

[2018-02-21 19:13] cfsmp3 opened #933 "Feature request: Write processed bytes to file (GSoC qualification task)"
Something that would be really useful to debug some of the issues that only appear when processing network streams (in which packet loss occurs):

Add a parameter that allows to specify an output file in which read bytes are written to, so it's easy later to reproduce the issues reading that file.

This is a relatively easy task because you only need to do some changes in the code that reads from

[2018-02-21 19:16] cfsmp3 commented on #931
@meetDeveloper Come find us on slack :-)

[2018-02-22 18:14] cfsmp3 commented on #665
@roshandash411 This specific one:

https://drive.google.com/open?id=1jPa-XQEIEO0ZHkvwi-auNPD3cL1Ga48X

French subs page 891, English subs page 892